= form_tag update_cover_collection_path(@collection), method: :put do

  - @get.resources.each do |res|

    - app_res = res.instance_variable_get(:@app_resource)

    = res.uuid

    %span{style: 'margin-left:20px'}= app_res.class.name

    %span{style: 'margin-left:20px'}
      = radio_button_tag :cover, app_res.id, app_res == @collection.cover

    %br

  %hr

  = submit_tag 'submit'
