= form_tag permissions_collection_path(@get.uuid), method: :put do
  .row
    %h3.title-l.col1of2
      = t(:permissions_responsible_user_title)
    .col1of2= @get.responsible.name
  .row
    %h3.title-l.col1of2
      = t(:permissions_overview_yours_title)
    .col1of2= @get.current_user_permissions

  %hr
  .row
    %h3.title-l.col1of2
      = t(:permissions_table_title)

  .row.separated
    %h3.title-m.col3of6
      = t(:permission_subject_title_users)
    .col1of6.title-s
      get_metadata_and_previews
    .col1of6.title-s
      edit_metadata_and_relations
    .col1of6.title-s
      edit_permissions
  .mts
    - @get.user_permissions.each do |p|
      .row
        -# because of how the Params parser works, an array can not start with a hash:
        %input{name: 'media_entry[user_permissions][][params_fix]', value: 'ignore_this', hidden: true}
        %input{name: 'collection[user_permissions][][subject][uuid]', value: p.user_id, hidden: true}
        .col3of6.title-s= p.person_name.name
        .col1of6.title-s
          = check_box_tag 'collection[user_permissions][][get_metadata_and_previews]', 'true', p.get_metadata_and_previews
        .col1of6.title-s
          = check_box_tag 'collection[user_permissions][][edit_metadata_and_relations]', 'true', p.edit_metadata_and_relations
        .col1of6.title-s
          = check_box_tag 'collection[user_permissions][][edit_permisssions]', 'true', p.edit_permissions
    .row
        -# because of how the Params parser works, an array can not start with a hash:
        %input{name: 'media_entry[user_permissions][][params_fix]', value: 'ignore_this', hidden: true}
      .col3of6.title-s
        %input{name: 'collection[user_permissions][][subject][uuid]'}
      .col1of6.title-s
        = check_box_tag 'collection[user_permissions][][get_metadata_and_previews]', 'true', false
      .col1of6.title-s
        = check_box_tag 'collection[user_permissions][][get_metadata_and_relations]', 'true', false
      .col1of6.title-s
        = check_box_tag 'collection[user_permissions][][edit_permisssions]', 'true', false

  %br
  .row.separated
    %h3.title-m
      = t(:permission_subject_title_groups)
  .mts
    - @get.group_permissions.each do |p|
      .row
        -# because of how the Params parser works, an array can not start with a hash:
        %input{name: 'media_entry[group_permissions][][params_fix]', value: 'ignore_this', hidden: true}
        %input{name: 'collection[group_permissions][][subject][uuid]', value: p.group_id, hidden: true}
        .col3of6.title-s= p.group_name
        .col1of6.title-s
          = check_box_tag 'collection[group_permissions][][get_metadata_and_previews]', 'true', p.get_metadata_and_previews
        .col1of6.title-s
          = check_box_tag 'collection[group_permissions][][edit_metadata_and_relations]', 'true', p.edit_metadata_and_relations
        .col1of6= "--"
    .row
      -# because of how the Params parser works, an array can not start with a hash:
      %input{name: 'media_entry[group_permissions][][params_fix]', value: 'ignore_this', hidden: true}
      .col3of6.title-s
        %input{name: 'collection[group_permissions][][subject][uuid]'}
      .col1of6.title-s
        = check_box_tag 'collection[group_permissions][][get_metadata_and_previews]', 'true', false
      .col1of6.title-s
        = check_box_tag 'collection[group_permissions][][edit_metadata_and_relations]', 'true', false
      .col1of6= "--"

  %br
  .row.separated
    %h3.title-m
      = t(:permission_subject_title_apiapps)
  .mts
    - @get.api_client_permissions.each do |p|
      .row
        -# because of how the Params parser works, an array can not start with a hash:
        %input{name: 'media_entry[api_client_permissions][][params_fix]', value: 'ignore_this', hidden: true}
        %input{name: 'collection[api_client_permissions][][subject][uuid]', value: p.api_client_id, hidden: true}
        .col3of6.title-s= p.api_client_login
        .col1of6.title-s
          = check_box_tag 'collection[api_client_permissions][][get_metadata_and_previews]', 'true', p.get_metadata_and_previews
        .col1of6.title-s
          = check_box_tag 'collection[api_client_permissions][][edit_metadata_and_relations]', 'true', p.edit_metadata_and_relations
        .col1of6= "--"
    .row
      -# because of how the Params parser works, an array can not start with a hash:
      %input{name: 'media_entry[api_client_permissions][][params_fix]', value: 'ignore_this', hidden: true}
      .col3of6.title-s
        %input{name: 'collection[api_client_permissions][][subject][uuid]'}
      .col1of6.title-s
        = check_box_tag 'collection[api_client_permissions][][get_metadata_and_previews]', 'true', false
      .col1of6.title-s
        = check_box_tag 'collection[api_client_permissions][][edit_metadata_and_relations]', 'true', false
      .col1of6= "--"

  %br
  .row.separated
    %h3.col3of6.title-m
      = t(:permission_subject_title_public)
    .col1of6.title-s
      = check_box_tag 'collection[get_metadata_and_previews]', 'true', @get.public_permission.get_metadata_and_previews
    .col1of6.title-s= "--"
    .col1of6.title-s= "--"

  %br
  = submit_tag t(:collection_edit_permissions_btn), class: 'primary-button'
