.row
  %h3.title-l.col1of2
    = t(:permissions_responsible_user_title)
  .col1of2= @get.responsible.name
.row
  %h3.title-l.col1of2
    = t(:permissions_overview_yours_title)
  .col1of2= @get.current_user_permission_types

%hr
.row
  %h3.title-l.col1of2
    = t(:permissions_table_title)

.row.separated
  %h3.title-m.col3of6
    = t(:permission_subject_title_users)
  .col1of6.title-s
    get_metadata_and_previews
  .col1of6.title-s
    edit_metadata_and_relations
  .col1of6.title-s
    edit_permissions
.mts
  - @get.user_permissions.each do |p|
    .row
      .col3of6.title-s= p.person_name.name
      .col1of6.title-s= p.get_metadata_and_previews
      .col1of6.title-s= p.edit_metadata_and_relations
      .col1of6.title-s= p.edit_permissions
%br
.row.separated
  %h3.title-m
    = t(:permission_subject_title_groups)
.mts
  - @get.group_permissions.each do |p|
    .row
      .col3of6.title-s= p.group_name
      .col1of6.title-s= p.get_metadata_and_previews
      .col1of6.title-s= p.edit_metadata_and_relations
      .col1of6= "--"

%br
.row.separated
  %h3.title-m
    = t(:permission_subject_title_apiapps)
.mts
  - @get.api_client_permissions.each do |p|
    .row
      .col3of6.title-s= p.api_client_login
      .col1of6.title-s= p.get_metadata_and_previews
      .col1of6.title-s= p.edit_metadata_and_relations
      .col1of6= "--"
%br
.row.separated
  %h3.col3of6.title-m
    = t(:permission_subject_title_public)
  .col1of6.title-s= @get.public_permission.get_metadata_and_previews
  .col1of6.title-s= "--"
  .col1of6.title-s= "--"

%br
= link_to :edit, edit_permissions_collection_path(@get.uuid), class: 'primary-button'
