:ruby
  tag_mods = ['small','ellipsed']
  collection_show = {}

  action_buttons = \
    component('button.primary',
              link: permissions_collection_path(@get.uuid),
              text: 'Permissions')

  collection_show[:header] = \
    component('page-header',
      icon: component('icon.set'),
      text: @get.title,
      actions: [action_buttons] # TODO: actions
    )

  collection_show[:overview] = \
    deco('resource_show_overview',
      mods: 'ui-set-overview',
      preview: \
        component('thumbnail', mods: ['media-set'],
          title: @get.title,
          picture: @get.preview_thumb_url),
      content: \
        combo('metadata-box',
          mods: 'ui-summary-table.ui-set-summary.compact',
          # TODO: build this list in a presenter?
          # @get.metadata => [ [key, value], [key, value] ]
          list: [['Title', @get.title, 'title-l'],
                 ['Description', @get.description],
                 ['Keywords', combo('tag-cloud.label', list: @get.keywords,
                                                       mods: tag_mods)],
                 ['Responsible',
                  deco('person-tag-list', person: @get.responsible,
                                          mods: tag_mods)]
                ])
    )

- collection_show[:more_info] = capture_haml do
  .ui-container.midtone.rounded-bottom.pal.well
    %h3.title-l.separated.mbm
      = "Relations"
    - unless @get.relations.any?
      = "No relations found."
    - else
      %h4.title-m.mbm= "Parents"
      = deco('polybox', media_resources: @get.relations.parent_media_resources)
      %h4.title-m.mbm= "Siblings"
      = deco('polybox', media_resources: @get.relations.sibling_media_resources)

    .ui-separator.mbl

  -# TODO: component
  #ui-resources-list-container.ui-container.midtone.rounded-bottom
    .ui-container.inverted.ui-toolbar.pvx
      .ui-toolbar-header.pls
        MediaResources in Collection:
    .ui-resources-holder.pam
      .ui-container.table.auto
        .ui-container.table-cell.table-substance
          = deco('polybox_medres', mods: ['active'],
                  media_resources: @get.relations.child_media_resources)

= deco('resource_show', collection_show)
