%tr
  %td= context.id
  %td= context.context_group
  %td= context.position
  %td= context.label
  %td= context.description
  %td.no-wrap
    - if context.media_sets.count > 0
      = link_to media_sets_app_admin_context_path(context) do
        %i.icon-set
        Media Sets
  %td.no-wrap
    = link_to edit_app_admin_context_path(context), class: "btn btn-warning btn-xs" do
      %i.icon-pen
      Edit
    = link_to app_admin_context_path(context), class: "btn btn-danger btn-xs", method: :delete, data: {confirm: "Are you sure you want to delete this meta context?"} do
      %i.icon-trash
      Delete
