%h1
  %i.icon-set
  Media Sets of context <em>#{@context}</em>

%ul.list-inline
  %li
    = link_to app_admin_contexts_path, class: 'btn btn-default' do
      %i.icon-arrow-left
      Go back to the contexts list

%table.table.table-striped.media-sets
  %thead
    %tr
      %th Name
      %th Status
  %tbody
    - @media_sets.each do |media_set|
      %tr{class: "#{active_context_for_media_set?(media_set, @context) ? "success" : "danger"}"}
        %td= link_to media_set.title, media_set_path(media_set), target: "_blank"
        %td{class: active_context_for_media_set?(media_set, @context)}= active_context_for_media_set?(media_set, @context) ? "ACTIVE" : "NOT ACTIVE"
