%tr{id: "person_#{person.id}"}
  %td 
    %span.limit150 #{person.last_name}
  %td 
    %span.limit150 #{person.first_name}
  %td 
    %span.limit150 #{person.pseudonym}
  %td #{person.id}
  %td
    - if person.user
      =link_to app_admin_user_path(person.user) do
        #{person.user.login}
  %td
    = person.is_group ? "Yes" : "No"
  %td 
    - if person.meta_data.count > 0
      = link_to form_transfer_meta_data_app_admin_person_path(person), class: "btn btn-xs transfer_meta_data_link" do
        %i.fa.fa-random
        transfer 
        %span.meta_data_count #{person.meta_data.count} 
        to ...

  %td
    %ul.list-inline
      %li 
        = link_to app_admin_person_path(person), class: "btn btn-xs" do
          %i.fa.fa-eye-open
          Details
      %li
        = link_to edit_app_admin_person_path(person), class: "btn btn-warning btn-xs" do
          %i.fa.fa-pencil
          Edit
      %li
        - if !person.user  and (person.meta_data.count == 0)
          = link_to app_admin_person_path(person), method: 'DELETE', class: "btn btn-danger btn-xs" do
            %i.fa.fa-trash
            Delete
