%h1 Edit Person #{@person}

= form_for @person, url: app_admin_person_path(@person) , method: "PUT", html: {class: "form-horizontal", role: "form"} do |f|

  %fieldset.well
    - [:last_name, :first_name, :pseudonym].each do |field|
      .form-group
        %label.control-label.col-sm-2=  field.to_s.capitalize.split("_").join(" ")
        .col-sm-4
          = f.text_field field, class: "form-control"

  %fieldset.well
    .form-group
      .col-sm-offset-2.col-sm-4
        .checkbox
          %label
            = f.check_box :is_group
            Is group


  %fieldset.well
    - [:date_of_birth, :date_of_death].each do |field|
      .form-group
        %label.control-label.col-sm-2=  field.to_s.capitalize.split("_").join(" ")
        .col-sm-4
          = text_field :person, field, type: 'date', value: @person[field], class: "form-control"

  = button_tag type: 'submit', class: "btn btn-success" do
    Save


