%h1.text-center
  %i.fa.fa-user
  People

.row

  %div.col-md-3

    %h3 
      %i.fa.fa-filter
      Filters

    = form_tag app_admin_people_path, method: 'GET' do

      %label 
        = text_field nil, :fuzzy_search, class: "search-query", value: params[:fuzzy_search] 

      %label.checkbox 
        = check_box_tag "with_user", 1, !params[:with_user].blank? 
        With user

      %label.checkbox 
        = check_box_tag "with_meta_data", 1, !params[:with_meta_data].blank? 
        With meta data

      %label.checkbox
        = check_box_tag "is_group", 1, !params[:is_group].blank?
        Is a group

      = button_tag type: 'submit', class: 'btn btn-sm' do
        Filter

  .col-md-9
    %table.table.table-striped
      %thead
        %tr
          %th Last name
          %th First name
          %th Pseudonym
          %th.id Id
          %th User
          %th Is a group?
          %th Meta data 
      %tbody
        =render @people



= paginate @people, theme: 'app_admin'

