%h1.text-center
  %i.icon-user
  People


.well.pull-right
  = form_tag app_admin_people_path, method: 'GET', class: 'form-inline'  do

    .form-group
      = text_field :filter, :search_terms, class: "search-query, form-control", 
          placeholder: 'Search term',  value: params.try(:[],:filter).try(:[],:search_terms)


    .form-group
      %label Sort (and search) by:
      %select.form-control{name: :sort_by}
        = options_for_select [["Last-, first-name", :last_name_first_name],
          ["Text search ranking",:text_rank],
          ["Trigram search ranking", :trgm_rank],
          ], @sort_by

    .form-group
      %label.checkbox 
        = check_box_tag "with_user", 1, !params[:with_user].blank? 
        With user

    .form-group
      %label.checkbox 
        = check_box_tag "with_meta_data", 1, !params[:with_meta_data].blank? 
        With meta data

    .form-group
      %label.checkbox
        = check_box_tag "is_group", 1, !params[:is_group].blank?
        Is a group

    .form-group
      = button_tag type: 'submit', class: 'btn btn-sm' do
        %i.icon-filter
        Apply


.row

  .col-md-12
    %table.table.table-striped
      %thead
        %tr
          %th Last name
          %th First name
          %th Pseudonym
          %th User
          %th Is a group?
          %th Meta data 
          %th Search rank
      %tbody
        =render @people



= paginate @people, theme: 'app_admin'

