%h1
  %i.icon-user 
  #{@person}

%ul.list-inline
  - if @person.meta_data.count > 0
    %li 
      = link_to form_transfer_meta_data_app_admin_person_path(@person), class: "btn transfer_meta_data_link btn-warning" do
        %i.fa.fa-random
        transfer 
        %span.meta_data_count #{@person.meta_data.count} 
        meta-data to ...


  %li
    =link_to edit_app_admin_person_path(@person), class: "btn btn-warning" do
      %i.icon-pen
      Edit


%table.table.table-striped
  %thead
  %tbody
  - @person.attributes.each do |name,value|
    %tr
      %td= name.capitalize.split("_").join(" ")
      - case name
      - when nil
      - else
        %td= value

