.media_resource_selection.switchable
  .loading
    = image_tag "loading.gif"
    %span= "Lade Inhalte"
  .media.active
  .table
    %table.head
      %tr
        %td.image
        %td.title_author= "Titel und Autor/in"
        %td.date= "Datierung"
        %td.tags= "Schlagworte"
        %td.credits= "Rechte"
        %td.upload= "Hochgeladen"
    .media_resources
      %table.media_resources