%tr
  %td.image
    .media_resource.thumb.micro
      %image{:src => "${image}"}
  %td.title_author
    %strong= "${MetaDatum.select(meta_data,'title').value}"
    %br
    = "${MetaDatum.select(meta_data,'author').value}"
  %td.date= "${MetaDatum.select(meta_data,'portrayed_object_dates').value}"
  %td.tags{:title => "${MetaDatum.select(meta_data,'keywords').value}"} ${Underscore.str.truncate(MetaDatum.select(meta_data,"keywords").value,30)}
  %td.credits{:title => "${MetaDatum.select(meta_data,'copyright_notice').value}"} ${Underscore.str.truncate(MetaDatum.select(meta_data,"copyright_notice").value, 18)}
  %td.upload
    = "${MetaDatum.select(meta_data,'uploaded_by').value}"
    %br
    = "${MetaDatum.select(meta_data,'uploaded_at').value}"
