%tr
  %td.image
    .media_resource.thumb.micro
      %image{:src => "${image}"}
  %td.title_author= "${author}"
  %td.date= "Datierung"
  %td.tags= "Schlagworte"
  %td.credits= "Rechte"
  %td.upload= "Hochgeladen"