%h1 
  %i.fa.fa-dashboard
  Dashboard


%h2 Info and Statistics 

%p about this instance of MAdeK. There are 

%table.table.table-striped
  %thead
  %tbody
    %tr 
      %td #{User.count} Users
    %tr
      %td #{Keyword.joins(:meta_datum => :media_resource).where(:media_resources => {:type => ["MediaEntry", "MediaSet", "FilterSet"]}).count} Keywords
    %tr
      %td #{MediaEntry.count} Media
    %tr
      %td #{MediaSet.count} Sets
    %tr
      %td #{FilterSet.count} FilterSets
    %tr 
      %td=  MediaFile.where("media_entry_id IS NULL").count.to_s + " MediaFiles without MediaEntry"
    %tr
      %td
        = MediaFile.joins(:media_entry).incomplete_encoded_videos.count
        videos with incomplete previews

%p 
  The deployed commit is 
  = link_to ("https://github.com/zhdk/madek/commit/" + `git log --pretty='%H'  -1`) do 
    = `git log --pretty=format':%h' -1` + ' @GitHub'
  %b= `git log --pretty=format':%ar (%ad) by %cn on %d' --decorate -1`
  with the message
  %blockquote #{`git log --pretty='%s' --decorate -1`}


