%h1 
  %i.fa.fa-dashboard
  Dashboard

%p.alert.alert-warning
  We are revamping the administration interface.
  Some of the missing functionality might be still accessible in the 
  = link_to '/admin' do
    old administration interface.

%p 
  The deployed commit is 
  = link_to ("https://github.com/zhdk/madek/commit/" + `git log --pretty='%H'  -1`) do 
    = `git log --pretty=format':%h' -1` + ' @GitHub'
  %b= `git log --pretty=format':%ar (%ad) by %cn on %d' --decorate -1`
  with the message
  %blockquote #{`git log --pretty='%s' --decorate -1`}


