%h1 
  %i.icon-dashboard
  Dashboard


%p.alert.alert-warning
  We are revamping the administration interface.
  Some of the missing functionality might be still accessible in the 
  = link_to '/admin' do
    old administration interface.


%h2 Stats

%table.table.table-striped
  %thead
  %tbody
    %tr 
      %td #{User.count} Nutzer/innen
    %tr
      %td #{Keyword.joins(:meta_datum => :media_resource).where(:media_resources => {:type => ["MediaEntry", "MediaSet", "FilterSet"]}).count} Schlagworte
    %tr
      %td #{MediaEntry.count} Medien
    %tr
      %td #{MediaSet.count} MediaSets
    %tr 
      %td=  MediaFile.where("NOT EXISTS (#{MediaEntry.where('media_file_id = media_files.id').to_sql})").count.to_s + " MediaFiles without MediaEntry"


      








%h2 Movie re-encoding

%p (to be removed)

%h3 
  %i.icon-film
  Incomplete encoded videos

%p 
  There are 
  %b= MediaFile.joins(:media_entry).incomplete_encoded_videos.count
  videos with incomplete previews.

= link_to reencode_incomplete_videos_app_admin_media_files_path, class: 'btn btn-warning', method: 'post', data: {confirm: "Reencode all affected videos by zencoder.com? This action is liable to pay costs."} do
  Reencode all of them





