%tr
  %td= media_file.media_type
  %td= media_file.content_type
  %td
    - if media_file.media_entry
      = link_to media_entry_path(media_file.media_entry), target: "_blank" do
        %i.icon-vis-graph
        Show media file
    - else
      .text-danger
        no media entry exists
  %td= media_file.created_at
  %td
    = link_to app_admin_media_file_path(media_file) , class: 'btn btn-xs' do
      %i.fa.fa-eye-open
      Details

