%h1.text-center
  %i.fa.fa-file
  MediaFiles


.row 

  %div.col-md-3

    %h3 
      %i.icon-filter
      Filters

    = form_tag app_admin_media_files_path, method: 'GET' do

      %label 
        = text_field nil, :fuzzy_search, class: "search-query", value: params[:fuzzy_search] 

      %label.checkbox 
        = check_box_tag "only_with_media_entry", 1, !params[:only_with_media_entry].blank? 
        Only with media entry


      %label.checkbox 
        = check_box_tag "incomplete_encoded_videos", 1, !params[:incomplete_encoded_videos].blank? 
        Incomplete encoded videos

      = button_tag type: 'submit', class: 'btn btn-sm' do
        Filter
     


  .col-md-9

    %table.table.table-striped
      %thead
        %tr
          %th Type
          %th Content type
          %th Media entry
          %th Created at
      %tbody
        =render @media_files

= paginate @media_files, theme: 'app_admin'
