:ruby
  text ||= nil
  # actual image shown inside thumb
  picture = {
    mods: 'ui-thumbnail-image',
    href: picture
  }
  link ||= nil
  badge_top_left ||= nil
  badge_top_right ||= nil

  throw 'ui: no picture given!' unless picture[:href]

.ui-thumbnail{class: classes}

  - if badge_top_left
    .ui-thumbnail-privacy
      = badge_top_left

  - if badge_top_right
    .ui-thumbnail-filterset-flag
      = badge_top_right

  = component('link', link: link, text: text, mods: 'ui-thumbnail-image-wrapper') do
    .ui-thumbnail-image-holder
      .ui-thumbnail-table-image-holder
        .ui-thumbnail-cell-image-holder
          .ui-thumbnail-inner-image-holder
            = component('picture', picture)
  - if defined?(meta)
    - meta = meta.is_a?(String) ? { title: meta } : meta
    .ui-thumbnail-meta
      - if meta[:title]
        .ui-thumbnail-meta-title
          = meta[:title]
      - if meta[:subtitle]
        .ui-thumbnail-meta-subtitle
          = meta[:subtitle]
