.app.view-katalog

  = render "application/header/logged_in"

  .app-body

    // PAGE TITLE

    .app-body-title
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl Erkunden

    .app-body-ui-container
      .bordered.ui-container.midtone.rounded.table

        // SIDEBAR

        .app-body-sidebar.bright.ui-container.table-cell.bordered-right.rounded-left.table-side
          .ui-container.rounded-left.phm.pvl
            %ul.ui-side-navigation
              %li.ui-side-navigation-item
                %a.strong{:href => "#"} Katalog
              %ul.ui-side-navigation-lvl2
                %li.ui-side-navigation-lvl2-item
                  %a.weak{:href => "#"} ZHdK Bereich
                %li.ui-side-navigation-lvl2-item
                  %a.weak{:href => "#"} Gattung
                %li.ui-side-navigation-lvl2-item
                  %a.weak{:href => "#"} Projekttyp
              %li.separator.mini
              %li.ui-side-navigation-item
                %a.strong{:href => "#"} Interessante Inhalte
              %li.separator.mini
              %li.ui-side-navigation-item
                %a.strong{:href => "#"} Neue Inhalte
              %li.separator.mini
              %li.ui-side-navigation-item
                %a.strong{:href => "#"} H&auml;ufige Schlagworte
              %li.separator.mini

        .app-body-content.table-cell.table-substance.ui-container

          // COLLAGE

          .ui-collage
            .ui-collage-row
              %a.ui-collage-item
                .ui-collage-item-wrapper
                  = image_tag "redesign/styleguide/media-entry-4.jpeg", :class => "ui-collage-item-image"
                  .ui-collage-item-meta
                    %h3.title-xs Set title that is unlikely to go onto two lines
                    %h4.title-xs-alt Author Name which can easily go onto two lines too.
              %a.ui-collage-item
                .ui-collage-item-wrapper
                  = image_tag "redesign/styleguide/media-entry-1.png", :class => "ui-collage-item-image"
                  .ui-collage-item-meta
                    %h3.title-xs Set title that is unlikely to go onto two lines
                    %h4.title-xs-alt Author Name which can easily go onto two lines too.
              %a.ui-collage-item
                .ui-collage-item-wrapper
                  = image_tag "redesign/styleguide/media-entry-2.png", :class => "ui-collage-item-image"
                  .ui-collage-item-meta
                    %h3.title-xs Set title that is unlikely to go onto two lines
                    %h4.title-xs-alt Author Name which can easily go onto two lines too.
              %a.ui-collage-item
                .ui-collage-item-wrapper
                  = image_tag "redesign/styleguide/media-entry-4.jpeg", :class => "ui-collage-item-image"
                  .ui-collage-item-meta
                    %h3.title-xs Set title that is unlikely to go onto two lines
                    %h4.title-xs-alt Author Name which can easily go onto two lines too.
              %a.ui-collage-item
                .ui-collage-item-wrapper
                  = image_tag "redesign/styleguide/media-entry-2.png", :class => "ui-collage-item-image"
                  .ui-collage-item-meta
                    %h3.title-xs Set title that is unlikely to go onto two lines
                    %h4.title-xs-alt Author Name which can easily go onto two lines too.
            .ui-collage-row
              %a.ui-collage-item
                .ui-collage-item-wrapper
                  = image_tag "redesign/styleguide/media-entry-5.jpeg", :class => "ui-collage-item-image"
                  .ui-collage-item-meta
                    %h3.title-xs Set title that is unlikely to go onto two lines
                    %h4.title-xs-alt Author Name which can easily go onto two lines too.
              %a.ui-collage-item
                .ui-collage-item-wrapper
                  = image_tag "redesign/styleguide/media-entry-6.jpeg", :class => "ui-collage-item-image"
                  .ui-collage-item-meta
                    %h3.title-xs Set title that is unlikely to go onto two lines
                    %h4.title-xs-alt Author Name which can easily go onto two lines too.
              %a.ui-collage-item
                .ui-collage-item-wrapper
                  = image_tag "redesign/styleguide/media-entry-7.jpeg", :class => "ui-collage-item-image"
                  .ui-collage-item-meta
                    %h3.title-xs Set title that is unlikely to go onto two lines
                    %h4.title-xs-alt Author Name which can easily go onto two lines too.
              %a.ui-collage-item
                .ui-collage-item-wrapper
                  = image_tag "redesign/styleguide/media-entry-8.jpeg", :class => "ui-collage-item-image"
                  .ui-collage-item-meta
                    %h3.title-xs Set title that is unlikely to go onto two lines
                    %h4.title-xs-alt Author Name which can easily go onto two lines too.
              %a.ui-collage-item
                .ui-collage-item-wrapper
                  = image_tag "redesign/styleguide/media-entry-6.jpeg", :class => "ui-collage-item-image"
                  .ui-collage-item-meta
                    %h3.title-xs Set title that is unlikely to go onto two lines
                    %h4.title-xs-alt Author Name which can easily go onto two lines too.

          .ui-container.ptl.phl.pbm
            .media-resources-wrapper
              .media-resources-header.mbm
                %h2.title-l.media-resources-title
                  ZHdK-Katalog
                  %a.strong{:href => "#"} Alle anziegen
                %p.paragraph-l.media-resources-intro Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
              %ul.media-resources.grid
                %li.media-resources-item
                  .ui-thumbnail.media-catalog
                    .thumbnail-set.large.thumbnail
                      %a
                        .inner-wrapper
                          %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/styleguide/media-entry-9.jpg"}
                    .ui-thumbnail-metadata
                      %h3.title-s.ui-thumbnail-name Katalog name that can easily go onto 2 lines
                      %h4.title-xs-alt Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet.
                %li.media-resources-item
                  .ui-thumbnail.media-catalog
                    .thumbnail-set.large.thumbnail
                      %a
                        .inner-wrapper
                          %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/styleguide/media-entry-9.jpg"}
                    .ui-thumbnail-metadata
                      %h3.title-s.ui-thumbnail-name Katalog name that can easily go onto 2 lines
                      %h4.title-xs-alt Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet.
                %li.media-resources-item
                  .ui-thumbnail.media-catalog
                    .thumbnail-set.large.thumbnail
                      %a
                        .inner-wrapper
                          %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/styleguide/media-entry-9.jpg"}
                    .ui-thumbnail-metadata
                      %h3.title-s.ui-thumbnail-name Katalog name that can easily go onto 2 lines
                      %h4.title-xs-alt Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet.

          %hr.separator

          .ui-container.ptl.phl.pbm
            .media-resources-wrapper
              .media-resources-header.mbm
                %h2.title-l.media-resources-title
                  Interessante Inhalte
                  %a.strong{:href => "#"} Alle anziegen
              %ul.media-resources.grid
                %li.media-resources-item
                  .ui-thumbnail.media-set
                    .ui-thumbnail-level-up-items
                      %h3.title-xs-alt Keine übergeordneten Sets
                    .thumbnail-privacy
                      %i.icon-privacy-group This media is shared with a group
                    .thumbnail-set.thumbnail
                      %a
                        .inner-wrapper
                          %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/styleguide/media-entry-9.jpg"}/
                    .ui-thumbnail-metadata
                      %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                      %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as well
                    .ui-thumbnail-actions
                      %ul.left.by-left
                        %li
                          %a.ui-thumbnail-actions-checkbox Select
                        %li
                          %a.ui-thumbnail-actions-favorite Favorite
                      %ul.right.by-right
                        %li
                          %a.ui-thumbnail-actions-browse Browse
                        %li
                          %a.ui-thumbnail-actions-edit Edit
                        %li
                          %a.ui-thumbnail-actions-delete Delete
                    .ui-thumbnail-level-down-items
                      %h3.title-s Set enthalt
                      .thumbnail.thumbnail-set.small.odd
                        %a
                          .inner-wrapper
                            %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/styleguide/media-entry-9.jpg"}/
                      .thumbnail.thumbnail-set.small.even
                        %a
                          .inner-wrapper
                            %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/styleguide/media-entry-9.jpg"}/
                      %h4.title-xs-alt 5 Inhalte
                %li.media-resources-item
                  .ui-thumbnail.media-entry
                    .thumbnail-privacy
                      %i.icon-privacy-private This media is private
                    .thumbnail-audio.thumbnail
                      %img{:alt => "", :src => "/assets/redesign/styleguide/media-entry-9.jpg"}/
                    .ui-thumbnail-metadata
                      %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                      %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as well
                    .ui-thumbnail-actions
                      %ul.left.by-left
                        %li
                          %a{:href => "#"}
                            %i.icon-checkbox Select
                        %li
                          %a{:href => "#"}
                            %i.icon-star Favorite
                      %ul.right.by-right
                        %li
                          %a{:href => "#"}
                            %i.icon-eye Explore
                        %li
                          %a{:href => "#"}
                            %i.icon-pen Edit
                        %li
                          %a{:href => "#"}
                            %i.icon-trash Delete
                %li.media-resources-item
                  .ui-thumbnail.media-entry
                    .thumbnail-privacy
                      %i.icon-privacy-private This media is private
                    .thumbnail-video.thumbnail
                      %img{:alt => "Thumb-video", :src => "/assets/redesign/thumbnails/thumb-video-mov.png"}/
                    .ui-thumbnail-metadata
                      %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                      %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as well
                    .ui-thumbnail-actions
                      %ul.left.by-left
                        %li
                          %a.ui-thumbnail-actions-checkbox Select
                        %li
                          %a.ui-thumbnail-actions-favorite Favorite
                      %ul.right.by-right
                        %li
                          %a.ui-thumbnail-actions-browse Browse
                        %li
                          %a.ui-thumbnail-actions-edit Edit
                        %li
                          %a.ui-thumbnail-actions-delete Delete
                %li.media-resources-item
                  .ui-thumbnail.media-entry
                    .thumbnail-privacy
                      %i.icon-privacy-private This media is private
                    .thumbnail-doc.thumbnail
                      %img{:alt => "Thumb-doc", :src => "/assets/redesign/thumbnails/thumb-doc-doc.png"}/
                    .ui-thumbnail-metadata
                      %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                      %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as well
                    .ui-thumbnail-actions
                      %ul.left.by-left
                        %li
                          %a.ui-thumbnail-actions-checkbox Select
                        %li
                          %a.ui-thumbnail-actions-favorite Favorite
                      %ul.right.by-right
                        %li
                          %a.ui-thumbnail-actions-browse Browse
                        %li
                          %a.ui-thumbnail-actions-edit Edit
                        %li
                          %a.ui-thumbnail-actions-delete Delete
                %li.media-resources-item
                  .ui-thumbnail.media-set
                    .ui-thumbnail-level-up-items
                      %h3.title-xs-alt Keine übergeordneten Sets
                    .thumbnail-privacy
                      %i.icon-privacy-group This media is shared with a group
                    .thumbnail-set.thumbnail
                      %a
                        .inner-wrapper
                          %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/styleguide/media-entry-9.jpg"}/
                    .ui-thumbnail-metadata
                      %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                      %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as well
                    .ui-thumbnail-actions
                      %ul.left.by-left
                        %li
                          %a.ui-thumbnail-actions-checkbox Select
                        %li
                          %a.ui-thumbnail-actions-favorite Favorite
                      %ul.right.by-right
                        %li
                          %a.ui-thumbnail-actions-browse Browse
                        %li
                          %a.ui-thumbnail-actions-edit Edit
                        %li
                          %a.ui-thumbnail-actions-delete Delete
                    .ui-thumbnail-level-down-items
                      %h3.title-s Set enthalt
                      .thumbnail.thumbnail-set.small.odd
                        %a
                          .inner-wrapper
                            %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/styleguide/media-entry-9.jpg"}/
                      .thumbnail.thumbnail-set.small.even
                        %a
                          .inner-wrapper
                            %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/styleguide/media-entry-9.jpg"}/
                      %h4.title-xs-alt 5 Inhalte
                %li.media-resources-item
                  .ui-thumbnail.media-entry
                    .thumbnail-privacy
                      %i.icon-privacy-private This media is private
                    .thumbnail-audio.thumbnail
                      %img{:alt => "Thumb-audio", :src => "/assets/redesign/thumbnails/thumb-audio-mp3.png"}/
                    .ui-thumbnail-metadata
                      %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                      %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as well
                    .ui-thumbnail-actions
                      %ul.left.by-left
                        %li
                          %a.ui-thumbnail-actions-checkbox Select
                        %li
                          %a.ui-thumbnail-actions-favorite Favorite
                      %ul.right.by-right
                        %li
                          %a.ui-thumbnail-actions-browse Browse
                        %li
                          %a.ui-thumbnail-actions-edit Edit
                        %li
                          %a.ui-thumbnail-actions-delete Delete

          %hr.separator

          .ui-container.ptl.phl.pbm
            .media-resources-wrapper
              .media-resources-header.mbm
                %h2.title-l.media-resources-title
                  Neue Inhalte
                  %a.strong{:href => "#"} Alle anziegen
              %ul.media-resources.grid
                %li.media-resources-item
                  .ui-thumbnail.media-set
                    .ui-thumbnail-level-up-items
                      %h3.title-xs-alt Keine übergeordneten Sets
                    .thumbnail-privacy
                      %i.icon-privacy-group This media is shared with a group
                    .thumbnail-set.thumbnail
                      %a
                        .inner-wrapper
                          %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/styleguide/media-entry-9.jpg"}/
                    .ui-thumbnail-metadata
                      %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                      %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as well
                    .ui-thumbnail-actions
                      %ul.left.by-left
                        %li
                          %a.ui-thumbnail-actions-checkbox Select
                        %li
                          %a.ui-thumbnail-actions-favorite Favorite
                      %ul.right.by-right
                        %li
                          %a.ui-thumbnail-actions-browse Browse
                        %li
                          %a.ui-thumbnail-actions-edit Edit
                        %li
                          %a.ui-thumbnail-actions-delete Delete
                    .ui-thumbnail-level-down-items
                      %h3.title-s Set enthalt
                      .thumbnail.thumbnail-set.small.odd
                        %a
                          .inner-wrapper
                            %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/styleguide/media-entry-9.jpg"}/
                      .thumbnail.thumbnail-set.small.even
                        %a
                          .inner-wrapper
                            %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/styleguide/media-entry-9.jpg"}/
                      %h4.title-xs-alt 5 Inhalte
                %li.media-resources-item
                  .ui-thumbnail.media-entry
                    .thumbnail-privacy
                      %i.icon-privacy-private This media is private
                    .thumbnail-audio.thumbnail
                      %img{:alt => "", :src => "/assets/redesign/styleguide/media-entry-9.jpg"}/
                    .ui-thumbnail-metadata
                      %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                      %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as well
                    .ui-thumbnail-actions
                      %ul.left.by-left
                        %li
                          %a.ui-thumbnail-actions-checkbox Select
                        %li
                          %a.ui-thumbnail-actions-favorite Favorite
                      %ul.right.by-right
                        %li
                          %a.ui-thumbnail-actions-browse Browse
                        %li
                          %a.ui-thumbnail-actions-edit Edit
                        %li
                          %a.ui-thumbnail-actions-delete Delete
                %li.media-resources-item
                  .ui-thumbnail.media-entry
                    .thumbnail-privacy
                      %i.icon-privacy-private This media is private
                    .thumbnail-video.thumbnail
                      %img{:alt => "Thumb-video", :src => "/assets/redesign/thumbnails/thumb-video-mov.png"}/
                    .ui-thumbnail-metadata
                      %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                      %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as well
                    .ui-thumbnail-actions
                      %ul.left.by-left
                        %li
                          %a.ui-thumbnail-actions-checkbox Select
                        %li
                          %a.ui-thumbnail-actions-favorite Favorite
                      %ul.right.by-right
                        %li
                          %a.ui-thumbnail-actions-browse Browse
                        %li
                          %a.ui-thumbnail-actions-edit Edit
                        %li
                          %a.ui-thumbnail-actions-delete Delete
                %li.media-resources-item
                  .ui-thumbnail.media-entry
                    .thumbnail-privacy
                      %i.icon-privacy-private This media is private
                    .thumbnail-doc.thumbnail
                      %img{:alt => "Thumb-doc", :src => "/assets/redesign/thumbnails/thumb-doc-doc.png"}/
                    .ui-thumbnail-metadata
                      %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                      %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as well
                    .ui-thumbnail-actions
                      %ul.left.by-left
                        %li
                          %a.ui-thumbnail-actions-checkbox Select
                        %li
                          %a.ui-thumbnail-actions-favorite Favorite
                      %ul.right.by-right
                        %li
                          %a.ui-thumbnail-actions-browse Browse
                        %li
                          %a.ui-thumbnail-actions-edit Edit
                        %li
                          %a.ui-thumbnail-actions-delete Delete
                %li.media-resources-item
                  .ui-thumbnail.media-set
                    .ui-thumbnail-level-up-items
                      %h3.title-xs-alt Keine übergeordneten Sets
                    .thumbnail-privacy
                      %i.icon-privacy-group This media is shared with a group
                    .thumbnail-set.thumbnail
                      %a
                        .inner-wrapper
                          %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/styleguide/media-entry-9.jpg"}/
                    .ui-thumbnail-metadata
                      %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                      %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as well
                    .ui-thumbnail-actions
                      %ul.left.by-left
                        %li
                          %a.ui-thumbnail-actions-checkbox Select
                        %li
                          %a.ui-thumbnail-actions-favorite Favorite
                      %ul.right.by-right
                        %li
                          %a.ui-thumbnail-actions-browse Browse
                        %li
                          %a.ui-thumbnail-actions-edit Edit
                        %li
                          %a.ui-thumbnail-actions-delete Delete
                    .ui-thumbnail-level-down-items
                      %h3.title-s Set enthalt
                      .thumbnail.thumbnail-set.small.odd
                        %a
                          .inner-wrapper
                            %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/styleguide/media-entry-9.jpg"}/
                      .thumbnail.thumbnail-set.small.even
                        %a
                          .inner-wrapper
                            %img{:alt => "Tmp-thumb-large", :src => "/assets/redesign/styleguide/media-entry-9.jpg"}/
                      %h4.title-xs-alt 5 Inhalte
                %li.media-resources-item
                  .ui-thumbnail.media-entry
                    .thumbnail-privacy
                      %i.icon-privacy-private This media is private
                    .thumbnail-audio.thumbnail
                      %img{:alt => "Thumb-audio", :src => "/assets/redesign/thumbnails/thumb-audio-mp3.png"}/
                    .ui-thumbnail-metadata
                      %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                      %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as well
                    .ui-thumbnail-actions
                      %ul.left.by-left
                        %li
                          %a.ui-thumbnail-actions-checkbox Select
                        %li
                          %a.ui-thumbnail-actions-favorite Favorite
                      %ul.right.by-right
                        %li
                          %a.ui-thumbnail-actions-browse Browse
                        %li
                          %a.ui-thumbnail-actions-edit Edit
                        %li
                          %a.ui-thumbnail-actions-delete Delete

          %hr.separator

          .ui-container.ptl.phl.pbm
            .media-resources-wrapper
              .media-resources-header.mbm
                %h2.title-l.media-resources-title
                  Häufige Schlagworte
                  %a.strong{:href => "#"} Alle anziegen
              %ul.ui-tag-cloud
                %li.tag-button
                  %a{:href => "#"} Tag 1
                %li.tag-button
                  %a{:href => "#"} Tag 2
                %li.tag-button
                  %a{:href => "#"} Tag 3
                %li.tag-button
                  %a{:href => "#"} Tag 4
                %li.tag-button
                  %a{:href => "#"} Tag 5
                %li.tag-button
                  %a{:href => "#"} Tag 6

  .app-footer-push
.app-footer
  %footer.ui-footer.ui-container.inverted
    %ul.ui-footer-menu
      %li
        %a{:href => "#"} Informationen zum Projekt
      %li
        %a{:href => "#"} Impressum
      %li
        %a{:href => "#"} Kontakt
      %li
        %a{:href => "#"} Blog
      %li
        %a{:href => "#"} Hilfe
      %li
        %a{:href => "#"} Nutzungsbestimmungen
      %li
        %a{:href => "#"} Freie Software
      %li
        %a{:href => "#"} Archivierungsrichtlinien ZHdK
    %p.ui-footer-copy
      = image_tag "redesign/inserts/image-logo-madek.png", :alt => "MADEK", :class => "ui-footer-logo"
      &copy; 2009-2011 Z&uuml;rcher Hochschule der K&uuml;nste
