.ui-export-block

  .col1of2
    %p
      = _("Originial file, metadata as they were when it was uploaded into the archive.")

  .col1of2.by-right

    .dropdown.ui-dropdown.stick-right
      %a.button.dropdown-toggle.ui-drop-toggle{:"data-toggle" => "dropdown"}
        = _("File containing its original metadata")
        %i.icon-arrow-down

      %ul.dropdown-menu.ui-drop-menu.absolute{"aria-labelledby" => "dLabel", :role => "menu"}
        
        - if @can_download
          %li.ui-drop-item.by-right
            %a{:href => "/download?id=#{@media_entry.id}"}
              = number_to_human_size(@original_file.size)
              = "(#{dimensions_for(@original_file)})" if dimensions_for(@original_file)
              %strong= @format_original_file

        - if @x_large_file_available
          %li.ui-drop-item.by-right
            %a{:href => "/download?id=#{@media_entry.id}&size=#{@preview_size}"}
              = number_to_human_size(@x_large_file.size)
              = "(#{dimensions_for(@x_large_file)})" if dimensions_for(@x_large_file)
              %strong= file_format_for(@x_large_file)
