#without-meta-data.ui-export-block

  .col1of2
    %p 
      = _("File without embedded metadata.")

  .col1of2.by-right

    .dropdown.ui-dropdown.ui-export-drop-button.stick-right
      %a.button
        = _("File without metadata")
        %i.icon-arrow-down

      %ul.download.dropdown-menu.ui-drop-menu.ui-export-dropdown
        
        - if @can_download
          %li.ui-drop-item.by-right
            %a.original{:href => "/download?id=#{@media_entry.id}&naked=1"}
              = number_to_human_size(@original_file.size)
              = "(#{dimensions_for(@original_file)})" if dimensions_for(@original_file)
              %strong= @format_original_file

        - if @x_large_file_available
          %li.ui-drop-item.by-right
            %a{:href => "/download?id=#{@media_entry.id}&naked=1&size=x_large"}
              = number_to_human_size(@x_large_file.size)
              = "(#{dimensions_for(@x_large_file)})" if dimensions_for(@x_large_file)
              %strong= file_format_for(@x_large_file)
