.app.view-visualization

  = render "application/header"

  .app-body
    .app-body-title
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl= @main_title

        .ui-body-title-actions

          .dropdown.ui-dropdown.stick-right
            %a.primary-button.dropdown-toggle.ui-drop-toggle{"data-toggle" => "dropdown"}
              %i.icon-vis-graph
              Darstellung ändern
              %i.icon-arrow-down.bright.stand-alone

            %ul.dropdown-menu.ui-drop-menu{"aria-labelledby" => "dLabel", :role => "menu"}
              #controls 
                .control_panel.menu
                  TEST

    .app-body-ui-container

      .bordered.bordered-bottom.bright.ui-container.rounded.phx

        %svg#drawing{'xmlns' => "http://www.w3.org/2000/svg", version:"1.1", 'xmlns:xlink' => "http://www.w3.org/1999/xlink"}

        %h2#visualization-subtitle.title-l= @sub_title

        #notifications
        
  .app-footer-push
= render :partial => "application/footer", :locals => {:clipboard => false}

-if params[:insert_to_dom]
  != content_tag "div", id: "graph-data" , data: { nodes: vis_json(@resources), arcs: @arcs.as_json(only: [:child_id,:parent_id])}{}
  != content_tag "div", id: "layout-data", data: { resource_identifier: @resource_identifier, control_settings: @control_settings, layout: @layout }{}

:coffeescript
  
  jQuery -> Visualization.init
    nodes: #{vis_json(@resources).to_json}
    arcs: #{@arcs.to_json(only: [:child_id,:parent_id])}
    only_media_entries: #{@resources.media_sets.size==0}
    resource_identifier: #{@resource_identifier.to_json}
    control_settings: #{@control_settings.to_json}
    layout: #{@layout.to_json}
    origin_resource: #{@origin_resource.to_json}


