:ruby
  can_download = current_user.authorized?(:download, media_entry)
  original_file = media_entry.media_file
  original_file_available = (original_file and File.exist?(original_file.file_storage_location)) # NOTE it could be a zip file
  format_original_file = file_format_for(original_file)
  x_large_file = media_entry.media_file.get_preview(:x_large)
  x_large_file_available = (x_large_file and File.exist?(x_large_file.full_path))

%table#download-table
  %tr
    %th= _("Version")
    %th= select_dimensions_header_for_entry(media_entry)
    %th= _("Grösse")
    %th= _("Download")

  - if x_large_file_available
    - unless original_file.content_type.match(/^video.*/)
      %tr.download-unit
        %td{:rowspan => 2}
          %p.download-info
            %span= _("Datei ohne Metadaten")
            = _("Originaldatei ohne eingeschriebene Metadaten.")
        %td.align-right= "#{dimensions_for(original_file)} (#{format_original_file})"
        %td.align-right
          \~
          = number_to_human_size(original_file.size)
        %td.align-right
          = link_to _("Download"), "/download?id=#{media_entry.id}&naked=1" if can_download
          =# render :partial => "download_links", :locals => {:download => can_download, :downlaod_type => "naked", :media_entry => media_entry}
      %tr
        - if x_large_file #and x_large_file.width < original_file.width  
          %td.align-right= "#{dimensions_for(x_large_file)} (jpeg)"
          %td.align-right
            \~
            = number_to_human_size(x_large_file.size)
          %td.align-right= link_to _("Download"), "/download?id=#{media_entry.id}&naked=1&size=x_large"
    
      %tr.download-unit
        %td{:rowspan => 2}
          %p.download-info
            %span= _("Datei mit aktuellen Metadaten")
            = _("Die aktuellen Metadaten aus dem Medienarchiv im Format XMP/IPTC sind direkt in die Datei eingeschrieben.")
        %td.align-right= "#{dimensions_for(original_file)} (#{format_original_file})"
        %td.align-right
          \~
          = number_to_human_size(original_file.size)
        %td.align-right
          = link_to _("Download"), "/download?id=#{media_entry.id}&update=1" if can_download
      %tr
        - if x_large_file #and x_large_file.width < original_file.width
          %td.align-right= "#{dimensions_for(x_large_file)} (jpeg)"
          %td.align-right
            \~
            = number_to_human_size(x_large_file.size)
          %td.align-right= link_to _("Download"), "/download?id=#{media_entry.id}&update=1&size=x_large"

  - if original_file_available
    %tr.download-unit
      %td{:rowspan => 2}
        %p.download-info
          %span= _("Datei mit ursprünglichen Metadaten")
          = _("Originaldatei mit gleichen Metadaten wie beim Hochladen ins Medienarchiv")
      %td.align-right= "#{dimensions_for(original_file)} (#{format_original_file})" 
      %td.align-right
        \~
        = number_to_human_size(original_file.size)
      %td.align-right= link_to _("Download"),"/download?id=#{media_entry.id}" if can_download
    - if x_large_file_available #old# x_large_file #and x_large_file.width < original_file.width  
      %tr
        %td.align-right= "#{dimensions_for(x_large_file)} (jpeg)"
        %td.align-right
          \~
          = number_to_human_size(x_large_file.size)
        %td.align-right
          = link_to _("Download"),"/download?id=#{media_entry.id}&size=x_large"

  %tr.download-unit
    %td
      %p.download-info
        = _("XML Metadatendokument")
    %td.align-right
      (xml)
    %td.align-right
    %td.align-right
      = link_to _("Download"), "/download?id=#{media_entry.id}&type=xml", :target => "_blank"

  %tr.download-unit
    %td
      %p.download-info
        = _("TMS XML Metadatendokument")
    %td.align-right
      (xml)
    %td.align-right
    %td.align-right
      = link_to _("Download"), "/download?id=#{media_entry.id}&type=tms", :target => "_blank"

-#old# else
  =#old# _("Die Dateien sind leider nicht zum Download vorhanden.")
