%tr
  %td.user-login #{admin_user.login}
  %td #{admin_user.email}
  %td 
    =link_to app_admin_person_path(admin_user.person) do 
      #{admin_user.person}
  %td.user-resources-amount #{admin_user.resources_amount}
  %td.search-rank= admin_user.respond_to?(:search_rank) ? admin_user.search_rank : ''
  %td
    %ul.list-inline
      %li
        =link_to app_admin_admin_user_path(admin_user), class: "btn btn-xs" do
          %i.fa.fa-eye-open
          Details
      %li
        = link_to switch_to_app_admin_admin_user_path(admin_user), method: 'POST', class: "btn btn-xs btn-warning" do
          Switch to
      %li
        = link_to reset_usage_terms_app_admin_admin_user_path(admin_user), method: 'PUT', class: "btn btn-xs btn-warning" do
          Reset usage terms
