%h1
  %i.icon-admin 
  #{@admin_user}

%ul.list-inline
  %li
    = link_to app_admin_admin_user_path(@admin_user), method: :delete, 
        data: {confirm: "Are you sure you want to delete the user?"}, class: "btn btn-danger" do
      %i.icon-trash
      Destroy
  %li
    = link_to remove_from_admins_app_admin_admin_user_path(@admin_user), method: :delete, 
        data: {confirm: "Are you sure you want to remove the user from admins?"}, class: "btn btn-danger" do
      %i.icon-trash
      Remove from admins
  %li
    =link_to edit_app_admin_admin_user_path(@admin_user), class: "btn btn-warning" do
      %i.icon-pen
      Edit
  %li
    = link_to switch_to_app_admin_user_path(@admin_user), method: 'POST', class: "btn btn-warning" do
      Switch to

%table.table.table-striped
  %thead
  %tbody
    %tr
      %td Admin?
      %td= @admin_user.is_admin?

    - @admin_user.attributes.each do |name,value|
      %tr
        %td= name.capitalize.split("_").join(" ")
        - case name
        - when nil
        - else
          %td= value

    %tr
      %td # Resources
      %td #{@admin_user.media_resources.count}

    %tr
      %td # Media Entries
      %td #{@admin_user.media_resources.media_entries_or_media_entry_incompletes.count}

    %tr
      %td # Media Sets
      %td #{@admin_user.media_resources.media_sets.count}

    %tr
      %td # Filter Sets
      %td #{@admin_user.media_resources.filter_sets.count}

    %tr
      %td # Keywords
      %td #{@admin_user.keywords.count}

    %tr
      %td # MetaData
      %td #{@admin_user.meta_data.count}


%h2.text-center
  Groups

%table.table.table-striped
  %body
    = render partial: 'app_admin/users/group', collection: @groups

= paginate @groups, theme: 'app_admin'
