.ui-body-title-actions
  - unless current_user.is_guest?
    = render :partial => "media_resources/actions/clipboard_toggle"
    = render :partial => "media_resources/actions/favor_toggle", :locals => {mr: @media_set}

    .dropdown.ui-dropdown.stick-right
      %a.primary-button.dropdown-toggle.ui-drop-toggle{"data-toggle" => "dropdown"}
        Weitere Aktionen
        %i.icon-arrow-down.bright.stand-alone
      %ul.dropdown-menu.ui-drop-menu{"aria-labelledby" => "dLabel", :role => "menu"}

        -if @can_edit
          = render :partial => "media_resources/actions/edit", :locals => {mr: @media_set}
       
        = render :partial => "media_resources/actions/permissions"

        = render :partial => "media_resources/actions/organize"

        - if @can_edit
          = render :partial => "media_sets/actions/highlight"

        - if @can_edit
          = render :partial => "media_sets/actions/cover"

        -if @media_set.user == current_user
          = render :partial => "media_resources/actions/visualize_my_component_with", :locals => {mr: @media_set}

        - if @can_edit
          = render :partial => "media_resources/actions/delete"

  - else

    = render :partial => "login_action"
