%li.ui-resource
  .ui-thumbnail.media-catalog
    = render :partial => "media_resources/privacy", :locals => {:media_resource => category}
    %a.ui-thumbnail-image-wrapper{:href => explore_category_path(category.id)}
      .ui-thumbnail-image-holder
        .ui-thumbnail-table-image-holder
          .ui-thumbnail-cell-image-holder
            .ui-thumbnail-inner-image-holder
              %img{:src => "/media_resources/#{category.id}/image", :class => "ui-thumbnail-image"}
    .ui-thumbnail-meta
      %h3.ui-thumbnail-meta-title= category.title
      %p.ui-thumbnail-meta-subtitle= category.description
      %span.ui-thumbnail-meta-extension= category.child_media_resources.count