- content_for :content do

  .ui-container.rounded-right.rounded-bottom.tab-content.bordered

    .bright.ui-container.pal.rounded-bottom

      %h2.title-l Diese Metadaten wurden am häufigsten vergeben
      %h3.title-s.pbx.mbl.separated
        Sie zeigen den thematischen Schwerpunkt dieses Sets an.

      #ui-media-set-abstract-slider.mbl

      #ui-media-set-abstract

        - hash_for(@media_set.abstract(1, current_user)).each do |meta_datum|
          .col1of3.mbl
            .ui-metadata-box.prl
              .h3.title-m.separated.light.mbm= MetaKey.find_by_label(meta_datum[:name]).all_context_labels
              %ul.ui-tag-cloud.small
                - meta_datum[:raw_value].each do |value|
                  %li.ui-tag-cloud-item
                    %a.ui-tag-button.meta-term{:href => "/media_resources?meta_data[#{meta_datum[:name]}][ids][]=#{value[:id]}",
                                                    :"data-meta-datum-name" => meta_datum[:name],
                                                    :"data-meta-key-id" => value[:id],
                                                    :title => "#{value[:value]}"}
                      = value[:value]
        
  :coffeescript

    jQuery -> new App.MediaSetsController.Abstract
      totalChildren: #{@media_set.child_media_resources.accessible_by_user(current_user).count}

= render :partial => "media_sets/layout"