%section.content_body.media_sets_graph
  = render partial: "media_resources/bar"

  .graph
    .info
      = _("Graph wird berechnet")
      = image_tag "loading.gif", :class => "loading"
    / #zoom_panel  
    /   %button.button.zoom_in +
    /   %button.button.zoom_out -
    #chart
    #inspector.media_resources.index.grid
    #instructions= "Klicken und ziehen, um die Ansicht zu bewegen. Scrollen, um hinein- und herauszuzuoomen."

= render :partial => "media_entries/batch_bar"
  
:coffeescript
  
  jQuery ->
    new App.MediaSetsGraph
  
  