:ruby
  icon_class = "icon_set"

-#-# .filter_area
  =#-# render :partial => 'resources/filter_form', :locals => {:resource_ids => @_media_set_ids, :type => "MediaSet" }

- unless @media_set
  .container_12.clearfix
    %section#page_head_newset.clearfix
      .grid_12
        #set_info
          %div.item_box_set
            %div.thumb_box_set
        #set_meta
          %small
            &nbsp;
          %h5
            = _("Neues Set erstellen")
          - context = MetaContext.media_set
          - media_set = current_user.media_sets.build
          = form_for [current_user, media_set] do |f|
            %table.label
              = f.fields_for :meta_data, media_set.meta_data.get("title") do |meta_datum|
                - definition = meta_datum.object.meta_key.meta_key_definitions.for_context(context)
                %tr
                  %td
                    %p
                      = "#{definition.label}:"
                  %td{:style => "float: left;"}
                    = field_tag(meta_datum, context)
                  %td{:style => "float: left;"}
                    = f.submit _("Erstellen")

  .container_12.clearfix
    %section#content_body.clearfix
      %div.page_title_left
        - if @media_sets
          %div{:class => icon_class}
          %a{:id => "meine", :name => "meine", :href => "#"}
          = @my_title
      .pagination
        %a{:href => "#weitere"}
          = @other_title
          &darr;
      .clear
      - @my_media_sets.each do |media_set|
        = media_set_title(media_set, true, true, 9) 
    
  .container_12.clearfix
    %section#content_body2.clearfix
      %div.page_title_left
        %a{:id => "weitere", :name => "weitere", :href => "#"}
        %div{:class => icon_class}
        = @other_title
      .pagination   
        %a{:href => "#meine"}
          = @my_title
          &uarr;
      .clear
      - @media_sets.each do |media_set|
        = media_set_title(media_set, true, true, 9)

- else # FeaturedSet
  .container_12.clearfix
    %section#content_body.clearfix
      %div.page_title_left
        %div{:class => icon_class}
        = @my_title
      .clear
      - if @media_sets.any?
        - @media_sets.each do |media_set|
          = media_set_title(media_set, true, true, 9)
      - else 
        = _("Keine Sets vorhanden")

=#Rails3.1# javascript_include_tag "batch_actions"
