.grid_8
	- if @my_media_sets
		%a{:id => "meine", :name => "meine", :href => "#"}
		%h3{:style => "margin-bottom: 2em;"}
			= @index_title
			%span{:style => "font-size: 0.7em; display: block;"}
				%a{:href => "#weitere"}
					&darr; Weitere Sets
		= render :partial => "media_set", :collection => @my_media_sets
		
		%a{:id => "weitere", :name => "weitere", :href => "#"}
		%h3{:style => "margin-bottom: 2em;"}
			Weitere Sets
			%span{:style => "font-size: 0.7em; display: block;"}
				%a{:href => "#meine"}
					&uarr; Meine Sets
		= render :partial => "media_set", :collection => @media_sets
	- else
		%h3{:style => "margin-bottom: 2em;"}= @index_title
		- if @media_sets.any?
			= render :partial => "media_set", :collection => @media_sets
		- else 
			= _("Keine Sets vorhanden")
		
		
- unless @media_set
	.grid_4
		%h3= _("Neues Set erstellen")
		%br
		%br
		- context = MetaContext.media_set
		- media_set = current_user.media_sets.build # (:type => "Media::Set")
		= form_for [current_user, media_set] do |f|
			%table.sidebar-box
				= f.fields_for :meta_data, media_set.meta_data.get("title") do |meta_datum|
					- definition = meta_datum.object.meta_key.meta_key_definitions.for_context(context)
					%tr
						%td.label{:style => "float: left;"}
							= "#{definition.meta_field.label}:"
						%td{:style => "float: left;"}
							= field_tag(meta_datum, context)
						%td{:style => "float: left;"}
							= f.submit _("Erstellen")