- content_for :content do

  .ui-container.rounded-right.rounded-bottom.tab-content.bordered

    .bright.ui-container.pal.rounded-bottom

      %h2.title-l 
        = _("This set has additional contexts with metadata")
      %h3.title-s.pbx.mbl.separated
        = _("This allows adding further details to all media entries contained in this set.")
        = _("Furthermore, you may also assign any contexts that are assigned to this set to any set contained within.")

      = form_for @media_set do

        %table.ui-workgroups.bordered.block
          %thead
            %tr
              %td{:colspan => 3}

          %tbody
            - (@media_set.individual_and_inheritable_contexts).each do |context|
              %tr{:"data-id" => context.id}
                %td
                  %label.ui-context-selection{:title => _("Activate / Deactivate")}
                    %input{:type => :hidden, :name => "individual_context_ids[]", :value => :false}
                    = check_box_tag "individual_context_ids[]", context.id, @media_set.individual_contexts.include?(context), :class => "individual_context", :autocomplete => "off"
                    %strong.ui-context-selection-name= context
                %td.prm= context.description
                %td
                  = link_to "Anzeigen", context_path(context), :target => :_blank

        %button.mtl.primary-button{:type => :submit}
          = _("Save")

= render :partial => "media_sets/layout"
