- content_for :content do

  .ui-container.rounded-right.rounded-bottom.tab-content.bordered

    .bright.ui-container.pal.rounded-bottom

      %h2.title-l.separated.mbl
        = _("This set has additional contexts with metadata")
      %p.mbl
        = _("This allows adding further details to all media entries contained in this set.")
        = _("Furthermore, you may also assign any contexts that are assigned to this set to any set contained within.")

      = form_for @media_set do |form|

        %table.ui-workgroups.bordered.block
          %thead
            %tr
              %td{:colspan => 3}

          %tbody
            - (@media_set.individual_and_inheritable_contexts).each do |context|
              %tr{:"data-id" => context.id}
                %td
                  %label.ui-context-selection{:title => _("Activate / Deactivate")}
                    = check_box_tag "individual_context_names[]", context.id, @media_set.individual_contexts.include?(context), :class => "individual_context", :autocomplete => "off"
                    %strong.ui-context-selection-name= context
                %td
                  = context.description
                %td.by-right
                  = link_to context_path(context), :target => :_blank, :class => "button" do
                    %i.icon-eye
                    Anzeigen
        .ui-actions
          %button.mtl.primary-button.large{:type => :submit}
            = _("Save")

= render :partial => "media_sets/layout"
