<%#old#%>

<h2>New <%= (@dynamic ? "Dynamic" : "Static" ) %> MediaSet</h2>

<%= form_for [@media_set.user, @media_set] do |f| %>

	<%= content_tag :table do
		f.fields_for :meta_data, @media_set.meta_data.get("title") do |meta_datum|
			content_tag :tr do
				content_tag :td, :class => "label" do %>
					<%= meta_datum.object.meta_key %>
				<% end

				content_tag :td do %>
					<%= field_tag(meta_datum, MetaContext.media_set) %>
				<% end
			end #tr
		end #fields_for
	end #table 
	%>


	<% if @dynamic %>
		<%= f.label :query %>
		<%= f.text_field :query %>
		<br/>
	<% end %>
	<%= f.submit _("Speichern") %>
<% end %>
