- content_for :content do

  .ui-container.bright.pal.rounded-right.rounded-bottom
    .ui-set-overview

      .ui-set-preview
        = render :partial => "media_resources/media_resource",
         :locals => {:media_resource => @media_set}

      .ui-metadata-box.ui-summary-table.ui-set-summary.compact
        %table.borderless
          %tbody
            = render :partial => "meta_data/meta_datum", :collection => @media_set.meta_data.for_context(::Context.find("media_set")),
                     :locals => {:context => ::Context.find("media_set"),
                                 :as_table => true}

  = render :partial => "media_sets/highlights" unless @highlights.blank?

  #ui-resources-list-container.ui-container.midtone.rounded-bottom
    - subtitle = n_("%d item", "%d items", @entries_count) % @entries_count
    -# TODO:
    -# - subtitle = @entries_count == @entries_total_count ? n_("%d item", "%d items", @entries_count) % @entries_count : _("%d of %d items visible to you") % [@entries_count, @entries_total_count]
    = render :partial => "media_resources/list/toolbar",
               :locals => {:title => _("Set contains"),
                           :subtitle => subtitle,
                           :actions => render(:partial => "media_sets/actions/save_display_settings")}

    = render :partial => "media_resources/list/filterbar"

    .ui-resources-holder.pam

      .ui-container.table.auto

        = render :partial => "media_resources/list/filter"

        .ui-container.table-cell.table-substance

          %ul#ui-resources-list.ui-resources{:class => ui_resources_class}

            .pvh.mth
              .ui-preloader

:coffeescript
  jQuery ->
    mediaResourcesController = new App.MediaResourcesController.Index
      baseFilter: #{{:media_set_id => @media_set.id.to_s}.to_json}
      startFilterParams: #{MediaResource.get_filter_params(params).to_json}

    new App.MediaSetsController.DisplaySettings
      mediaResourcesController: mediaResourcesController
      layout: #{@media_set.settings[:layout].to_json}
      sorting: #{@media_set.settings[:sorting].to_json}

-# HACK: hide broken filterbar + buttons
:sass
  #ui-side-filter
    display: none
  .ui-filterbar .left.col2of6
    &::before
      content: '.'
      opacity: 0
    #ui-side-filter-toggle, #ui-side-filter-reset
      display: none


= render :partial => "media_sets/layout"
