%section#content_head
  .container_12.clearfix
    #page_head
      .grid_3
        #set_info
          %div.item_box_set
            %div.item_permission_set
              = display_permission(@media_set, :icon)
            %div.thumb_box_set
              = thumb_for(@media_set, :small_125)
      .grid_7
        #detail_specification.tabs
          %ul
            %li
              = link_to _("Projektinfo"), "#info_tab"
            %li
              = link_to _("Auszug"), "#abstract_tab"
            %li
              = link_to _("Zugriffsberechtigungen"), "#permission_tab"
            %li
              = link_to _("Vokabular"), "#vocabulary_tab"
          #info_tab.clearfix
            - context = MetaContext.media_set
            = display_meta_data_for_context(@media_set, context)
          #abstract_tab.clearfix
            = display_project_abstract(@media_set) if @media_set.is_a?(Media::Project)
          #permission_tab.clearfix
            = render :partial => "/permissions/edit_multiple"
          #vocabulary_tab.clearfix
      .grid_2
        #set_actions
          - if @can_edit_set
            = display_edit_icon(@media_set, current_user)
            = display_delete_icon(@media_set, current_user)

%section#content_body_set
  %div.page_title_left
    %img{:src => "/images/icons/icon_set.png"}
    =_("Set-Inhalt")
    %span= "#{@media_entry_ids.total_entries} von #{@media_set.media_entries.count} Medieneinträge für Sie sichtbar"
  .clear
  = render :partial => "/media_entries/index"

= javascript_include_tag "batch_actions"

:javascript
  $(document).ready(function () {
    setupBatch(#{@json}, #{@media_set.id}, #{@media_set.media_entry_ids.to_json});
  });
  
