:ruby
  case @media_set.class.name
    when "Media::Project"
      thumb_class = "thumb_box_project"
      tab_title = _("Projekt")
      content_title = _("Projekt")
      icon_class = "icon_project"
    else
      thumb_class = "thumb_box_set"
      tab_title = _("Set")
      content_title = _("Set")
      icon_class = "icon_set"
  end

%section#content_head
  .container_12.clearfix
    #page_head
      .grid_3
        #set_info
          %div.item_box_set
            %div.item_permission_set
              = display_permission(@media_set, :icon)
            %div{:class => thumb_class}
              = thumb_for(@media_set, :small_125)
        #set_actions
          - if @can_edit_set
            = display_edit_icon(@media_set, current_user)
            = display_delete_icon(@media_set, current_user)
          = link_to "#", :panel => "media_set", :title => "Zu Set/Projekt hinzufügen" do
            .button_addto

      .grid_9
        #detail_specification.tabs
          %ul
            %li
              = link_to tab_title, "#info_tab"
            %li
              = link_to _("Zugriffsberechtigungen"), edit_multiple_media_set_permissions_path(@media_set)
            - if @media_set.is_a?(Media::Project)
              %li
                = link_to _("Auszug"), "#abstract_tab"
              %li
                = link_to _("Vokabular"), "#vocabulary_tab"
              %li
                / = link_to _("Vokabular Browser"), browse_media_set_path(@media_set), :class => "vocabulary_tab_browse"
          #info_tab.clearfix
            - context = MetaContext.media_set
            = display_meta_data_for_context(@media_set, context)
          - if @media_set.is_a?(Media::Project)
            = render :partial => "media_entries/browsing"
            #abstract_tab.clearfix
              %p
                Diese Metadaten wurden am häufigsten vergeben. Sie zeigen den thematischen Schwerpunkt des Projekts an.
              = display_project_abstract_slider(@media_set, @media_entries[:pagination][:total_entries])
              = display_project_abstract(@media_set, (@media_entries[:pagination][:total_entries] * 30 / 100), current_user)
            #vocabulary_tab.clearfix
              = display_project_vocabulary(@media_set, current_user)

        #media_set-panel.actionbar-panel{:style => "display: none"}
          .actionbar-inner-panel
            - if logged_in?
              = media_sets_setter(parent_media_set_path(@media_set))
            - else
              = _("Bitte anmelden.")


%section#content_body_set
  %div.page_title_left
    %div{:class => icon_class}
    = content_title
    %span
      =#old# "#{@media_entries[:pagination][:total_entries]} von #{@media_set.media_entries.count} Medieneinträge für Sie sichtbar"
      = "#{@media_entries[:pagination][:total_entries]} von #{MediaResource.by_media_set(@media_set).count} für Sie sichtbar"
  .clear
  = render :partial => "media_entries/index"

=#Rails3.1# javascript_include_tag "batch_actions"

:javascript
  $(document).ready(function () {
    setupBatch(#{@media_entries.to_json}, #{@media_set.id}, #{@media_set.media_entry_ids.to_json});
  });
  
