:ruby
  thumb_class = "thumb_box_set"
  tab_title = _("Set")
  content_title = _("Set")
  icon_class = "icon_set"

%section#content_head
  .container_12.clearfix
    #page_head
      .grid_3
        #set_info
          %div.item_box_set
            %div.item_permission_set
              = display_permission(@media_set, :icon)
            %div{:class => thumb_class}
              = thumb_for(@media_set, :small_125)
        #set_actions
          - if @can_edit_set
            = display_edit_icon(@media_set, current_user)
            = display_delete_icon(@media_set, current_user)
          = link_to "", :title => "Zu Set hinzufügen/entfernen",
            :class=>"has-selection-widget",
            :"data-id" => "#{@media_set.id}",
            :"data-detach_my_self" => "true",
            :"data-after_submit" => "window.location.reload();",
            :"data-index" => "#{{"path" => "/media_sets", "method" => "GET", "data" => {"accessible_action" => "edit", "with" => {"set" => {"creator" => 1, "created_at" => 1}}}}.to_json}",
            :"data-linked_index" => "#{{"path" => "/media_sets", "method" => "GET", "data" => {"accessible_action" => "edit", "child" => {"id" => @media_set.id, "type" => "set"}}}.to_json}",
            :"data-create" => "#{{"path" => "/media_sets", "method" => "POST", "data" => {"media_set" => "{:array}"}, "array" => {"meta_data_attributes" => {0 => {"meta_key_id" => 3, "value" => "{:title}"}}}}.to_json}",
            :"data-link" => "#{{"path" => "/media_sets/"+@media_set.id.to_s+"/parents", "method" => "POST", "data" => {"media_set_ids" => "{:array}"}, "array" => "{:id}"}.to_json}",
            :"data-unlink" => "#{{"path" => "/media_sets/"+@media_set.id.to_s+"/parents", "method" => "DELETE", "data" => {"media_set_ids" => "{:array}"}, "array" => "{:id}"}.to_json}" do
            .button_addto

      .grid_9
        #detail_specification.tabs
          %ul
            %li
              = link_to tab_title, "#info_tab"
            %li
              = link_to _("Zugriffsberechtigungen"), edit_multiple_media_set_permissions_path(@media_set)
            - unless @media_set.individual_contexts.empty?
              %li
                = link_to _("Auszug"), "#abstract_tab"
              %li
                = link_to _("Vokabular"), "#vocabulary_tab"
              %li
                / = link_to _("Vokabular Browser"), browse_media_set_path(@media_set), :class => "vocabulary_tab_browse"
          #info_tab.clearfix
            - context = MetaContext.media_set
            = display_meta_data_for_context(@media_set, context)
          - unless @media_set.individual_contexts.empty?
            = render :partial => "media_entries/browsing"
            #abstract_tab.clearfix
              %p= _("Diese Metadaten wurden am häufigsten vergeben. Sie zeigen den thematischen Schwerpunkt des Projekts an.")
              = display_set_abstract_slider(@media_set, @media_entries[:pagination][:total_entries])
              = display_set_abstract(@media_set, (@media_entries[:pagination][:total_entries] * 30 / 100), current_user)
            #vocabulary_tab.clearfix
              = display_set_vocabulary(@media_set, current_user)

        #media_set-panel.actionbar-panel{:style => "display: none"}
          .actionbar-inner-panel
            - if logged_in?
              = media_sets_setter(parents_media_set_path(@media_set))
            - else
              = _("Bitte anmelden.")


%section#content_body_set
  -if(@parents.size > 0)
    %div.page_title_left.set_parents_title
      .icon_set_parents
      = _("Set enthalten in")
      %span
        = _("Dieses Set ist in %s enthalten") % pluralize(@parents.size, "Set")
    .clear
    #parents
  
  %div.page_title_left
    %div{:class => icon_class}
    = _("Set enthält")
    %span
      =#old# "#{@media_entries[:pagination][:total_entries]} von #{@media_set.media_entries.count} Medieneinträge für Sie sichtbar"
      = "#{@media_entries[:pagination][:total_entries]} von #{MediaResource.by_media_set(@media_set).count} für Sie sichtbar"
  .clear
  = render :partial => "media_entries/index"
  
  
=#Rails3.1# javascript_include_tag "batch_actions"

:javascript
  $(document).ready(function () {
    setupBatch(#{@media_entries.to_json}, #{@media_set.id}, #{@media_set.media_entry_ids.to_json});
    
    // hide parents at start
    $("#parents").hide();
        
    // setup parents of current sets
    $("#parents").append($("#thumbnail").tmpl(#{@parents.to_json}));
    
    // show parents toggle
    $(".set_parents_title").click(function(){
      $("#parents").toggle();
      $(".icon_set_parents").toggleClass("open");
    });
  });
  
