:ruby
  case @media_set.class.name
    when "Media::Project"
      thumb_class = "thumb_box_project"
      tab_title = _("Projekt")
      content_title = _("Projekt")
      content_img_src = "/images/icons/icon_project.png"
    else
      thumb_class = "thumb_box_set"
      tab_title = _("Set")
      content_title = _("Set")
      content_img_src = "/images/icons/icon_set.png"
  end

%section#content_head
  .container_12.clearfix
    #page_head
      .grid_3
        #set_info
          %div.item_box_set
            %div.item_permission_set
              = display_permission(@media_set, :icon)
            %div{:class => thumb_class}
              = thumb_for(@media_set, :small_125)
      .grid_7
        #detail_specification.tabs
          %ul
            %li
              = link_to tab_title, "#info_tab"
            %li
              = link_to _("Zugriffsberechtigungen"), edit_multiple_media_set_permissions_path(@media_set)
            - if @media_set.is_a?(Media::Project)
              %li
                = link_to _("Auszug"), "#abstract_tab"
            - if @media_set.is_a?(Media::Project)
              %li
                = link_to _("Vokabular"), "#vocabulary_tab"
          #info_tab.clearfix
            - context = MetaContext.media_set
            = display_meta_data_for_context(@media_set, context)
          - if @media_set.is_a?(Media::Project)
            #abstract_tab.clearfix
              %p
                Die Medieneinträge dieses Projekts haben folgenden thematischen Schwerpunkt:
              %p{:style => "padding: 1em;"}
                %span#amount{:style => "color: #f6931f; font-weight: bold; position: absolute;"}
              #slider{:style => "border: 1px solid #AAAAAA;"}
              = display_project_abstract(@media_set)
          - if @media_set.is_a?(Media::Project)
            #vocabulary_tab.clearfix
              = display_project_vocabulary(@media_set)
      .grid_2
        #set_actions
          - if @can_edit_set
            = display_edit_icon(@media_set, current_user)
            = display_delete_icon(@media_set, current_user)

%section#content_body_set
  %div.page_title_left
    %img{:src => content_img_src}
    = content_title
    %span= "#{@media_entry_ids.total_entries} von #{@media_set.media_entries.count} Medieneinträge für Sie sichtbar"
  .clear
  = render :partial => "media_entries/index"

= javascript_include_tag "batch_actions"

:javascript
  $(document).ready(function () {
    setupBatch(#{@json}, #{@media_set.id}, #{@media_set.media_entry_ids.to_json});

    function update_amount(ui){
      var l = ui.find("a").css('left');
      var v = ui.slider( "value" )
      $("#amount").html(v).css('left', l);
    }
    $("#slider").slider({
      value: #{@media_set.media_entries.count / 2},
      min: 1,
      max: #{@media_set.media_entries.count},
      step: 1,
      create: function( event, ui ) {
        update_amount($(this));
      },
      slide: function( event, ui ) {
        update_amount($(this));
      },
      change: function( event, ui ) {
        update_amount($(this));
        $.ajax({
          url: "#{abstract_media_set_path(@media_set)}",
          data: {value: ui.value},
          complete: function(response){ $("#slider").next().replaceWith(response.responseText); }
        });
      }
    });

  });
  
