.app.view-home

  = render "application/header/logged_out"

  .app-body
    
    = render "application/collage"

    .app-body-container

      = render "application/navigation"

      = render "application/catalog" if @catalog_set and not @catalog_set_categories.blank?
      
      - if @featured_set and not @featured_set_children.blank?
        %hr.separator
        = render "application/featured" 

      - unless @latest_media_entries.blank?
        %hr.separator
        = render "application/new" 

  = render "application/footer"
