%h1.text-center
  %i.fa.fa-file
  MetaTerms

.well.pull-right
  = form_tag app_admin_meta_terms_path, method: 'GET', class: 'form-inline'  do

    .form-group
      = text_field :filter, :search_terms, class: "search-query form-control",
          placeholder: "Search term", value: params.try(:[], :filter).try(:[], :search_terms)

    .form-group
      %label Filter by:
      %select.form-control{name: :filter_by}
        = options_for_select [["All", nil],
          ["Used", :used],
          ["Not used", :not_used],
          ["Keyword?", :keyword],
          ["Term?", :term],
          ["Used as a label", :key_label],
          ["Used as a hint", :key_hint],
          ["Used as a description", :key_description]],
          @filter_by

    .form-group
      %label Sort by:
      %select.form-control.sort-by{name: :sort_by}
        = options_for_select [["EN_GB ascending", :en_gb_asc],
          ["EN_GB descending", :en_gb_desc],
          ["DE_CH ascending", :de_ch_asc],
          ["DE_CH descending", :de_ch_desc],
          ["Text search ranking", :text_rank],
          ["Trigram search ranking", :trgm_rank]],
          @sort_by

    .form-group
      = button_tag type: 'submit', class: 'btn btn-sm' do
        %i.icon-filter
        Apply

.row
  .col-md-12
    %table.table.table-striped
      %thead
        %tr
          %th #
          %th EN_GB
          %th DE_CH
          %th.no-wrap Is used?
          %th.no-wrap Used # times
          %th Keyword?
          %th Term?
          %th.no-wrap Used as:
          %th
      %tbody
        =render @meta_terms

= paginate @meta_terms, theme: 'app_admin'
