%h1.text-center
  %i.fa.fa-file
  MetaTerms

.well.pull-right
  = form_tag app_admin_meta_terms_path, method: 'GET', class: 'form-inline'  do

    .form-group
      = text_field :filter, :search_terms, class: "search-query form-control",
          placeholder: "Search term", value: @search_terms

    .form-group
      %label Filter by:
      %select.form-control.filter-by{name: :filter_by}
        = options_for_select [["All", nil],
          ["Used", :used],
          ["Not used", :not_used],
          ["Term?", :term]],
          @filter_by

    .form-group
      %label Sort by:
      %select.form-control.sort-by{name: :sort_by}
        = options_for_select [["ascending", :asc],
          ["descending", :desc],
          ["Text search ranking", :text_rank],
          ["Trigram search ranking", :trgm_rank]],
          @sort_by

    .form-group
      = button_tag type: 'submit', class: 'btn btn-sm' do
        %i.icon-filter
        Apply
      = link_to "Reset", app_admin_meta_terms_path(reset: true)

.row
  .col-md-12
    %table.table.table-striped
      %thead
        %tr
          %th #
          %th Term
          %th.no-wrap Is used?
          %th.no-wrap Used # times
          %th Term?
          %th
      %tbody
        =render @meta_terms

= paginate @meta_terms, theme: 'app_admin'
