%h2.group_name
  ${name}
%input.change_name{:type => :text, :value => "${name}"}
%a.change_name= "Gruppennamen ändern"

#edit_group
  
  %section.group
    {{each(i, user) users}}
    {{tmpl(user) "app/views/groups/_member"}}
    {{/each}}
    
  %section.info
    .add
      .inner
        %strong= "Person hinzufügen"
        %input{:type => "text",
          :"data-autocomplete" => true,
          :"data-type" => "user",
          :"data-url" => "/users.json"}
    %p= "Es können nur Personen ausgewählt werden, die sich schon einmal im Medienarchiv eingeloggt haben."
    
  %section.actions
    %a.cancel
      = "Abbrechen"
    %button.upload_buttons.save
      = "Speichern"