%h1 
  Edit "#{@field.humanize}" Setting

= form_for @settings, url: update_app_admin_settings_path, method: :put, html: {class: "form-horizontal", role: "form"} do |f|

  %fieldset 

    .form-group
      %label.control-label.col-sm-2= @field.humanize
      .col-sm-6
        - if @field == "footer_links"
          = text_area :app_settings_extra, :yaml_footer_links, value: @settings.footer_links.to_yaml, rows: 12, class: "form-control"
        - else
          = f.text_field @field, class: "form-control"

    .form-group
      .col-sm-offset-2.col-sm-4
        = button_tag type: 'submit', class: "btn btn-success" do
          Save
