%h1
  %i.icon-cog
  Settings

%section
  %h3
    %i.glyphicon.glyphicon-align-center
    Header and footer

  %table.table.table-striped
    %tbody
      - [:title,:brand,:logo_url].each do |attr|
        %tr
          %td.limit250
            = attr.to_s.capitalize.split("_").join(" ")
          %td.limit700
            = @settings.send(attr)
          %td
            = link_to edit_app_admin_setting_path(attr), class: "btn btn-warning btn-xs" do
              %i.fa.fa-pencil
              Edit

%section
  %h3 
    %i.glyphicon.glyphicon-align-justify
    Welcome

  %table.table.table-striped
    %tbody
      - [:welcome_title,:welcome_subtitle].each do |attr|
        %tr
          %td.limit250
            = attr.to_s.capitalize.split("_").join(" ")
          %td.limit700
            = @settings.send(attr)
          %td
            = link_to edit_app_admin_setting_path(attr), class: "btn btn-warning btn-xs" do
              %i.fa.fa-pencil
              Edit
      %tr
        %td.limit250 Footer links
        %td.limit700
          = @settings.footer_links.to_yaml.gsub(/\n/, "<br>").html_safe
        %td
          = link_to edit_app_admin_setting_path("footer_links"), class: "btn btn-warning btn-xs" do
            %i.fa.fa-pencil
            Edit

%section
  %h3 
    %i.glyphicon.glyphicon-globe
    Other / Urls

  %table.table.table-striped
    %tbody
      - [:support_url].each do |attr|
        %tr
          %td.limit250
            = attr.to_s.capitalize.split("_").join(" ")
          %td.limit700
            = @settings.send(attr)
          %td
            = link_to edit_app_admin_setting_path(attr), class: "btn btn-warning btn-xs" do
              %i.fa.fa-pencil
              Edit

%section
  %h3 Displayed Contexts

  %p
    Configure the second and third Context to be displayed, e.g. in a list view. 
    The first displayed Context is always set to 
    %b core.
  %p
    Only 
    %b existing 
    Context names can be submitted here!

  %table.table.table-striped
    %tbody
      - %w{second third}.each do |context|
        %tr
          %td.limit250 Name of the #{context} displayed Context
          %td.limit700
            = @settings.send("#{context}_displayed_context_id")
          %td
            = link_to edit_app_admin_setting_path("#{context}_displayed_context_id"), class: "btn btn-warning btn-xs" do
              %i.fa.fa-pencil
              Edit

/ --------------------------------

%section
  %h3 
    %i.glyphicon.glyphicon-folder-close
    Special sets

= form_for [:app_admin, @settings], url: app_admin_settings_path, method: "PUT", html: {class: "form-horizontal settings", role: "form", id: "special-sets-form"} do |f|
  %table.table.table-striped
    - [:featured_set_id, :splashscreen_slideshow_set_id, :catalog_set_id].each do |attr|
      %tr
        %td.limit250
          = attr.to_s.capitalize.split("_").join(" ")
        %td.limit700
          = f.hidden_field attr
          = text_field_tag attr, MediaSet.find(f.object.send(attr)).title, class: "form-control autocomplete"
        %td
          %ul.list-inline
            %li
              = f.button type: :submit, class: "btn btn-warning btn-xs" do
                %i.fa.fa-pencil
                Change set
            %li
              = link_to app_admin_media_set_path(@settings.send(attr)), class: "btn btn-info btn-xs" do
                %i.fa.fa-eye
                Details

:javascript
  $(function() {
    $('.autocomplete').autocomplete({
      source: "/app_admin/media_sets",
      minLength: 2,
      select: function( event, ui ) {
        $("input[name='app_settings[" + $(event.target).attr('name') + "]']").val(ui.item.id);
      }
    });
  });
