- content_for :content do
  .ui-container.rounded-right.rounded-bottom.tab-content
    
    .ui-container.bright.pal.rounded-top
      .row
        .col2of3
          %p.paragraph-l= @context.description

    #ui-resources-list-container.ui-container.midtone.bordered.rounded-bottom

      - subtitle = if @entries_count == @entries_total_count
        - n_("%d item", "%d items", @entries_count) % [@entries_count]
      - else 
        - _("%d of %d items visible to you") % [@entries_count, @entries_total_count]
          
      = render :partial => "media_resources/list/toolbar", 
                 :locals => {:title => _("Vokabular enthält"),
                             :subtitle => subtitle,
                             :actions => render(:partial => "media_sets/actions/save_display_settings")}

      = render :partial => "media_resources/list/filterbar", :locals => {:filter_by_type => false}

      .ui-resources-holder.pam

        .ui-container.table.auto

          = render :partial => "media_resources/list/filter"

          .ui-container.table-cell.table-substance
            
            %ul#ui-resources-list.ui-resources{:class => ui_resources_class}

              .pvh.mth
                .ui-preloader

  :coffeescript
    jQuery -> 
      mediaResourcesController = new App.MediaResourcesController.Index
        baseFilter: #{{:meta_context_names => [@context.name]}.to_json}
        startFilterParams: #{MediaResource.get_filter_params(params).to_json}

= render :partial => "meta_contexts/layout"

        
