%section#content_head
  .container_12.clearfix
    #page_head
      #detail-main.grid_12

        .head-tabs
          %h2.title.grid_8{:style => "height: 60px;"}
            %br
            %span{:style => "margin-right: 4px"}= _("Kontext")
            = @vocabulary_json["label"][DEFAULT_LANGUAGE.to_s]
          .clear
          %p.description= @vocabulary_json["description"][DEFAULT_LANGUAGE.to_s]
            
      .grid_12
        #detail_specification.tabs
          %ul
            %li
              = link_to _("Vokabular"), "#vocabulary_tab"
            %li
              = link_to _("Auszug"), "#abstract_tab"
  
          = render :partial => "media_entries/browsing"
          #vocabulary_tab.clearfix
            = display_contexts_vocabulary(@vocabulary_json)
          #abstract_tab.clearfix
            %p= _("Diese Metadaten wurden am häufigsten vergeben. Sie zeigen den thematischen Schwerpunkt des Projekts an.")
            = display_context_abstract_slider(@abstract_slider_json)
            = display_context_abstract(@abstract_json)

:css
  #vocabulary_tab h3 {
    display: none;
  }
  
  #vocabulary_tab h3+p {
    display: none;
  }
  
  .head-tabs .description {
    margin: 0 0 14px 12px;
  }
