:ruby
  #  OLD:
  # menu = YAML.safe_load <<-HEREDOC
  #   - one: 'example.com/1'
  #   - two: 'example.com/2'
  # HEREDOC

  # NEW:
  # menu = YAML.safe_load <<-HEREDOC
  #   de:
  #     - eins: 'example.com/1'
  #     - zwei: 'example.com/2'
  #   en:
  #     - one: 'example.com/1'
  #     - two: 'example.com/2'
  # HEREDOC

  def localized_value(obj)
    return obj unless obj.is_a? Hash
    obj[I18n.locale.to_s].presence \
      || obj[I18n.locale.to_s].presence \
      || labels.values.first.presence
  end

  menu = localized_value(menu)

%footer.app-footer.ui-footer.ui-container.inverted

  - if defined?(menu) && menu.is_a?(Array)
    -# strange but JSON-safe format: `[{"Example Link" => "http://example.com"}]`
    - menu = Hash[menu.map {|item| item.to_a.first}]

    %ul.ui-footer-menu
      - menu.map do |text, link|
        %li
          = component('link', href: link) do
            = text
      - if defined?(available_locales) && available_locales.is_a?(Array) && available_locales.size > 1
        %li
          = t(:footer_choose_language)
          = select_tag 'lang_switcher', options_for_select(available_locales, I18n.locale)

  - if defined?(copy)
    .ui-footer-copy
      %a{href: '/release'}
        %b{style: "font-weight: 600;font-family: \"Open Sans\";font-size: 16px; color: #f3f3f3"}
          = "Madek"
        %span.version
          = version_name

      = " — "
      = copy[:text]
