%footer.app-footer.ui-footer.ui-container.inverted

  - if defined?(menu) && menu.is_a?(Array)
    -# strange but JSON-safe format: `[{"Example Link" => "http://example.com"}]`
    - menu = Hash[menu.map {|item| item.to_a.first}]

    %ul.ui-footer-menu
      - menu.map do |text, link|
        %li
          = component('link', href: link) do
            = text

  - if defined?(copy)
    .ui-footer-copy
      %a{href: '/release'}
        %b{style: "font-weight: 600;font-family: \"Open Sans\";font-size: 16px; color: #f3f3f3"}
          = "Madek"
        = version

      = " — "
      = copy[:text]
