:ruby
  action ||= props[:action].presence || nil
  body ||= body.presence || block_content.presence || nil
  head ||= head.presence
  footer ||= footer.presence

  unless body
    fail 'ui: missing content!'
  end


- form_content = capture_haml do
  - if head
    .form-head
      = head

  .form-body
    = body

  - if footer
    .form-footer
      = footer

-# wrap using form helper if 'action' was supplied

- if action
  = form_tag(action, props) do
    = form_content
- else
  %div{props}
    = form_content
