%header.ui-header.ui-container.inverted

  - if defined? brand
    .ui-header-brand
      - brand_content = capture do
        - if (logo = brand[:logo])
          %img.ui-header-logo{alt: logo[:alt], src: logo[:src]}/
        %h1.ui-header-brand-name= brand[:name]
        %h2.ui-header-instance-name= brand[:instance_name]

      - if brand[:href].nil?
        = brand_content
      - else
        %a{href: brand[:href]}
          = brand_content

  - if defined? menu
    .ui-header-menu
      = menu

  - if defined? user
    .ui-header-user
      = user
