%header.ui-header.ui-container.inverted

  - if defined? brand
    .ui-header-brand
      - if (logo = brand[:logo])
        %a.ui-header-logo{href: brand[:href], style: "background-image: url(#{logo[:src].html_safe})"}
      .ui-header-brand-text
        %h1.ui-header-instance-name
          %a{href: brand[:href]}
            = brand[:instance_name]
        %h2.ui-header-brand-name
          %a{href: brand[:href]}
            = brand[:name]
      %a.stretched-link{href: brand[:href]}

  - if defined? menu
    .ui-header-menu
      = menu

  - if defined? user
    .ui-header-user
      = user
