:ruby
  return unless list

%table.ui-workgroups.bordered.block
  %tbody
    - list.each do |id, group|
      %tr{"data-id" => id}

        %td.ui-workgroup-name
          = group[:name]

        %td.ui-workgroup-items
          - if (res = group[:resources]).present?
            = component('link', :link => res[:link], :title => t(:workgroup_link_to_contents_title)) do
              = "#{res[:count]} #{t(:workgroup_link_to_contents_text)}"

        - if (actions = group[:actions]).present?
          %td.ui-workgroup-actions
            - actions = [actions] unless actions.is_a?(Array)
            - actions.each do |action|
              = action
