%tr
  %td
    = link_to filter_set_path(filter_set) do 
      #{filter_set.id}
  %td
    = link_to app_admin_user_path(filter_set.user) do
      = filter_set.user.to_s
  %td= truncate(filter_set.title,length: 40)
  %td= filter_set.userpermissions.count
  %td= filter_set.grouppermissions.count
  %td= filter_set.created_at
  %td
    = link_to app_admin_filter_set_path(filter_set), method: :delete, data: {confirm: "Are you sure you want to delete this filter set?"}, class: "btn btn-xs btn-danger" do
      %i.icon-trash
      Delete
