%tr{ data: { id: media_entry.id } }
  %td= media_entry.title
  %td= media_entry.responsible_user.person
  %td
    = link_to media_entry.media_file.id, admin_media_file_path(media_entry.media_file)
  %td= media_entry.id
  %td= media_entry.created_at
  %td.active
    .btn-group
      = link_to admin_media_entry_path(media_entry), class: 'btn btn-default btn-sm' do
        %i.glyphicon.glyphicon-eye-open
      / # = render partial: 'action_buttons', locals: {group: group, size: 'btn-sm' }
