.page-header
  %h1
    %i.icon-media-entry
    Media Entry: #{@media_entry.title}

.row
  .col-xs-12
    %table.table.table-striped
      %thead
      %tbody
        - @media_entry.attributes.each do |attr|
          %tr
            %td
              %strong= attr.first.humanize
            %td= attr.last
        %tr
          %td
            %strong Media-File
          %td
            = link_to admin_media_file_path(@media_entry.media_file) do
              Media-File: #{@media_entry.media_file.id}
