.filter_box
  %h3.filter_category.filter_header.clearfix
    %span.ui-icon.ui-icon-triangle-1-e
    = link_to "Medieneinträge filtern", "#", :class => "filter_category_link"
  .filter_content
    %form{:action => search_path, :method => :get}
      = hidden_field_tag "query", @search_term
      = hidden_field_tag "klass", type
      - unless media.empty?
        #filter-query.basic
          %div
            - if type == :media_entries
              %h3.filter_category.clearfix
                %span.ui-icon.ui-icon-triangle-1-e
                = link_to "Medientyp und Format", "#", :class => "filter_category_link"
                = link_to "(zurücksetzen)", "#", :class => "reset_filter"
              .filter_content
                -#TODO# media_types = media.map {|m| m.media_type }.uniq # only applicable media types and their dependent filters should be displayed
                -#TODO# we need some sort of config to map media_types to their dependent filters, i.e. {:image => [:orientation, :width, :height]}
                - media_type_params = filter.options[:with][:media_type]
                %h3.filter_subcategory.filter_category.clearfix
                  %span.input_wrapper
                    = check_box_tag "#{type}[media_type][]", "Image", media_type_params && media_type_params.include?("Image".to_crc32)
                    Bild
                  = link_to "Details", "#", :class => "filter_category_link"
                  %span.ui-icon.ui-icon-triangle-1-e
                .filter_content
                  %ul
                    - orientation_params = filter.options[:with][:orientation]
                    %li
                      = label_tag "#{type}[orientation][0]", "Querformat"
                      = check_box_tag "#{type}[orientation]", '0', orientation_params && orientation_params == "0"
                    %li
                      = label_tag "#{type}[orientation][1]", "Hochformat"
                      = check_box_tag "#{type}[orientation]", '1', orientation_params && orientation_params == "1"
                  %ul
                    - width_params, height_params = filter.filters[:width], filter.filters[:height]
                    %li
                      = label_tag "#{type}[width][value]", "Breite"
                      = select_tag "#{type}[width][operator]", options_for_select({'ist genau' => 'is', 'grösser als' => 'gt', 'kleiner als' => 'lt'}, :selected => width_params ? width_params[:operator] : ""), :include_blank => true
                      = text_field_tag "#{type}[width][value]", width_params ? width_params[:value] : nil, :size => 10
                    %li
                      = label_tag "#{type}[height][value]", "Höhe"
                      = select_tag "#{type}[height][operator]", options_for_select({'ist genau' => 'is', 'grösser als' => 'gt', 'kleiner als' => 'lt'}, :selected => height_params ? height_params[:operator] : ""), :include_blank => true
                      = text_field_tag "#{type}[height][value]", height_params ? height_params[:value] : nil, :size => 10
            = display_meta_data_checkboxes(media, "keywords", filter, "Schlagworte")
            - if type == :media_entries
              = display_meta_data_checkboxes(media, "type", filter, "Gattung")
              = display_meta_data_checkboxes(media, "academic year", filter, "Studienjahr")
              = display_meta_data_checkboxes(media, "project type", filter, "Projekttyp")
              = display_meta_data_checkboxes(media, "institutional affiliation", filter, "Bereich ZHdK")
          .filter_footer
            = submit_tag _("Filter anwenden"), :title => "Filtern", :id => 'search-submit', :name => nil
            - if @active_bookmark
              %p= link_to "Alle Filter zurücksetzen", search_path(:query => @search_term)