.pagination.loading{:style => "display: none;"}
  &nbsp;
.clear.loading{:style => "display: none;"}
- PER_PAGE.first.times do
  .item_box.loading{:style => "display: none;"}
    .thumb_box
 
%script{:type => "text/x-jquery-tmpl", :id => "#{type}_pagination"}
  .pagination
    ${total_entries} #{type.to_s.capitalize},
    Seite ${current_page} von ${total_pages}
  .clear

%script{:type => "text/x-jquery-tmpl", :id => "#{type}_index"}
  %div.item_box{:id => "thumb_${id}"}
    %div.item_permission
      {{if is_public}}
      = theme_image_tag("icons/button_status_private.png")
      {{else is_private}}
      = theme_image_tag("icons/icon_button_perm.png")
      {{/if}}
    %div.thumb_box_set
      %a{:href => "/media_sets/${id}"}
        %img{:src => "${thumb_base64}"}
    %p.item_title
      ${title.substring(0,50)}
    %p.item_author
      ${author.substring(0,50)}
    .actions
      .action_right
        {{if is_editable}}
        %a{:href => "/media_sets/${id}/edit", :title => "Editieren"}
          = theme_image_tag("icons/button_edit_active.png")
        {{else}}
        = theme_image_tag("icons/button_edit_inactive.png")
        {{/if}}
        {{if is_manageable}}
        %a{:href => "/media_sets/${id}", :title => "Löschen", :class => "delete_me", :"data-method" => :delete, :"data-remote" => true, :"data-type" => 'json', :"data-confirm" => "Sind Sie sicher?"}
          = theme_image_tag("icons/button_delete_active.png")
        {{else}}
        = theme_image_tag("icons/button_delete_inactive.png")
        {{/if}}

:javascript
  $(document).ready(function () {
    display_set_results(#{json}, "#{type}_results");
  });
  
  function display_set_results(json, container) {
      var container = container ? $("#" + container) : $("#results");
    	var loading = container.find(".loading");
    	var pagination = json.pagination;
    	var loaded_page = 1;
    	
    	function display_entries(entries){
    		loading.fadeOut('slow', function(){ $(this).detach(); });
    		container.append($("#set_pagination").tmpl(pagination).fadeIn('slow'));
    		$.each(entries, function(i, elem) {
    			$("#"+"#{type}_index").tmpl(elem).data('object', elem).appendTo(container).fadeIn('slow');
    		});
    		container.append("<div class='clear' />");
    	}
    	
    	$(window).scroll(function(){
    	  var next_page = (pagination.total_pages > pagination.current_page ? pagination.current_page + 1 : 0);
    	  if(next_page > loaded_page && $(window).height() + $(window).scrollTop() == $(document).height()){
    	    loaded_page = next_page;
    	    $.ajax({
    	      data: {page: next_page},
    	    	dataType: 'json',
    	      beforeSend: function(){
    		  	  loading.appendTo(container).fadeIn('slow');
    	      }, 
    	      success: function(response){
    	        pagination = response.pagination;
    			    display_entries(response.entries);
    	      }
    	    });
    	  }
    	});

    	display_entries(json.entries);
    	$(window).scrollTop(0).trigger('scroll');
  };
