:css
  .page_title_left #term {font-weight: normal; font-size: 0.7em; line-height: 1.4em; margin-top: 0.2em; font-family: serif; font-style: italic; color: #666;}
  .filter_area { width: 18%; margin-right: 3%; float:left; }
  .result_area { width: 77%; float:left; }
  .filter_box { border: 1px solid #2E2430; margin-top: 3.5em; }
  
  .filter_box h3.filter_category { background: #D8F8BF; padding: 4px;}
  .filter_box h3.filter_header, .filter_box .filter_footer { background: #AEBA9B; }
  .filter_box h3.filter_subcategory { background: none; padding: 8px 12px; }
  .filter_box h3 span.ui-icon { float: left; } 
  .filter_box a.filter_category_link { font-size: 0.7em; float:left; }
  .filter_box a.reset_filter { font-size: 0.5em; font-weight: normal; float:left; margin-left: 3px;}
  .filter_box h3.filter_subcategory a.filter_category_link, 
  .filter_box h3.filter_subcategory span.ui-icon {
    float: right;
   }
  .filter_box h3.filter_subcategory span.input_wrapper { float: left; font-size: 0.7em; font-weight: normal;}
  .filter_box .filter_content ul {margin: 5px 10px;}
  
  .filter_box h4 { font-size: 1.2em; }
  .filter_box #filter-query ul { margin-bottom: 1em;}
  .filter_box #filter-query ul li { padding: 4px 0; float: none; }
  .filter_box input[type="checkbox"] { position:relative; top: -3px; margin-right: 3px; }
  .filter_box .filter_footer { text-align: center; padding: 4px;}
  .filter_box .filter_footer p {margin: 8px 0 0;}


%section#content_body
  .page_title_left
    =_("Suchergebnisse")
    #term
      für &quot;
      = @search_term
      &quot;
  .clear
  - if [@media_entries, @media_sets, @projects].all? {|x| x.nil? }
    = "Ihre Suche nach “#{@search_term}” hat keine Resultate ergeben."
  - else 
    #detail_specification.tabs
      %ul
        %li
          = link_to "Medieneinträge (#{@media_entries.total_entries})", "#media_entry_tab"
        %li
          = link_to "Sets (#{@media_sets.total_entries})", "#set_tab" 
        %li
          = link_to "Projekte (#{@projects.total_entries})", "#project_tab"
      #media_entry_tab.clearfix 
        - if @media_entries.length > 1
          .filter_area
            = render :partial => 'filter_form', :locals => {:media => @media_entries, :filter => @media_entry_filter, :type => :media_entries }
        %div{:id => "media_entry_results", :class => @media_entries.length > 1 ? "result_area" : "" }
          = render :partial => 'media_entry_results', :locals => { :json => @media_entries_json }
      #set_tab.clearfix   
        - if @media_sets.length > 1
          .filter_area
            = render :partial => 'filter_form', :locals => {:media => @media_sets, :filter => @media_set_filter, :type => :media_sets }
        %div{:id => "set_results", :class => @media_sets.length > 1 ? "result_area" : "" }
          = render :partial => 'media_set_results', :locals => { :type => :set, :json => @media_sets_json }
      #project_tab.clearfix  
        - if @projects.length > 1
          .filter_area
            = render :partial => 'filter_form', :locals => {:media => @projects, :filter => @project_filter, :type => :projects }
        %div{:id => "project_results", :class => @projects.length > 1 ? "result_area" : "" }
          = render :partial => 'media_set_results', :locals => { :type => :project,  :json => @projects_json }
          
:javascript

  $(document).ready(function () { 

    var $tabs = $('#detail_specification').tabs();
    var active_filter = '#{@active_bookmark}';
    if (active_filter != '') $tabs.tabs('select', active_filter);
    
    $('.filter_box h3.filter_category a.filter_category_link').click(function() {
      var icon = $(this).siblings('span.ui-icon');
      var to_toggle = $(this).parent().next('.filter_content');

    	to_toggle.toggle();
    	if (to_toggle.is(":visible")) {
    	  icon.removeClass('ui-icon-triangle-1-e').addClass('ui-icon-triangle-1-s');
    	} else {
    	  icon.removeClass('ui-icon-triangle-1-s').addClass('ui-icon-triangle-1-e');
    	};
    	return false;
    }).parent().next('.filter_content').hide();
    
  
  });