:css
  .filter_bar {}
  .filter_bar h4 { font-size: 1.2em; }
  .filter_bar #filter-query ul {margin-bottom: 1em;}
  .filter_bar #filter-query ul li {float: left; margin-right: 1em;}

%section#content_body_fav
  .page_title_left
    =_("Suchergebnisse")
  .clear
  .filter_bar
    %h4
      = "Medieneinträge (#{get_result_count(@facets, "MediaEntry")}) / Sets (#{get_result_count(@facets, "Media::Set")})"
    %form{:action => search_path, :method => :get}
      #filter-query.basic
        %div
          %ul.clearfix
            %li
              = label_tag 'filter[width][value]', "Width"
              = select_tag 'filter[width][operator]', options_for_select([['is exactly', 'is'], ['greater than', 'gt'], ['less than', 'lt']])
              = text_field_tag 'filter[width][value]', nil, :size => 10
            %li
              = label_tag 'filter[height][value]', "Height"
              = select_tag 'filter[height][operator]', options_for_select([['is exactly', 'is'], ['greater than', 'gt'], ['less than', 'lt']])
              = text_field_tag 'filter[height][value]', nil, :size => 10    
          %ul.clearfix 
            %li
              = label_tag 'filter[orientation][horizontal]', "Querformat"
              = radio_button_tag 'filter[orientation]', 'horizontal'
            %li
              = label_tag 'filter[orientation][vertical]', "Hochformat"
              = radio_button_tag 'filter[orientation]', 'vertical'
        %div
          = submit_tag _("Suchen"), :title => "Suchen", :id => 'search-submit', :name => nil
          
  #results
    .pagination.loading{:style => "display: none;"}
      &nbsp;
    .clear.loading{:style => "display: none;"}
    - PER_PAGE.first.times do
      .item_box.loading{:style => "display: none;"}
        .thumb_box
  
  %script{:type => "text/x-jquery-tmpl", :id => "pagination"}
    .pagination
      ${total_entries} Medieneinträge,
      Seite ${current_page} von ${total_pages}
    .clear
    
  %script{:type => "text/x-jquery-tmpl", :id => "media_entry_index"}
    %div.item_box{:id => "thumb_${id}"}
      %div.item_permission
        {{if is_public}}
        = theme_image_tag("icons/button_status_private.png")
        {{else is_private}}
        = theme_image_tag("icons/icon_button_perm.png")
        {{/if}}
      {{if is_set}}
      %div.thumb_box_set
        %a{:href => "/media_sets/${id}"}
          %img{:src => "${thumb_base64}"}
      {{else}}
      %div.thumb_box
        %a{:href => "/media_entries/${id}"}
          %img{:src => "${thumb_base64}"}
      {{/if}}
      %p.item_title
        ${title.substring(0,50)}
      %p.item_author
        ${author.substring(0,50)}
      .actions
        .action_left
          /%input{:type => "checkbox", :value => "${id}", :title => "Auswählen", :class => "editable"}
          {{if !is_set}}
          %span.check_box.off
            = theme_image_tag("icons/button_checkbox_off.png", :alt => _("Auswählen"))
          %span.favorite_link{:id => "fav_${id}", :title => "Favorit"}
            %a{:href => "/media_entries/${id}/toggle_favorites", :"data-remote" => true, :"data-type" => "html", :"data-method" => :post}
              {{if is_favorite}}
              = theme_image_tag("icons/button_favorit_on.png")
              {{else}}
              = theme_image_tag("icons/button_favorit_off.png")
              {{/if}}
          {{/if}}
        .action_right
          /url = resource.is_a?(MediaEntry) ? edit_media_entry_path(resource) : edit_media_set_path(resource)
          {{if is_editable}}
          %a{:href => "/media_entries/${id}/edit", :title => "Editieren"}
            = theme_image_tag("icons/button_edit_active.png")
          {{else}}
          = theme_image_tag("icons/button_edit_inactive.png")
          {{/if}}
          {{if is_manageable}}
          /confirm = resource.is_a?(MediaEntry) ? "Sind Sie sicher?" : "Sind Sie sicher? Das Set wird gelöscht."
          %a{:href => "/media_entries/${id}", :title => "Löschen", :class => "delete_me", :"data-method" => :delete, :"data-remote" => true, :"data-type" => 'json', :"data-confirm" => "Sind Sie sicher?"}
            = theme_image_tag("icons/button_delete_active.png")
          {{else}}
          = theme_image_tag("icons/button_delete_inactive.png")
          {{/if}}
    
    
= theme_javascript_include_tag "batch_actions"
    
:javascript
  $(document).ready(function () {
    display_results(#{@json});    
  });
