<% kss_block '6.1' do %>
  <div class="ui-container $modifier-class" style="height:80px">
  </div>
<% end %>

<% kss_block '6.2' do %>
<ul class="ui-side-navigation">
  <li class="ui-side-navigation-item">
    <a class="strong" href="#">Katalog</a>
  </li>
  <ul class="ui-side-navigation-lvl2">
    <li class="ui-side-navigation-lvl2-item">
      <a class="weak" href="#">ZHdK Bereich</a>
    </li>
    <li class="ui-side-navigation-lvl2-item active">
      <a class="weak" href="#">Gattung</a>
      <ul class="ui-side-navigation-lvl3">
        <li class="ui-side-navigation-lvl3-item">
          <a class="weak" href="#">Architektur</a>
        </li>
        <li class="ui-side-navigation-lvl3-item">
          <a class="weak" href="#">Design</a>
        </li>
        <li class="ui-side-navigation-lvl3-item">
          <a class="weak" href="#">Film</a>
        </li>
        <li class="ui-side-navigation-lvl3-item">
          <a class="weak" href="#">Fotografie</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-navigation-lvl2-item">
      <a class="weak" href="#">Projekttyp</a>
    </li>
  </ul>
  <li class="separator mini"></li>
  <li class="ui-side-navigation-item">
    <a class="strong" href="#">Interessante Inhalte</a>
  </li>
  <li class="separator mini"></li>
  <li class="ui-side-navigation-item">
    <a class="strong" href="#">Neue Inhalte</a>
  </li>
  <li class="separator mini"></li>
  <li class="ui-side-navigation-item">
    <a class="strong" href="#">Häufige Schlagworte</a>
  </li>
  <li class="separator mini"></li>
</ul>
<% end %>

<% kss_block '6.3' do %>
<ul class="ui-tag-cloud $modifier-class">
  <li class="ui-tag-cloud-item"><a href="#" class="ui-tag-button"><i class="icon-eye ui-tag-icon"></i> Tag 1 <span class="ui-tag-counter">5</span></a></li>
  <li class="ui-tag-cloud-item"><a href="#" class="ui-tag-button">Tag 2</a></li>
  <li class="ui-tag-cloud-item"><a href="#" class="ui-tag-button"><i class="icon-eye ui-tag-icon"></i>Tag 3 <span class="ui-tag-counter">237</span></a></li>
</ul>
<% end %>

<% kss_block '6.4' do %>
<ul class="ui-tabs $modifier-class">
  <li class="ui-tabs-item"><a href="#">Item 1</a></li>
  <li class="ui-tabs-item active"><a href="#">Item 2</a></li>
</ul>
<% end %>

<% kss_block '6.5' do %>
<div class="ui-resources-header">
  <h2 class="title-l ui-resources-title">A filter 
  <div class="button-group small">
    <button class="button active">Alle</button>
    <button class="button">Medientr&auml;ge</button>
    <button class="button">Sets</button>
  </div>
  <a href="#" class="strong">Alle anzeigen</a></h2>
  <p class="paragraph-l ui-resources-intro">Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
</div>
<% end %>

<% kss_block '6.6' do %>
<div class="ui-body-title">
  <div class="ui-body-title-label">
    <h1 class="title-xl">Page header that could possibly go onto two lines but will not because of the overlay.</h1>
  </div>
  <div class="ui-body-title-actions">
    <a href="#" class="primary-button">Primary button</a>
    <a href="#" class="button">Secondary button</a>
  </div>
</div>
<% end %>

<% kss_block '6.7' do %>
  <div class="ui-alerts">
    <div class="ui-alert $modifier-class">Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere.</div>
  </div>
<% end %>

<% kss_block '6.8' do %>
<div class="ui-preloader $modifier-class">
  Loading in progress
</div>
<% end %>

<% kss_block '6.9' do %>
<div class="ui-slider">
  <a class="ui-slider-handle"><span class="ui-slider-info ui-container inverted">8 von 14</span></a>
</div>
<% end %>

<% kss_block '6.10' do %>
<div class="ui-modal $modifier-class">
  <div class="ui-modal-head">
    <h3 class="title-l">ui-modal Title</h3>
    <a class="modal-close ui-modal-close" aria-hidden="true" data-dismiss="modal" title="Close"></a>
  </div>
  <div class="ui-modal-toolbar top">
    ui-toolbar content if any
  </div>
  <div class="ui-modal-body">
    ui-modal Body
  </div>
  <div class="ui-modal-toolbar bottom">
    ui-toolbar content if any
  </div>
  <div class="ui-modal-footer">
    <div class="ui-actions">
      <a class="link weak">Secondary Action</a>
      <a class="primary-button">Primary Action</a>
    </div>
  </div>
</div>
<% end %>

<% kss_block '6.11', :padding_bottom => "100", :padding_left => "150", :padding_right => "150", :padding_top => "100" do %>

<div class="dropdown ui-dropdown $modifier-class">
  <a class="dropdown-toggle ui-drop-toggle" data-toggle="dropdown" href="#">Drop-down Toggle</a>
  <ul class="dropdown-menu ui-drop-menu" role="menu" aria-labelledby="dLabel">
    <li class="ui-drop-item"><a href="#"><i class="icon-star mid ui-drop-icon"></i>Item 1</a></li>
    <li class="ui-drop-item"><a href="#">Item 2</a></li>
    <li class="separator"></li>
    <li class="ui-drop-item"><a href="#">Item 3</a></li>
  </ul>
</div>

<div class="dropdown ui-dropup $modifier-class">
  <a class="dropdown-toggle ui-drop-toggle" data-toggle="dropdown" href="#">Drop-up Toggle</a>
  <ul class="dropdown-menu ui-drop-menu" role="menu" aria-labelledby="dLabel">
    <li class="ui-drop-item"><a href="#"><i class="icon-star mid ui-drop-icon"></i>Item 1</a></li>
    <li class="ui-drop-item"><a href="#">Item 2</a></li>
    <li class="separator"></li>
    <li class="ui-drop-item"><a href="#">Item 3</a></li>
  </ul>
</div>

<% end %>

<% kss_block '6.12' do %>
  <div class="ui-thumbnail-actions">
    <ul class="left by-left">
      <li class="ui-thumbnail-action"><a class="ui-thumbnail-action-checkbox">Select</a></li>
      <li class="ui-thumbnail-action"><a class="ui-thumbnail-action-favorite">Favorite</a></li>
    </ul>
    <ul class="right by-right">
      <li class="ui-thumbnail-action"><a class="ui-thumbnail-action-browse">Select</a></li>
      <li class="ui-thumbnail-action"><a class="ui-thumbnail-action-edit">Select</a></li>
      <li class="ui-thumbnail-action"><a class="ui-thumbnail-action-delete">Select</a></li>
    </ul>
  </div>
<% end %>

<% kss_block '6.13' do %>
<div class="ui-metadata-box">
  <h3 class="title-m separated light mbs pbs">Horizontlinie</h3>
  <ol>
    <li class="odd">Agglomeration</li>
    <li class="even">Bucht</li>
    <li class="odd">Ebene</li>
    <li class="even">Erholungszone</li>
    <li class="odd">Something very very long that could break</li>
    <li class="even">Short</li>
    <li class="odd">Landwirtschaft</li>
    <li class="even">Naturlandschaft</li>
  </ol>
</div>
<% end %>

<% kss_block '6.14' do %>
  <dl class="ui-media-overview-metadata ui-metadata-box">
    <dt class="media-data-title title-xs-alt">Titel</dt>
    <dd class="media-data-content title-l">Die Eismalerin</dd>
    <dt class="media-data-title title-xs-alt">Untertitel</dt>
    <dd class="media-data-content">Installationsansicht</dd>
    <dt class="media-data-title title-xs-alt">Autor/in</dt>
    <dd class="media-data-content">
      <a href="#">Stemmle, Janka</a>
    </dd>
    <dt class="media-data-title title-xs-alt">Datierrung</dt>
    <dd class="media-data-content">2012</dd>
    <dt class="media-data-title title-xs-alt">Schlagworte zu Inhalt und Motiv</dt>
    <dd class="media-data-content">
      <ul class="ui-tag-cloud small">
        <li class="ui-tag-cloud-item">
          <a href="#" class="ui-tag-button">Tag 1</a>
        </li>
        <li class="ui-tag-cloud-item">
          <a href="#" class="ui-tag-button">Tag 2</a>
        </li>
      </ul>
    </dd>
    <dt class="media-data-title title-xs-alt">Rechte am geistigen Eigentum</dt>
    <dd class="media-data-content">ZHdK DKM VMK</dd>
    <dt class="media-data-title title-xs-alt">Privacy</dt>
    <dd class="media-data-content">
      This entry is public
      <i class="icon-privacy-public"></i>
    </dd>
    <dt class="media-data-title title-xs-alt">Eigentumer/in im Medienarchiv</dt>
    <dd class="media-data-content">
      <a href="#">Rüegger, Romy</a>
    </dd>
  </dl>
<% end %>

<% kss_block '6.15' do %>
<div class="ui-actions">
  <a class="link weak">Secondary Action</a>
  <a class="primary-button">Primary Action</a>
</div>
<% end %>

<% kss_block '6.16' do %>
<div class="ui-stepline">
  <div class="ui-stepline-item">
    <h3 class="title-s ui-stepline-item-title">
      <small>
        1 of 4
      </small>
      Medien übertragen
    </h3>
  </div>
  <div class="ui-stepline-item">
    <h3 class="title-s ui-stepline-item-title">
      <small>
        2 of 4
      </small>
      Berechtigungen setzen
    </h3>
  </div>
  <div class="ui-stepline-item active">
    <h3 class="title-s ui-stepline-item-title">
      <small>
        3 of 4
      </small>
      Metadaten ergänzen
    </h3>
  </div>
  <div class="ui-stepline-item">
    <h3 class="title-s ui-stepline-item-title">
      <small>
        4 of 4
      </small>
      Medien zusammenstellen
    </h3>
  </div>
</div>
<% end %>

<% kss_block '6.17' do %>
<div class="ui-thumbnail media-catalog">
  <div class="ui-thumbnail-privacy">
    <i class="icon-privacy-open">This media is Public</i>
  </div>
  <a class="ui-thumbnail-image-wrapper">
    <div class="ui-thumbnail-image-holder">
      <div class="ui-thumbnail-table-image-holder">
        <div class="ui-thumbnail-cell-image-holder">
          <div class="ui-thumbnail-inner-image-holder">
            <%= image_tag "styleguide/media-entry-6.jpeg", :class => "ui-thumbnail-image" %>
          </div>
        </div>
      </div>
    </div>
  </a>
  <div class="ui-thumbnail-meta">
    <h3 class="ui-thumbnail-meta-title">Name that can easily go onto 2 lines so lets try make it so shall we.</h3>
    <p class="ui-thumbnail-meta-subtitle">Author that can easily go onto 2 lines as well so how about seeing how it works then?</p>
    <span class="ui-thumbnail-meta-extension">500</span>
  </div>
</div>

<div class="ui-thumbnail media-catalog">
  <div class="ui-thumbnail-privacy">
    <i class="icon-privacy-open">This media is Public</i>
  </div>
  <a class="ui-thumbnail-image-wrapper">
    <div class="ui-thumbnail-image-holder">
      <div class="ui-thumbnail-table-image-holder">
        <div class="ui-thumbnail-cell-image-holder">
          <div class="ui-thumbnail-inner-image-holder">
            <%= image_tag "thumbnails/document.png.png", :class => "ui-thumbnail-image" %>
          </div>
        </div>
      </div>
    </div>
  </a>
  <div class="ui-thumbnail-meta">
    <h3 class="ui-thumbnail-meta-title">Name that can easily go onto 2 lines so lets try make it so shall we.</h3>
    <p class="ui-thumbnail-meta-subtitle">Author that can easily go onto 2 lines as well so how about seeing how it works then?</p>
    <span class="ui-thumbnail-meta-extension">500</span>
  </div>
</div>
<% end %>

<% kss_block '6.18' do %>
  <%= image_tag "styleguide/media-entry-1.png", :class => "ui-thumbnail micro", :alt => "ZHdK" %>
  <%= image_tag "thumbnails/audio_small.wav.png", :class => "ui-thumbnail micro", :alt => "wav" %>
<% end %>

<% kss_block '6.19' do %>
<div class="ui-resource-thumbnail">
  <div class="ui-thumbnail media-entry video">
    <div class="ui-thumbnail-privacy">
      <i class="icon-privacy-private">This media is private</i>
    </div>
    <a class="ui-thumbnail-image-wrapper">
      <div class="ui-thumbnail-image-holder">
        <div class="ui-thumbnail-table-image-holder">
          <div class="ui-thumbnail-cell-image-holder">
            <div class="ui-thumbnail-inner-image-holder">
              <%= image_tag "styleguide/media-entry-4.jpeg", :class => "ui-thumbnail-image" %>
            </div>
          </div>
        </div>
      </div>
    </a>
    <div class="ui-thumbnail-meta">
      <h3 class="ui-thumbnail-meta-title">Name that can easily go onto 2 lines</h3>
      <h4 class="ui-thumbnail-meta-subtitle">Author that can easily go onto 2 lines as well</h4>
    </div>
    <div class="ui-thumbnail-actions">
      <ul class="left by-left">
        <li class="ui-thumbnail-action"><a class="ui-thumbnail-action-checkbox">Select</a></li>
        <li class="ui-thumbnail-action"><a class="ui-thumbnail-action-favorite">Favorite</a></li>
      </ul>
      <ul class="right by-right">
        <li class="ui-thumbnail-action"><a class="ui-thumbnail-action-browse">Browse</a></li>
        <li class="ui-thumbnail-action"><a class="ui-thumbnail-action-edit">Edit</a></li>
        <li class="ui-thumbnail-action"><a class="ui-thumbnail-action-delete">Delete</a></li>
      </ul>
    </div>
    <div class="ui-thumbnail-dropdown">
      <div class="dropdown ui-dropdown">
        <a class="dropdown-toggle button block ui-drop-toggle" data-toggle="dropdown" href="#">Aktionen</a>
        <ul class="dropdown-menu ui-drop-menu" role="menu" aria-labelledby="dLabel">
          <li class="ui-drop-item"><a href="#">Item 1</a></li>
          <li class="ui-drop-item"><a href="#">Item 2</a></li>
          <li class="separator"></li>
          <li class="ui-drop-item"><a href="#">Item 3</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="ui-thumbnail filter-set">
  <div class="ui-thumbnail-level-up-items">
    <span class="ui-thumbnail-level-notes">Keine übergeordneten Sets</span>
  </div>
  <div class="ui-thumbnail-privacy">
    <i class="icon-privacy-group">This media is shared with a group</i>
  </div>
  <a class="ui-thumbnail-image-wrapper">
    <div class="ui-thumbnail-image-holder">
      <div class="ui-thumbnail-table-image-holder">
        <div class="ui-thumbnail-cell-image-holder">
          <div class="ui-thumbnail-inner-image-holder">
            <%= image_tag "styleguide/media-entry-6.jpeg", :class => "ui-thumbnail-image" %>
          </div>
        </div>
      </div>
    </div>
  </a>
  <div class="ui-thumbnail-meta">
    <h3 class="ui-thumbnail-meta-title">Name that can easily go onto 2 lines</h3>
    <h4 class="ui-thumbnail-meta-subtitle">Author that can easily go onto 2 lines as well</h4>
  </div>
  <div class="ui-thumbnail-actions">
    <ul class="left by-left">
      <li class="ui-thumbnail-action"><a class="ui-thumbnail-action-checkbox">Select</a></li>
      <li class="ui-thumbnail-action"><a class="ui-thumbnail-action-favorite">Favorite</a></li>
    </ul>
    <ul class="right by-right">
      <li class="ui-thumbnail-action"><a class="ui-thumbnail-action-browse">Browse</a></li>
      <li class="ui-thumbnail-action"><a class="ui-thumbnail-action-edit">Edit</a></li>
      <li class="ui-thumbnail-action"><a class="ui-thumbnail-action-delete">Delete</a></li>
    </ul>
  </div>
  <div class="ui-thumbnail-dropdown">
    <div class="dropdown ui-dropdown">
      <a class="dropdown-toggle button block ui-drop-toggle" data-toggle="dropdown" href="#">Aktionen</a>
      <ul class="dropdown-menu ui-drop-menu" role="menu" aria-labelledby="dLabel">
        <li class="ui-drop-item"><a href="#">Item 1</a></li>
        <li class="ui-drop-item"><a href="#">Item 2</a></li>
        <li class="separator"></li>
        <li class="ui-drop-item"><a href="#">Item 3</a></li>
      </ul>
    </div>
  </div>
  <div class="ui-thumbnail-level-down-items">
    <h3 class="ui-thumbnail-level-notes">Set enthalt</h3>
    <ul class="ui-thumbnail-level-items">
      <li class="ui-thumbnail-level-item odd">
        <a href="#" title="Set name" class="ui-level-image-wrapper">
          <div class="ui-thumbnail-level-image-holder">
            <%= image_tag "styleguide/media-entry-6.jpeg", :class => "ui-thumbnail-level-image" %>
          </div>
        </a>
      </li>
      <li class="ui-thumbnail-level-item even">
        <a href="#" title="Set name" class="ui-level-image-wrapper">
          <div class="ui-thumbnail-level-image-holder">
            <%= image_tag "styleguide/media-entry-6.jpeg", :class => "ui-thumbnail-level-image" %>
          </div>
        </a>
      </li>
    </ul>
    <span class="ui-thumbnail-level-notes">5 Inhalte</span>
  </div>
</div>

<div class="ui-thumbnail media-set">
  <div class="ui-thumbnail-level-up-items">
    <span class="ui-thumbnail-level-notes">Keine übergeordneten Sets</span>
  </div>
  <div class="ui-thumbnail-privacy">
    <i class="icon-privacy-group">This media is shared with a group</i>
  </div>
  <a class="ui-thumbnail-image-wrapper">
    <div class="ui-thumbnail-image-holder">
      <div class="ui-thumbnail-table-image-holder">
        <div class="ui-thumbnail-cell-image-holder">
          <div class="ui-thumbnail-inner-image-holder">
            <%= image_tag "thumbnails/document.png.png", :class => "ui-thumbnail-image" %>
          </div>
        </div>
      </div>
    </div>
  </a>
  <div class="ui-thumbnail-meta">
    <h3 class="ui-thumbnail-meta-title">Name that can easily go onto 2 lines</h3>
    <h4 class="ui-thumbnail-meta-subtitle">Author that can easily go onto 2 lines as well</h4>
  </div>
  <div class="ui-thumbnail-actions">
    <ul class="left by-left">
      <li class="ui-thumbnail-action"><a class="ui-thumbnail-action-checkbox">Select</a></li>
      <li class="ui-thumbnail-action"><a class="ui-thumbnail-action-favorite">Favorite</a></li>
    </ul>
    <ul class="right by-right">
      <li class="ui-thumbnail-action"><a class="ui-thumbnail-action-browse">Browse</a></li>
      <li class="ui-thumbnail-action"><a class="ui-thumbnail-action-edit">Edit</a></li>
      <li class="ui-thumbnail-action"><a class="ui-thumbnail-action-delete">Delete</a></li>
    </ul>
  </div>
  <div class="ui-thumbnail-dropdown">
    <div class="dropdown ui-dropdown">
      <a class="dropdown-toggle button block ui-drop-toggle" data-toggle="dropdown" href="#">Aktionen</a>
      <ul class="dropdown-menu ui-drop-menu" role="menu" aria-labelledby="dLabel">
        <li class="ui-drop-item"><a href="#">Item 1</a></li>
        <li class="ui-drop-item"><a href="#">Item 2</a></li>
        <li class="separator"></li>
        <li class="ui-drop-item"><a href="#">Item 3</a></li>
      </ul>
    </div>
  </div>
  <div class="ui-thumbnail-level-down-items">
    <h3 class="ui-thumbnail-level-notes">Set enthalt</h3>
    <ul class="ui-thumbnail-level-items">
      <li class="ui-thumbnail-level-item odd">
        <a href="#" title="Set name" class="ui-level-image-wrapper">
          <div class="ui-thumbnail-level-image-holder">
            <%= image_tag "styleguide/media-entry-6.jpeg", :class => "ui-thumbnail-level-image" %>
          </div>
        </a>
      </li>
      <li class="ui-thumbnail-level-item even">
        <a href="#" title="Set name" class="ui-level-image-wrapper">
          <div class="ui-thumbnail-level-image-holder">
            <%= image_tag "styleguide/media-entry-6.jpeg", :class => "ui-thumbnail-level-image" %>
          </div>
        </a>
      </li>
    </ul>
    <span class="ui-thumbnail-level-notes">5 Inhalte</span>
  </div>
</div>

  <div class="ui-resource-thumbnail">
    <div class="ui-thumbnail media-entry video">
      <div class="ui-thumbnail-privacy">
        <i class="icon-privacy-private">This media is private</i>
      </div>
      <a class="ui-thumbnail-image-wrapper">
        <div class="ui-thumbnail-image-holder">
          <div class="ui-thumbnail-table-image-holder">
            <div class="ui-thumbnail-cell-image-holder">
              <div class="ui-thumbnail-inner-image-holder">
                <%= image_tag "thumbnails/document.pdf.png", :class => "ui-thumbnail-image" %>
              </div>
            </div>
          </div>
        </div>
      </a>
      <div class="ui-thumbnail-meta">
        <h3 class="ui-thumbnail-meta-title">Name that can easily go onto 2 lines</h3>
        <h4 class="ui-thumbnail-meta-subtitle">Author that can easily go onto 2 lines as well</h4>
      </div>
      <div class="ui-thumbnail-actions">
        <ul class="left by-left">
          <li class="ui-thumbnail-action"><a class="ui-thumbnail-action-checkbox">Select</a></li>
          <li class="ui-thumbnail-action"><a class="ui-thumbnail-action-favorite">Favorite</a></li>
        </ul>
        <ul class="right by-right">
          <li class="ui-thumbnail-action"><a class="ui-thumbnail-action-browse">Browse</a></li>
          <li class="ui-thumbnail-action"><a class="ui-thumbnail-action-edit">Edit</a></li>
          <li class="ui-thumbnail-action"><a class="ui-thumbnail-action-delete">Delete</a></li>
        </ul>
      </div>
      <div class="ui-thumbnail-dropdown">
        <div class="dropdown ui-dropdown">
          <a class="dropdown-toggle button block ui-drop-toggle" data-toggle="dropdown" href="#">Aktionen</a>
          <ul class="dropdown-menu ui-drop-menu" role="menu" aria-labelledby="dLabel">
            <li class="ui-drop-item"><a href="#">Item 1</a></li>
            <li class="ui-drop-item"><a href="#">Item 2</a></li>
            <li class="separator"></li>
            <li class="ui-drop-item"><a href="#">Item 3</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
<% end %>

<% kss_block '6.20', :padding_top => "50", :padding_bottom => "50", :padding_left => "50", :padding_right => "50" do %>
  <a class="ui-ttip-toggle" title="Tooltip Text">Tooltip toggle</a>
<% end %>
