<% kss_block '6.1' do %>
  <div class="thumbnail-set $modifier-class">
    <div class="inner-wrapper"><%= image_tag "redesign/thumbnails/tmp-thumb-large.jpg" %></div>
  </div>
<% end %>

<% kss_block '6.2' do %>
  <div class="thumbnail-video $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-video.png" %>
  </div>
  <div class="thumbnail-video $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-video-avi.png" %>
  </div>
  <div class="thumbnail-video $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-video-dif.png" %>
  </div>
  <div class="thumbnail-video $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-video-dv.png" %>
  </div>
  <div class="thumbnail-video $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-video-mkv.png" %>
  </div>
  <div class="thumbnail-video $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-video-mov.png" %>
  </div>
  <div class="thumbnail-video $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-video-mp4.png" %>
  </div>
  <div class="thumbnail-video $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-video-mpe.png" %>
  </div>
  <div class="thumbnail-video $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-video-mpeg.png" %>
  </div>
  <div class="thumbnail-video $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-video-mpg.png" %>
  </div>
  <div class="thumbnail-video $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-video-ogv.png" %>
  </div>
  <div class="thumbnail-video $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-video-qt.png" %>
  </div>
  <div class="thumbnail-video $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-video-webm.png" %>
  </div>
  <div class="thumbnail-video $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-video-wmv.png" %>
  </div>
<% end %>

<% kss_block '6.3' do %>
  <div class="thumbnail-video small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-video-small.png" %>
  </div>
  <div class="thumbnail-video small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-video-avi-small.png" %>
  </div>
  <div class="thumbnail-video small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-video-dif-small.png" %>
  </div>
  <div class="thumbnail-video small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-video-dv-small.png" %>
  </div>
  <div class="thumbnail-video small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-video-mkv-small.png" %>
  </div>
  <div class="thumbnail-video small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-video-mov-small.png" %>
  </div>
  <div class="thumbnail-video small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-video-mp4-small.png" %>
  </div>
  <div class="thumbnail-video small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-video-mpe-small.png" %>
  </div>
  <div class="thumbnail-video small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-video-mpeg-small.png" %>
  </div>
  <div class="thumbnail-video small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-video-mpg-small.png" %>
  </div>
  <div class="thumbnail-video small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-video-ogv-small.png" %>
  </div>
  <div class="thumbnail-video small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-video-qt-small.png" %>
  </div>
  <div class="thumbnail-video small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-video-webm-small.png" %>
  </div>
  <div class="thumbnail-video small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-video-wmv-small.png" %>
  </div>
<% end %>

<% kss_block '6.4' do %>
  <div class="thumbnail-audio $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-audio.png" %>
  </div>
  <div class="thumbnail-audio $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-audio-aif.png" %>
  </div>
  <div class="thumbnail-audio $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-audio-aifc.png" %>
  </div>
  <div class="thumbnail-audio $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-audio-aiff.png" %>
  </div>
  <div class="thumbnail-audio $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-audio-flac.png" %>
  </div>
  <div class="thumbnail-audio $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-audio-m4a.png" %>
  </div>
  <div class="thumbnail-audio $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-audio-mp2.png" %>
  </div>
  <div class="thumbnail-audio $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-audio-mp3.png" %>
  </div>
  <div class="thumbnail-audio $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-audio-mpega.png" %>
  </div>
  <div class="thumbnail-audio $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-audio-mpga.png" %>
  </div>
  <div class="thumbnail-audio $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-audio-oga.png" %>
  </div>
  <div class="thumbnail-audio $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-audio-ogg.png" %>
  </div>
  <div class="thumbnail-audio $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-audio-spx.png" %>
  </div>
  <div class="thumbnail-audio $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-audio-wav.png" %>
  </div>
  <div class="thumbnail-audio $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-audio-wma.png" %>
  </div>
<% end %>

<% kss_block '6.5' do %>
  <div class="thumbnail-audio small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-audio-small.png" %>
  </div>
  <div class="thumbnail-audio small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-audio-aif-small.png" %>
  </div>
  <div class="thumbnail-audio small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-audio-aifc-small.png" %>
  </div>
  <div class="thumbnail-audio small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-audio-aiff-small.png" %>
  </div>
  <div class="thumbnail-audio small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-audio-flac-small.png" %>
  </div>
  <div class="thumbnail-audio small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-audio-m4a-small.png" %>
  </div>
  <div class="thumbnail-audio small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-audio-mp2-small.png" %>
  </div>
  <div class="thumbnail-audio small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-audio-mp3-small.png" %>
  </div>
  <div class="thumbnail-audio small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-audio-mpega-small.png" %>
  </div>
  <div class="thumbnail-audio small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-audio-mpga-small.png" %>
  </div>
  <div class="thumbnail-audio small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-audio-oga-small.png" %>
  </div>
  <div class="thumbnail-audio small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-audio-ogg-small.png" %>
  </div>
  <div class="thumbnail-audio small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-audio-spx-small.png" %>
  </div>
  <div class="thumbnail-audio small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-audio-wav-small.png" %>
  </div>
  <div class="thumbnail-audio small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-audio-wma-small.png" %>
  </div>
<% end %>

<% kss_block '6.6' do %>
  <div class="thumbnail-doc $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-doc.png" %>
  </div>
  <div class="thumbnail-doc $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-doc-doc.png" %>
  </div>
  <div class="thumbnail-doc $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-doc-docx.png" %>
  </div>
  <div class="thumbnail-doc $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-doc-odp.png" %>
  </div>
  <div class="thumbnail-doc $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-doc-ods.png" %>
  </div>
  <div class="thumbnail-doc $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-doc-odt.png" %>
  </div>
  <div class="thumbnail-doc $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-doc-pdf.png" %>
  </div>
  <div class="thumbnail-doc $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-doc-pps.png" %>
  </div>
  <div class="thumbnail-doc $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-doc-ppt.png" %>
  </div>
  <div class="thumbnail-doc $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-doc-pptx.png" %>
  </div>
  <div class="thumbnail-doc $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-doc-swf.png" %>
  </div>
  <div class="thumbnail-doc $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-doc-swfl.png" %>
  </div>
  <div class="thumbnail-doc $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-doc-txt.png" %>
  </div>
  <div class="thumbnail-doc $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-doc-xlb.png" %>
  </div>
  <div class="thumbnail-doc $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-doc-xls.png" %>
  </div>
  <div class="thumbnail-doc $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-doc-xlsx.png" %>
  </div>
  <div class="thumbnail-doc $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-doc-xlt.png" %>
  </div>
<% end %>

<% kss_block '6.7' do %>
  <div class="thumbnail-doc small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-doc-small.png" %>
  </div>
  <div class="thumbnail-doc small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-doc-doc-small.png" %>
  </div>
  <div class="thumbnail-doc small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-doc-docx-small.png" %>
  </div>
  <div class="thumbnail-doc small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-doc-odp-small.png" %>
  </div>
  <div class="thumbnail-doc small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-doc-ods-small.png" %>
  </div>
  <div class="thumbnail-doc small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-doc-odt-small.png" %>
  </div>
  <div class="thumbnail-doc small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-doc-pdf-small.png" %>
  </div>
  <div class="thumbnail-doc small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-doc-pps-small.png" %>
  </div>
  <div class="thumbnail-doc small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-doc-ppt-small.png" %>
  </div>
  <div class="thumbnail-doc small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-doc-pptx-small.png" %>
  </div>
  <div class="thumbnail-doc small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-doc-swf-small.png" %>
  </div>
  <div class="thumbnail-doc small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-doc-swfl-small.png" %>
  </div>
  <div class="thumbnail-doc small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-doc-txt-small.png" %>
  </div>
  <div class="thumbnail-doc small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-doc-xlb-small.png" %>
  </div>
  <div class="thumbnail-doc small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-doc-xls-small.png" %>
  </div>
  <div class="thumbnail-doc small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-doc-xlsx-small.png" %>
  </div>
  <div class="thumbnail-doc small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-doc-xlt-small.png" %>
  </div>
<% end %>

<% kss_block '6.8' do %>
  <div class="thumbnail-package $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-package.png" %>
  </div>
  <div class="thumbnail-package $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-package-7z.png" %>
  </div>
  <div class="thumbnail-package $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-package-rar.png" %>
  </div>
  <div class="thumbnail-package $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-package-taz.png" %>
  </div>
  <div class="thumbnail-package $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-package-tgz.png" %>
  </div>
  <div class="thumbnail-package $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-package-zip.png" %>
  </div>
<% end %>

<% kss_block '6.9' do %>
  <div class="thumbnail-package small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-package-small.png" %>
  </div>
  <div class="thumbnail-package small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-package-7z-small.png" %>
  </div>
  <div class="thumbnail-package small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-package-rar-small.png" %>
  </div>
  <div class="thumbnail-package small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-package-taz-small.png" %>
  </div>
  <div class="thumbnail-package small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-package-tgz-small.png" %>
  </div>
  <div class="thumbnail-package small $modifier-class">
    <%= image_tag "redesign/thumbnails/thumb-package-zip-small.png" %>
  </div>
<% end %>
