<% kss_block '7.1' do %>
  <div class="container $modifier-class" style="height:80px">
  </div>
<% end %>

<% kss_block '7.2' do %>
<ul class="ui-side-navigation">
  <li class="ui-side-navigation-item">
    <a href="#" class="strong">Item 1</a></li>
    <ul class="ui-side-navigation-lvl2">
      <li class="ui-side-navigation-lvl2-item"><a href="#" class="weak">Sub-Item 1</a></li>
      <li class="ui-side-navigation-lvl2-item"><a href="#" class="weak">Sub-Item 2</a></li>
    </ul>
  </li>
  <li class="separator mini"></li>
  <li class="ui-side-navigation-item">
    <a href="#" class="strong">Item 2</a>
  </li>
  <li class="separator mini"></li>
</ul>
<% end %>

<% kss_block '7.3' do %>
<ul class="side-filter accordion" id="side-filter">
  <li class="side-filter-item">
    <input type="text" class="block filter-search-input">
    <button class="small filter-search-button primary-button">Search</button>
  </li>
  <li class="side-filter-item accordion-group">
    <div class="accordion-heading">
      <a class="strong accordion-toggle" data-toggle="collapse" data-parent="#side-filter" href="#collapseTwo">Level 1 Filter <i class="icon-arrow-up green"></i></a>
    </div>
    <div class="accordion-body collapse in" id="collapseTwo">
      <ul class="side-filter-lvl2 accordion-inner" >
        <li class="side-filter-lvl2-item">
          <a href="#" class="weak">Level 2 Filter</a>
        </li>
        <li class="side-filter-lvl2-item">
          <a href="#" class="weak">Level 2 Filter</a>
          <ul class="side-filter-lvl3">
            <li class="side-filter-lvl3-item">
              <a href="#" class="weak">Level 3 filter</a>
            </li>
            <li class="side-filter-lvl3-item">
              <a href="#" class="weak">Level 3 filter</a>
              <ul class="side-filter-lvl4">
                <li class="side-filter-lvl4-item">
                  <a href="#" class="weak">Item 1</a>
                </li>
                <li class="side-filter-lvl4-item">
                  <a href="#" class="weak">Item 2</a>
                </li>
              </ul>
            </li>
            <li class="side-filter-lvl3-item">
              <a href="#" class="weak">Level 3 filter</a>
            </li>
            <li class="side-filter-lvl3-item">
              <a href="#" class="weak">Level 3 filter</a>
            </li>
          </ul>
        </li>
        <li class="side-filter-lvl2-item">
          <a href="#" class="weak">Level 2 Filter</a>
        </li>
        <li class="side-filter-lvl2-item">
          <a href="#" class="weak">Level 2 Filter</a>
        </li>
      </ul>
    </div>
  </li>
  <li class="side-filter-item accordion-group">
    <div class="accordion-heading">
      <a class="strong accordion-toggle" data-toggle="collapse" data-parent="#side-filter" href="#collapseThree">Level 1 Filter <i class="icon-arrow-down green"></i></a>
    </div>
    <div class="accordion-body collapse" id="collapseThree">
      <ul class="side-filter-lvl2 accordion-inner" >
        <li class="side-filter-lvl2-item">
          <a href="#" class="weak">Level 2 Filter</a>
        </li>
        <li class="side-filter-lvl2-item">
          <a href="#" class="weak">Level 2 Filter</a>
          <ul class="side-filter-lvl3">
            <li class="side-filter-lvl3-item">
              <a href="#" class="weak">Level 3 filter</a>
            </li>
            <li class="side-filter-lvl3-item">
              <a href="#" class="weak">Level 3 filter</a>
              <ul class="side-filter-lvl4">
                <li class="side-filter-lvl4-item">
                  <a href="#" class="weak">Item 1</a>
                </li>
                <li class="side-filter-lvl4-item">
                  <a href="#" class="weak">Item 2</a>
                </li>
              </ul>
            </li>
            <li class="side-filter-lvl3-item">
              <a href="#" class="weak">Level 3 filter</a>
            </li>
            <li class="side-filter-lvl3-item">
              <a href="#" class="weak">Level 3 filter</a>
            </li>
          </ul>
        </li>
        <li class="side-filter-lvl2-item">
          <a href="#" class="weak">Level 2 Filter</a>
        </li>
        <li class="side-filter-lvl2-item">
          <a href="#" class="weak">Level 2 Filter</a>
        </li>
      </ul>
    </div>
  </li>
  <li class="side-filter-item accordion-group">
    <div class="accordion-heading">
      <a class="strong accordion-toggle" data-toggle="collapse" data-parent="#side-filter" href="#collapseOne">Level 1 Filter <i class="icon-arrow-down green"></i></a>
    </div>
    <div class="accordion-body collapse" id="collapseOne">
      <ul class="side-filter-lvl2 accordion-inner" >
        <li class="side-filter-lvl2-item">
          <a href="#" class="weak">Level 2 Filter</a>
        </li>
        <li class="side-filter-lvl2-item">
          <a href="#" class="weak">Level 2 Filter</a>
          <ul class="side-filter-lvl3">
            <li class="side-filter-lvl3-item">
              <a href="#" class="weak">Level 3 filter</a>
            </li>
            <li class="side-filter-lvl3-item">
              <a href="#" class="weak">Level 3 filter</a>
              <ul class="side-filter-lvl4">
                <li class="side-filter-lvl4-item">
                  <a href="#" class="weak">Item 1</a>
                </li>
                <li class="side-filter-lvl4-item">
                  <a href="#" class="weak">Item 2</a>
                </li>
              </ul>
            </li>
            <li class="side-filter-lvl3-item">
              <a href="#" class="weak">Level 3 filter</a>
            </li>
            <li class="side-filter-lvl3-item">
              <a href="#" class="weak">Level 3 filter</a>
            </li>
          </ul>
        </li>
        <li class="side-filter-lvl2-item">
          <a href="#" class="weak">Level 2 Filter</a>
        </li>
        <li class="side-filter-lvl2-item">
          <a href="#" class="weak">Level 2 Filter</a>
        </li>
      </ul>
    </div>
  </li>
</ul>
<% end %>

<% kss_block '7.4' do %>
<ul class="tag-cloud $modifier-class">
  <li class="tag-button"><a href="#">Tag 1</a></li>
  <li class="tag-button"><a href="#">Tag 2</a></li>
  <li class="tag-button"><a href="#">Tag 3</a></li>
</ul>
<% end %>

<% kss_block '7.5' do %>
<ul class="tab-navigation $modifier-class">
  <li class="tab-navigation-item"><a href="#">Item 1</a></li>
  <li class="tab-navigation-item active"><a href="#">Item 2</a></li>
</ul>
<% end %>

<% kss_block '7.6' do %>
<div class="ui-thumbnail-wrapper media-entry $modifier-class">

    <div class="thumbnail-privacy">
      <i class="icon-privacy-private">This media is private</i>
    </div>

    <div class="thumbnail-video thumbnail">
      <%= image_tag "redesign/thumbnails/thumb-video.png" %>
    </div>

    <div class="thumbnail-metadata">
      <h3 class="title-s thumbnail-name">Name that can easily go onto 2 lines</h3>
      <h4 class="title-xs-alt thumbnail-author">Author that can easily go onto 2 lines as well</h4>
    </div>

    <div class="thumbnail-actions">
      <ul class="left by-left">
        <li><a href="#"><i class="icon-check">Select</i></a></li>
        <li><a href="#"><i class="icon-fav">Favorite</i></a></li>
      </ul>
      <ul class="right by-right">
        <li><a href="#"><i class="icon-explore">Explore</i></a></li>
        <li><a href="#"><i class="icon-edit">Edit</i></a></li>
        <li><a href="#"><i class="icon-delete">Delete</i></a></li>
      </ul>
    </div>

</div>
<% end %>

<% kss_block '7.7', :padding_top => "50", :padding_bottom => "150" do %>
<div class="ui-thumbnail-wrapper media-set $modifier-class">

    <div class="thumbnail-level-up-items">
      <h3 class="title-xs-alt">Keine 체bergeordneten Sets</h3>
    </div>

    <div class="thumbnail-privacy">
      <i class="icon-privacy-group">This media is shared with a group</i>
    </div>

    <div class="thumbnail-set thumbnail">
      <div class="inner-wrapper">
        <%= image_tag "redesign/thumbnails/tmp-thumb-large.jpg" %>
      </div>
    </div>

    <div class="thumbnail-metadata">
      <h3 class="title-s thumbnail-name">Name that can easily go onto 2 lines</h3>
      <h4 class="title-xs-alt thumbnail-author">Author that can easily go onto 2 lines as well</h4>
    </div>

    <div class="thumbnail-actions">
      <ul class="left by-left">
        <li><a href="#"><i class="icon-check">Select</i></a></li>
        <li><a href="#"><i class="icon-fav">Favorite</i></a></li>
      </ul>
      <ul class="right by-right">
        <li><a href="#"><i class="icon-explore">Explore</i></a></li>
        <li><a href="#"><i class="icon-edit">Edit</i></a></li>
        <li><a href="#"><i class="icon-delete">Delete</i></a></li>
      </ul>
    </div>

    <div class="thumbnail-level-down-items">
      <h3 class="title-s">Set enthalt</h3>
      <div class="thumbnail thumbnail-set small odd">
        <div class="inner-wrapper"><%= image_tag "redesign/thumbnails/tmp-thumb-large.jpg" %></div>
      </div>
      <div class="thumbnail thumbnail-set small even">
        <div class="inner-wrapper"><%= image_tag "redesign/thumbnails/tmp-thumb-large.jpg" %></div>
      </div>
      <h4 class="title-xs-alt">5 Inhalte</h4>
    </div>

</div>
<% end %>

<% kss_block '7.8' do %>
<div class="ui-thumbnail-wrapper media-catalog $modifier-class">

    <div class="thumbnail-privacy">
      <i class="icon-privacy-public">This media is public</i>
    </div>

    <div class="thumbnail-set large thumbnail">
      <div class="inner-wrapper">
        <%= image_tag "redesign/thumbnails/tmp-thumb-large.jpg" %>
      </div>
    </div>

    <div class="thumbnail-metadata">
      <h3 class="title-s thumbnail-name col4of6">Katalog name that can easily go onto 2 lines</h3>
      <span class="thumbnail-additional-data col2of6 by-right">500 Inhalte</span>
    </div>
</div>
<% end %>

<% kss_block '7.9' do %>
<div class="media-entries-header" style="display:block;">
  <h2 class="title-l media-entries-title">A filter <a href="#" class="strong">Alle anziegen</a></h2>
  <p class="paragraph-l media-entries-intro">Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
</div>
<% end %>

<% kss_block '7.10' do %>
<div class="ui-body-title">
  <div class="ui-body-title-label">
    <h1 class="title-xl">Page header that could possibly go onto two lines but will not because of the overlay.</h1>
  </div>
  <div class="ui-body-title-actions">
    <a href="#" class="primary-button">Primary button</a>
    <a href="#" class="button">Secondary button</a>
  </div>
</div>
<% end %>

<% kss_block '7.11', :padding_bottom => "120", :padding_left => "120" do %>
<div class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown trigger</a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li class="dropdown-menu-item"><a href="#">Item 1</a></li>
    <li class="dropdown-menu-item"><a href="#">Item 2</a></li>
    <li class="separator"></li>
    <li class="dropdown-menu-item"><a href="#">Item 3</a></li>
  </ul>
</div>
<% end %>

<% kss_block '7.12' do %>
<div class="alert $modifier-class">
  <p>Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. </p>
</div>
<% end %>

<% kss_block '7.13' do %>
<div class="ui-metadata-box">
  <h3 class="title-m separated light">Horizontlinie</h3>
  <ol>
    <li class="odd">Agglomeration</li>
    <li class="even">Bucht</li>
    <li class="odd">Ebene</li>
    <li class="even">Erholungszone</li>
    <li class="odd">Something very very long that could break</li>
    <li class="even">Short</li>
    <li class="odd">Landwirtschaft</li>
    <li class="even">Naturlandschaft</li>
  </ol>
</div>
<% end %>

<% kss_block '7.14' do %>
<div class="ui-metadata-box">
  <dl>
    <dt class="title-xs">Titel</dt>
    <dd class="title-l">Die Eismalerin</dd>

    <dt class="title-xs">Untertitel</dt>
    <dd>Installationsansicht</dd>

    <dt class="title-xs">Autor/in</dt>
    <dd>
      <ul class="inline">
        <li><a href="#">Stemmle, Janka</a></li>
      </ul>
    </dd>

    <dt class="title-xs">Datierrung</dt>
    <dd>2012</dd>

    <dt class="title-xs">Schlagworte zu Inhalt und Motiv</dt>
    <dd>
      <ul class="tag-cloud small">
        <li class="tag-button"><a href="#">Tag 1</a></li>
        <li class="tag-button"><a href="#">Tag 2</a></li>
      </ul>
    </dd>

    <dt class="title-xs">Rechte am geistigen Eigentum</dt>
    <dd>ZHdK DKM VMK</dd>

    <dt class="title-xs">Privacy</dt>
    <dd>This entry is public <i class="icon-privacy-public"></i></dd>

    <dt class="title-xs">Eigentumer/in im Medienarchiv</dt>
    <dd>
      <ul class="inline">
        <li><a href="#">R체egger, Romy</a></li>
      </ul>
    </dd>
  </dl>
</div>
<% end %>

<% kss_block '7.15' do %>
<div class="ui-slider">
  <a class="ui-slider-handle"><span class="ui-slider-info container inverted">8 von 14</span></a>
</div>
<% end %>

<% kss_block '7.16' do %>
<div class="stepline">
  <div class="stepline-item">
    <h3 class="title-s stepline-item-title">
      <small>
        1 of 4
      </small>
      Medien 체bertragen
    </h3>
  </div>
  <div class="stepline-item">
    <h3 class="title-s stepline-item-title">
      <small>
        2 of 4
      </small>
      Berechtigungen setzen
    </h3>
  </div>
  <div class="stepline-item active">
    <h3 class="title-s stepline-item-title">
      <small>
        3 of 4
      </small>
      Metadaten erg채nzen
    </h3>
  </div>
  <div class="stepline-item">
    <h3 class="title-s stepline-item-title">
      <small>
        4 of 4
      </small>
      Medien zusammenstellen
    </h3>
  </div>
</div>
<% end %>

<% kss_block '7.17' do %>
<div class="actions-bar">
  <a class="left link">
    Abbrechen
  </a>
  <a class="primary-button large">
    Eintrage zum einem Set hinzufugen
  </a>
  <a class="button">
    Import anschliessen
  </a>
</div>
<% end %>

<% kss_block '7.18' do %>
<div class="flyout">
  <div class="flyout-head">
    <h3 class="title-l">Flyout Title</h3>
  </div>
  <div class="flyout-ui-toolbar top">
    ui-toolbar content if any
  </div>
  <div class="flyout-body">
    Flyout Body
  </div>
  <div class="flyout-ui-toolbar bottom">
    ui-toolbar content if any
  </div>
  <div class="flyout-footer">
    <div class="actions-bar">
      <a href="#" class="primary-button">Primary action</a>
      <a href="#" class="left link">Secondary action</a>
    </div>
  </div>
</div>
<% end %>
