<% kss_block '8.1' do %>
  <div class="container inverted ui-toolbar phs pvx">
    <h2 class="ui-toolbar-header left col1of2"><strong>Set enthält</strong> (3 von 11 für Sie sichtbar)</h2>

    <div class="ui-toolbar-controls col1of2 by-right">
      <div class="button-group tertiary small right mls">
        <a class="button active"><i class="icon-vis-grid bright">Grid</i></a>
        <a class="button"><i class="icon-vis-tiles">Tiles</i></a>
        <a class="button"><i class="icon-vis-list">List</i></a>
      </div>
      <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Sort by Name
          <i class="icon-arrow-down bright"></i>
        </a>
        <ul aria-labelledby="dLabel" class="dropdown-menu" role="menu">
          <li class="dropdown-menu-item">
            <a href="#">Item 1</a>
          </li>
          <li class="dropdown-menu-item">
            <a href="#">Item 2</a>
          </li>
          <li class="separator"></li>
          <li class="dropdown-menu-item">
            <a href="#">Abmelden</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<% kss_block '8.2' do %>
<div class="container ui-toolbar media-entries-ui-toolbar separated">
  <div class="left col2of6">
    <a class="button active" href="#">
      <i class="icon-arrow-down dark"></i>
      Filtern
    </a>
  </div>
  <div class="col2of6 by-center">
    <div class="button-group">
      <a class="button active" href="#">Alle</a>
      <a class="button" href="#">Medientrage</a>
      <a class="button" href="#">Sets</a>
    </div>
  </div>
  <div class="col2of6 by-right">
    <a class="weak" href="#">
      Select All
      <i class="icon-check"></i>
    </a>
  </div>
</div>
<% end %>

<% kss_block '8.3' do %>
<header class="app-header container inverted">
  <div class="header-brand-area">
    <a class="header-brand-logo" href="#">
      <img alt="Image-logo-zhdk" src="/assets/redesign/inserts/image-logo-zhdk.png">
    </a>
    <h1 class="header-brand-name">Zürcher Hochschule der Künste</h1>
    <h2 class="header-instance-name">Medienarchiv der Künste</h2>
  </div>
  <ul class="header-menu large primary tab-navigation">
    <li class="tab-navigation-item active">
      <a href="#">Mein Archiv</a>
    </li>
    <li class="tab-navigation-item">
      <a href="#">Erkunden</a>
    </li>
    <li class="tab-navigation-item">
      <a href="#">
        <i class="icon-search bright"></i>
        Suchen
      </a>
    </li>
    <li class="tab-navigation-item">
      <a href="#">
        <i class="icon-help bright">Help</i>
      </a>
    </li>
  </ul>
  <div class="header-user-area by-right">
    <a class="primary-button" href="#">
      <i class="icon-user bright"></i>
      Anmelden
    </a>
  </div>
</header>
<% end %>

<% kss_block '8.4' do %>
<footer class="app-footer container inverted">
  <ul class="footer-menu">
    <li class="footer-menu-item"><a href="#">Informationen zum Projekt</a></li>
    <li class="footer-menu-item"><a href="#">Impressum</a></li>
    <li class="footer-menu-item"><a href="#">Kontakt</a></li>
    <li class="footer-menu-item"><a href="#">Blog</a></li>
    <li class="footer-menu-item"><a href="#">Hilfe</a></li>
    <li class="footer-menu-item"><a href="#">Nutzungsbestimmungen</a></li>
    <li class="footer-menu-item"><a href="#">Freie Software</a></li>
    <li class="footer-menu-item"><a href="#">Archivierungsrichtlinien ZHdK</a></li>
  </ul>
  <div class="footer-instance-area col2of6">
    <a href="#" class="footer-instance-logo"><%= image_tag "redesign/inserts/image-logo-madek.png" %></a>
    <h1 class="footer-copyrights">&copy; 2009-2011 Z&uuml;rcher Hochschule der K&uuml;nste</h1>
  </div>
</footer>
<% end %>

<% kss_block '8.5' do %>
<div class="ui-metadata-box metadata-summary">
  <table class="borderless">
    <tbody>
      <tr>
        <td class="summary-label">Titel</td>
        <td class="title-l">Black hot drink</td>
      </tr>
      <tr>
        <td class="summary-label">Beschreibung</td>
        <td>Die Medieneintr&auml;ge in diesem Set dienen als Beispiele, wie die Metadatenfelder zur Verschlagwortung genutzt werden k&ouml;nnen. Die Medieneintr&auml;ge in diesem Set dienen als Beispiele, wie die Metadatenfelder zur Verschlagwortung genutzt werden k&ouml;nnen. Die Medieneintr&auml;ge in diesem Set dienen als Beispiele, wie die Metadatenfelder zur Verschlagwortung genutzt werden k&ouml;nnen. Die Medieneintr&auml;ge in diesem Set dienen als Beispiele, wie die Metadatenfelder zur Verschlagwortung genutzt werden k&ouml;nnen.</td>
      </tr>
      <tr>
        <td class="summary-label">Autor/in</td>
        <td><a href="#">Federico C.</a></td>
      </tr>
      <tr>
        <td class="summary-label">Eigentumer/in</td>
        <td><a href="#">Federico C.</a></td>
      </tr>
      <tr>
        <td class="summary-label">Schlagworte</td>
        <td>
          <ul class="tag-cloud small">
            <li class="tag-button"><a href="#" class="">Tag 1</a></li>
            <li class="tag-button"><a href="#">Tag 2</a></li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<% end %>

<% kss_block '8.6', :padding_top => "50" do %>
<div class="container inverted-transparent clipboard-wrapper" >
  <div class="clipboard-toggle inverted-transparent">
    <a href="#" class="tertiary-button block small"><i class="icon-clipboard bright"></i> Zwischenablage (% Medientr&auml;ge) <i class="icon-arrow-down bright stand-alone"></i></a>
  </div>
  <div class="col4of6">
    <ul class="media-entries grid tight">
      <li class="media-entries-item">
        <div class="thumbnail-video small">
          <%= image_tag "redesign/thumbnails/thumb-video-webm-small.png" %>
        </div>
      </li>
      <li class="media-entries-item">
        <div class="thumbnail-audio small">
          <%= image_tag "redesign/thumbnails/thumb-audio-aifc-small.png" %>
        </div>
      </li>
      <li class="media-entries-item">
        <div class="thumbnail-set small">
          <div class="inner-wrapper"><%= image_tag "redesign/thumbnails/tmp-thumb-large.jpg" %></div>
        </div>
      </li>
      <li class="media-entries-item">
        <div class="thumbnail-video small">
          <%= image_tag "redesign/thumbnails/thumb-video-webm-small.png" %>
        </div>
      </li>
      <li class="media-entries-item">
        <div class="thumbnail-audio small">
          <%= image_tag "redesign/thumbnails/thumb-audio-aifc-small.png" %>
        </div>
      </li>
      <li class="media-entries-item">
        <div class="thumbnail-set small">
          <div class="inner-wrapper"><%= image_tag "redesign/thumbnails/tmp-thumb-large.jpg" %></div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col2of6">
    <div class="clipboard-actions">
      <a href="#" class="primary-button block">Aktionen <i class="icon-arrow-down bright stand-alone"></i></a>
      <a href="#" class="tertiary-button small block">Zwischenablage Leeren</a>
    </div>
  </div>
</div>
<% end %>

<% kss_block '8.7' do %>
<div class="media-overview ui-metadata-box">
  <dl>
    <dt class="title-xs">Titel</dt>
    <dd class="title-l">Die Eismalerin</dd>
    <dt class="title-xs">Untertitel</dt>
    <dd>Installationsansicht</dd>
    <dt class="title-xs">Autor/in</dt>
    <dd><a href="#">Stemmle, Janka</a></dd>
    <dt class="title-xs">Datierrung</dt>
    <dd>2012</dd>
    <dt class="title-xs">Schlagworte zu Inhalt und Motiv</dt>
    <dd>
      <ul class="tag-cloud small">
        <li class="tag-button"><a href="#">Tag 1</a></li>
        <li class="tag-button"><a href="#">Tag 2</a></li>
      </ul>
    </dd>
    <dt class="title-xs">Rechte am geistigen Eigentum</dt>
    <dd>ZHdK DKM VMK</dd>
    <dt class="title-xs">Privacy</dt>
    <dd>This entry is public <i class="icon-privacy-public"></i></dd>
    <dt class="title-xs">Eigentumer/in im Medienarchiv</dt>
    <dd><a href="#">R&uuml;egger, Romy</a></dd>
  </dl>
  <div class="media-overview-preview">
    <%= image_tag "redesign/tmp/media-entry-1.png" %>
  </div>
</div>
<% end %>

<% kss_block '8.8.1' do %>
<div class="collage">
  <div class="collage-row">
    <a class="collage-item">
      <div class="collage-image-wrapper">
        <%= image_tag "redesign/tmp/media-entry-1.png", :class => "collage-image" %>
      </div>
      <div class="collage-meta">
        <h3 class="title-xs">Set title that is unlikely to go onto two lines</h3>
        <h4 class="title-xs-alt">Author Name which can easily go onto two lines too.</h4>
      </div>
    </a>
    <a class="collage-item">
      <div class="collage-image-wrapper">
        <%= image_tag "redesign/tmp/media-entry-2.png", :class => "collage-image" %>
      </div>
      <div class="collage-meta">
        <h3 class="title-xs">Set title that is unlikely to go onto two lines</h3>
        <h4 class="title-xs-alt">Author Name which can easily go onto two lines too.</h4>
      </div>
    </a>
    <a class="collage-item">
      <div class="collage-image-wrapper">
        <%= image_tag "redesign/tmp/media-entry-3.jpeg", :class => "collage-image" %>
      </div>
      <div class="collage-meta">
        <h3 class="title-xs">Set title that is unlikely to go onto two lines</h3>
        <h4 class="title-xs-alt">Author Name which can easily go onto two lines too.</h4>
      </div>
    </a>
    <a class="collage-item">
      <div class="collage-image-wrapper">
        <%= image_tag "redesign/tmp/media-entry-4.jpeg", :class => "collage-image" %>
      </div>
      <div class="collage-meta">
        <h3 class="title-xs">Set title that is unlikely to go onto two lines</h3>
        <h4 class="title-xs-alt">Author Name which can easily go onto two lines too.</h4>
      </div>
    </a>
  </div>
  <div class="collage-row">
    <a class="collage-item">
      <div class="collage-image-wrapper">
        <%= image_tag "redesign/tmp/media-entry-5.jpeg", :class => "collage-image" %>
      </div>
      <div class="collage-meta">
        <h3 class="title-xs">Set title that is unlikely to go onto two lines</h3>
        <h4 class="title-xs-alt">Author Name which can easily go onto two lines too.</h4>
      </div>
    </a>
    <a class="collage-item">
      <div class="collage-image-wrapper">
        <%= image_tag "redesign/tmp/media-entry-6.jpeg", :class => "collage-image" %>
      </div>
      <div class="collage-meta">
        <h3 class="title-xs">Set title that is unlikely to go onto two lines</h3>
        <h4 class="title-xs-alt">Author Name which can easily go onto two lines too.</h4>
      </div>
    </a>
    <a class="collage-item">
      <div class="collage-image-wrapper">
        <%= image_tag "redesign/tmp/media-entry-7.jpeg", :class => "collage-image" %>
      </div>
      <div class="collage-meta">
        <h3 class="title-xs">Set title that is unlikely to go onto two lines</h3>
        <h4 class="title-xs-alt">Author Name which can easily go onto two lines too.</h4>
      </div>
    </a>
    <a class="collage-item">
      <div class="collage-image-wrapper">
        <%= image_tag "redesign/tmp/media-entry-8.jpeg", :class => "collage-image" %>
      </div>
      <div class="collage-meta">
        <h3 class="title-xs">Set title that is unlikely to go onto two lines</h3>
        <h4 class="title-xs-alt">Author Name which can easily go onto two lines too.</h4>
      </div>
    </a>
  </div>
</div>
<% end %>

<% kss_block '8.8.2' do %>
<div class="collage crooked">
  <div class="collage-row">
    <div class="collage-item odd">
      <div class="collage-image-wrapper">
        <%= image_tag "redesign/tmp/media-entry-1.png", :class => "collage-image" %>
      </div>
    </div>
    <div class="collage-item even">
      <div class="collage-image-wrapper">
        <%= image_tag "redesign/tmp/media-entry-2.png", :class => "collage-image" %>
      </div>
    </div>
    <div class="collage-item odd">
      <div class="collage-image-wrapper">
        <%= image_tag "redesign/tmp/media-entry-3.jpeg", :class => "collage-image" %>
      </div>
    </div>
    <div class="collage-item even">
      <div class="collage-image-wrapper">
        <%= image_tag "redesign/tmp/media-entry-4.jpeg", :class => "collage-image" %>
      </div>
    </div>
    <div class="collage-item odd">
      <div class="collage-image-wrapper">
        <%= image_tag "redesign/tmp/media-entry-5.jpeg", :class => "collage-image" %>
      </div>
    </div>
  </div>
  <div class="collage-row">
    <div class="collage-item odd">
      <div class="collage-image-wrapper">
        <%= image_tag "redesign/tmp/media-entry-8.jpeg", :class => "collage-image" %>
      </div>
    </div>
    <div class="collage-item even">
      <div class="collage-image-wrapper">
        <%= image_tag "redesign/tmp/media-entry-7.jpeg", :class => "collage-image" %>
      </div>
    </div>
    <div class="collage-item odd">
      <div class="collage-image-wrapper">
        <%= image_tag "redesign/tmp/media-entry-6.jpeg", :class => "collage-image" %>
      </div>
    </div>
    <div class="collage-item even">
      <div class="collage-image-wrapper">
        <%= image_tag "redesign/tmp/media-entry-5.jpeg", :class => "collage-image" %>
      </div>
    </div>
    <div class="collage-item odd">
      <div class="collage-image-wrapper">
        <%= image_tag "redesign/tmp/media-entry-4.jpeg", :class => "collage-image" %>
      </div>
    </div>
  </div>
  <div class="collage-row">
    <div class="collage-item odd">
      <div class="collage-image-wrapper">
        <%= image_tag "redesign/tmp/media-entry-1.png", :class => "collage-image" %>
      </div>
    </div>
    <div class="collage-item even">
      <div class="collage-image-wrapper">
        <%= image_tag "redesign/tmp/media-entry-2.png", :class => "collage-image" %>
      </div>
    </div>
    <div class="collage-item odd">
      <div class="collage-image-wrapper">
        <%= image_tag "redesign/tmp/media-entry-3.jpeg", :class => "collage-image" %>
      </div>
    </div>
    <div class="collage-item even">
      <div class="collage-image-wrapper">
        <%= image_tag "redesign/tmp/media-entry-4.jpeg", :class => "collage-image" %>
      </div>
    </div>
    <div class="collage-item odd">
      <div class="collage-image-wrapper">
        <%= image_tag "redesign/tmp/media-entry-5.jpeg", :class => "collage-image" %>
      </div>
    </div>
  </div>
  <div class="collage-row">
    <div class="collage-item odd">
      <div class="collage-image-wrapper">
        <%= image_tag "redesign/tmp/media-entry-1.png", :class => "collage-image" %>
      </div>
    </div>
    <div class="collage-item even">
      <div class="collage-image-wrapper">
        <%= image_tag "redesign/tmp/media-entry-2.png", :class => "collage-image" %>
      </div>
    </div>
    <div class="collage-item odd">
      <div class="collage-image-wrapper">
        <%= image_tag "redesign/tmp/media-entry-3.jpeg", :class => "collage-image" %>
      </div>
    </div>
    <div class="collage-item even">
      <div class="collage-image-wrapper">
        <%= image_tag "redesign/tmp/media-entry-4.jpeg", :class => "collage-image" %>
      </div>
    </div>
    <div class="collage-item odd">
      <div class="collage-image-wrapper">
        <%= image_tag "redesign/tmp/media-entry-5.jpeg", :class => "collage-image" %>
      </div>
    </div>
  </div>
</div>
<% end %>

<% kss_block '8.9.1', :padding_top => "50", :padding_bottom => "110" do %>
<ul class="media-entries grid $modifier-class">
  <li class="media-entries-item">
    <div class="ui-thumbnail-wrapper media-catalog">
      <div class="thumbnail-privacy">
        <i class="icon-privacy-public">This media is public</i>
      </div>
      <div class="thumbnail-set large thumbnail">
        <a>
          <div class="inner-wrapper">
            <img alt="Tmp-thumb-large" src="/assets/redesign/thumbnails/tmp-thumb-large.jpg">
          </div>
        </a>
      </div>
      <div class="thumbnail-metadata">
        <h3 class="title-s thumbnail-name col4of6">Katalog name that can easily go onto 2 lines</h3>
        <span class="thumbnail-additional-data col2of6 by-right">500 Inhalte</span>
      </div>
    </div>
  </li>
  <li class="media-entries-item">
    <div class="ui-thumbnail-wrapper media-set">
      <div class="thumbnail-level-up-items">
        <h3 class="title-xs-alt">Keine übergeordneten Sets</h3>
      </div>
      <div class="thumbnail-privacy">
        <i class="icon-privacy-group">This media is shared with a group</i>
      </div>
      <div class="thumbnail-set thumbnail">
        <a>
          <div class="inner-wrapper">
            <img alt="Tmp-thumb-large" src="/assets/redesign/thumbnails/tmp-thumb-large.jpg">
          </div>
        </a>
      </div>
      <div class="thumbnail-metadata">
        <h3 class="title-s thumbnail-name">Name that can easily go onto 2 lines</h3>
        <h4 class="title-xs-alt thumbnail-author">Author that can easily go onto 2 lines as well</h4>
      </div>
      <div class="thumbnail-actions">
        <ul class="left by-left">
          <li>
            <a href="#">
              <i class="icon-check">Select</i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="icon-fav">Favorite</i>
            </a>
          </li>
        </ul>
        <ul class="right by-right">
          <li>
            <a href="#">
              <i class="icon-explore">Explore</i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="icon-edit">Edit</i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="icon-delete">Delete</i>
            </a>
          </li>
        </ul>
      </div>
      <div class="thumbnail-level-down-items">
        <h3 class="title-s">Set enthalt</h3>
        <div class="thumbnail thumbnail-set small odd">
          <a>
            <div class="inner-wrapper">
              <img alt="Tmp-thumb-large" src="/assets/redesign/thumbnails/tmp-thumb-large.jpg">
            </div>
          </a>
        </div>
        <div class="thumbnail thumbnail-set small even">
          <a>
            <div class="inner-wrapper">
              <img alt="Tmp-thumb-large" src="/assets/redesign/thumbnails/tmp-thumb-large.jpg">
            </div>
          </a>
        </div>
        <h4 class="title-xs-alt">5 Inhalte</h4>
      </div>
    </div>
  </li>
  <li class="media-entries-item">
    <div class="ui-thumbnail-wrapper media-entry">
      <div class="thumbnail-privacy">
        <i class="icon-privacy-private">This media is private</i>
      </div>
      <div class="thumbnail-audio thumbnail">
        <img alt="" src="/assets/redesign/thumbnails/tmp-thumb-large.jpg">
      </div>
      <div class="thumbnail-metadata">
        <h3 class="title-s thumbnail-name">Name that can easily go onto 2 lines</h3>
        <h4 class="title-xs-alt thumbnail-author">Author that can easily go onto 2 lines as well</h4>
      </div>
      <div class="thumbnail-actions">
        <ul class="left by-left">
          <li>
            <a href="#">
              <i class="icon-check">Select</i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="icon-fav">Favorite</i>
            </a>
          </li>
        </ul>
        <ul class="right by-right">
          <li>
            <a href="#">
              <i class="icon-explore">Explore</i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="icon-edit">Edit</i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="icon-delete">Delete</i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </li>
</ul>
<% end %>

<% kss_block '8.9.2' do %>
<ul class="media-entries grid tight $modifier-class">
  <li class="media-entries-item">
    <a class="ui-thumbnail-wrapper media-entry" href="#">
      <div class="thumbnail-package small">
        <img alt="Thumb-package-7z-small" src="/assets/redesign/thumbnails/thumb-package-7z-small.png">
      </div>
    </a>
  </li>
  <li class="media-entries-item">
    <a class="ui-thumbnail-wrapper media-entry" href="#">
      <div class="thumbnail-doc small">
        <img alt="Thumb-doc-ods-small" src="/assets/redesign/thumbnails/thumb-doc-ods-small.png">
      </div>
    </a>
  </li>
  <li class="media-entries-item">
    <a class="ui-thumbnail-wrapper media-entry" href="#">
      <div class="thumbnail-video small">
        <img alt="Thumb-video-mpg-small" src="/assets/redesign/thumbnails/thumb-video-mpg-small.png">
      </div>
    </a>
  </li>
</ul>
<% end %>

<% kss_block '8.9.3' do %>
<ul class="media-entries list $modifier-class">
  <li class="media-entries-item odd">
    <div class="entry-head">
      <h2 class="entry-title">Karen Kägi: Blick aus der Siedlung</h2>
      <ul class="entry-actions">
        <li><a href="#"><i class="icon-fav">Favorite</i></a></li>
        <li><a href="#"><i class="icon-check">Select</i></a></li>
      </ul>
    </div>
    <div class="entry-body">
      <div class="entry-thumbnail">
        <div class="ui-thumbnail-wrapper media-set">
          <div class="thumbnail-level-up-items">
            <h3 class="title-xs-alt">Keine übergeordneten Sets</h3>
          </div>
          <div class="thumbnail-privacy">
            <i class="icon-privacy-group">This media is shared with a group</i>
          </div>
          <div class="thumbnail-set thumbnail">
            <a>
              <div class="inner-wrapper">
                <img alt="Tmp-thumb-large" src="/assets/redesign/thumbnails/tmp-thumb-large.jpg">
              </div>
            </a>
          </div>
          <div class="thumbnail-metadata">
            <h3 class="title-s thumbnail-name col4of6">Katalog name that can easily go onto 2 lines</h3>
            <span class="thumbnail-additional-data col2of6 by-right">500 Inhalte</span>
          </div>
          <div class="thumbnail-actions">
            <ul class="left by-left">
              <li>
                <a href="#">
                  <i class="icon-check">Select</i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon-fav">Favorite</i>
                </a>
              </li>
            </ul>
            <ul class="right by-right">
              <li>
                <a href="#">
                  <i class="icon-explore">Explore</i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon-edit">Edit</i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon-delete">Delete</i>
                </a>
              </li>
            </ul>
          </div>
          <div class="thumbnail-level-down-items">
            <h3 class="title-s">Set enthalt</h3>
            <div class="thumbnail thumbnail-set small odd">
              <a>
                <div class="inner-wrapper">
                  <img alt="Tmp-thumb-large" src="/assets/redesign/thumbnails/tmp-thumb-large.jpg">
                </div>
              </a>
            </div>
            <div class="thumbnail thumbnail-set small even">
              <a>
                <div class="inner-wrapper">
                  <img alt="Tmp-thumb-large" src="/assets/redesign/thumbnails/tmp-thumb-large.jpg">
                </div>
              </a>
            </div>
            <h4 class="title-xs-alt">5 Inhalte</h4>
          </div>
        </div>
      </div>
      <div class="entry-metadata">
        <div class="ui-metadata-box metadata-summary">
          <table class="borderless">
            <tbody>
              <tr>
                <td class="summary-label">Autor/in</td>
                <td class="">Emch, Oliver</td>
              </tr>
              <tr>
                <td class="summary-label">Schlagworte zu Inhalt und Motiv</td>
                <td>
                  <ul class="tag-cloud small">
                    <li class="tag-button"><a href="#">Tag</a></li>
                    <li class="tag-button"><a href="#">Tag</a></li>
                    <li class="tag-button"><a href="#">Tag</a></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class="summary-label">Rechteinhaber</td>
                <td>unbekannt</td>
              </tr>
              <tr>
                <td class="summary-label">Eigentumer/in</td>
                <td>Federico C.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="entry-description">
        <p>Es sind keine Metadaten zu dem Kontext "Institution" bereit gestellt.</p>
      </div>
      <div class="entry-details">
        <div class="ui-metadata-box metadata-summary">
          <table class="borderless">
            <tbody>
              <tr>
                <td class="summary-label">Eigentümer/in im Medienarchiv</td>
                <td class="">Emch, Oliver</td>
              </tr>
              <tr>
                <td class="summary-label">Hochgeladen am</td>
                <td>29.07.2010</td>
              </tr>
              <tr>
                <td class="summary-label">Enthalten in</td>
                <td>1 Set</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </li>
  <li class="media-entries-item even">
    <div class="entry-head">
      <h2 class="entry-title">Karen Kägi: Blick aus der Siedlung</h2>
      <ul class="entry-actions">
        <li><a href="#"><i class="icon-fav">Favorite</i></a></li>
        <li><a href="#"><i class="icon-check">Select</i></a></li>
      </ul>
    </div>
    <div class="entry-body">
      <div class="entry-thumbnail">
        <div class="ui-thumbnail-wrapper media-set">
          <div class="thumbnail-level-up-items">
            <h3 class="title-xs-alt">Keine übergeordneten Sets</h3>
          </div>
          <div class="thumbnail-privacy">
            <i class="icon-privacy-group">This media is shared with a group</i>
          </div>
          <div class="thumbnail-set thumbnail">
            <a>
              <div class="inner-wrapper">
                <img alt="Tmp-thumb-large" src="/assets/redesign/thumbnails/tmp-thumb-large.jpg">
              </div>
            </a>
          </div>
          <div class="thumbnail-metadata">
            <h3 class="title-s thumbnail-name col4of6">Katalog name that can easily go onto 2 lines</h3>
            <span class="thumbnail-additional-data col2of6 by-right">500 Inhalte</span>
          </div>
          <div class="thumbnail-actions">
            <ul class="left by-left">
              <li>
                <a href="#">
                  <i class="icon-check">Select</i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon-fav">Favorite</i>
                </a>
              </li>
            </ul>
            <ul class="right by-right">
              <li>
                <a href="#">
                  <i class="icon-explore">Explore</i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon-edit">Edit</i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon-delete">Delete</i>
                </a>
              </li>
            </ul>
          </div>
          <div class="thumbnail-level-down-items">
            <h3 class="title-s">Set enthalt</h3>
            <div class="thumbnail thumbnail-set small odd">
              <a>
                <div class="inner-wrapper">
                  <img alt="Tmp-thumb-large" src="/assets/redesign/thumbnails/tmp-thumb-large.jpg">
                </div>
              </a>
            </div>
            <div class="thumbnail thumbnail-set small even">
              <a>
                <div class="inner-wrapper">
                  <img alt="Tmp-thumb-large" src="/assets/redesign/thumbnails/tmp-thumb-large.jpg">
                </div>
              </a>
            </div>
            <h4 class="title-xs-alt">5 Inhalte</h4>
          </div>
        </div>
      </div>
      <div class="entry-metadata">
        <div class="ui-metadata-box metadata-summary">
          <table class="borderless">
            <tbody>
              <tr>
                <td class="summary-label">Autor/in</td>
                <td class="">Emch, Oliver</td>
              </tr>
              <tr>
                <td class="summary-label">Schlagworte zu Inhalt und Motiv</td>
                <td>
                  <ul class="tag-cloud small">
                    <li class="tag-button"><a href="#">Tag</a></li>
                    <li class="tag-button"><a href="#">Tag</a></li>
                    <li class="tag-button"><a href="#">Tag</a></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class="summary-label">Rechteinhaber</td>
                <td>unbekannt</td>
              </tr>
              <tr>
                <td class="summary-label">Eigentumer/in</td>
                <td>Federico C.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="entry-description">
        <p>Es sind keine Metadaten zu dem Kontext "Institution" bereit gestellt.</p>
      </div>
      <div class="entry-details">
        <div class="ui-metadata-box metadata-summary">
          <table class="borderless">
            <tbody>
              <tr>
                <td class="summary-label">Eigentümer/in im Medienarchiv</td>
                <td class="">Emch, Oliver</td>
              </tr>
              <tr>
                <td class="summary-label">Hochgeladen am</td>
                <td>29.07.2010</td>
              </tr>
              <tr>
                <td class="summary-label">Enthalten in</td>
                <td>1 Set</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </li>
</ul>
<% end %>

<% kss_block '8.10' do %>
<div class="ui-featured-entries-wrapper">
  <ul class="ui-featured-entries">
    <li class="ui-featured-entries-item">
      <a href="#" class="featured-entry">
        <div class="featured-entry-preview">
          <span>
            <%= image_tag "redesign/tmp/media-entry-7.jpeg" %>
          </span>
        </div>
        <div class="featured-entry-metadata">
          <h3 class="title-s thumbnail-name">Name that can easily go onto 2 lines</h3>
          <h4 class="title-xs-alt thumbnail-author">Author that can easily go onto 2 lines as asily go onto 2 lines as well</h4>
        </div>
      </a>
    </li>
    <li class="ui-featured-entries-item">
      <a href="#" class="featured-entry">
        <div class="featured-entry-preview">
          <span>
            <%= image_tag "redesign/tmp/media-entry-8.jpeg" %>
          </span>
        </div>
        <div class="featured-entry-metadata">
          <h3 class="title-s thumbnail-name">Name that can easily go onto 2 lines</h3>
          <h4 class="title-xs-alt thumbnail-author">Author that can easily go onto 2 lines as well</h4>
        </div>
      </a>
    </li>
    <li class="ui-featured-entries-item">
      <a href="#" class="featured-entry">
        <div class="featured-entry-preview">
          <span>
            <%= image_tag "redesign/tmp/media-entry-3.jpeg" %>
          </span>
        </div>
        <div class="featured-entry-metadata">
          <h3 class="title-s thumbnail-name">Name that can easily go onto 2 lines</h3>
          <h4 class="title-xs-alt thumbnail-author">Author that can easily go onto 2 lines as well</h4>
        </div>
      </a>
    </li>
    <li class="ui-featured-entries-item">
      <a href="#" class="featured-entry">
        <div class="featured-entry-preview">
          <span>
            <%= image_tag "redesign/tmp/media-entry-6.jpeg" %>
          </span>
        </div>
        <div class="featured-entry-metadata">
          <h3 class="title-s thumbnail-name">Name that can easily go onto 2 lines</h3>
          <h4 class="title-xs-alt thumbnail-author">Author that can easily go onto 2 lines as well</h4>
        </div>
      </a>
    </li>
  </ul>
</div>
<% end %>

<% kss_block '8.11' do %>
<div class="elevator-pitch container">
  <div class="col2of3">
    <div class="pitch-claim">
      <h1 class="title-xxl">Bilder, Fotos, Videos und Audio-Dateien</h1>
      <h2 class="title-l">Das Medienarchiv ist ein Werkzeug zum gemeinschaftlichen arbeiten mit Medien und zum Teilen von Inhalten.</h2>
    </div>
  </div>
  <div class="col1of3">
    <div class="pitch-login">
      <ul class="tab-navigation container">
        <li class="tab-navigation-item active left"><a href="#zhdk-user" data-toggle="tab">ZHdK-Login</a></li>
        <li class="tab-navigation-item right"><a href="#external-user" data-toggle="tab">Externe Benutzer</a></li>
      </ul>
      <div class="tab-content pitch-login-tab">
        <div class="tab-pane active" id="zhdk-user">
          <p>Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est uVivamus hendrerit arcu sed erat molestie vehicula. Sed au.</p>
        </div>
        <div class="tab-pane" id="external-user">
          <form>
            <div class="form-body">
              <ul class="form-body-list">
                <li class="form-body-list-item">
                  <input type="text" class="block large" placeholder="Benutzername" />
                </li>
                <li class="form-body-list-item">
                  <input type="password" class="block large" placeholder="Passwort" />
                </li>
              </ul>
            </div>
            <div class="form-footer">
              <button class="primary-button block large">Anmelden</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% kss_block '8.12' do %>
<div class="flyout sets-flyout">
  <div class="flyout-head">
    <h3 class="title-l">Zu Set hinzufügen/entfernen</h3>
  </div>
  <div class="flyout-ui-toolbar top">
    <input type="text" placeholder="Suchen…" class="block">
  </div>
  <div class="flyout-body">
    <ol class="sets-list">
      <li>
        <label title="Awesomest set">
          <input id="Awesomest_set" name="Awesomeset_Set" type="checkbox" value="1">
          <span class="title">Awesomest set</span>
          <span class="owner">Interactive Things</span>
          <span class="created-at" data-search="20.08.2012">20.08.2012</span>
        </label>
      </li>
      <li>
        <label title="Awesomest set2">
          <input id="Awesomest_set2" name="Awesomeset_Set2" type="checkbox" value="1">
          <span class="title">Awesomest set2</span>
          <span class="owner">Interactive Things</span>
          <span class="created-at" data-search="20.08.2012">20.08.2012</span>
        </label>
      </li>
      <li>
        <label title="Awesomest set2">
          <input id="Awesomest_set2" name="Awesomeset_Set2" type="checkbox" value="1">
          <span class="title">Awesomest set2</span>
          <span class="owner">Interactive Things</span>
          <span class="created-at" data-search="20.08.2012">20.08.2012</span>
        </label>
      </li>
      <li>
        <label title="Awesomest set2">
          <input id="Awesomest_set2" name="Awesomeset_Set2" type="checkbox" value="1">
          <span class="title">Awesomest set2</span>
          <span class="owner">Interactive Things</span>
          <span class="created-at" data-search="20.08.2012">20.08.2012</span>
        </label>
      </li>
      <li>
        <label title="Awesomest set2">
          <input id="Awesomest_set2" name="Awesomeset_Set2" type="checkbox" value="1">
          <span class="title">Awesomest set2</span>
          <span class="owner">Interactive Things</span>
          <span class="created-at" data-search="20.08.2012">20.08.2012</span>
        </label>
      </li>
      <li>
        <label title="Awesomest set2">
          <input id="Awesomest_set2" name="Awesomeset_Set2" type="checkbox" value="1">
          <span class="title">Awesomest set2</span>
          <span class="owner">Interactive Things</span>
          <span class="created-at" data-search="20.08.2012">20.08.2012</span>
        </label>
      </li>
      <li>
        <label title="Awesomest set2">
          <input id="Awesomest_set2" name="Awesomeset_Set2" type="checkbox" value="1">
          <span class="title">Awesomest set2</span>
          <span class="owner">Interactive Things</span>
          <span class="created-at" data-search="20.08.2012">20.08.2012</span>
        </label>
      </li>
      <li>
        <label title="Awesomest set2">
          <input id="Awesomest_set2" name="Awesomeset_Set2" type="checkbox" value="1">
          <span class="title">Awesomest set2</span>
          <span class="owner">Interactive Things</span>
          <span class="created-at" data-search="20.08.2012">20.08.2012</span>
        </label>
      </li>
    </ol>
  </div>
  <div class="flyout-ui-toolbar bottom">
    <a class="button small block">Neues Set erstellen</a>
    <div class="sets-add-new hide">
      <input type="text" class="block small">
      <a class="button small"><i class="icon-plus">Add</i></a>
    </div>
  </div>
  <div class="flyout-footer">
    <div class="actions-bar">
      <a href="#" class="primary-button">Anwenden</a>
      <a href="#" class="left link">Abbrechen</a>
    </div>
  </div>
</div>
<% end %>

<% kss_block '8.13' do %>
<div class="rights-management">
  <div class="rights-body">
    <table class="rights-group bordered">
      <caption>Ich</caption>
      <thead>
        <tr>
          <td class="rights-user-title">User</td>
          <td class="rights-role-title">Berechtigung</td>
          <td class="rights-check-title">Betrachten</td>
          <td class="rights-check-title">Download Original</td>
          <td class="rights-check-title">Editieren</td>
          <td class="rights-check-title">Berechtigung verwalten</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="rights-user">Interactive Things</td>
          <td class="rights-role">Eigentumer/in</td>
          <td class="rights-check"><input type="checkbox" checked="checked" disabled="disabled"></td>
          <td class="rights-check"><input type="checkbox" checked="checked" disabled="disabled"></td>
          <td class="rights-check"><input type="checkbox" checked="checked" disabled="disabled"></td>
          <td class="rights-check"><input type="checkbox" checked="checked" disabled="disabled"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="rights-body">
    <table class="rights-group bordered">
      <caption>Personen <i class="icon-privacy-private"></i></caption>
      <tbody>
        <tr>
          <td class="rights-user">Interactive Things</td>
          <td class="rights-role">
            <select>
              <option>Bevollmachtigte/r</option>
              <option>Betrachter/in</option>
              <option>Betrachter/in &amp; Original</option>
              <option>Gesperrt</option>
              <option>Redakteur/in</option>
            </select>
          </td>
          <td class="rights-check"><input type="checkbox" ></td>
          <td class="rights-check"><input type="checkbox" ></td>
          <td class="rights-check"><input type="checkbox" ></td>
          <td class="rights-check"><input type="checkbox" ></td>
        </tr>
        <tr>
          <td class="rights-user">Interactive Things 2</td>
          <td class="rights-role">
            <select>
              <option>Bevollmachtigte/r</option>
              <option>Betrachter/in</option>
              <option>Betrachter/in &amp; Original</option>
              <option>Gesperrt</option>
              <option>Redakteur/in</option>
            </select>
          </td>
          <td class="rights-check"><input type="checkbox" ></td>
          <td class="rights-check"><input type="checkbox" ></td>
          <td class="rights-check"><input type="checkbox" ></td>
          <td class="rights-check"><input type="checkbox" ></td>
        </tr>
      </tbody>
    </table>
    <a href="#" class="button small"><i class="icon-plus"></i> Person hinzufugen</a>
  </div>
  <div class="rights-body">
    <table class="rights-group bordered">
      <caption>Gruppen <i class="icon-privacy-group"></i></caption>
      <tbody>
        <tr>
          <td class="rights-user">Interactive Things</td>
          <td class="rights-role">
            <select>
              <option>Bevollmachtigte/r</option>
              <option>Betrachter/in</option>
              <option>Betrachter/in &amp; Original</option>
              <option>Gesperrt</option>
              <option>Redakteur/in</option>
            </select>
          </td>
          <td class="rights-check"><input type="checkbox" ></td>
          <td class="rights-check"><input type="checkbox" ></td>
          <td class="rights-check"><input type="checkbox" ></td>
          <td class="rights-check"><input type="checkbox" ></td>
        </tr>
        <tr>
          <td class="rights-user">Interactive Things 2</td>
          <td class="rights-role">
            <select>
              <option>Bevollmachtigte/r</option>
              <option>Betrachter/in</option>
              <option>Betrachter/in &amp; Original</option>
              <option>Gesperrt</option>
              <option>Redakteur/in</option>
            </select>
          </td>
          <td class="rights-check"><input type="checkbox" ></td>
          <td class="rights-check"><input type="checkbox" ></td>
          <td class="rights-check"><input type="checkbox" ></td>
          <td class="rights-check"><input type="checkbox" ></td>
        </tr>
      </tbody>
    </table>
    <a href="#" class="button small"><i class="icon-plus"></i> Gruppe hinzufugen</a>
  </div>
  <div class="rights-body">
    <table class="rights-group bordered">
      <caption>Öffentlichkeit <i class="icon-privacy-public"></i></caption>
      <tbody>
        <tr>
          <td class="rights-user">Öffentlichkeit</td>
          <td class="rights-role">
            <select>
              <option>Bevollmachtigte/r</option>
              <option>Betrachter/in</option>
              <option>Betrachter/in &amp; Original</option>
              <option>Gesperrt</option>
              <option>Redakteur/in</option>
            </select>
          </td>
          <td class="rights-check"><input type="checkbox" ></td>
          <td class="rights-check"><input type="checkbox" ></td>
          <td class="rights-check"><input type="checkbox" ></td>
          <td class="rights-check"><input type="checkbox" ></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %>

<% kss_block '8.14' do %>
<table class="ui-workgroups bordered">
  <thead>
    <tr>
      <td class="ui-workgroup-name-title">Arbeitsgrupp</td>
      <td class="ui-workgroup-items-title">Inhalte</td>
      <td class="ui-workgroup-actions-title">Aktionen</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="ui-workgroup-name">Interactive Things</td>
      <td class="ui-workgroup-items">
        <a href="#">
          54243
        </a>
      </td>
      <td class="ui-workgroup-actions">
        <a class="button small">
          <i class="icon-trash dark"></i>
        </a>
        <a class="button small">
          <i class="icon-edit dark"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
<% end %>
