:ruby
  element = {
    name: 'Sample rowed form', todo: true,
    cssFile: '_forms.scss',
    cssSelector: 'form',
    section: '5.1.1',
    example_locals: {
      head: combo('alerts',
        list: [
          { level: 'error', text: "There's an error in this form." },
          { level: 'warning', text: "There's also a warning/highlight." }]),
      body: nil, # captured below
      footer: nil # captured below
    }
  }

- element[:example_locals][:body] = capture_haml do
  = combo('form-group', mods: 'rowed', label: { text: 'Checkboxes',
        comment: 'Comment if needed',
        hint: 'Tooltip Text' }) do
    %label.col2of6
      %input{:type => 'checkbox'}/
      Checkbox
    %label.col2of6
      %input{:type => 'checkbox'}/
      Checkbox
    %label.col2of6
      %input{:type => 'checkbox'}/
      Checkbox

  = combo('form-group', mods: 'rowed', label: { text: 'Radios',
        comment: 'Comment if needed',
        hint: 'Tooltip Text' }) do
    %label.col2of6
      %input{:type => 'radio'}/
      Radio button
    %label.col2of6
      %input{:type => 'radio'}/
      Radio button
    %label.col2of6
      %input{:type => 'radio'}/
      Radio button

  = combo('form-group', mods: 'rowed', label: { text: 'Date',
        comment: 'Comment if needed',
        hint: 'Tooltip Text' }) do
    %input.block.ui-datepicker{:type => 'text'}/

  = combo('form-group', mods: 'rowed', label: { text: 'Text',
        comment: 'Comment if needed',
        hint: 'Tooltip Text' }) do
    %input.block{:type => 'text'}/

  = combo('form-group', mods: 'rowed', label: { text: 'Text',
        comment: { mods: 'clear', text: 'Comment if needed'},
        hint: 'Tooltip Text' }) do
    %input.block{:type => 'text'}/

  = combo('form-group', mods: 'rowed.highlight', label: { text: 'Textarea',
        comment: 'Comment if needed',
        hint: 'Tooltip Text' }) do
    %textarea.block

  = combo('form-group', mods: 'rowed', label: { text: 'Select',
        comment: 'Comment if needed',
        hint: 'Tooltip Text' }) do
    %select.block
      %option Option 1
      %option Option 2

  = combo('form-group', mods: 'rowed.error', label: { text: 'Text',
        comment: 'Comment if needed',
        hint: 'Tooltip Text' }) do
    %input.block{:type => 'text'}/

- element[:example_locals][:footer] = capture_haml do
  .ui-actions
    %a.link.weak Secondary Action
    %button.primary-button.large Primary Action

= render_partial('element', element) do
  = render_partial('example') do

    = combo('form', element[:example_locals])
