:ruby
  element = {
    name: 'Button',
    cssFile: '_buttons.scss',
    cssSelector: '.button',
    section: '4.2',
    mods: {
      nil => 'Default',
      ':hover' => 'Hovered primary button',
      'active' => 'Active primary button',
      'block' => 'Primary button that takes the whole width',
      'small' => 'Small primary button',
      'large' => 'Large primary button',
      'disabled' => 'Disabled link'
    }
  }

= render_partial('element', element) do
  - element[:mods].each do |name, description|
    = render_partial('example', mod: name) do

      = component('button', mods: name, href: '#nothing') do
        = "Button"
      = component('button', mods: name, href: '#nothing') do
        = component('icon.tag')
        = "Button"
