:ruby
  element = {
    name: 'Tertiary Buttons',
    cssFile: '_buttons.scss',
    cssSelector: '.tertiary-button',
    section: '4.4',
    mods: {
      nil => 'Default',
      ':hover' => 'Hovered tag button',
      'active' => 'Active tag button',
      'block' => 'Tertiary button that takes the whole width',
      'small' => 'Small tertiary button',
      'large' => 'Large tertiary button'
      # TODO: '.disabled'?
    }
  }

= partial('element', element) do
  - element[:mods].each do |name, description|
    = partial('example', { mod: name}) do

      = component('button.tertiary', mods: name, href: '#nothing') do
        = "Tertiary Button"
      = component('button.tertiary', mods: name, href: '#nothing') do
        = component('icon.tag')
        = "Tertiary Button"
