:ruby
  element = {
    name: 'Extended Buttons',
    cssFile: '_buttons.scss',
    cssSelector: '.button',
    section: '4.5',
    mods: {
      nil => 'Default',
      'small' => 'Small extended button',
      'large' => 'Large extended button',
      'block' => 'Block extended button',
      'block small' => 'Block extended button',
      'block large' => 'Block extended button',
      'disabled' => 'Disabled extended button'
    }
  }

= render_partial('element', element) do
  - element[:mods].each do |name, description|
    = render_partial('example', mod: name) do

      = component('button', mods: name, href: '#nothing') do
        Dropdown Button
        = component('icon.arrow-down', 'stand-alone')
      = component('button.primary', mods: name, href: '#nothing') do
        Dropdown Button
        = component('icon.arrow-down', 'stand-alone')
      = component('button.tertiary', mods: name, href: '#nothing') do
        Dropdown Button
        = component('icon.arrow-down', 'stand-alone')
