.app.view-set

  // HEADER

  = render "application/header/logged_in"

  .app-body

    // PAGE TITLE

    .app-body-title
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl Set name
        .ui-body-title-actions
          .dropdown
            %a.primary-button.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Weitere Aktionen
              %i.icon-arrow-down.bright.stand-alone
            %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
              %li.dropdown-menu-item
                %a{:href => "#"}
                  %i.icon-pen
                  Editieren
              %li.dropdown-menu-item
                %a{:href => "#"}
                  %i.icon-star
                  Favorisieren
              %li.dropdown-menu-item
                %a{:href => "#"}
                  %i.icon-lock
                  Zugriffsberechtigungen
              %li.dropdown-menu-item
                %a{:href => "#"}
                  %i.icon-move
                  Zu Set hinzufugen / entfernen
              %li.dropdown-menu-item
                %a{:href => "#"}
                  Hervorheben
              %li.dropdown-menu-item
                %a{:href => "#"}
                  %i.icon-cover
                  Titelbild
              %li.dropdown-menu-item
                %a{:href => "#"}
                  %i.icon-eye
                  Darstellung speichern
              %li.dropdown-menu-item
                %a{:href => "#"}
                  %i.icon-trash
                  Löschen
              %li.dropdown-menu-item
                %a{:href => "#"}
                  %i.icon-new-set
                  Neues Set
              %li.dropdown-menu-item
                %a{:href => "#"}
                  %i.icon-vis-graph
                  Graph berechnen

    .app-body-ui-container

      // TABS

      %ul.ui-tabs.large
        %li.ui-tabs-item.active
          %a{"data-toggle" => "tab", :href => "#set-overview"} Set-&Uuml;bersicht
        %li.ui-tabs-item
          %a{"data-toggle" => "tab", :href => "#parenting-sets"} &Uuml;bergeordnete Sets
        %li.ui-tabs-item
          %a{"data-toggle" => "tab", :href => "#contexts"} Kontexte
        %li.ui-tabs-item
          %a{"data-toggle" => "tab", :href => "#excerpt"} Auszug
        %li.ui-tabs-item
          %a{"data-toggle" => "tab", :href => "#vocabulary"} Vokabular

      // TAB CONTENT

      .ui-container.rounded-right.rounded-bottom.tab-content

        // SET OVERVIEW

        .tab-pane.active#set-overview
          .ui-container.bright.bordered.pal
            %ul.ui-resources-list.tiles
              %li.ui-resources-item.mrl
                .ui-thumbnail.media-set
                  .ui-thumbnail-level-up-items
                    %h3.ui-thumbnail-level-notes Set enthalt
                    %ul.ui-thumbnail-level-items
                      %li.ui-thumbnail-level-item.odd
                        %a.ui-level-image-wrapper{:href => "#", :title => "Set name"}
                          .ui-thumbnail-level-image-holder
                            = image_tag "redesign/styleguide/media-entry-6.jpeg", :class => "ui-thumbnail-level-image"
                      %li.ui-thumbnail-level-item.even
                        %a.ui-level-image-wrapper{:href => "#", :title => "Set name"}
                          .ui-thumbnail-level-image-holder
                            = image_tag "redesign/styleguide/media-entry-5.jpeg", :class => "ui-thumbnail-level-image"
                    %span.ui-thumbnail-level-notes 5 Inhalte
                  .ui-thumbnail-privacy
                    %i.icon-privacy-group This media is shared with a group
                  %a.ui-thumbnail-image-wrapper
                    .ui-thumbnail-image-holder
                      = image_tag "redesign/styleguide/media-entry-9.jpg", :class => "ui-thumbnail-image"
                  .ui-thumbnail-meta
                    %h3.ui-thumbnail-meta-title Name that can easily go onto 2 lines
                    %h4.ui-thumbnail-meta-subtitle Author that can easily go onto 2 lines as well
                  .ui-thumbnail-actions
                    %ul.left.by-left
                      %li.ui-thumbnail-action
                        %a.ui-thumbnail-action-checkbox Select
                      %li.ui-thumbnail-action
                        %a.ui-thumbnail-action-favorite Favorite
                    %ul.right.by-right
                      %li.ui-thumbnail-action
                        %a.ui-thumbnail-action-browse Browse
                      %li.ui-thumbnail-action
                        %a.ui-thumbnail-action-edit Edit
                      %li.ui-thumbnail-action
                        %a.ui-thumbnail-action-delete Delete
                  .ui-thumbnail-level-down-items
                    %h3.ui-thumbnail-level-notes Set enthalt
                    %ul.ui-thumbnail-level-items
                      %li.ui-thumbnail-level-item.odd
                        %a.ui-level-image-wrapper{:href => "#", :title => "Set name"}
                          .ui-thumbnail-level-image-holder
                            = image_tag "redesign/styleguide/media-entry-4.jpeg", :class => "ui-thumbnail-level-image"
                      %li.ui-thumbnail-level-item.even
                        %a.ui-level-image-wrapper{:href => "#", :title => "Set name"}
                          .ui-thumbnail-level-image-holder
                            = image_tag "redesign/styleguide/media-entry-6.jpeg", :class => "ui-thumbnail-level-image"
                    %span.ui-thumbnail-level-notes 5 Inhalte
            .ui-metadata-box.ui-summary-table
              %table.borderless
                %tbody
                  %tr
                    %td.ui-summary-label Titel
                    %td.ui-summary-content.title-l Black hot drink
                  %tr
                    %td.ui-summary-label Beschreibung
                    %td.ui-summary-content Die Medieneintr&auml;ge in diesem Set dienen als Beispiele, wie die Metadatenfelder zur Verschlagwortung genutzt werden k&ouml;nnen. Die Medieneintr&auml;ge in diesem Set dienen als Beispiele, wie die Metadatenfelder zur Verschlagwortung genutzt werden k&ouml;nnen. Die Medieneintr&auml;ge in diesem Set dienen als Beispiele, wie die Metadatenfelder zur Verschlagwortung genutzt werden k&ouml;nnen. Die Medieneintr&auml;ge in diesem Set dienen als Beispiele, wie die Metadatenfelder zur Verschlagwortung genutzt werden k&ouml;nnen.
                  %tr
                    %td.ui-summary-label Autor/in
                    %td.ui-summary-content
                      %a{:href => "#"} Federico C.
                  %tr
                    %td.ui-summary-label Eigentumer/in
                    %td.ui-summary-content
                      %a{:href => "#"} Federico C.
                  %tr
                    %td.ui-summary-label Schlagworte
                    %td.ui-summary-content
                      %ul.ui-tag-cloud.small
                        %li.tag-button
                          %a{:href => "#"} Tag 1
                        %li.tag-button
                          %a{:href => "#"} Tag 2

        .tab-pane#parenting-sets
          .media-entry-primary.bright.ui-container.pal.bordered
            %h2.title-l.separated.mbl Diese Media ist in 2 Sets enthalten.
            %ul.ui-resources-list.tiles.active
              %li.ui-resources-item
                .ui-thumbnail.media-set
                  .ui-thumbnail-level-up-items
                    %h3.ui-thumbnail-level-notes Set enthalt
                    %ul.ui-thumbnail-level-items
                      %li.ui-thumbnail-level-item.odd
                        %a.ui-level-image-wrapper{:href => "#", :title => "Set name"}
                          .ui-thumbnail-level-image-holder
                            = image_tag "redesign/styleguide/media-entry-6.jpeg", :class => "ui-thumbnail-level-image"
                      %li.ui-thumbnail-level-item.even
                        %a.ui-level-image-wrapper{:href => "#", :title => "Set name"}
                          .ui-thumbnail-level-image-holder
                            = image_tag "redesign/styleguide/media-entry-6.jpeg", :class => "ui-thumbnail-level-image"
                    %span.ui-thumbnail-level-notes 5 Inhalte
                  .ui-thumbnail-privacy
                    %i.icon-privacy-group This media is shared with a group
                  %a.ui-thumbnail-image-wrapper
                    .ui-thumbnail-image-holder
                      = image_tag "redesign/styleguide/media-entry-6.jpeg", :class => "ui-thumbnail-image"
                  .ui-thumbnail-meta
                    %h3.ui-thumbnail-meta-title Name that can easily go onto 2 lines
                    %h4.ui-thumbnail-meta-subtitle Author that can easily go onto 2 lines as well
                  .ui-thumbnail-actions
                    %ul.left.by-left
                      %li.ui-thumbnail-action
                        %a.ui-thumbnail-action-checkbox Select
                      %li.ui-thumbnail-action
                        %a.ui-thumbnail-action-favorite Favorite
                    %ul.right.by-right
                      %li.ui-thumbnail-action
                        %a.ui-thumbnail-action-browse Browse
                      %li.ui-thumbnail-action
                        %a.ui-thumbnail-action-edit Edit
                      %li.ui-thumbnail-action
                        %a.ui-thumbnail-action-delete Delete
                  .ui-thumbnail-level-down-items
                    %h3.ui-thumbnail-level-notes Set enthalt
                    %ul.ui-thumbnail-level-items
                      %li.ui-thumbnail-level-item.odd
                        %a.ui-level-image-wrapper{:href => "#", :title => "Set name"}
                          .ui-thumbnail-level-image-holder
                            = image_tag "redesign/styleguide/media-entry-6.jpeg", :class => "ui-thumbnail-level-image"
                      %li.ui-thumbnail-level-item.even
                        %a.ui-level-image-wrapper{:href => "#", :title => "Set name"}
                          .ui-thumbnail-level-image-holder
                            = image_tag "redesign/styleguide/media-entry-6.jpeg", :class => "ui-thumbnail-level-image"
                    %span.ui-thumbnail-level-notes 5 Inhalte
              %li.ui-resources-item
                .ui-thumbnail.media-set
                  .ui-thumbnail-level-up-items
                    %span.ui-thumbnail-level-notes Keine übergeordneten Sets
                  .ui-thumbnail-privacy
                    %i.icon-privacy-group This media is shared with a group
                  %a.ui-thumbnail-image-wrapper
                    .ui-thumbnail-image-holder
                      = image_tag "redesign/styleguide/media-entry-7.jpeg", :class => "ui-thumbnail-image"
                  .ui-thumbnail-meta
                    %h3.ui-thumbnail-meta-title Name that can easily go onto 2 lines
                    %h4.ui-thumbnail-meta-subtitle Author that can easily go onto 2 lines as well
                  .ui-thumbnail-actions
                    %ul.left.by-left
                      %li.ui-thumbnail-action
                        %a.ui-thumbnail-action-checkbox Select
                      %li.ui-thumbnail-action
                        %a.ui-thumbnail-action-favorite Favorite
                    %ul.right.by-right
                      %li.ui-thumbnail-action
                        %a.ui-thumbnail-action-browse Browse
                      %li.ui-thumbnail-action
                        %a.ui-thumbnail-action-edit Edit
                      %li.ui-thumbnail-action
                        %a.ui-thumbnail-action-delete Delete
                  .ui-thumbnail-level-down-items
                    %h3.ui-thumbnail-level-notes Set enthalt
                    %ul.ui-thumbnail-level-items
                      %li.ui-thumbnail-level-item.odd
                        %a.ui-level-image-wrapper{:href => "#", :title => "Set name"}
                          .ui-thumbnail-level-image-holder
                            = image_tag "redesign/styleguide/media-entry-6.jpeg", :class => "ui-thumbnail-level-image"
                      %li.ui-thumbnail-level-item.even
                        %a.ui-level-image-wrapper{:href => "#", :title => "Set name"}
                          .ui-thumbnail-level-image-holder
                            = image_tag "redesign/styleguide/media-entry-6.jpeg", :class => "ui-thumbnail-level-image"
                    %span.ui-thumbnail-level-notes 5 Inhalte

        .tab-pane#contexts
          .media-entry-primary.bright.ui-container.pal.bordered
            %h2.title-l.separated.mbl Kontexte.
            .ui-container.mbl
              .col1of3
                .ui-metadata-box.prm
                  %h3.title-m.separated.light.mbm Landschaftstyp
                  %ol
                    %li.odd Agglomeration
                    %li.even Bucht
                    %li.odd Ebene
                    %li.even Erholungszone
                    %li.odd Something very very long that could break
                    %li.even Short
                    %li.odd Landwirtschaft
                    %li.even Naturlandschaft
              .col1of3
                .ui-metadata-box.phm
                  %h3.title-m.separated.light.mbm Horizontlinie
                  %ol
                    %li{:class => "odd"} Agglomeration
                    %li.even Bucht
                    %li{:class => "odd"} Ebene
                    %li.even Erholungszone
                    %li{:class => "odd"} Landwirtschaft
                    %li.even Naturlandschaft
              .col1of3
                .ui-metadata-box.plm
                  %h3.title-m.separated.light.mbm Verwendungszweck
                  %ol
                    %li{:class => "odd"} Agglomeration
                    %li.even Bucht
                    %li{:class => "odd"} Ebene
                    %li.even Erholungszone
                    %li{:class => "odd"} Landwirtschaft
                    %li.even Naturlandschaft
            .ui-container.mbl
              .col1of3
                .ui-metadata-box.prm
                  %h3.title-m.separated.light.mbm Räumliche Wahrnehmung
                  %ol
                    %li.odd Agglomeration
                    %li.even Bucht
                    %li.odd Ebene
                    %li.even Erholungszone
                    %li.odd Something very very long that could break
                    %li.even Short
                    %li.odd Landwirtschaft
                    %li.even Naturlandschaft
              .col1of3
                .ui-metadata-box.phm
                  %h3.title-m.separated.light.mbm Bildzeit
                  %ol
                    %li{:class => "odd"} Agglomeration
                    %li.even Bucht
                    %li{:class => "odd"} Ebene
                    %li.even Erholungszone
                    %li{:class => "odd"} Landwirtschaft
                    %li.even Naturlandschaft
              .col1of3
                .ui-metadata-box.plm
                  %h3.title-m.separated.light.mbm Abstraktionsgrad
                  %ol
                    %li{:class => "odd"} Agglomeration
                    %li.even Bucht
                    %li{:class => "odd"} Ebene
                    %li.even Erholungszone
                    %li{:class => "odd"} Landwirtschaft
                    %li.even Naturlandschaft
            .ui-container.mbl
              .col1of3
                .ui-metadata-box.prm
                  %h3.title-m.separated.light.mbm Wetter/Klima
                  %ol
                    %li.odd Agglomeration
                    %li.even Bucht
                    %li.odd Ebene
                    %li.even Erholungszone
                    %li.odd Something very very long that could break
                    %li.even Short
                    %li.odd Landwirtschaft
                    %li.even Naturlandschaft
              .col1of3
                .ui-metadata-box.phm
                  %h3.title-m.separated.light.mbm Landschaftselemente
                  %ol
                    %li{:class => "odd"} Agglomeration
                    %li.even Bucht
                    %li{:class => "odd"} Ebene
                    %li.even Erholungszone
                    %li{:class => "odd"} Landwirtschaft
                    %li.even Naturlandschaft
              .col1of3
                .ui-metadata-box.plm
                  %h3.title-m.separated.light.mbm Farbe
                  %ol
                    %li{:class => "odd"} Agglomeration
                    %li.even Bucht
                    %li{:class => "odd"} Ebene
                    %li.even Erholungszone
                    %li{:class => "odd"} Landwirtschaft
                    %li.even Naturlandschaft
            .ui-container
              .col1of3
                .ui-metadata-box.prm
                  %h3.title-m.separated.light.mbm Wetter/Klima
                  %ol
                    %li.odd Agglomeration
                    %li.even Bucht
                    %li.odd Ebene
                    %li.even Erholungszone
                    %li.odd Something very very long that could break
                    %li.even Short
                    %li.odd Landwirtschaft
                    %li.even Naturlandschaft
              .col1of3
                .ui-metadata-box.phm
                  %h3.title-m.separated.light.mbm Bildwirkung
                  %ol
                    %li{:class => "odd"} Agglomeration
                    %li.even Bucht
                    %li{:class => "odd"} Ebene
                    %li.even Erholungszone
                    %li{:class => "odd"} Landwirtschaft
                    %li.even Naturlandschaft
              .col1of3
                .ui-metadata-box.plm
                  %h3.title-m.separated.light.mbm Genre
                  %ol
                    %li{:class => "odd"} Agglomeration
                    %li.even Bucht
                    %li{:class => "odd"} Ebene
                    %li.even Erholungszone
                    %li{:class => "odd"} Landwirtschaft
                    %li.even Naturlandschaft

        // EXCERPTS

        .tab-pane#excerpt
          .media-entry-primary.bright.ui-container.pal.bordered
            %h2.title-l.separated.mbl Diese Metadaten wurden am h&auml;ufigsten vergeben. Sie zeigen den thematischen Schwerpunkt des Projekts an.
            .ui-container.mbl
              .ui-slider
                %a.ui-slider-handle
                  %span.ui-slider-info.ui-container.inverted 8 von 14
            .ui-container.mbl
              .col1of3
                .ui-metadata-box.prm
                  %h3.title-m.separated.light.mbm Landschaftstyp
                  %ul.ui-tag-cloud.small
                    %li.tag-button
                      %a{:href => "#"}
                        %i.icon-eye
                        Tag 1
                    %li.tag-button
                      %a{:href => "#"}
                        %i.icon-eye
                        Tag 2
                    %li.tag-button
                      %a{:href => "#"}
                        %i.icon-eye
                        Tag 3
              .col1of3
                .ui-metadata-box.phm
                  %h3.title-m.separated.light.mbm Horizontlinie
                  %ul.ui-tag-cloud.small
                    %li.tag-button
                      %a{:href => "#"}
                        %i.icon-eye
                        Tag 1
                    %li.tag-button
                      %a{:href => "#"}
                        %i.icon-eye
                        Tag 2
                    %li.tag-button
                      %a{:href => "#"}
                        %i.icon-eye
                        Tag 3
              .col1of3
                .ui-metadata-box.plm
                  %h3.title-m.separated.light.mbm Verwendungszweck
                  %ul.ui-tag-cloud.small
                    %li.tag-button
                      %a{:href => "#"}
                        %i.icon-eye
                        Tag 1
                    %li.tag-button
                      %a{:href => "#"}
                        %i.icon-eye
                        Tag 2
                    %li.tag-button
                      %a{:href => "#"}
                        %i.icon-eye
                        Tag 3
            .ui-container.mbl
              .col1of3
                .ui-metadata-box.prm
                  %h3.title-m.separated.light.mbm Räumliche Wahrnehmung
                  %ul.ui-tag-cloud.small
                    %li.tag-button
                      %a{:href => "#"}
                        %i.icon-eye
                        Tag 1
                    %li.tag-button
                      %a{:href => "#"}
                        %i.icon-eye
                        Tag 2
                    %li.tag-button
                      %a{:href => "#"}
                        %i.icon-eye
                        Tag 3
              .col1of3
                .ui-metadata-box.phm
                  %h3.title-m.separated.light.mbm Bildzeit
                  %ul.ui-tag-cloud.small
                    %li.tag-button
                      %a{:href => "#"}
                        %i.icon-eye
                        Tag 1
                    %li.tag-button
                      %a{:href => "#"}
                        %i.icon-eye
                        Tag 2
                    %li.tag-button
                      %a{:href => "#"}
                        %i.icon-eye
                        Tag 3
              .col1of3
                .ui-metadata-box.plm
                  %h3.title-m.separated.light.mbm Abstraktionsgrad
                  %ul.ui-tag-cloud.small
                    %li.tag-button
                      %a{:href => "#"}
                        %i.icon-eye
                        Tag 1
                    %li.tag-button
                      %a{:href => "#"}
                        %i.icon-eye
                        Tag 2
                    %li.tag-button
                      %a{:href => "#"}
                        %i.icon-eye
                        Tag 3
            .ui-container.mbl
              .col1of3
                .ui-metadata-box.prm
                  %h3.title-m.separated.light.mbm Wetter/Klima
                  %ul.ui-tag-cloud.small
                    %li.tag-button
                      %a{:href => "#"}
                        %i.icon-eye
                        Tag 1
                    %li.tag-button
                      %a{:href => "#"}
                        %i.icon-eye
                        Tag 2
                    %li.tag-button
                      %a{:href => "#"}
                        %i.icon-eye
                        Tag 3
              .col1of3
                .ui-metadata-box.phm
                  %h3.title-m.separated.light.mbm Landschaftselemente
                  %ul.ui-tag-cloud.small
                    %li.tag-button
                      %a{:href => "#"}
                        %i.icon-eye
                        Tag 1
                    %li.tag-button
                      %a{:href => "#"}
                        %i.icon-eye
                        Tag 2
                    %li.tag-button
                      %a{:href => "#"}
                        %i.icon-eye
                        Tag 3
              .col1of3
                .ui-metadata-box.plm
                  %h3.title-m.separated.light.mbm Farbe
                  %ul.ui-tag-cloud.small
                    %li.tag-button
                      %a{:href => "#"}
                        %i.icon-eye
                        Tag 1
                    %li.tag-button
                      %a{:href => "#"}
                        %i.icon-eye
                        Tag 2
                    %li.tag-button
                      %a{:href => "#"}
                        %i.icon-eye
                        Tag 3
            .ui-container
              .col1of3
                .ui-metadata-box.prm
                  %h3.title-m.separated.light.mbm Bildwirkung
                  %ul.ui-tag-cloud.small
                    %li.tag-button
                      %a{:href => "#"}
                        %i.icon-eye
                        Tag 1
                    %li.tag-button
                      %a{:href => "#"}
                        %i.icon-eye
                        Tag 2
                    %li.tag-button
                      %a{:href => "#"}
                        %i.icon-eye
                        Tag 3
              .col1of3
                .ui-metadata-box.phm
                  %h3.title-m.separated.light.mbm Genre
                  %ul.ui-tag-cloud.small
                    %li.tag-button
                      %a{:href => "#"}
                        %i.icon-eye
                        Tag 1
                    %li.tag-button
                      %a{:href => "#"}
                        %i.icon-eye
                        Tag 2
                    %li.tag-button
                      %a{:href => "#"}
                        %i.icon-eye
                        Tag 3

        .tab-pane#vocabulary
          .media-entry-primary.bright.ui-container.pal.bordered
            %h2.title-l.separated.mbl
              Für dieses Set wurde ein spezifisches Vokabular erstellt.
              %span.right
                %a{:href => "#", :class => "weak"}<
                  %i.icon-checkbox>
                  Die bereits vergebenen Werte hervorheben

            .ui-container.mbl
              .col1of3
                .ui-metadata-box.prm
                  %h3.title-m.separated.light.mbm Landschaftstyp
                  %ol
                    %li.odd Agglomeration
                    %li.even Bucht
                    %li.odd Ebene
                    %li.even Erholungszone
                    %li.odd Something very very long that could break
                    %li.even Short
                    %li.odd Landwirtschaft
                    %li.even Naturlandschaft

              .col1of3
                .ui-metadata-box.phm
                  %h3.title-m.separated.light.mbm Horizontlinie
                  %ol
                    %li{:class => "odd"} Agglomeration
                    %li.even Bucht
                    %li{:class => "odd"} Ebene
                    %li.even Erholungszone
                    %li{:class => "odd"} Landwirtschaft
                    %li.even Naturlandschaft

              .col1of3
                .ui-metadata-box.plm
                  %h3.title-m.separated.light.mbm Verwendungszweck
                  %ol
                    %li{:class => "odd"} Agglomeration
                    %li.even Bucht
                    %li{:class => "odd"} Ebene
                    %li.even Erholungszone
                    %li{:class => "odd"} Landwirtschaft
                    %li.even Naturlandschaft
            .ui-container
              .col1of3
                .ui-metadata-box.prm
                  %h3.title-m.separated.light.mbm Räumliche Wahrnehmung
                  %ol
                    %li.odd Agglomeration
                    %li.even Bucht
                    %li.odd Ebene
                    %li.even Erholungszone
                    %li.odd Something very very long that could break
                    %li.even Short
                    %li.odd Landwirtschaft
                    %li.even Naturlandschaft
              .col1of3
                .ui-metadata-box.phm
                  %h3.title-m.separated.light.mbm Bildzeit
                  %ol
                    %li{:class => "odd"} Agglomeration
                    %li.even Bucht
                    %li{:class => "odd"} Ebene
                    %li.even Erholungszone
                    %li{:class => "odd"} Landwirtschaft
                    %li.even Naturlandschaft
              .col1of3
                .ui-metadata-box.plm
                  %h3.title-m.separated.light.mbm Abstraktionsgrad
                  %ol
                    %li{:class => "odd"} Agglomeration
                    %li.even Bucht
                    %li{:class => "odd"} Ebene
                    %li.even Erholungszone
                    %li{:class => "odd"} Landwirtschaft
                    %li.even Naturlandschaft

    // FEATURED ENTRIES

    .ui-container.midtone-darker.bordered
      .ui-container.inverted.ui-toolbar.phs.pvx
        %h2.ui-toolbar-header.left.col1of2
          %strong Interessante Elemente in diesem Set

      .ui-featured-entries
        %ul.ui-featured-entries-list.pal
          %li.ui-featured-entries-item
            %a.ui-featured-entry{:href => "#"}
              .ui-featured-entry-preview
                %span
                  = image_tag "redesign/styleguide/media-entry-7.jpeg"
              .ui-featured-entry-metadata
                %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as asily go onto 2 lines as well
          %li.ui-featured-entries-item
            %a.ui-featured-entry{:href => "#"}
              .ui-featured-entry-preview
                %span
                  = image_tag "redesign/styleguide/media-entry-8.jpeg"
              .ui-featured-entry-metadata
                %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as well
          %li.ui-featured-entries-item
            %a.ui-featured-entry{:href => "#"}
              .ui-featured-entry-preview
                %span
                  = image_tag "redesign/styleguide/media-entry-3.jpeg"
              .ui-featured-entry-metadata
                %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as well
          %li.ui-featured-entries-item
            %a.ui-featured-entry{:href => "#"}
              .ui-featured-entry-preview
                %span
                  = image_tag "redesign/styleguide/media-entry-6.jpeg"
              .ui-featured-entry-metadata
                %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as well

    // SET ITEMS

    .ui-container.midtone.bordered.rounded-bottom

      .ui-toolbar.inverted.ui-container.pvx.phs
        %h2.ui-toolbar-header.col1of2
          %strong Set enthält
          (3 von 11 für Sie sichtbar)
        .ui-toolbar-controls.col1of2.by-right
          .button-group.tertiary.small.right.mls
            %a.button.ui-toolbar-vis-button{"data-vis-mode" => "grid"}
              %i.ui-toolbar-icon-grid Grid
            %a.button.active.ui-toolbar-vis-button{"data-vis-mode" => "tiles"}
              %i.ui-toolbar-icon-tiles Tiles
            %a.button.ui-toolbar-vis-button{"data-vis-mode" => "list"}
              %i.ui-toolbar-icon-list List
          .dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Sort by Name
              %i.icon-arrow-down.bright
            %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
              %li.dropdown-menu-item
                %a{:href => "#"} Item 1
              %li.dropdown-menu-item
                %a{:href => "#"} Item 2
              %li.separator
              %li.dropdown-menu-item
                %a{:href => "#"} Abmelden

      .ui-filterbar.separated.mam.pbm.ui-container
        .left.col2of6
          %a.button.active#ui-side-filter-toggle
            %i.icon-sidebar
            Filtern
        .col2of6.by-center
          .button-group
            %a.button.active{:href => "#"} Alle
            %a.button{:href => "#"} Medientrage
            %a.button{:href => "#"} Sets
        .col2of6.by-right
          %a.weak{:href => "#"}<
            Select All
            %i.icon-checkbox>

      .ui-container.table.auto
        .ui-container.table-cell#ui-side-filter

          %ul#ui-side-filter.ui-side-filter.ui-accordion.mam
            %li.ui-side-filter-item
              %input.block.filter-search-input{:type => "text"}
                %button.small.filter-search-button.primary-button Search
            %li.ui-side-filter-item
              %a.strong.ui-accordion-toggle.ui-side-filter-lvl1-item
                Level 1 Filter
                %i.ui-side-filter-icon-arrow
              .ui-accordion-body
                %ul.ui-side-filter-lvl2
                  %li.ui-side-filter-lvl2-item
                    %a.weak{:href => "#"} Level 2 Filter
                  %li.ui-side-filter-lvl2-item
                    %a.weak{:href => "#"} Level 2 Filter
                    %ul.ui-side-filter-lvl3
                      %li.ui-side-filter-lvl3-item
                        %a.weak{:href => "#"} Level 3 filter
                      %li.ui-side-filter-lvl3-item
                        %a.weak{:href => "#"} Level 3 filter
                        %ul.ui-side-filter-lvl4
                          %li.ui-side-filter-lvl4-item
                            %a.weak{:href => "#"} Item 1
                          %li.ui-side-filter-lvl4-item
                            %a.weak{:href => "#"} Item 2
                      %li.ui-side-filter-lvl3-item
                        %a.weak{:href => "#"} Level 3 filter
                      %li.ui-side-filter-lvl3-item
                        %a.weak{:href => "#"} Level 3 filter
                  %li.ui-side-filter-lvl2-item
                    %a.weak{:href => "#"} Level 2 Filter
                  %li.ui-side-filter-lvl2-item
                    %a.weak{:href => "#"} Level 2 Filter
            %li.ui-side-filter-item
              %a.strong.ui-accordion-toggle.ui-side-filter-lvl1-item
                Level 1 Filter
                %i.ui-side-filter-icon-arrow
              .ui-accordion-body{:style => "display: block;"}
                %ul.ui-side-filter-lvl2
                  %li.ui-side-filter-lvl2-item
                    %a.weak{:href => "#"} Level 2 Filter
                  %li.ui-side-filter-lvl2-item
                    %a.weak{:href => "#"} Level 2 Filter
                    %ul.ui-side-filter-lvl3
                      %li.ui-side-filter-lvl3-item
                        %a.weak{:href => "#"} Level 3 filter
                      %li.ui-side-filter-lvl3-item
                        %a.weak{:href => "#"} Level 3 filter
                        %ul.ui-side-filter-lvl4
                          %li.ui-side-filter-lvl4-item
                            %a.weak{:href => "#"} Item 1
                          %li.ui-side-filter-lvl4-item
                            %a.weak{:href => "#"} Item 2
                      %li.ui-side-filter-lvl3-item
                        %a.weak{:href => "#"} Level 3 filter
                      %li.ui-side-filter-lvl3-item
                        %a.weak{:href => "#"} Level 3 filter
                  %li.ui-side-filter-lvl2-item
                    %a.weak{:href => "#"} Level 2 Filter
                  %li.ui-side-filter-lvl2-item
                    %a.weak{:href => "#"} Level 2 Filter
            %li.ui-side-filter-item
              %a.strong.ui-accordion-toggle.ui-side-filter-lvl1-item
                Level 1 Filter
                %i.ui-side-filter-icon-arrow
              .ui-accordion-body{:style => "display: none;"}
                %ul.ui-side-filter-lvl2
                  %li.ui-side-filter-lvl2-item
                    %a.weak{:href => "#"} Level 2 Filter
                  %li.ui-side-filter-lvl2-item
                    %a.weak{:href => "#"} Level 2 Filter
                    %ul.ui-side-filter-lvl3
                      %li.ui-side-filter-lvl3-item
                        %a.weak{:href => "#"} Level 3 filter
                      %li.ui-side-filter-lvl3-item
                        %a.weak{:href => "#"} Level 3 filter
                        %ul.ui-side-filter-lvl4
                          %li.ui-side-filter-lvl4-item
                            %a.weak{:href => "#"} Item 1
                          %li.ui-side-filter-lvl4-item
                            %a.weak{:href => "#"} Item 2
                      %li.ui-side-filter-lvl3-item
                        %a.weak{:href => "#"} Level 3 filter
                      %li.ui-side-filter-lvl3-item
                        %a.weak{:href => "#"} Level 3 filter
                  %li.ui-side-filter-lvl2-item
                    %a.weak{:href => "#"} Level 2 Filter
                  %li.ui-side-filter-lvl2-item
                    %a.weak{:href => "#"} Level 2 Filter

        .ui-container.table-cell
          .ui-container.pam
            .media-resources-wrapper
              %ul.ui-resources-list.tiles.active
                %li.ui-resources-item
                  .ui-thumbnail.media-set
                    .ui-thumbnail-level-up-items
                      %h3.ui-thumbnail-level-notes Set enthalt
                      %ul.ui-thumbnail-level-items
                        %li.ui-thumbnail-level-item.odd
                          %a.ui-level-image-wrapper{:href => "#", :title => "Set name"}
                            .ui-thumbnail-level-image-holder
                              = image_tag "redesign/styleguide/media-entry-6.jpeg", :class => "ui-thumbnail-level-image"
                        %li.ui-thumbnail-level-item.even
                          %a.ui-level-image-wrapper{:href => "#", :title => "Set name"}
                            .ui-thumbnail-level-image-holder
                              = image_tag "redesign/styleguide/media-entry-6.jpeg", :class => "ui-thumbnail-level-image"
                      %span.ui-thumbnail-level-notes 5 Inhalte
                    .ui-thumbnail-privacy
                      %i.icon-privacy-group This media is shared with a group
                    %a.ui-thumbnail-image-wrapper
                      .ui-thumbnail-image-holder
                        = image_tag "redesign/styleguide/media-entry-6.jpeg", :class => "ui-thumbnail-image"
                    .ui-thumbnail-meta
                      %h3.ui-thumbnail-meta-title Name that can easily go onto 2 lines
                      %h4.ui-thumbnail-meta-subtitle Author that can easily go onto 2 lines as well
                    .ui-thumbnail-actions
                      %ul.left.by-left
                        %li.ui-thumbnail-action
                          %a.ui-thumbnail-action-checkbox Select
                        %li.ui-thumbnail-action
                          %a.ui-thumbnail-action-favorite Favorite
                      %ul.right.by-right
                        %li.ui-thumbnail-action
                          %a.ui-thumbnail-action-browse Browse
                        %li.ui-thumbnail-action
                          %a.ui-thumbnail-action-edit Edit
                        %li.ui-thumbnail-action
                          %a.ui-thumbnail-action-delete Delete
                    .ui-thumbnail-level-down-items
                      %h3.ui-thumbnail-level-notes Set enthalt
                      %ul.ui-thumbnail-level-items
                        %li.ui-thumbnail-level-item.odd
                          %a.ui-level-image-wrapper{:href => "#", :title => "Set name"}
                            .ui-thumbnail-level-image-holder
                              = image_tag "redesign/styleguide/media-entry-6.jpeg", :class => "ui-thumbnail-level-image"
                        %li.ui-thumbnail-level-item.even
                          %a.ui-level-image-wrapper{:href => "#", :title => "Set name"}
                            .ui-thumbnail-level-image-holder
                              = image_tag "redesign/styleguide/media-entry-6.jpeg", :class => "ui-thumbnail-level-image"
                      %span.ui-thumbnail-level-notes 5 Inhalte
                %li.ui-resources-item
                  .ui-thumbnail.filter-set
                    .ui-thumbnail-level-up-items
                      %span.ui-thumbnail-level-notes Keine übergeordneten Sets
                    .ui-thumbnail-privacy
                      %i.icon-privacy-group This media is shared with a group
                    %a.ui-thumbnail-image-wrapper
                      .ui-thumbnail-image-holder
                        = image_tag "redesign/styleguide/media-entry-6.jpeg", :class => "ui-thumbnail-image"
                    .ui-thumbnail-meta
                      %h3.ui-thumbnail-meta-title Name that can easily go onto 2 lines
                      %h4.ui-thumbnail-meta-subtitle Author that can easily go onto 2 lines as well
                    .ui-thumbnail-actions
                      %ul.left.by-left
                        %li.ui-thumbnail-action
                          %a.ui-thumbnail-action-checkbox Select
                        %li.ui-thumbnail-action
                          %a.ui-thumbnail-action-favorite Favorite
                      %ul.right.by-right
                        %li.ui-thumbnail-action
                          %a.ui-thumbnail-action-browse Browse
                        %li.ui-thumbnail-action
                          %a.ui-thumbnail-action-edit Edit
                        %li.ui-thumbnail-action
                          %a.ui-thumbnail-action-delete Delete
                    .ui-thumbnail-level-down-items
                      %h3.ui-thumbnail-level-notes Set enthalt
                      %ul.ui-thumbnail-level-items
                        %li.ui-thumbnail-level-item.odd
                          %a.ui-level-image-wrapper{:href => "#", :title => "Set name"}
                            .ui-thumbnail-level-image-holder
                              = image_tag "redesign/styleguide/media-entry-6.jpeg", :class => "ui-thumbnail-level-image"
                        %li.ui-thumbnail-level-item.even
                          %a.ui-level-image-wrapper{:href => "#", :title => "Set name"}
                            .ui-thumbnail-level-image-holder
                              = image_tag "redesign/styleguide/media-entry-6.jpeg", :class => "ui-thumbnail-level-image"
                      %span.ui-thumbnail-level-notes 5 Inhalte
                %li.ui-resources-item
                  .ui-thumbnail.media-entry.video
                    .ui-thumbnail-privacy
                      %i.icon-privacy-private This media is private
                    %a.ui-thumbnail-image-wrapper
                      .ui-thumbnail-image-holder
                        = image_tag "redesign/styleguide/media-entry-4.jpeg", :class => "ui-thumbnail-image"
                    .ui-thumbnail-meta
                      %h3.ui-thumbnail-meta-title Name that can easily go onto 2 lines
                      %h4.ui-thumbnail-meta-subtitle Author that can easily go onto 2 lines as well
                    .ui-thumbnail-actions
                      %ul.left.by-left
                        %li.ui-thumbnail-action
                          %a.ui-thumbnail-action-checkbox Select
                        %li.ui-thumbnail-action
                          %a.ui-thumbnail-action-favorite Favorite
                      %ul.right.by-right
                        %li.ui-thumbnail-action
                          %a.ui-thumbnail-action-browse Browse
                        %li.ui-thumbnail-action
                          %a.ui-thumbnail-action-edit Edit
                        %li.ui-thumbnail-action
                          %a.ui-thumbnail-action-delete Delete
                %li.ui-resources-item
                  .ui-thumbnail.media-entry.image
                    .ui-thumbnail-privacy
                      %i.icon-privacy-open This media is Public
                    %a.ui-thumbnail-image-wrapper
                      .ui-thumbnail-image-holder= image_tag "redesign/styleguide/media-entry-5.jpeg", :class => "ui-thumbnail-image"
                    .ui-thumbnail-meta
                      %h3.ui-thumbnail-meta-title Name that can easily go onto 2 lines
                      %h4.ui-thumbnail-meta-subtitle Author that can easily go onto 2 lines as well
                    .ui-thumbnail-actions
                      %ul.left.by-left
                        %li.ui-thumbnail-action
                          %a.ui-thumbnail-action-checkbox Select
                        %li.ui-thumbnail-action
                          %a.ui-thumbnail-action-favorite Favorite
                      %ul.right.by-right
                        %li.ui-thumbnail-action
                          %a.ui-thumbnail-action-browse Browse
                        %li.ui-thumbnail-action
                          %a.ui-thumbnail-action-edit Edit
                        %li.ui-thumbnail-action
                          %a.ui-thumbnail-action-delete Delete

  .app-footer-push
.app-footer
  %footer.ui-footer.ui-container.inverted
    %ul.ui-footer-menu
      %li
        %a{:href => "#"} Informationen zum Projekt
      %li
        %a{:href => "#"} Impressum
      %li
        %a{:href => "#"} Kontakt
      %li
        %a{:href => "#"} Blog
      %li
        %a{:href => "#"} Hilfe
      %li
        %a{:href => "#"} Nutzungsbestimmungen
      %li
        %a{:href => "#"} Freie Software
      %li
        %a{:href => "#"} Archivierungsrichtlinien ZHdK
    %p.ui-footer-copy
      = image_tag "redesign/inserts/image-logo-madek.png", :alt => "MADEK", :class => "ui-footer-logo"
      &copy; 2009-2011 Z&uuml;rcher Hochschule der K&uuml;nste
