%tr
  %td
    = preview.content_type
  %td
    = preview.thumbnail
  %td
    = preview.created_at
  %td
    = link_to app_admin_preview_path(preview), class: "btn btn-xs" do
      %i.fa.fa-eye-open
      Details

    = link_to app_admin_preview_path(preview), method: 'DELETE', confirm: "Really delete prview", class: "btn btn-xs btn-danger" do
      %i.icon-trash
      Delete



