:ruby

  placeholder_text = if @a_top_keyword
    "z.B. #{@a_top_keyword[:label]}"
  else
    nil
  end

.app.view-search

  = render "application/header"

  .app-body

    .row
      .col1of2
        .app-body-title
          .ui-body-title
            .ui-body-title-label
              %h1.title-xl
                = _("Search results for")
                = "\"#{@term}\""

      .col1of2
        - unless current_user.is_guest?
          .row
            .col1of2.by-right.mtx
              .mrs.mts
                %button.button{:"data-create-filter-set" => true}
                  %i.icon-plus
                  = _("Create filter set")

            .col1of2

              =form_tag search_path, method: 'POST' do
                .ui-search.large.mts
                  =text_field_tag :search, @term, type: 'text', placeholder: placeholder_text, class: "block ui-search-input"
                  =button_tag type: 'submit', class: "primary-button ui-search-button" do
                    =_("Search")

        - else
          .mts.by-right= render :partial => "login_action"

    .app-body-ui-container
      .bordered.midtone.ui-container.rounded

        #ui-resources-list-container.app-body-content

          = render :partial => "media_resources/list/toolbar",
                   :locals => {:title => _("Search result"),
                               :subtitle => _(%Q[<span id="result_count">%d</span> content elements] % @result_count_for_term)}

          = render :partial => "media_resources/list/filterbar"

          .ui-resources-holder

            .ui-container.table.auto

              = render :partial => "media_resources/list/filter"

              .ui-container.table-cell.table-substance

                %ul#ui-resources-list.ui-resources{:class => ui_resources_class}

                  .pvh.mth
                    .ui-preloader

  .app-footer-push
= render :partial => "application/footer"

:coffeescript
  jQuery -> new App.MediaResourcesController.Index
    baseFilter: #{{search: params[:terms]}.to_json}
    startFilterParams: #{MediaResource.get_filter_params(params).to_json}
