:ruby

  placeholder_text = if @a_top_keyword
    "z.B. #{@a_top_keyword[:label]}"
  else
    nil
  end

.app.view-search

  = render "application/header"

  .app-body
    .app-body-title
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl
            = _("Search")

        .ui-body-title-actions= render :partial => "login_action", :locals => {:primary => false}

    .app-body-ui-container
      .bordered.ui-container.midtone.rounded.table
        .ui-search-form

          =form_tag result_search_path, method: 'GET' do
            .ui-search.large.mts
              =text_field_tag :terms, nil, type: 'text', autofocus: true, placeholder: placeholder_text, class: "block ui-search-input"
              =button_tag type: 'submit', class: "primary-button ui-search-button" do
                =_("Search")

  .app-footer-push
= render :partial => "application/footer"
