:ruby
  @i ||= 0
  @i += 1
  meta_datum = defined?(meta_datum) ? meta_datum : nil

%fieldset.ui-form-group.columned{:class => (not meta_datum.nil? and meta_datum.keep_original_value) ? "highlight" : "",
                        :"data-type" => definition.meta_key.meta_datum_object_type.underscore, :"data-index" => @i, :"data-meta-key" => definition.meta_key}

  %input{:type => :hidden, :name => "resource[meta_data_attributes][#{@i}][id]", :value => meta_datum.nil? ? nil : meta_datum.id}
  %input{:type => :hidden, :name => "resource[meta_data_attributes][#{@i}][meta_key_id]", :value => definition.meta_key.id}

  - if not meta_datum.nil? and meta_datum.keep_original_value 
    %input{:type => :hidden, :name => "resource[meta_data_attributes][#{@i}][keep_original_value]", :value => true}

  %label.form-label
    = definition.label
    - if definition.is_required
      %span{:title => "Pflichtfeld - Bitte angeben"} *
    %small= definition.hint
    - unless definition.description.to_s.blank?
      %span.ui-form-ui-ttip-toggle.ui-ttip-toggle{"data-original-title" => definition.description, "data-placement" => "left", :rel => "tooltip"}
        Hilfe

  .form-item= render :partial => "media_resources/edit/fields/#{definition.meta_key.meta_datum_object_type.underscore}", :locals => {:definition => definition, :meta_datum => meta_datum}