%table#upload-table.upload_step_1.upload_step_2{:style => "margin-top: 1em",
            :ondragenter => "event.stopPropagation(); event.preventDefault();",
						:ondragover => "event.stopPropagation(); event.preventDefault();",
						:ondrop => "event.stopPropagation(); event.preventDefault(); append_to_queue(event.dataTransfer);"}
  %tr
    /%th{:width => "20%"}= _("Ansicht")
    %th{:width => "30%"}= _("Dateiname")
    %th{:width => "30%"}= _("Grösse")
    %th{:width => "20%"}
      %span.upload_step_1{:style => "text-align: center"}= _("Entfernen?")
      %span.upload_step_2= _("Uploadfortschritt")

  - if @media_entries
    - @media_entries.each do |media_entry|
      %tr
        %td= media_entry.media_file.filename
        %td= _("%d KB") % (media_entry.media_file.size / 1024).to_i
        %td.progressbar
          =# TODO share ok button with js
          %p.ui-state-default.ui-corner-all{:style => "margin: 0pt; padding: 0.5em; text-align: left; color: rgb(114, 114, 114);"}
            %span.ui-icon.ui-icon-circle-check
            = _("Upload OK!")
  - else
    %tr#nofiles_row
      %td{:colspan => 3, :style => "padding: 2em; font-size: 0.9em; letter-spacing: 0.1ex; text-align: center; color: #727272;"}
        = _("Es wurden noch keine Medien ausgewählt.")

  %tr#totals{:style => "background: none repeat scroll 0% 0% lightblue; font-weight: bold;"}
    %th
      %span#total_files= @media_entries ? @media_entries.size : 0
      = " " + _("Dateien")
    %th
      %span#total_size= @media_entries ? number_with_delimiter((@media_entries.collect(&:media_file).collect(&:size).sum / 1024).to_i, :delimiter => "'") : 0
      KB
      %span#upload_estimation_time
    %th
      %span.upload_step_2
        %span#uploaded_files= @media_entries ? @media_entries.size : 0
        = " " + _("Uploads abgeschlossen")
