= javascript_include_tag "plupload/i18n/de.js"

#uploader

%p
  %strong= "Akzeptierte Dateigrösse:"
  = "Dateien mit einer Grösse von über 1.5 GB müssen über die FTP-Dropbox in das Medienarchiv geladen werden."
  %br  
  %a{:style => "cursor:pointer"}= "So laden Sie Dateien über die FTP-Dropbox ins Medienarchiv."
%p
  %strong= "Akzeptierte Dateiformate:"
  = "Bilder (TIFF, JPEG, PNG) sowie Audio- und Videofiles in den gängigsten Formaten werden direkt verarbeitet und dargestellt. Weitere Dateitypen (PDFs, PSDs, Webarchive) können ebenfalls hochgeladen werden, sind vorerst jedoch nur als ZIP-Datei verfügbar."

:coffeescript
  
  jQuery ->
    
    $("#uploader").pluploadQueue
      runtimes: 'html5,gears,flash,silverlight,browserplus'
      url: "#{upload_path(:format => :js)}"
      multipart_params:
        '#{request_forgery_protection_token}': '#{form_authenticity_token}',
        '#{request.session_options[:key]}': '#{request.session_options[:id]}'
    
    uploader = $("#uploader").pluploadQueue()
    
    uploader.bind "UploadComplete", (uploader) ->
      console.log "UPLOAD COMPLETED"
      $("#uploader .plupload_progress").show()
