- if @all_valid
  %h3.notice
    = _("Import has been completed succesfully! Imported %d files") % @media_entries.size
- else
  %h3.error
    = _("Import has failed!")

%section.content_body.clearfix
  - @media_entries.collect do |media_entry|
    #upload-container
      .clearfix{:style => "background: white; padding: 10px; -moz-border-radius: 3px; -webkit-border-radius: 3px;"}
        = thumb_for(media_entry, :medium, :style => "")
        = "#{media_entry.media_file.filename}"
        - unless media_entry.context_valid?(@context)
          - warnings = media_entry.context_warnings(@context)
          = show_warnings(warnings)
