- content_for :head do
  = javascript_include_tag "madek_ajax_upload", "jquery/plugins/jquery.filestyle.js"

.container_12.clearfix
  %section#content_body.clearfix
    = render :partial => "steps"
    :javascript
      $(document).ready(function () {
        activate_step(1);
        $("#uploaded_data").filestyle({ 
          image: "/images/icons/button_choose_file.png",
          imageheight : 36,
          imagewidth : 215,
          width : 0}
        );
        $("#uploaded_data").css({'margin-left': '0', 'font-size': '2em'});
        $('#upload_form').submit(function() {
          startXHR($(this));
          return false;
        });
        $('#submit_upload_form').click(function() {
          $('#upload_form').trigger('submit');
          return false;
        });
      });

    #upload-container{:style => "margin-top: 2em"}
      %div{:style => "background: white; padding: 10px; -moz-border-radius: 3px; -webkit-border-radius: 3px;"}
        .upload_step_1b
          = form_tag upload_path(:format => :js), :multipart => true do
            %span{:style => "float: right;"}
              =# link_to_function _("Advanced Uploader") + " »", "activate_step('1')"
            %label= _("Medien für den Upload auswählen:")
            = file_field_tag "uploaded_data[]", :multiple => true, :min => 1, :max => 99
            %p{:style => "margin-top: 1em"}
              Sie benutzen den Basic Uploader. Möchten Sie den
              = link_to_function _(" Multiuploader") + "", "activate_step('1')"
              ausprobieren?
            %br
            %br
            = submit_tag _("Ausgewählte Medien hochladen und weiter…")

        .upload_step_1
          = form_tag upload_path(:format => :js), :multipart => true, :id => "upload_form" do
            %div{:style => "height: 45px; position: relative; left: -6px"}
              = file_field_tag :uploaded_data, :onchange => "append_to_queue(this);", :multiple => true, :min => 1, :max => 99
            %p
              Probleme mit dem Firefox 4.0 / Safari 5.0 / Chrome 10.0 Multiupload? Benutzen Sie unseren
              = link_to_function _("Basic Uploader") + "", "activate_step('1b')"
              \.

        = render :partial => "files"

        .upload_step_1
          %p
            %strong
              Akzeptierte Dateiformate:
            Bilder in den Formaten
            %strong
              TIFF, JPEG und PNG
            werden direkt verarbeitet und dargestellt.
            Weitere Dateitypen (Videos, Dokumente etc.) können ebenfalls hochgeladen werden, sind vorerst jedoch nur nur als ZIP-Datei verfügbar.
          %p#submit_to_2{:style => "margin: 3em 0 1em 0; display: none;"}
            %a#submit_upload_form.upload_buttons{:href => "#"}
              /<span class="ui-icon ui-icon-circle-arrow-n"></span>
              = _("Ausgewählte Medien hochladen und weiter…")

        %h3.upload_step_2
          = _("Zugriffsberechtigungen")
        = render :partial => "/permissions/edit_multiple_on_upload"
