.container_12.clearfix
  %section#content_body.clearfix
    = render :partial => "steps"

    #upload-container{:style => "margin-top: 2em"}
      %div{:style => "background: white; padding: 10px; -moz-border-radius: 3px; -webkit-border-radius: 3px;"}
        .upload_step_1b
          = form_tag upload_path(:format => :js), :multipart => true do
            %span{:style => "float: right;"}
              =# link_to_function _("Advanced Uploader") + " »", "activate_step('1')"
            %label= _("Medien für den Upload auswählen:")
            = file_field_tag "uploaded_data[]", :multiple => true, :min => 1, :max => 99
            %p{:style => "margin-top: 1em"}
              Sie benutzen den Basic Uploader. Möchten Sie den
              = link_to_function _(" Multiuploader") + "", "activate_step('1')"
              ausprobieren?
            %br
            %br
            = submit_tag _("Ausgewählte Medien hochladen und weiter…")

        .upload_step_1
          = form_tag upload_path(:format => :js), :multipart => true, :id => "upload_form" do
            %label{:for => :uploaded_data}
              %span.upload_buttons
                = _("Medien auswählen...")
              = file_field_tag :uploaded_data, :multiple => true, :min => 1, :max => 99
          %p
            %strong
              Sie benutzen den Multiuploader.
            Alternativ können Sie den  
            = link_to_function _("Basic Uploader") + "", "activate_step('1b')"
            \ verwenden.

        = render :partial => "files"

        .upload_step_1
          %p
            %strong
              Akzeptierte Dateiformate:
            Bilder (TIFF, JPEG, PNG) sowie Audio- und Videofiles in den gängigsten Formaten werden direkt verarbeitet und dargestellt. Weitere Dateitypen (PDFs, PSDs, Webarchive) können ebenfalls hochgeladen werden, sind vorerst jedoch nur als ZIP-Datei verfügbar.
          %p#submit_to_2{:style => "margin: 3em 0 1em 0; display: none;"}
            %a#submit_upload_form.upload_buttons.right{:href => "#"}
              /<span class="ui-icon ui-icon-circle-arrow-n"></span>
              = _("Ausgewählte Medien hochladen und weiter…")

        %h3.upload_step_2
          = _("Zugriffsberechtigungen")
        = render :partial => "permissions/edit_multiple_on_upload"

:javascript
  $(document).ready(function () {
  
    activate_step(1);
    
    $('#upload_form').submit(function() {
      startXHR($(this));
      return false;
    });
    
    $('#submit_upload_form').click(function() {
      $('#upload_form').trigger('submit');
      return false;
    });
    
    $('input#uploaded_data').change(function() {
      append_to_queue(this);
    });
    
    $('#upload_form label').click(function(){
    });
  });