<div class="container_12 clearfix">

	<section id="content_body" class="clearfix">
	
		<%= render :partial => "steps" %>
		<%= javascript_tag do %>
			$(document).ready(function () {
				activate_step(2);
			});
		<% end %>
	
	
	
		<div id="upload-container" style="margin-top: 1.5em">
			
			<div style="background: white; padding: 10px; -moz-border-radius: 3px; -webkit-border-radius: 3px;">
					
				<%= render :partial => "files" %>
				
				<%= content_tag :h3 do
					_("Zugriffsberechtigungen")
				end %>
				<%= render :partial => "/permissions/edit_multiple_on_upload" %>
				
			</div>
		
		</div>
	
	</section>	
		
</div>