%h1.text-center 
  %i.icon-privacy-io_mapping
    Io Mappings

.well.pull-right
  = form_tag app_admin_io_mappings_path, method: 'GET', class: 'form-inline'  do

    .form-group
      = text_field :filter, :search_key_map, class: "search-query form-control",
          placeholder: "Search key map", value: @search_key_map

    .form-group
      %label Io Interface:
      %select.form-control.filter-by{name: 'filter[io_interface]'}
        = options_for_select [["All", nil]] + IoInterface.all.collect { |io| io.id},
          @io_interface
    .form-group
      %label Meta Key:
      %select.form-control.filter-by{name: 'filter[meta_key]'}
        = options_for_select [["All", nil]] + MetaKey.all.collect { |mk| mk.id},
          @meta_key

    .form-group
      = button_tag type: 'submit', class: 'btn btn-sm' do
        %i.icon-filter
        Apply
      = link_to "Reset", app_admin_io_mappings_path

.row
  = "Number of io mappings found:"
  %span#counter #{@io_mappings.total_count}


%ul.list-inline
  %li
    = link_to new_app_admin_io_mapping_path, class: 'btn btn-success', 
      id: "new_io_mapping" do
      %i.icon-plus
      New Io Mapping

  .col-md-12
    %table.table
      %thead
        %tr
          %th Id
          %th Key map
          %th Key map type
          %th Meta key
          %th IO interface
          %th
      %tbody
        =render @io_mappings

= paginate @io_mappings, theme: 'app_admin'
