:ruby
  h = current_settings
  t = media_resources_index_title
  if @media_set and @media_set.settings[:sorting] and not params[:sort]
    params[:sort] = @media_set.settings[:sorting].to_s
  end

#bar
  .icon
  
  .left
    %h1
      = t.first
      %small
        %span.total
        = t.second if t.second
    .scope_sets
      = link_to _("Alle meine obersten Sets"), url_for(params.merge(:top_level => true)), :class => "top_level"
      = link_to _("Alle meine Sets"), url_for(params.merge(:top_level => nil)), :class => "not_top_level"
      .arrow.down.icon
  
  .selection
    .types
      = link_to _("Alle"), url_for(params.merge(:type => nil)), :class => "all", :"data-type" => "all"
      = link_to _("Medieneinträge"), url_for(params.merge(:type => "media_entries")), :class => "media_entries", :"data-type" => "media_entries"
      = link_to _("Sets"), url_for(params.merge(:type => "media_sets")), :class => "media_sets", :"data-type" => "media_sets"
  
  .right
    .sort
      = link_to _("Sortieren nach Erstelldatum"), url_for(params.merge(:sort => :created_at)), :class => "created_at"
      = link_to _("Sortieren nach Änderungsdatum"), url_for(params.merge(:sort => :updated_at)), :class => "updated_at"
      = link_to _("Sortieren nach Titel"), url_for(params.merge(:sort => :title)), :class => "title"
      = link_to _("Filtern und Sortieren nach Autor/in"), url_for(params.merge(:sort => :author)), :class => "author"
      .arrow.down.icon
    
    .layout
      = link_to "", media_resources_path, :class => "icon", :"data-type" => "miniature", :title => "Miniatur-Ansicht"
      = link_to "", media_resources_path, :class => "icon", :"data-type" => "grid", :title => "Grid-Ansicht"
      = link_to "", media_resources_path, :class => "icon", :"data-type" => "list", :title => "Listen-Ansicht"

    .action_menu  
      = _("Aktionen")
      .icon.arrow.up_and_down
      .action_menu_list.right
        %ul
          - unless params[:edit_filter_set_id].blank?
            %li
              = link_to media_set_path(params[:edit_filter_set_id]), :class => "save_filter_set", :title => _("Änderungen an den Einstellungen des Filterset speichern") do
                .edit_filter_set.icon
                = _("Änderungen speichern")
          - else
            %li
              = link_to "/import", :title => _("Medien importieren") do
                .import.icon
                = _("Importieren")
          %li
            %a.open_create_set_dialog{:title => "Neues Set erstellen"}
              .create_set.icon
              %span.text= "Neues Set"
          %li
            %a.open_graph{:title => "Beziehung von Inhalten als Graph visualisieren", :href => visualization_filtered_resources_path(@filter), :target => "_blank"}
              .graph.icon
              %span.text= "Graph berechnen"

:javascript
  $(document).ready(function () {
    Bar.setup(
      "#{h[:type]}", 
      "#{h[:permissions]}", 
      "#{params[:sort]}", 
      "#{@filter[:favorites]}", 
      "#{@filter[:search]}", 
      "#{@filter[:top_level]}",
      "#{@filter[:media_set_id]}",
      "#{@filter[:group_id]}",
      "#{params[:edit_filter_set_id]}");
  });

