- h = current_settings

#bar
  %div{:class => "icon #{h.values.join(" ")}"}
  %h1= media_resources_index_title
  
  .selection
    .types
      = link_to _("Alle"), url_for(params.merge(:type => nil)), :class => "all", :"data-type" => "all"
      = link_to _("Medieneinträge"), url_for(params.merge(:type => "media_entries")), :class => "media_entries", :"data-type" => "media_entries"
      = link_to _("Sets"), url_for(params.merge(:type => "media_sets")), :class => "media_sets", :"data-type" => "media_sets"
  
    .permissions
      = link_to _("Meine"), url_for(params.merge(:user_id => current_user, :not_by_current_user => nil, :public => nil)), :class => "mine"
      = link_to _("Mir anvertraute"), url_for(params.merge(:user_id => nil, :not_by_current_user => true, :public => false)), :class => "entrusted"
      = link_to _("Öffentliche"), url_for(params.merge(:user_id => nil, :not_by_current_user => true, :public => true)), :class => "public"
      = link_to _("Jegliche Berechtigungen"), url_for(params.merge(:user_id => nil, :not_by_current_user => nil, :public => nil)), :class => "all"
  
  .right
    .sort
      = link_to _("Sortieren nach Erstelldatum"), url_for(params.merge(:sort => :created_at)), :class => "created_at"
      = link_to _("Sortieren nach Änderungsdatum"), url_for(params.merge(:sort => :updated_at)), :class => "updated_at"
      .arrow.down.icon
    
    .layout
      = link_to "", "", :class => "grid icon", :title => _("Grid-Ansicht")
      -if params[:type] == "media_sets" and params[:user_id] == "#{current_user.id}"
        = link_to "", graph_media_sets_path, :class => "graph icon", :title => _("Graph-Ansicht") 

#results
  Loading...
  
= render :partial => "media_entries/batch_bar"
  
:javascript
  
  $(document).ready(function () {
    $('.task_bar').hide();
    var url = "#{media_resources_path(params.select {|k,v| not [:id, :action, :controller].include?(k.to_sym) })}";
    $.ajax({
      url: url,
      data: {format: 'json'},
      success: function(data){
        $("#results").html("");
        data.url = url;
        setupBatch(data);
      }
    });
    
    Bar.setup("#{h[:type]}", "#{h[:permissions]}", "#{params[:sort]}");
  });
