= render :partial => "media_resources/bar"

.results
  
= render :partial => "media_entries/batch_bar"
  
:coffeescript
  
  jQuery ->
    $(".task_bar").hide()

    media_resources = new App.MediaResources
      layout: #{(@media_set and @media_set.settings[:layout]) ? "\"#{@media_set.settings[:layout]}\"" : "undefined"}
      filter: #{@filter.to_json}
      sort: #{params[:sort].to_json}

    start_with_open_filter = #{!params[:edit_filter_set_id].blank?} or App.MediaResources.current_filter.search?

    App.Filter.setup
      onChange: (filter_params)-> media_resources.initial_fetch filter_params, true
      start_with_open_filter: start_with_open_filter
              
    # initial fetch of media resources
    media_resources.initial_fetch {}, start_with_open_filter