= render :partial => "media_resources/bar"

.results
  
= render :partial => "media_entries/batch_bar"
  
:coffeescript
  
  jQuery ->
    media_resources = new App.MediaResources
      layout: #{(@media_set and @media_set.settings[:layout]) ? "\"#{@media_set.settings[:layout]}\"" : "undefined"}
      filter: #{@filter.to_json}
      sort: #{params[:sort].to_json}
      start_with_open_filter: #{!params[:edit_filter_set_id].blank? or not @filter[:search].blank?}
