- if !params[:query].blank?
  .filter_area

= render partial: "media_resources/bar"

#results
  Loading...
  
= render partial: "media_entries/batch_bar"

:javascript
  //old??// window.current_user = #{current_user.to_json(:only=>:id, :include => :groups, :methods => :name)}; 
  
  $(document).ready(function () {
    $('.task_bar').hide();
    var url = "#{media_resources_path(params.select {|k,v| not [:id, :action, :controller].include?(k.to_sym) })}";
    App.MediaResources.fetch({
      url: url,
      success: function(data){
        $("#results").html("");
        data.url = url;
        setupBatch(data);
        if(#{not params[:media_set_id].blank?}) $("#bar h1 small").prepend(data.pagination.total);
        if(#{(params[:type] == "media_sets" and params[:user_id].to_i == current_user.id)}) {
          $("#results .page:first .pagination").after($.tmpl("tmpl/media_set/create_new_thumb_box"));
        }
        if (data.media_resources.length == 0) {
          $("#results").append($.tmpl("tmpl/media_resource/empty_results"));
        }
      }
    });
    
    new App.MediaResources;
  });
  
