.app.view-media-entry-edit

  = render "application/header"

  .app-body

    .app-body-title
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl Metadaten editieren

    .app-body-ui-container

      %form#edit-media-resource{:action => update_multiple_media_resource_meta_data_path(@media_resource), :method => :post, :autocomplete => :off}

        = token_tag nil

        = render :partial => "media_resources/edit/tabs"

        .bordered.ui-container.tab-content.bright.rounded-bottom.rounded-right

          .phl.ptl
            .ui-container.table

              = render :partial => "media_resources/edit/media_resource"

              .app-body-content.table-cell.ui-container.table-substance.ui-container

                = render :partial => "media_resources/edit/contexts"
                
          .ui-actions.phl.pbl.mtl
            %a.link.weak{:href => media_resource_path(@media_resource)}
              Abbrechen
            %button.primary-button.large{type: 'submit'}
              Speichern

  .app-footer-push
= render :partial => "application/footer"

:coffeescript

  jQuery -> new App.MediaResourcesController.Edit
