#media_set_cover_lightbox
  .container
    %h2= "Titelbild für Set festlegen"
    %p= "Bitte wählen Sie den Medieneintrag, der als Titelbild des Sets verwendet werden soll."
    
    .clear
    
    .media_resource_selection
      .loading= image_tag "loading.gif"
      .table.active
        %table.head
          %tr
            %td.image.selection= "Auswahl"
        .scrollable
          %table.media_resources

    %section.actions
      %a.upload_buttons.save.disabled{:tabindex => 1}
        = "Speichern"
      %a.cancel
        = "Abbrechen"