= form_for [:app_admin, @copyright], html: {class: "form-horizontal", role: "form"} do |f|

  .form-group
    %label.control-label.col-sm-1 Label
    .col-sm-4
      = f.text_field :label, class: 'form-control'
  .form-group
    %label.control-label.col-sm-1 Is default
    .col-sm-4
      = f.check_box :is_default
  .form-group
    %label.control-label.col-sm-1 Is custom
    .col-sm-4
      = f.check_box :is_custom
  .form-group
    %label.control-label.col-sm-1 Parent id
    .col-sm-4
      = f.select(:parent_id, [["No parent", "NULL"]] + @copyrights, {disabled: @disabled})

  .form-group
    .col-sm-offset-1.col-sm-4
      = button_tag button, type: 'submit', class: "btn btn-success"

