- remote ||= false
= form_for @meta_context_group, :url => url, :remote => remote do |f|
  = hidden_field_tag :meta_context_positions
  %table
    %tr
      %th= f.label :name
      %td= f.text_field :name
    %tr
      %th
        MetaContexts
      %td
        %ul.sortable
          - f.object.meta_contexts.each do |meta_context|
            %li{:style => "padding-bottom: 1em;", :id => "position_#{meta_context.id}"}
              %span.ui-icon.ui-icon-arrowthick-2-n-s.handler
              = meta_context.to_s
    %tr
      %td
      %td= f.submit submit

:javascript
  $(document).ready(function(){
    $("ul.sortable").sortable({
      handle: 'span.handler',
      axis: 'y'
    });

    $('form.edit_meta_context_group').submit(function(){
      $('#meta_context_positions').val($("ul.sortable").sortable("serialize"));
    });     
  });
