%tr{:id => "meta_context_group_#{meta_context_group.id}"}
  %td.handler
    %span.ui-icon.ui-icon-arrowthick-2-n-s
  %td= meta_context_group.name
  %td
    %ul
      - meta_context_group.meta_contexts.each do |meta_context|
        %li= meta_context.to_s
  %td.with_actions
    = link_to _("Edit"), edit_admin_meta_context_group_path(meta_context_group), :class => "buttons", :remote => true, :"data-type" => "html"
    %br
    = link_to _("Delete"), admin_meta_context_group_path(meta_context_group), :class => "buttons", :method => :delete, :confirm => _("Sind Sie sicher?") if meta_context_group.meta_contexts.empty?
