.panel.panel-default
  .panel-heading
    .panel-title= setting_group
  .panel-body
    %table.table.table-striped
      %tbody
        - settings.each do |attr, description|
          %tr.row{id: attr}
            %td.col-xs-2
              = attr.to_s.titleize
              %p.help-block= description

            %td.col-xs-9
              - type = AppSettings.columns_hash[attr.try(:to_s)].try(:sql_type)
              - markdowned = ['welcome_subtitle']
              - case
              - when type === 'jsonb'
                %pre.col-xs-9= @app_settings.send(attr).to_yaml
              - when markdowned.include?(attr.to_s)
                = markdown(@app_settings.send(attr))
              - else
                = @app_settings.send(attr)

            %td.col-xs-1
              = link_to edit_admin_app_setting_path(attr), class: 'btn btn-info btn-sm' do
                %span.glyphicon.glyphicon-edit
                Edit
