.page-header
  %h1
    Edit "#{@field.titleize}" Setting

.row
  .col-xs-12
    = form_for [:admin, @app_settings], html: { class: 'form-horizontal', role: 'form' } do |f|

      .form-group
        .col-xs-6
          - type = ::AppSettings.columns_hash[@field.try(:to_s)].try(:sql_type)
          - markdowned = ['welcome_subtitle']
          - case
          - when type === 'jsonb'
            = f.text_area @field, value: @app_settings.send(@field).to_yaml,
              rows: 12, class: 'form-control'
          - when markdowned.include?(@field.to_s)
            = f.text_area @field, rows: 12, class: 'form-control'
          - else
            = f.text_field @field, class: 'form-control'
      .form-group
        .col-xs-offset2.col-xs-4
          = button_tag type: 'submit', class: 'btn btn-success' do
            Save
