= form_for [:admin, @io_mapping], as: :io_mapping, html: { class: 'form-horizontal', role: 'form' } do |f|
  .form-group
    .col-xs-3
      = f.label :io_interface_id, 'IO interface'
    .col-xs-6
      = f.text_field :io_interface_id, class: 'form-control'
  .form-group
    .col-xs-3
      = f.label :meta_key_id
    .col-xs-6
      = f.text_field :meta_key_id, class: 'form-control'
  .form-group
    .col-xs-3
      = f.label :key_map
    .col-xs-6
      = f.text_field :key_map, class: 'form-control'
  .form-group
    .col-xs-3
      = f.label :key_map_type
    .col-xs-6
      = f.text_field :key_map_type, class: 'form-control'
  .form-group
    .col-xs-offset-3.col-xs-3
      = button_tag type: :submit, class: 'btn btn-success' do
        %span.glyphicon.glyphicon-ok
        Save
      = link_to 'Go back', admin_io_mappings_path, class: 'btn btn-link'
