.page-header
  %h1
    %i.icon-media-entry
    IO Mappings (#{@io_mappings.total_count})

.row
  .col-xs-12
    .panel.panel-default
      .panel-heading
        .panel-title Filters
      .panel-body
        = form_tag admin_io_mappings_path, method: :get, class: 'form-inline' do
          .form-group
            = text_field_tag :search_term, params[:search_term], size: 34,
              class: 'form-control', placeholder: 'Meta key ID or Key map'
          = submit_tag 'Apply', class: 'btn btn-primary'
          = link_to 'Reset', admin_io_mappings_path, class: 'btn btn-default'

    .btn-group
      = link_to new_admin_io_mapping_path, class: 'btn btn-default' do
        %i.glyphicon.glyphicon-plus
        Create IO Mapping

.row
  .col-xs-12
    %table.table.table-striped
      %thead
        %tr
          %th IO interace ID
          %th Meta key ID
          %th Key map
          %th Key map type
          %th
      %tbody
        = render @io_mappings

= paginate @io_mappings
