.line
  .remove
    .button{:title => "Entfernen"}= "—"
  .subject{:title => "${name}"}
    {{if name}}
    {{if name.length>26}}
    ${name.slice(0,15)}...${name.slice(name.length-12,name.length)}
    {{else}}
    ${name}
    {{/if}}
    {{/if}}
    {{if $item.is_public}}
    = "Öffentlichkeit"
    {{/if}}
  .owner
    {{if $item.with_owner}}
    %label
      %input{:type => "radio", :id => "owner_${id}", :name => "owner_${id}"}
    {{/if}}
    
  .preset
    .select
      = "(Angepasst)"
    .arrow
    %select
      {{if sessionStorage.permission_presets}}
      {{each(i, preset) JSON.parse(sessionStorage.permission_presets)}}
      %option{:value => "${preset.name}", :"data-preset" => "${JSON.stringify(preset)}"}= "${preset.name}"
      {{/each}}
      {{/if}}
      
  .permissions
  
    {{if view}}
    {{if Underscore.isEqual(view.sort(), $item.media_resource_ids.sort())}}
    %label.view.permission{:title => "Betrachten"}
      = check_box_tag 'view', "true", true
    {{else}}
    {{if view.length>0}}
    %label.view.permission.mixed{:title => "Betrachten"}
      = check_box_tag 'view'
    {{else}}
    %label.view.permission{:title => "Betrachten"}
      = check_box_tag 'view'
    {{/if}}
    {{/if}}
    {{/if}}
    
    {{if download}}
    {{if Underscore.isEqual(download.sort(), $item.media_resource_ids.sort())}}
    %label.download.permission{:title => "Exportieren Original"}
      = check_box_tag 'download', "true", true
    {{else}}
    {{if download.length>0}}
    %label.download.permission.mixed{:title => "Exportieren Original"}
      = check_box_tag 'download'
    {{else}}
    %label.download.permission{:title => "Exportieren Original"}
      = check_box_tag 'download'
    {{/if}}
    {{/if}}
    {{/if}}
    
    {{if edit}}
    {{if Underscore.isEqual(edit.sort(), $item.media_resource_ids.sort())}}
    %label.edit.permission{:title => "Editieren"}
      = check_box_tag 'edit', "true", true
    {{else}}
    {{if edit.length>0}}
    %label.edit.permission.mixed{:title => "Editieren"}
      = check_box_tag 'edit'
    {{else}}
    %label.edit.permission{:title => "Editieren"}
      = check_box_tag 'edit'
    {{/if}}
    {{/if}}
    {{/if}}
    
    {{if manage}}
    {{if Underscore.isEqual(manage.sort(), $item.media_resource_ids.sort())}}
    %label.manage.permission{:title => "Berechtigungen verwalten"}
      = check_box_tag 'manage', "true", true
    {{else}}
    {{if manage.length>0}}
    %label.manage.permission.mixed{:title => "Berechtigungen verwalten"}
      = check_box_tag 'manage'
    {{else}}   
    %label.manage.permission{:title => "Berechtigungen verwalten"}
      = check_box_tag 'manage'   
    {{/if}}
    {{/if}}
    {{/if}}
