#permissions
  .container
    %h2= "Zugriffsberechtigungen"
    %p
      {{if media_resource_ids.length == 1}}
      = "1 Medieneintrag ausgewählt"
      {{else}}
      = "${media_resource_ids.length} Medieneinträge ausgewählt"
      {{/if}}
    .media_resource_selection_view_switch
      %a.active{:"data-switch_target" => ".media_resource_selection.switchable .media"}= "Medienansicht"
      %a{:"data-switch_target" => ".media_resource_selection.switchable .table"}= "Tabellenansicht"
    
    .clear
    
    .media_resource_selection.switchable
      .loading= image_tag "loading.gif"
      .media.active
      .table
        %table.head
          %tr
            %td.image
            %td.title_author= "Titel und Autor/in"
            %td.date= "Datierung"
            %td.tags= "Schlagworte"
            %td.credits= "Rechte"
            %td.upload= "Hochgeladen"
        .media_resources
          %table.media_resources
  
    .line.head
      .subject
      .remove
      .owner= "Besitzer"
      .preset= "Berechtigung"
      .permissions
        .view{:title => "Betrachten"}
          = "Betrachten"
        .download{:title => "Download Original"}
          = "Download"
          %br
          = "Original"
        .edit{:title => "Editieren"}
          = "Editieren"
        .manage.icon{:title => "Berechtigung verwalten"}
          = "Berechtigung"
          %br
          = "verwalten"
  
    %section.permission_view
      .loading
        = image_tag "loading.gif"
        = "Lade Berechtigungen"
    
    %section.actions
      %a.cancel
        = "Abbrechen"
