.container
  %h2= "Zugriffsberechtigungen"
  %p
    {{if media_resources.length == 1}}
    = "1 Medieneintrag ausgewählt"
    {{else}}
    = "${media_resources.length} Medieneinträge ausgewählt"
    {{/if}}

  %section.media_resources
    {{tmpl(media_resources) "tmpl/permission/_media_resource"}}

  .line.head
    .subject
    .owner= "Besitzer"
    .preset= "Berechtigung"
    .permissions
      .view.icon{:title => "Betrachten"}
      .download.icon{:title => "Volle Auflösung herunterladen"}
      .edit.icon{:title => "Editieren"}
      .manage.icon{:title => "Verwalten"}

  %section.permission_view
    .loading
      = image_tag "loading.gif"
      = "Lade Berechtigungen"
  
  %section.actions
    %a.cancel
      = "Abbrechen"
    %a.upload_buttons.save.disabled{:tabindex => 1}
      = "Speichern"
