.meta-key-definitions
  = form_for [:app_admin, @context, @meta_key_definition], html: {class: "form-horizontal", role: "form"} do |f|

    .form-group
      %label.control-label.col-sm-2 Meta Key
      .col-sm-6
        = f.select :meta_key_id, MetaKey.order(:id).map(&:id), {}, {class: "form-control"}

    .form-group
      %label.control-label.col-sm-2 Meta Context
      .col-sm-6
        = f.select :context_id, ::Context.order(:id).map(&:id), {}, {class: "form-control"}

    .form-group
      %label.control-label.col-sm-2 Label
      .col-sm-6
        = f.text_field :label, class: 'form-control'

    .form-group
      %label.control-label.col-sm-2 Hint
      .col-sm-6
        = f.text_area :hint, class: 'form-control', rows: 2

    .form-group
      %label.control-label.col-sm-2 Description
      .col-sm-6
        = f.text_area :description, class: 'form-control', rows: 6

    - if @meta_key_definition.persisted? && @meta_key_definition.meta_key.meta_datum_object_type == 'MetaDatumString'
      .form-group
        %label.control-label.col-sm-2 Length min
        .col-sm-2
          = f.text_field :length_min, class: "form-control"

      .form-group
        %label.control-label.col-sm-2 Length max
        .col-sm-2
          = f.text_field :length_max, class: "form-control"

      .form-group
        %label.control-label.col-sm-2 Input type
        .col-sm-6
          %label.radio-inline
            = f.radio_button :input_type, :text_field
            Text field
          %label.radio-inline
            = f.radio_button :input_type, :text_area
            Textarea

    .form-group
      .col-sm-offset-2.col-sm-6
        .checkbox
          %label
            = f.check_box :is_required
            Is required?

    .form-group
      .col-sm-offset-2.col-sm-6
        = f.submit "Save", class: "btn btn-success"
        = link_to "Cancel", edit_app_admin_context_path(@context)
