%tr
  %td #{user.login}
  %td #{user.email}
  %td #{user.id}
  %td 
    =link_to app_admin_person_path(user.person) do 
      #{user.person}
  %td
    %ul.list-inline

      %li
        =link_to app_admin_user_path(user), class: "btn btn-xs" do
          %i.fa.fa-eye-open
          Details


      %li
        = link_to switch_to_app_admin_user_path(user), method: 'POST', class: "btn btn-xs btn-warning" do
          Switch to

