%h1 
  Edit User #{@user}


= form_for @user, url: app_admin_user_path(@user) , method: "PUT", html: {class: "form-horizontal", role: "form"} do |f|

  %fieldset 

    .form-group
      %label.control-label.col-sm-2 Login
      .col-sm-4
        = f.text_field :login, class: "form-control"

    .form-group
      %label.control-label.col-sm-2 E-mail
      .col-sm-4
        = f.text_field :email, type: 'email', class: "form-control"

    .form-group
      %label.control-label.col-sm-2 Person id
      .col-sm-2
        = f.text_field :person_id, class: "form-control"

    .form-group
      %label.control-label.col-sm-2 Password
      .col-sm-4
        = f.text_field :password, class: "form-control"

    .form-group
      %label.control-label.col-sm-2 Notes
      .col-sm-4
        = f.text_area :notes, class: "form-control"

    .form-group
      .col-sm-offset-2.col-sm-4
        = button_tag type: 'submit', class: "btn btn-success" do
          Save


