%h1 
  New user with person



= form_tag create_with_user_app_admin_users_path, method: 'POST', class: "form-horizontal", role: "form" do

  %fieldset.well 
    - [:last_name, :first_name].each do |field|
      .form-group
        %label.control-label.col-sm-2=  field.to_s.capitalize.split("_").join(" ")
        .col-sm-4
          = text_field :person, field, class: "form-control"

  %fieldset.well

    .form-group
      %label.control-label.col-sm-2 Login
      .col-sm-4
        = text_field :user, :login, required: true, class: "form-control"

    .form-group
      %label.control-label.col-sm-2 E-mail
      .col-sm-4
        = text_field :user, :email, type: 'email', required: true, class: "form-control"


    .form-group
      %label.control-label.col-sm-2 Password
      .col-sm-4
        = text_field :user, :password, required: true, class: "form-control"

    .form-group
      %label.control-label.col-sm-2 Notes
      .col-sm-4
        = text_area :user, :notes, class: "form-control"

  .form-group
    .col-sm-2
      = button_tag type: 'submit', class: "btn btn-success" do
        Create





