
.alert.alert-warning
  Search features are experimental. 

  (Trigram should have trgm indexed searchable field)

%h1.text-center 
  %i.fa.fa-user
  Users

%ul.list-inline

  %li
    = link_to form_create_with_user_app_admin_users_path, class: 'btn btn-success' do
      %i.fa.fa-plus
      New user with person

  %li
    = link_to new_app_admin_user_path, class: 'btn btn-success' do
      %i.fa.fa-plus
      New user for existing person

.well.pull-right

  = form_tag app_admin_users_path, method: 'GET', class: 'form-inline' do

    .form-group
      = text_field :filter, :fuzzy_search, class: "search-query, form-control", 
          placeholder: 'Search term',  value: params.try(:[],:filter).try(:[],:fuzzy_search)

    .form-group
      %label Sort by:
      %select.form-control{name: :sort_by}
        = options_for_select [["Last-, first-name", :last_name_first_name],
          ["Trigram search ranking", :trgm_rank],
          ["Text search ranking",:text_rank],
          ["Login ascending", :login], 
          ["Amount of resources", :resources_amount]], @sort_by

    .form-group
      = button_tag type: 'submit', class: 'btn btn-sm' do
        %i.fa.fa-filter
        Apply



.row

  .col-md-12
    %table.table.table-striped
      %thead
        %tr
          %th Login
          %th E-mail
          %th Person
          %th # of resources
          %th Search rank
      %tbody
        =render @users



= paginate @users, theme: 'app_admin'


