%h1 
  New user

= form_for @user, url: app_admin_users_path , method: "POST", html: {class: "form-horizontal"} do |f|

  %fieldset 

    .control-group
      %label.control-label Login
      .controls
        = f.text_field :login

    .control-group
      %label.control-label E-mail
      .controls
        = f.text_field :email, type: 'email'

    .control-group
      %label.control-label Person id
      .controls
        = f.text_field :person_id, type: 'number'

    .control-group
      %label.control-label Password
      .controls
        = f.text_field :password

    .control-group
      %label.control-label Notes
      .controls
        = f.text_area :notes


  = button_tag type: 'submit', class: "btn btn-success" do
    Submit



