%h1 New user

= form_for @user, url: app_admin_users_path , method: "POST", html: {class: "form-horizontal", role: "form"} do |f|

  %fieldset 

    .form-group
      %label.control-label.col-sm-1 Login
      .col-sm-4
        = f.text_field :login, class: "form-control"

    .form-group
      %label.control-label.col-sm-1 E-mail
      .col-sm-4
        = f.text_field :email, type: 'email', class: "form-control"

    .form-group
      %label.control-label.col-sm-1 Person id
      .col-sm-2
        = f.text_field :person_id,  class: "form-control"

    .form-group
      %label.control-label.col-sm-1 Password
      .col-sm-4
        = f.text_field :password, class: "form-control"

    .form-group
      %label.control-label.col-sm-1 Notes
      .col-sm-6
        = f.text_area :notes, class: "form-control"

  .form-group
    .col-sm-offset-1.col-sm-2
      = button_tag type: 'submit', class: "btn btn-success" do
        Create
