.app.view-set{:data => {:id => @filter_set.id, :title => @filter_set.title, :type => @filter_set.type.underscore.dasherize, :media_type => @filter_set.media_type.downcase, :redirect_on_delete => true}}

  = render "application/header"

  .app-body

    .app-body-title
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl= @filter_set.title

        = render "filter_sets/actions"

    .app-body-ui-container

      = render "filter_sets/tabs"

      = yield :content

  .app-footer-push
= render :partial => "application/footer"

:coffeescript
  
  jQuery -> new App.MediaSetsController.Show
