<%= stylesheet_link_tag "feedback", :media => "all" %>

<div id="usage_terms_wrapper">
	<div id="usage_terms_content">
			
		<p class="intro"><%= raw @usage_term.intro %></p>

		<h1><%= @usage_term.title %></h1>
		<p><i><%= @usage_term.version %></i></p>
		
		<%= @usage_term.body %>
		
		<br /><br />
		
		<p class="sidebar-box">
			<%= link_to _("Edit"), edit_admin_usage_term_path, :class => "buttons" %>
		</p>
	
	</div>
</div>
