%h1 Edit Media Set <em>#{@media_set.title}</em>

= form_for @media_set, url: app_admin_media_set_path(@media_set) , method: "PUT", html: {class: "form-horizontal", role: "form"} do |f|

  - [:id, :user_id].each do |field|
    .form-group
      %label.control-label.col-sm-2=  field.to_s.capitalize.split("_").join(" ")
      .col-sm-4
        = f.text_field field, class: "form-control"

  = button_tag type: 'submit', class: "btn btn-success" do
    Save


