- media_set ||= @media_set
%h1 Manage individual meta-contexts of the media-set "#{media_set}"

%h2 Individual meta-contexts

%table.table.table-striped.individual_meta_contexts
  %thead
    %tr 
      %th 
      %th Name (id)
      %th Position
  %tbody
    - @individual_meta_contexts.each do |meta_context|
      %tr.individual_meta_context{data: {name: meta_context.name}}
        %td= meta_context
        %td{data: {name: meta_context.name}}= meta_context.name
        %td= meta_context.position
        %td
          =link_to remove_app_admin_media_set_individual_meta_context_path(media_set,meta_context), method: 'POST', class: "btn btn-warning btn-xs" do
            %i.fa.fa-minus-sign
            Remove

%h2 Other meta-contexts
%table.table.table-striped.other_meta_contexts.meta_contexts
  %thead
    %tr 
      %th 
      %th Name (id)
      %th Position
  %tbody
    - @other_meta_contexts.each do |meta_context|
      %tr.meta_context{data: {name: meta_context.name}}
        %td= meta_context
        %td= meta_context.name
        %td= meta_context.position
        %td
          =link_to add_app_admin_media_set_individual_meta_context_path(media_set,meta_context), method: 'POST', class: "btn btn-warning btn-xs" do
            %i.fa.fa-plus-sign
            Add
