- media_set ||= @media_set
%h1 Manage individual meta-contexts of the media-set "#{media_set}"

%h2 Individual meta-contexts

%table.table.table-striped.individual_contexts
  %thead
    %tr 
      %th 
      %th Name (id)
      %th Position
  %tbody
    - @individual_contexts.each do |context|
      %tr.individual_context{data: {name: context.id}}
        %td= context
        %td{data: {name: context.id}}= context.id
        %td= context.position
        %td
          =link_to remove_app_admin_media_set_individual_context_path(media_set,context), method: 'POST', class: "btn btn-warning btn-xs" do
            %i.fa.fa-minus-sign
            Remove

%h2 Other meta-contexts
%table.table.table-striped.other_contexts.contexts
  %thead
    %tr 
      %th 
      %th Name (id)
      %th Position
  %tbody
    - @other_contexts.each do |context|
      %tr.context{data: {id: context.id}}
        %td= context
        %td= context.id
        %td= context.position
        %td
          =link_to add_app_admin_media_set_individual_context_path(media_set,context), method: 'POST', class: "btn btn-warning btn-xs" do
            %i.fa.fa-plus-sign
            Add
