%h1 Change ownership of set <em>#{@media_set.title}</em>

= form_tag change_responsible_person_app_admin_media_set_path(@media_set), method: "PUT", class: "form-horizontal autocomplete", role: "form" do

  = hidden_field nil, :user_id

  .form-group
    %label.control-label.col-sm-1 User
    .col-sm-4
      = text_field nil, :query, class: "form-control", placeholder: "Nachname, Vorname [login]"

  .form-group
    .col-sm-offset-1.col-sm-4
      = button_tag type: "submit", class: "btn btn-success", disabled: true do
        Save
