%table
  %tr
    %td
      %h4= _("Meta")
      %ul
        %li= link_to _("Keys"), admin_keys_path
        %li= link_to _("Key Definitions"), admin_meta_key_definitions_path
        %li= link_to _("Contexts"), admin_contexts_path
        %li= link_to _("Context Groups"), admin_meta_context_groups_path
        %li= link_to _("Mapping"), mapping_admin_keys_path 
        %li= link_to _("Terms"), admin_terms_path 
        %li= link_to _("Copyrights"), admin_copyrights_path 
    %td
      %h4= _("Subjects")
      %ul
        %li= link_to _("Users"), admin_users_path 
        %li= link_to _("People"), admin_people_path 
        %li= link_to _("Groups"), admin_groups_path 
    %td
      %h4= _("Resources")
      %ul
        %li= link_to _("Sets"), admin_media_sets_path 
        %li= link_to _("Special Sets"), special_admin_media_sets_path
        %li= link_to _("Permission Presets"), admin_permission_presets_path
    %td
      %h4= _("Settings")
      %ul
        %li= link_to _("Usage Terms"), admin_usage_term_path
        %li= link_to _("Instance settings"), admin_settings_path
        
