!!! 5
%html{:lang => "de-CH"}

  %head
    %meta{:charset => 'utf-8'}
    %title
      Admin
    = stylesheet_link_tag "admin"
    = javascript_include_tag "application"
    = csrf_meta_tag
    = yield :head

    :javascript
      $(document).ready(function () {
        $("a[data-remote]:not(a[data-method='delete'])").live('ajax:complete', function(xhr, response){
          var row = $(this).closest("tr");
          var cols = 0;
          row.children().each(function(){
            cols += $(this).prop('colSpan');
          });
          row.hide().after($("#edit_row").tmpl({tr_class: row.attr('class'), cols: (cols-1), text: response.responseText}));
        });
        
        $("a.cancel").live('click', function(){
          var row = $(this).closest("tr");
          row.prev().show();
          row.remove();
          return false;
        });
        // TODO
        //$("form[data-remote]").live('ajax:complete', function(xhr, response){});
        $('.datatable').dataTable({
          "sPaginationType": "full_numbers",
          "sDom": '<"top"fi>rt<"bottom"lp><"clear">'
        });
      });
    
  %body
    %header.container_12.clearfix
      %h1= link_to "Medienarchiv der Künste", root_path
      = render :partial => "layouts/admin/menu"
      #ajaxLoading
        = image_tag("spinner.gif")
        = _("Loading")
        \...
    %section.container_12.clearfix
      = yield
    %footer.container_12.clearfix{:style => "padding-top: 4em;"}
      = link_to _("Export"), export_admin_meta_path
      |
      = link_to _("Import"), import_admin_meta_path

    %script{:type => "text/x-jquery-tmpl", :id => "edit_row"}
      %tr{:class => "${tr_class}"}
        %td{:colspan => "${cols}"}
          {{html text}}
        %td.with_actions
          %a.buttons.cancel{:href => "#"} Cancel
