:ruby 
  id ||=nil 
  as = (defined? as and as)
  actions = (defined? actions and actions)
  resources = (defined? resources and resources)

.ui-resources-holder.pal{id: id, class: ""}
  .ui-resources-header
    %h2.title-l.ui-resources-title
      = title
      - if defined? link
        %a.strong{:href => link}
          = _("Show all")

  - if as == :table

    %table.ui-workgroups.bordered.block
      %tbody
        - groups.each do |group|
          %tr{:"data-id" => group.id}
            %td.ui-workgroup-name
              %a.ui-tag-button.group-tag{:href => media_resources_path(:permissions => {:group => {:ids => [group.id]}}), :title => _("Show this group's content")}
                %i.icon-group-mini.ui-tag-icon
                = group.name
            - if resources
              - total_accessible_by_group = MediaResource.accessible_by_group(group,:view).where(:type => ["MediaEntry", "MediaSet"]).count
              %td.ui-workgroup-items
                %a{:href => media_resources_path(:permissions => {:group => {:ids => [group.id]}}), :title => _("Show this group's content")}
                  = total_accessible_by_group
                  = _("content elements")
            - if actions
              %td.ui-workgroup-actions
                %a.button.delete-workgroup
                  %i.icon-trash.dark
                %a.button.edit-workgroup.mls
                  %i.icon-pen.dark
                  = _("Edit group")

  - else

    %ul.ui-tag-cloud.compact
      - groups.each do |group|
        %li.ui-tag-cloud-item
          %a{:href => my_groups_path, :class => "ui-tag-button", :title => group.name}
            %i.icon-group-mini.ui-tag-icon
            = group.name
