.container_12.clearfix#groups.index        
  %section#content_body
    %div.page_title_left
      .icon.groups
      =_("Meine Arbeitsgruppen")
    .clear
    
    %section.group
      %h3= _("MAdeK Arbeitsgruppen")
      %ul
        - @private_groups.each do |group|
          %li
            = link_to group_path(group), :title => _("Löschen"),:class => "delete button", :method => :delete, :confirm => _("Sind Sie sicher?") do
              .trash.icon
            = link_to edit_group_path(group), :title => _("Bearbeiten"), :class => "edit button" do
              .edit.icon
            = group
      = link_to _("Neue Arbeitsgruppe erstellen"), new_group_path, :class => "button create"
             
    %section.group     
      %h3= _("System Gruppen")
      %ul
        - @system_groups.each do |group|
          %li.without_actions
            = group
    
    %section.group     
      %h3= _("Abteilungs-Arbeitsgruppen")
      %ul
        - @department_groups.each do |group|
          %li.without_actions
            = group
          
:coffeescript
  
  jQuery ->
    new App.Groups