.container_12.clearfix              
  %section#content_body
    %h2.groups Neue Gruppe erstellen

    = form_for @group do |f|
      %table.groups
        %tr
          %th
            = f.label :name
          %td
            = f.text_field :name
        %tr
          %td
          %td
            = f.submit 'Gruppe erstellen'
        %tr
          %td{:colspan => 2}
            %p.hint
              Es können nur Benutzer/innen ausgewählt werden, die sich schon einmal im Medienarchiv eingeloggt haben.
    %br
    = link_to _("Zurück zu den Gruppen"), groups_path
    %br
    %br