- if logged_in?
  %li
    .head_menu
      = link_to current_user, root_path
      = image_tag "icons/arrow_user.png", :class => "arrow"
    .sub_menu
      = link_to _("Meine Medieneinträge"), user_resources_path(current_user, :type => "media_entries"), :class => "item_line_me"
      = link_to _("Meine Sets"), user_resources_path(current_user, :type => "media_sets"), :class => "item_line_set"
      = link_to _("Meine Favoriten"), favorites_resources_path, :class => "item_line_fav"
      = link_to _("Kopien für MIZ-Archiv"), snapshots_path if current_user.groups.is_member?("MIZ-Archiv")
      = link_to _("Meine Arbeitsgruppen"), groups_path, :class => "item_line", :class => "item_line_workgroup"
      = link_to _("Admin"), admin_root_path, :class => "item_line" if current_user.groups.is_member?("Admin")
      = link_to _("Abmelden"), logout_path, :class => "item_line"
- else
  %li
    %span.head_menu{:style => "background: #AAD450; -moz-border-radius: 3px; -webkit-border-radius: 3px;"}
      = link_to _("Anmelden"), login_path, :style => "background: #AAD450; color:#fff"
