%section.content_body.media_resources.index.grid{:data => {:url => media_resources_path(user_id: current_user), :title => "Alle meine Inhalte"}}
  %div.page_title_left
    = _("Meine Inhalte")
  .clear
  .results
    Loading...

%section.content_body.media_resources.index.grid{:data => {:url => media_resources_path(not_by_user_id: current_user, public: false), :title => "Alle mir anvertrauten Inhalte"}}
  %div.page_title_left
    = _("Mir anvertraute Inhalte")
  .clear
  .results.others.not_public
    Loading...

%section.content_body.media_resources.index.grid{:data => {:url => media_resources_path(not_by_user_id: current_user, public: true), :title => "Alle öffentlichen Inhalte"}}
  %div.page_title_left
    = _("Öffentliche Inhalte")
  .clear
  .results.others.public
    Loading...

= render :partial => "/media_sets/catalog"

= render :partial => "media_resources/templates"

:coffeescript
  jQuery ->
    per_page = 10
    $("%section.media_resources.index").each (i, section)->
      section = $(section)
      container = section.find(".results")
      App.MediaResources.fetch
        url: section.data("url")
        data:
          per_page: per_page
        success: (data)->
          if(data.media_resources.length)
            $(container).html($.tmpl("tmpl/media_resource/thumb_box", data.media_resources, {with_checkbox: false}))
            # always show button, see dashboard.feature
            # to remove button: # if(data.pagination.total > per_page)
            $(container).append("<div class='buttons'><a href='"+section.data("url")+"'>"+section.data("title")+"</a></div>")
          else
            $(container).html("Keine Medien vorhanden")
