%section#content_body
  %div.page_title_left
    .icon_me
    =_("Meine Medieneinträge")
  .clear
  #results
    - unless @my_media_entries[:entries].empty?
      - unless @my_media_entries[:entries].size < params[:per_page]
        .buttons
          = link_to "Alle meine Medieneinträge", user_resources_path(current_user)
    - else
      = _("Sie haben noch keine Medien hochgeladen.")

%section#content_body2      
  %div.page_title_left
    .icon_me
    =_("Medieneinträge anderer")
  .clear
  #results_others
    - unless @other_media_entries[:entries].empty?
      - unless @other_media_entries[:entries].size < params[:per_page]
        .buttons
          = link_to "Weitere Medieneinträge", resources_path(:not_by_current_user => true)
    - else
      = _("Es gibt keine weiteren Medieneinträge.")

= render :partial => "resources/templates"

:javascript
  // TODO dry => batch_actions.js
  $(document).ready(function () {
  	function display_entries(entries, container){
  	  $(container).prepend($("#thumbnail").tmpl(entries, {with_checkbox: false}));
  	}
  	display_entries(#{@my_media_entries.to_json}.entries, "#results");
  	display_entries(#{@other_media_entries.to_json}.entries, "#results_others");
  });

