= link_to admin_vocabulary_path(meta_datum.meta_key.vocabulary_id), class: "btn btn-default #{size}" do
  Vocabulary
- if meta_datum.media_entry_id.present?
  = link_to admin_media_entry_path(meta_datum.media_entry_id), class: "btn btn-default #{size}" do
    Media Entry
- if meta_datum.collection_id.present?
  = link_to admin_collection_path(meta_datum.collection_id), class: "btn btn-default #{size}" do
    Collection
- if meta_datum.filter_set_id.present?
  = link_to admin_filter_set_path(meta_datum.filter_set_id), class: "btn btn-default #{size}" do
    Filter Set
