%tr
  %td= meta_datum.id
  %td= meta_datum.string
  %td
    = link_to meta_datum.meta_key.id, admin_meta_key_path(meta_datum.meta_key.id),
        class: 'meta-key'
  %td= meta_datum.type
  %td.active.col-xs-1
    .btn-group-vertical
      = render partial: 'action_buttons', locals: { meta_datum: meta_datum, size: 'btn-sm' }
