!!!
%html{:lang => "de-CH"}

  %head
    %meta{:charset => 'utf-8'}
    // TODO INTERNATIONALIZE
    %title= "Styleguide"
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "styleguide"
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
    -# The application_controller makes sure that I18n.locale is set to something valid, so we
    -# can safely use it here.
    = javascript_include_tag "i18n/locale/#{I18n.locale.to_s.dasherize}"
    = javascript_include_tag "application"
    = csrf_meta_tag
    = yield :head

  %body

    .wrapper

      %h1.pbl.title-xl Styleguide Madek
      
    .bordered.ui-container.midtone.rounded.table
      
      .app-body-sidebar.table-cell.bright.ui-container.bordered-right.rounded-left.table-side

        .ui-container.rounded-left.phm.pvl
          - @sections.each_pair do |k,v|
            %a.row{:href => styleguide_path(:section => k)}= k.camelize
        
      .app-body-content.table-cell.table-substance.ui-container.ptl.pll.prm
        - if @sections[@current_section]
          - @sections[@current_section].each do |section|
            = render :partial => "styleguide/#{@current_section}/#{section}"