%h1.text-center
  %i.icon-media-entry
  Media Entries

.well.pull-right

  = form_tag app_admin_media_entries_path, method: 'GET', class: 'form-inline media-entry-search-form' do

    .form-group
      = text_field_tag 'filter[search_term]', @search_term, placeholder: "ID, Custom URL, title", class: "form-control"

    .form-group
      = button_tag type: 'submit', class: 'btn btn-sm' do
        %i.icon-filter
        Apply

    = link_to "Reset", app_admin_media_entries_path

.row
  = "Number of media entries:"
  %span#counter #{@media_entries.total_count}

%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Owner
      %th Media File
      %th Id
      %th Created at
  %tbody
    =render @media_entries

= paginate @media_entries, theme: 'app_admin'
