%h1 Media Entry #{@media_entry.id}

%table.table.table-striped
  %thead
  %tbody
  - @media_entry.attributes.each do |name,value|
    %tr
      %td= name.capitalize.split("_").join(" ")
      - case name
      - when nil
      - else
        %td= value
  %tr
    %td Media file
    %td
      = link_to app_admin_media_file_path(@media_entry.media_file) do
        MediaFile: #{@media_entry.media_file.id}




