%h3= "FTP-DROPBOX"

{{if error}}
%p.error
  ${error}
{{/if}}

%p= "Bitte benutzen Sie die FTP-Dropbox, wenn Sie Dateien mit einer Dateigrösse von mehr als 1.4GB hochladen möchten."

%p.info
  = "Sie benötigen auf Ihrem Computer einen"
  = link_to('FTP-Client', 'http://de.wikipedia.org/wiki/Kategorie:FTP-Client', :target => '_blank')
  = ", mit dem Sie Ihre Dateien zum Medienarchiv-Server übertragen können."
  %br
  %br
  = "Für Hilfe beim Zugang über FTP, wenden Sie sich an Ihre IT-Abteilung."

#no_ftp.ftp_informations{:style => "display:{{if dropbox_exists}}none{{else}}block{{/if}}"}
  {{if dropbox_info == null}}
  %p= "Im Admin-Bereich des Medienarchives wurde noch keine FTP-Dropbox eingerichtet!"
  {{else}}
  %p= "Sie haben noch keine FTP-Dropbox erstellt:"
  = link_to "Dropbox erstellen", "/import/dropbox", :class => "upload_buttons", :id => "create_dropbox",:remote => true, :method => :post
  {{/if}}
  
#ftp_existing.ftp_informations{:style => "display:{{if dropbox_exists}}block{{else}}none{{/if}}"}
  {{if dropbox_info != null}}
  %p= "Verwenden Sie folgende Verbindungsdaten:"
  %dl 
    %dt= "Server bzw. Hostname"
    {{if dropbox_info.server}}
    %dd= "${dropbox_info.server}"
    {{else}}
    %dd
      %em= "Nicht definiert"
    {{/if}}
    
    %dt= "Benutzername bzw. Login"
    {{if dropbox_info.login}}
    %dd= "${dropbox_info.login}"
    {{else}}
    %dd
      %em= "Nicht definiert"
    {{/if}}
    
    %dt= "Passwort"
    {{if dropbox_info.password}}
    %dd= "${dropbox_info.password}"
    {{else}}
    %dd
      %em= "Nicht definiert"
    {{/if}}
    
    %dt= "Verzeichnis bzw. Pfad"
    %dd= "${dropbox_info.dir_name}"
  {{/if}}
      
.navigation
  = link_to "Ok, zurück", "javascript:void(0)", :class => "upload_buttons", :onclick => "$('.dialog').dialog('close');"