= form_tag(meta_datum_path, method: "patch") do
  %div
    = label_tag(:q, " KEY ", class: 'title-s')
    = text_field_tag("_key", @get.meta_key_id, disabled: true)

  %hr.separator.mini.mvs

  %div
    = label_tag(:q, " TYPE ", class: 'title-s')
    = text_field_tag("_value[type]", @get.type, disabled: true)

  %hr.separator.mini.mvs

  - @get.literal_values.each do |v|
    = label_tag(:q, " VALUE ", class: 'title-s')
    = text_field_tag("_value[content][]", v)
  = label_tag(:q, " VALUE ", class: 'title-s')
  = text_field_tag("_value[content][]")
  = label_tag(:q, " VALUE ", class: 'title-s')
  = text_field_tag("_value[content][]")

  - if @get.media_entry_id
    %hr.separator.mini.mvs
    %div
      = label_tag(:q, " MEDIA_ENTRY_ID ", class: 'title-s')
      = link_to(@get.media_entry_id, media_entry_path(@get.media_entry_id))

  - if @get.collection_id
    %hr.separator.mini.mvs
    %div
      = label_tag(:q, " COLLECTION_ID ", class: 'title-s')
      = link_to(@get.collection_id, collection_path(@get.collection_id))

  - if @get.filter_set_id
    %hr.separator.mini.mvs
    %div
      = label_tag(:q, " FILTER_SET_ID ", class: 'title-s')
      = link_to(@get.filter_set_id, filter_set_path(@get.filter_set_id))

  %hr.separator.mini.mvs

  = component('button', mods: nil) do
    = "Submit"

  %hr.separator.mini.mvs

  = link_to('Cancel', meta_datum_path(@get.uuid), class: 'button')
