= form_tag(meta_data_path) do
  %div
    = label_tag(:q, " #{t(:meta_data_meta_key_label)} ", class: 'title-s')
    = text_field_tag("meta_key")

  %hr.separator.mini.mvs

  %div
    = label_tag(:q, " #{t(:meta_data_type_label)} ", class: 'title-s')
    = text_field_tag("type")

  %hr.separator.mini.mvs

  - 3.times do
    = label_tag(:q, " #{t(:meta_data_value_label)} ", class: 'title-s')
    = text_field_tag("values[]")

  %hr.separator.mini.mvs
  %div
    = label_tag(:q, " MEDIA_ENTRY_ID ", class: 'title-s')
    = text_field_tag("media_entry_id")

  %hr.separator.mini.mvs
  %div
    = label_tag(:q, " COLLECTION_ID ", class: 'title-s')
    = text_field_tag("collection_id")

  %hr.separator.mini.mvs
  = submit_tag t(:meta_data_form_submit_btn)
