= form_tag(media_entry_meta_data_path, method: "post") do
  %div
    = label_tag(:q, " KEY ", class: 'title-s')
    = text_field_tag("_key")
  %hr.separator.mini.mvs
  %div
    = label_tag(:q, " TYPE ", class: 'title-s')
    = text_field_tag("_value[type]")
  %hr.separator.mini.mvs
  - 5.times do
    = label_tag(:q, " VALUE ", class: 'title-s')
    = text_field_tag("_value[content][]")
  %hr.separator.mini.mvs
  = submit_tag("Send", class: 'primary-button')
