:ruby
  content_for(:header) do
    component('page-header', icon: '▲', text: 'MetaDatum')
  end

  actions = component('actions', mods: 'phl pbl mtl', actions: [
      if @get.policy(current_user).edit?
        component('button.primary', mods: 'large',
                  text: 'Edit', icon: 'pen',
                  link: edit_meta_datum_path(@get.uuid))
      end,
      if @get.policy(current_user).destroy?
        component('button.tertiary', mods: 'large',
                    text: 'Delete', icon: 'trash',
                    link: meta_datum_path(@get.uuid),
                    method: :delete,
                    data: {
                      confirm: 'Are you sure you want to delete this MetaDatum?'
                    })
      end
    ])


- content_for(:overview) do
  .ui-container.table
    .app-body-sidebar.ui-container.table-cell.table-side
      .ui-resources.grid
        = deco('polythumb') { deco('thumbnail', get: @get.subject_media_resource) }

    .app-body-content.ui-container.table-cell.table-substance
      %hr.separator.light

      - mk_url = "/ns/vocabulary/#{@get.meta_key.vocabulary_id}/#{@get.meta_key.uuid}"
      - label = { text: component('link', mods: 'strong',
                                    link: mk_url) { @get.meta_key.label },
                  comment: @get.meta_key.hint,
                  hint: @get.meta_key.description}

      = combo('form-group', mods: 'columned', label: label) do
        %div{style:'padding-top: 5px;'}
          = deco('meta_datum_value', get: @get)

      = actions

= render template: 'layouts/app_resource'
