:ruby
  content_for(:header) do
    component('page-header', icon: '▲', text: t(:meta_data_header_text))
  end

  actions = component('actions', mods: 'phl pbl mtl', actions: [
      if @get.policy_for(current_user).edit?
        component('button.primary', mods: 'large',
                  text: t(:meta_data_action_edit_btn), icon: 'pen',
                  link: edit_meta_datum_path(@get.uuid))
      end,
      if @get.policy_for(current_user).destroy?
        component('button.tertiary', mods: 'large',
                    text: t(:meta_data_action_delete_btn), icon: 'trash',
                    link: meta_datum_path(@get.uuid),
                    method: :delete,
                    data: {
                      confirm: t(:meta_data_delete_confirm_msg)
                    })
      end
    ])


- content_for(:overview) do
  .ui-container.table
    .app-body-sidebar.ui-container.table-cell.table-side
      .ui-resources.grid
        = deco('polythumb') { deco('thumbnail', get: @get.subject_media_resource) }

    .app-body-content.ui-container.table-cell.table-substance
      %hr.separator.light

      - mk_url = "/ns/vocabulary/#{@get.meta_key.vocabulary_id}/#{@get.meta_key.uuid}"
      - label = { text: component('link', mods: 'strong',
                                    link: mk_url) { @get.meta_key.label },
                  comment: @get.meta_key.hint,
                  hint: @get.meta_key.description}

      = combo('form-group', mods: 'columned', label: label) do
        %div{style:'padding-top: 5px;'}
          = deco('meta_datum_values', get: @get)

      = actions

= render template: 'layouts/app_resource'
