.app.view-media-entry-browse

  = render "application/header/logged_in"

  .app-body

    // PAGE TITLE

    .app-body-title
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl Erkunden Vergleichbare Medieneinträge

    .app-body-ui-container
      .bordered.ui-container.midtone.rounded.table

        // SIDEBAR

        .app-body-sidebar.table-cell.bright.ui-container.bordered-right.rounded-left.table-side
          .ui-container.rounded-left.phm.pvl
            %a.thumbnail-video.thumbnail{:href => "#"}
              = image_tag "redesign/thumbnails/thumb-video.png"
            .ui-metadata-box.ui-media-overview-metadata.ptm
              %dl.media-data
                %dt.media-data-title.title-xs-alt Titel
                %dd.media-data-content.title-l Die Eismalerin
                %dt.media-data-title.title-xs-alt Untertitel
                %dd.media-data-content Installationsansicht
                %dt.media-data-title.title-xs-alt Autor/in
                %dd.media-data-content
                  %ul.inline
                    %li
                      %a{:href => "#"} Stemmle, Janka
                %dt.media-data-title.title-xs-alt Datierrung
                %dd.media-data-content 2012
                %dt.media-data-title.title-xs-alt Schlagworte zu Inhalt und Motiv
                %dd.media-data-content
                  %ul.ui-tag-cloud.small
                    %li.tag-button
                      %a{:href => "#"} Tag 1
                    %li.tag-button
                      %a{:href => "#"} Tag 2
                %dt.media-data-title.title-xs-alt Rechte am geistigen Eigentum
                %dd.media-data-content ZHdK DKM VMK
                %dt.media-data-title.title-xs-alt Eigentumer/in im Medienarchiv
                %dd.media-data-content
                  %ul.inline
                    %li
                      %a{:href => "#"} Stemmle, Janka

        .app-body-content.table-cell.table-substance.ui-container.ui-container

          // CONTENT

          .ui-container.midtone.rounded-right.ptl.phl.pbm
            .media-resources-wrapper
              .media-resources-header.mbm
                %h2.title-s.media-resources-title
                  Studienabschnitt: Haputstudium Diplom (2249)
                  %a.strong{:href => "#"} Alle anziegen

              %ul.media-resources.grid.tight.active
                %li.media-resources-item
                  %a.ui-thumbnail.media-entry{:href => "#"}
                    .thumbnail-package.small
                      = image_tag "redesign/thumbnails/thumb-package-7z-small.png"
                %li.media-resources-item
                  %a.ui-thumbnail.media-entry{:href => "#"}
                    .thumbnail-doc.small
                      = image_tag "redesign/thumbnails/thumb-doc-ods-small.png"
                %li.media-resources-item
                  %a.ui-thumbnail.media-entry{:href => "#"}
                    .thumbnail-video.small
                      = image_tag "redesign/thumbnails/thumb-video-mpg-small.png"
                %li.media-resources-item
                  %a.ui-thumbnail.media-entry{:href => "#"}
                    .thumbnail-audio.small
                      = image_tag "redesign/thumbnails/thumb-audio-aif-small.png"
                %li.media-resources-item
                  %a.ui-thumbnail.media-entry{:href => "#"}
                    .thumbnail-set.small
                      .inner-wrapper= image_tag "redesign/styleguide/media-entry-9.jpg"
                %li.media-resources-item
                  %a.ui-thumbnail.media-entry{:href => "#"}
                    .thumbnail-package.small
                      = image_tag "redesign/thumbnails/thumb-package-7z-small.png"
                %li.media-resources-item
                  %a.ui-thumbnail.media-entry{:href => "#"}
                    .thumbnail-doc.small
                      = image_tag "redesign/thumbnails/thumb-doc-ods-small.png"
                %li.media-resources-item
                  %a.ui-thumbnail.media-entry{:href => "#"}
                    .thumbnail-video.small
                      = image_tag "redesign/thumbnails/thumb-video-mpg-small.png"
                %li.media-resources-item
                  %a.ui-thumbnail.media-entry{:href => "#"}
                    .thumbnail-audio.small
                      = image_tag "redesign/thumbnails/thumb-audio-aif-small.png"
                %li.media-resources-item
                  %a.ui-thumbnail.media-entry{:href => "#"}
                    .thumbnail-set.small
                      .inner-wrapper= image_tag "redesign/styleguide/media-entry-9.jpg"

          %hr.separator

          .ui-container.midtone.rounded-right.ptl.phl.pbm
            .media-resources-wrapper
              .media-resources-header.mbm
                %h2.title-s.media-resources-title
                  ZHdK Projekttyp: Abschlussarbeit (2266)
                  %a.strong{:href => "#"} Alle anziegen
              %ul.media-resources.grid.tight.active
                %li.media-resources-item
                  %a.ui-thumbnail.media-entry{:href => "#"}
                    .thumbnail-package.small
                      = image_tag "redesign/thumbnails/thumb-package-7z-small.png"
                %li.media-resources-item
                  %a.ui-thumbnail.media-entry{:href => "#"}
                    .thumbnail-doc.small
                      = image_tag "redesign/thumbnails/thumb-doc-ods-small.png"
                %li.media-resources-item
                  %a.ui-thumbnail.media-entry{:href => "#"}
                    .thumbnail-video.small
                      = image_tag "redesign/thumbnails/thumb-video-mpg-small.png"
                %li.media-resources-item
                  %a.ui-thumbnail.media-entry{:href => "#"}
                    .thumbnail-audio.small
                      = image_tag "redesign/thumbnails/thumb-audio-aif-small.png"
                %li.media-resources-item
                  %a.ui-thumbnail.media-entry{:href => "#"}
                    .thumbnail-set.small
                      .inner-wrapper= image_tag "redesign/styleguide/media-entry-9.jpg"
                %li.media-resources-item
                  %a.ui-thumbnail.media-entry{:href => "#"}
                    .thumbnail-package.small
                      = image_tag "redesign/thumbnails/thumb-package-7z-small.png"
                %li.media-resources-item
                  %a.ui-thumbnail.media-entry{:href => "#"}
                    .thumbnail-doc.small
                      = image_tag "redesign/thumbnails/thumb-doc-ods-small.png"
                %li.media-resources-item
                  %a.ui-thumbnail.media-entry{:href => "#"}
                    .thumbnail-video.small
                      = image_tag "redesign/thumbnails/thumb-video-mpg-small.png"
                %li.media-resources-item
                  %a.ui-thumbnail.media-entry{:href => "#"}
                    .thumbnail-audio.small
                      = image_tag "redesign/thumbnails/thumb-audio-aif-small.png"
                %li.media-resources-item
                  %a.ui-thumbnail.media-entry{:href => "#"}
                    .thumbnail-set.small
                      .inner-wrapper= image_tag "redesign/styleguide/media-entry-9.jpg"

          %hr.separator

          .ui-container.midtone.rounded-right.ptl.phl.pbm
            .media-resources-wrapper
              .media-resources-header.mbm
                %h2.title-s.media-resources-title
                  Gattung: Fotografie (2297)
                  %a.strong{:href => "#"} Alle anziegen
              %ul.media-resources.grid.tight.active
                %li.media-resources-item
                  %a.ui-thumbnail.media-entry{:href => "#"}
                    .thumbnail-package.small
                      = image_tag "redesign/thumbnails/thumb-package-7z-small.png"
                %li.media-resources-item
                  %a.ui-thumbnail.media-entry{:href => "#"}
                    .thumbnail-doc.small
                      = image_tag "redesign/thumbnails/thumb-doc-ods-small.png"
                %li.media-resources-item
                  %a.ui-thumbnail.media-entry{:href => "#"}
                    .thumbnail-video.small
                      = image_tag "redesign/thumbnails/thumb-video-mpg-small.png"
                %li.media-resources-item
                  %a.ui-thumbnail.media-entry{:href => "#"}
                    .thumbnail-audio.small
                      = image_tag "redesign/thumbnails/thumb-audio-aif-small.png"
                %li.media-resources-item
                  %a.ui-thumbnail.media-entry{:href => "#"}
                    .thumbnail-set.small
                      .inner-wrapper= image_tag "redesign/styleguide/media-entry-9.jpg"
                %li.media-resources-item
                  %a.ui-thumbnail.media-entry{:href => "#"}
                    .thumbnail-package.small
                      = image_tag "redesign/thumbnails/thumb-package-7z-small.png"
                %li.media-resources-item
                  %a.ui-thumbnail.media-entry{:href => "#"}
                    .thumbnail-doc.small
                      = image_tag "redesign/thumbnails/thumb-doc-ods-small.png"
                %li.media-resources-item
                  %a.ui-thumbnail.media-entry{:href => "#"}
                    .thumbnail-video.small
                      = image_tag "redesign/thumbnails/thumb-video-mpg-small.png"
                %li.media-resources-item
                  %a.ui-thumbnail.media-entry{:href => "#"}
                    .thumbnail-audio.small
                      = image_tag "redesign/thumbnails/thumb-audio-aif-small.png"
                %li.media-resources-item
                  %a.ui-thumbnail.media-entry{:href => "#"}
                    .thumbnail-set.small
                      .inner-wrapper= image_tag "redesign/styleguide/media-entry-9.jpg"

  .app-footer-push
.app-footer
  %footer.ui-footer.ui-container.inverted
    %ul.ui-footer-menu
      %li
        %a{:href => "#"} Informationen zum Projekt
      %li
        %a{:href => "#"} Impressum
      %li
        %a{:href => "#"} Kontakt
      %li
        %a{:href => "#"} Blog
      %li
        %a{:href => "#"} Hilfe
      %li
        %a{:href => "#"} Nutzungsbestimmungen
      %li
        %a{:href => "#"} Freie Software
      %li
        %a{:href => "#"} Archivierungsrichtlinien ZHdK
    %p.ui-footer-copy
      = image_tag "redesign/inserts/image-logo-madek.png", :alt => "MADEK", :class => "ui-footer-logo"
      &copy; 2009-2011 Z&uuml;rcher Hochschule der K&uuml;nste
