.app.view-media-entry-browse

  = render "application/header"

  .app-body

    // PAGE TITLE

    .app-body-title
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl Erkunden Vergleichbare Medieneinträge

    .app-body-ui-container
      .bordered.ui-container.midtone.rounded.table

        // SIDEBAR

        .app-body-sidebar.table-cell.bright.ui-container.bordered-right.rounded-left.table-side
          .ui-container.rounded-left.phm.pvl
            .ui-resource-thumbnail
              .ui-thumbnail.media-entry.video
                .ui-thumbnail-privacy
                  %i.icon-privacy-private This media is private
                %a.ui-thumbnail-image-wrapper
                  .ui-thumbnail-image-holder
                    = image_tag "redesign/styleguide/media-entry-4.jpeg", :class => "ui-thumbnail-image"
                .ui-thumbnail-meta
                  %h3.ui-thumbnail-meta-title Name that can easily go onto 2 lines
                  %h4.ui-thumbnail-meta-subtitle Author that can easily go onto 2 lines as well
                .ui-thumbnail-actions
                  %ul.left.by-left
                    %li.ui-thumbnail-action
                      %a.ui-thumbnail-action-checkbox Select
                    %li.ui-thumbnail-action
                      %a.ui-thumbnail-action-favorite Favorite
                  %ul.right.by-right
                    %li.ui-thumbnail-action
                      %a.ui-thumbnail-action-browse Browse
                    %li.ui-thumbnail-action
                      %a.ui-thumbnail-action-edit Edit
                    %li.ui-thumbnail-action
                      %a.ui-thumbnail-action-delete Delete

            .ui-metadata-box.ui-media-overview-metadata.ptm
              %dl.ui-media-overview-metadata.ui-metadata-box
                %dt.media-data-title.title-xs-alt Titel
                %dd.media-data-content.title-l Die Eismalerin
                %dt.media-data-title.title-xs-alt Untertitel
                %dd.media-data-content Installationsansicht
                %dt.media-data-title.title-xs-alt Autor/in
                %dd.media-data-content
                  %a{:href => "#"} Stemmle, Janka
                %dt.media-data-title.title-xs-alt Datierrung
                %dd.media-data-content 2012
                %dt.media-data-title.title-xs-alt Schlagworte zu Inhalt und Motiv
                %dd.media-data-content
                  %ul.ui-tag-cloud.small
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:href => "#"} Tag 1
                    %li.ui-tag-cloud-item
                      %a.ui-tag-button{:href => "#"} Tag 2
                %dt.media-data-title.title-xs-alt Rechte am geistigen Eigentum
                %dd.media-data-content ZHdK DKM VMK
                %dt.media-data-title.title-xs-alt Privacy
                %dd.media-data-content
                  This entry is public
                  %i.icon-privacy-public
                %dt.media-data-title.title-xs-alt Eigentumer/in im Medienarchiv
                %dd.media-data-content
                  %a{:href => "#"} Rüegger, Romy

        .app-body-content.table-cell.table-substance.ui-container

          .ui-container.midtone.rounded-right.ptl.phl.pbm
            .ui-resources-header.mbm
              %h2.title-m.ui-resources-title
                %strong 
                  Studienabschnitt:
                Haputstudium Diplom (2249)
                %a.strong{:href => "#"} Alle anziegen

            .ui-featured-entries.small.active
              %ul.ui-featured-entries-list
                %li.ui-featured-entries-item
                  %a.ui-featured-entry{:href => "#"}
                    = image_tag "redesign/styleguide/media-entry-1.png"
                    .ui-featured-entry-metadata
                      %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                      %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as asily go onto 2 lines fadoiu sdaifu siadofisdaofu oisaduf osais as well
                  %ul.ui-featured-entry-actions
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-browse{:href => "/media_resources/191/browse", :title => "Erkunden"}
                        Erkunden
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-edit{:href => "/media_resources/191/edit", :title => "Editieren"}
                        Editieren
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-delete{:href => "#", :title => "Löschen"}
                        Löschen
                %li.ui-featured-entries-item
                  %a.ui-featured-entry{:href => "#"}
                    = image_tag "redesign/styleguide/media-entry-2.png"
                    .ui-featured-entry-metadata
                      %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                      %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as asily go onto 2 lines fadoiu sdaifu siadofisdaofu oisaduf osais as well
                  %ul.ui-featured-entry-actions
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-browse{:href => "/media_resources/191/browse", :title => "Erkunden"}
                        Erkunden
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-edit{:href => "/media_resources/191/edit", :title => "Editieren"}
                        Editieren
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-delete{:href => "#", :title => "Löschen"}
                        Löschen
                %li.ui-featured-entries-item
                  %a.ui-featured-entry{:href => "#"}
                    = image_tag "redesign/styleguide/media-entry-3.jpeg"
                    .ui-featured-entry-metadata
                      %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                      %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as asily go onto 2 lines fadoiu sdaifu siadofisdaofu oisaduf osais as well
                  %ul.ui-featured-entry-actions
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-browse{:href => "/media_resources/191/browse", :title => "Erkunden"}
                        Erkunden
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-edit{:href => "/media_resources/191/edit", :title => "Editieren"}
                        Editieren
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-delete{:href => "#", :title => "Löschen"}
                        Löschen
                %li.ui-featured-entries-item
                  %a.ui-featured-entry{:href => "#"}
                    = image_tag "redesign/styleguide/media-entry-4.jpeg"
                    .ui-featured-entry-metadata
                      %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                      %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as asily go onto 2 lines fadoiu sdaifu siadofisdaofu oisaduf osais as well
                  %ul.ui-featured-entry-actions
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-browse{:href => "/media_resources/191/browse", :title => "Erkunden"}
                        Erkunden
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-edit{:href => "/media_resources/191/edit", :title => "Editieren"}
                        Editieren
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-delete{:href => "#", :title => "Löschen"}
                        Löschen
                %li.ui-featured-entries-item
                  %a.ui-featured-entry{:href => "#"}
                    = image_tag "redesign/styleguide/media-entry-5.jpeg"
                    .ui-featured-entry-metadata
                      %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                      %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as asily go onto 2 lines fadoiu sdaifu siadofisdaofu oisaduf osais as well
                  %ul.ui-featured-entry-actions
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-browse{:href => "/media_resources/191/browse", :title => "Erkunden"}
                        Erkunden
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-edit{:href => "/media_resources/191/edit", :title => "Editieren"}
                        Editieren
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-delete{:href => "#", :title => "Löschen"}
                        Löschen
                %li.ui-featured-entries-item
                  %a.ui-featured-entry{:href => "#"}
                    = image_tag "redesign/styleguide/media-entry-6.jpeg"
                    .ui-featured-entry-metadata
                      %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                      %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as asily go onto 2 lines fadoiu sdaifu siadofisdaofu oisaduf osais as well
                  %ul.ui-featured-entry-actions
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-browse{:href => "/media_resources/191/browse", :title => "Erkunden"}
                        Erkunden
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-edit{:href => "/media_resources/191/edit", :title => "Editieren"}
                        Editieren
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-delete{:href => "#", :title => "Löschen"}
                        Löschen
                %li.ui-featured-entries-item
                  %a.ui-featured-entry{:href => "#"}
                    = image_tag "redesign/styleguide/media-entry-7.jpeg"
                    .ui-featured-entry-metadata
                      %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                      %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as asily go onto 2 lines fadoiu sdaifu siadofisdaofu oisaduf osais as well
                %li.ui-featured-entries-item
                  %a.ui-featured-entry{:href => "#"}
                    = image_tag "redesign/styleguide/media-entry-8.jpeg"
                    .ui-featured-entry-metadata
                      %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                      %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as asily go onto 2 lines fadoiu sdaifu siadofisdaofu oisaduf osais as well
                  %ul.ui-featured-entry-actions
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-browse{:href => "/media_resources/191/browse", :title => "Erkunden"}
                        Erkunden
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-edit{:href => "/media_resources/191/edit", :title => "Editieren"}
                        Editieren
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-delete{:href => "#", :title => "Löschen"}
                        Löschen


          %hr.separator

          .ui-container.midtone.rounded-right.ptl.phl.pbm
            .ui-resources-header.mbm
              %h2.title-m.ui-resources-title
                %strong
                  ZHdK Projekttyp:
                Abschlussarbeit (2266)
                %a.strong{:href => "#"} Alle anziegen
            .ui-featured-entries.small.active
              %ul.ui-featured-entries-list
                %li.ui-featured-entries-item
                  %a.ui-featured-entry{:href => "#"}
                    = image_tag "redesign/styleguide/media-entry-1.png"
                    .ui-featured-entry-metadata
                      %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                      %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as asily go onto 2 lines fadoiu sdaifu siadofisdaofu oisaduf osais as well
                  %ul.ui-featured-entry-actions
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-browse{:href => "/media_resources/191/browse", :title => "Erkunden"}
                        Erkunden
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-edit{:href => "/media_resources/191/edit", :title => "Editieren"}
                        Editieren
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-delete{:href => "#", :title => "Löschen"}
                        Löschen
                %li.ui-featured-entries-item
                  %a.ui-featured-entry{:href => "#"}
                    = image_tag "redesign/styleguide/media-entry-2.png"
                    .ui-featured-entry-metadata
                      %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                      %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as asily go onto 2 lines fadoiu sdaifu siadofisdaofu oisaduf osais as well
                  %ul.ui-featured-entry-actions
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-browse{:href => "/media_resources/191/browse", :title => "Erkunden"}
                        Erkunden
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-edit{:href => "/media_resources/191/edit", :title => "Editieren"}
                        Editieren
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-delete{:href => "#", :title => "Löschen"}
                        Löschen
                %li.ui-featured-entries-item
                  %a.ui-featured-entry{:href => "#"}
                    = image_tag "redesign/styleguide/media-entry-3.jpeg"
                    .ui-featured-entry-metadata
                      %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                      %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as asily go onto 2 lines fadoiu sdaifu siadofisdaofu oisaduf osais as well
                  %ul.ui-featured-entry-actions
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-browse{:href => "/media_resources/191/browse", :title => "Erkunden"}
                        Erkunden
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-edit{:href => "/media_resources/191/edit", :title => "Editieren"}
                        Editieren
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-delete{:href => "#", :title => "Löschen"}
                        Löschen
                %li.ui-featured-entries-item
                  %a.ui-featured-entry{:href => "#"}
                    = image_tag "redesign/styleguide/media-entry-4.jpeg"
                    .ui-featured-entry-metadata
                      %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                      %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as asily go onto 2 lines fadoiu sdaifu siadofisdaofu oisaduf osais as well
                  %ul.ui-featured-entry-actions
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-browse{:href => "/media_resources/191/browse", :title => "Erkunden"}
                        Erkunden
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-edit{:href => "/media_resources/191/edit", :title => "Editieren"}
                        Editieren
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-delete{:href => "#", :title => "Löschen"}
                        Löschen
                %li.ui-featured-entries-item
                  %a.ui-featured-entry{:href => "#"}
                    = image_tag "redesign/styleguide/media-entry-5.jpeg"
                    .ui-featured-entry-metadata
                      %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                      %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as asily go onto 2 lines fadoiu sdaifu siadofisdaofu oisaduf osais as well
                  %ul.ui-featured-entry-actions
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-browse{:href => "/media_resources/191/browse", :title => "Erkunden"}
                        Erkunden
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-edit{:href => "/media_resources/191/edit", :title => "Editieren"}
                        Editieren
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-delete{:href => "#", :title => "Löschen"}
                        Löschen
                %li.ui-featured-entries-item
                  %a.ui-featured-entry{:href => "#"}
                    = image_tag "redesign/styleguide/media-entry-6.jpeg"
                    .ui-featured-entry-metadata
                      %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                      %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as asily go onto 2 lines fadoiu sdaifu siadofisdaofu oisaduf osais as well
                  %ul.ui-featured-entry-actions
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-browse{:href => "/media_resources/191/browse", :title => "Erkunden"}
                        Erkunden
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-edit{:href => "/media_resources/191/edit", :title => "Editieren"}
                        Editieren
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-delete{:href => "#", :title => "Löschen"}
                        Löschen
                %li.ui-featured-entries-item
                  %a.ui-featured-entry{:href => "#"}
                    = image_tag "redesign/styleguide/media-entry-7.jpeg"
                    .ui-featured-entry-metadata
                      %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                      %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as asily go onto 2 lines fadoiu sdaifu siadofisdaofu oisaduf osais as well
                %li.ui-featured-entries-item
                  %a.ui-featured-entry{:href => "#"}
                    = image_tag "redesign/styleguide/media-entry-8.jpeg"
                    .ui-featured-entry-metadata
                      %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                      %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as asily go onto 2 lines fadoiu sdaifu siadofisdaofu oisaduf osais as well
                  %ul.ui-featured-entry-actions
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-browse{:href => "/media_resources/191/browse", :title => "Erkunden"}
                        Erkunden
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-edit{:href => "/media_resources/191/edit", :title => "Editieren"}
                        Editieren
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-delete{:href => "#", :title => "Löschen"}
                        Löschen

          %hr.separator

          .ui-container.midtone.rounded-right.ptl.phl.pbm
            .ui-resources-header.mbm
              %h2.title-m.ui-resources-title
                %strong 
                  Gattung: 
                Fotografie (2297)
                %a.strong{:href => "#"} Alle anziegen
            .ui-featured-entries.small.active
              %ul.ui-featured-entries-list
                %li.ui-featured-entries-item
                  %a.ui-featured-entry{:href => "#"}
                    = image_tag "redesign/styleguide/media-entry-1.png"
                    .ui-featured-entry-metadata
                      %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                      %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as asily go onto 2 lines fadoiu sdaifu siadofisdaofu oisaduf osais as well
                  %ul.ui-featured-entry-actions
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-browse{:href => "/media_resources/191/browse", :title => "Erkunden"}
                        Erkunden
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-edit{:href => "/media_resources/191/edit", :title => "Editieren"}
                        Editieren
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-delete{:href => "#", :title => "Löschen"}
                        Löschen
                %li.ui-featured-entries-item
                  %a.ui-featured-entry{:href => "#"}
                    = image_tag "redesign/styleguide/media-entry-2.png"
                    .ui-featured-entry-metadata
                      %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                      %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as asily go onto 2 lines fadoiu sdaifu siadofisdaofu oisaduf osais as well
                  %ul.ui-featured-entry-actions
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-browse{:href => "/media_resources/191/browse", :title => "Erkunden"}
                        Erkunden
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-edit{:href => "/media_resources/191/edit", :title => "Editieren"}
                        Editieren
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-delete{:href => "#", :title => "Löschen"}
                        Löschen
                %li.ui-featured-entries-item
                  %a.ui-featured-entry{:href => "#"}
                    = image_tag "redesign/styleguide/media-entry-3.jpeg"
                    .ui-featured-entry-metadata
                      %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                      %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as asily go onto 2 lines fadoiu sdaifu siadofisdaofu oisaduf osais as well
                  %ul.ui-featured-entry-actions
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-browse{:href => "/media_resources/191/browse", :title => "Erkunden"}
                        Erkunden
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-edit{:href => "/media_resources/191/edit", :title => "Editieren"}
                        Editieren
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-delete{:href => "#", :title => "Löschen"}
                        Löschen
                %li.ui-featured-entries-item
                  %a.ui-featured-entry{:href => "#"}
                    = image_tag "redesign/styleguide/media-entry-4.jpeg"
                    .ui-featured-entry-metadata
                      %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                      %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as asily go onto 2 lines fadoiu sdaifu siadofisdaofu oisaduf osais as well
                  %ul.ui-featured-entry-actions
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-browse{:href => "/media_resources/191/browse", :title => "Erkunden"}
                        Erkunden
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-edit{:href => "/media_resources/191/edit", :title => "Editieren"}
                        Editieren
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-delete{:href => "#", :title => "Löschen"}
                        Löschen
                %li.ui-featured-entries-item
                  %a.ui-featured-entry{:href => "#"}
                    = image_tag "redesign/styleguide/media-entry-5.jpeg"
                    .ui-featured-entry-metadata
                      %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                      %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as asily go onto 2 lines fadoiu sdaifu siadofisdaofu oisaduf osais as well
                  %ul.ui-featured-entry-actions
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-browse{:href => "/media_resources/191/browse", :title => "Erkunden"}
                        Erkunden
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-edit{:href => "/media_resources/191/edit", :title => "Editieren"}
                        Editieren
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-delete{:href => "#", :title => "Löschen"}
                        Löschen
                %li.ui-featured-entries-item
                  %a.ui-featured-entry{:href => "#"}
                    = image_tag "redesign/styleguide/media-entry-6.jpeg"
                    .ui-featured-entry-metadata
                      %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                      %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as asily go onto 2 lines fadoiu sdaifu siadofisdaofu oisaduf osais as well
                  %ul.ui-featured-entry-actions
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-browse{:href => "/media_resources/191/browse", :title => "Erkunden"}
                        Erkunden
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-edit{:href => "/media_resources/191/edit", :title => "Editieren"}
                        Editieren
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-delete{:href => "#", :title => "Löschen"}
                        Löschen
                %li.ui-featured-entries-item
                  %a.ui-featured-entry{:href => "#"}
                    = image_tag "redesign/styleguide/media-entry-7.jpeg"
                    .ui-featured-entry-metadata
                      %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                      %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as asily go onto 2 lines fadoiu sdaifu siadofisdaofu oisaduf osais as well
                %li.ui-featured-entries-item
                  %a.ui-featured-entry{:href => "#"}
                    = image_tag "redesign/styleguide/media-entry-8.jpeg"
                    .ui-featured-entry-metadata
                      %h3.title-s.ui-thumbnail-name Name that can easily go onto 2 lines
                      %h4.title-xs-alt.ui-thumbnail-author Author that can easily go onto 2 lines as asily go onto 2 lines fadoiu sdaifu siadofisdaofu oisaduf osais as well
                  %ul.ui-featured-entry-actions
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-browse{:href => "/media_resources/191/browse", :title => "Erkunden"}
                        Erkunden
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-edit{:href => "/media_resources/191/edit", :title => "Editieren"}
                        Editieren
                    %li.ui-featured-entry-action
                      %a.ui-featured-action-delete{:href => "#", :title => "Löschen"}
                        Löschen

  .app-footer-push
= render "application/footer"