.app.view-media-entry-edit

  // HEADER

  .app-header
    %header.ui-header.container.inverted
      .ui-header-brand
        = image_tag "redesign/inserts/image-logo-zhdk.png", :alt => "ZHDK", :class => "ui-header-logo"
        %h1.ui-header-brand-name Z&uuml;rcher Hochschule der K&uuml;nste
        %h2.ui-header-instance-name Medienarchiv der K&uuml;nste

      .ui-header-menu
        %ul.large.primary.tab-navigation
          %li.tab-navigation-item
            %a{:href => "#"} Mein Archiv
          %li.tab-navigation-item
            %a{:href => "#"} Erkunden
          %li.tab-navigation-item
            %a{:href => "#"}
              %i.icon-search.bright
              Suchen
          %li.tab-navigation-item
            %a{:href => "#"}
              %i.icon-help.bright Help

      .ui-header-user
        .dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            Franziska M&uuml;ller-Rei&szlig;mann
            %i.icon-arrow-down.bright.stand-alone
          %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
            %li.dropdown-menu-item
              %a{:href => "#"} Item 1
            %li.dropdown-menu-item
              %a{:href => "#"} Item 2
            %li.separator
            %li.dropdown-menu-item
              %a{:href => "#"} Abmelden

  .app-body

    // PAGE TITLE

    .app-body-title
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl Metadaten editieren

    .app-body-container

      %form

        // TABS

        %ul.tab-navigation.large
          %li.tab-navigation-item.active
            %a{"data-toggle" => "tab", :href => "#werk"} Werk
          %li.tab-navigation-item
            %a{"data-toggle" => "tab", :href => "#medium"} Medium
          %li.tab-navigation-item
            %a{"data-toggle" => "tab", :href => "#credits"} Credits
          %li.tab-navigation-item
            %a{"data-toggle" => "tab", :href => "#zhdk"} ZHdK
          %li.tab-navigation-item
            %a{"data-toggle" => "tab", :href => "#lehrmittel-fotografie"} Lehrmittel Fotografie
          %li.tab-navigation-item
            %a{"data-toggle" => "tab", :href => "#rights"} Zugriffsberechtigungen editieren

        // TAB CONTENT

        .bordered.container.tab-content.bright.rounded-bottom.rounded-right

          .tab-pane.active#werk.phl.ptl
            .container.table
              .app-body-sidebar.table-cell.container.table-side

                .ui-thumbnail-wrapper.media-entry.media-entry-edit-preview
                  .thumbnail-video.thumbnail
                    = image_tag "redesign/thumbnails/thumb-video.png"

              .app-body-content.table-cell.container.table-substance.container
                .form-head
                  %h2.title-l

                .form-body
                  .form-group.columned
                    %label.form-label
                      Titel
                      %small des Werks oder einer Werkserie
                    .form-item
                      %textarea.block
                  .form-group.columned
                    %label.form-label
                      Untertitel
                      %span.form-tooltip-toggle.tooltip-toggle{"data-placement" => "left", :rel => "tooltip", :title => "Der Untertitel erweitert den Titel des Werks oder der Werkserie mit zusätzlichen Informationen. Nicht zu verwechseln mit der Bildlegende oder dem Untertitel eines Films (siehe dort)."}
                        %i.icon-questionmark
                    .form-item
                      %textarea.block
                  .form-group.columned
                    %label.form-label
                      Autor/in
                      %small Eingabeform: Nachname, Vorname
                      %span.form-tooltip-toggle.tooltip-toggle{"data-placement" => "left", :rel => "tooltip", :title => "Urheber/in des Werkes. Wer hat das Werk erschaffen? Handelt es sich um einen historischen Künstler oder eine zeitgenössische Komponistin? Sind Sie selbst Urheber/in? Auch Pseudonyme und Personengruppen (z.B. Künstlergruppe, Atelier, Firma) sind möglich."}
                        %i.icon-questionmark
                    .form-item
                      %input.block{:type => "text"}/
                      %a.button.small.form-person-widget-toggle
                        %i.icon-privacy-private
                      .form-person-widget
                        %ul.tab-navigation
                          %li.tab-navigation-item.active
                            %a{"data-toggle" => "tab", :href => "#person1"} Person
                          %li.tab-navigation-item
                            %a{"data-toggle" => "tab", :href => "#gruppe1"} Gruppe
                        .tab-content.mbs
                          #person1.tab-pane.active.pam.container.bordered.rounded-right.rounded-bottom
                            .form-group.rowed
                              %label.form-label Nachname
                              .form-item
                                %input.block{:type => "text"}/
                            .form-group.rowed
                              %label.form-label Vorname
                              .form-item
                                %input.block{:type => "text"}/
                            .form-group.rowed
                              %label.form-label Pseudonym
                              .form-item
                                %input.block{:type => "text"}/
                            .form-group.rowed.pts
                              %button.button.block Personendaten einfügen
                          #gruppe1.tab-pane.pam.container.bordered.rounded-right.rounded-bottom
                            .form-group.rowed
                              %label.form-label Name
                              .form-item
                                %input.block{:type => "text"}/
                            .form-group.rowed.pts
                              %button.button.block Gruppendaten einfügen
                  .form-group.columned
                    %label.form-label
                      Datierung
                      %span.form-tooltip-toggle.tooltip-toggle{"data-placement" => "left", :rel => "tooltip", :title => "Schlagworte zu Inhalt und Motiv des Werkes. Was ist zu sehen oder zu hören? Welche Themen behandelt das Werk?"}
                        %i.icon-questionmark
                    .form-item
                  .form-group.columned
                    %label.form-label
                      Schlagworte zu Inhalt und Motiv
                      %small Einzelne Schlagworte, durch Return/Enter getrennt.
                      %span.form-tooltip-toggle.tooltip-toggle{"data-placement" => "left", :rel => "tooltip", :title => "Datum der Erschaffung des Werkes - nicht das Datum, an dem die Datei oder das Medium der Abbildung / der Wiedergabe entstanden ist.       Eingabe einer Zeitspanne: 1923 - 1929 (Leerzeichen Bindestrich Leerzeichen)."}
                        %i.icon-questionmark
                    .form-item
                      %input.block{:type => "text"}/
                      %a.button.small
                        %i.icon-tag.dark
                  .form-group.columned
                    %label.form-label
                      Gattung
                      %small Mehrfachauswahl möglich
                      %span.form-tooltip-toggle.tooltip-toggle{"data-placement" => "left", :rel => "tooltip", :title => "Allgemeine Gattung der Kunst. In welchem künstlerischen Medium artikuliert sich das Werk? Welche künstlerischen Mittel werden zum Ausdruck genutzt?"}
                        %i.icon-questionmark
                    .form-item
                      .col1of3
                        %label.form-checkbox-label
                          %input{:type => "checkbox"}
                          Architektur
                      .col1of3
                        %label.form-checkbox-label
                          %input{:type => "checkbox"}
                          Design
                      .col1of3
                        %label.form-checkbox-label
                          %input{:type => "checkbox"}
                          Film
                      .col1of3
                        %label.form-checkbox-label
                          %input{:type => "checkbox"}
                          Fotografie
                      .col1of3
                        %label.form-checkbox-label
                          %input{:type => "checkbox"}
                          Tanz
                        %label
                      .col1of3
                        %label.form-checkbox-label
                          %input{:type => "checkbox"}
                          Theater
                      .col1of3
                        %label.form-checkbox-label
                          %input{:type => "checkbox"}
                          Kunst
                      .col1of3
                        %label.form-checkbox-label
                          %input{:type => "checkbox"}
                          Literatur
                      .col1of3
                        %label.form-checkbox-label
                          %input{:type => "checkbox"}
                          Musik
                  .form-group.columned
                    %label.form-label
                      Bildlegende
                      %span.form-tooltip-toggle.tooltip-toggle{"data-placement" => "left", :rel => "tooltip", :title => "Bildunterschrift, die nur für einen bestimmten Kontext Gültigkeit hat, z.B. für eine Publikation in einem Jahrbuch, durch die Presse oder auf einer Website. - Die Bildlegende ist nicht identisch mit dem Titel des Werks."}
                        %i.icon-questionmark
                    .form-item
                      %textarea.block
                  .form-group.columned
                    %label.form-label
                      Beschreibung
                      %small Umfangreicher Freitext möglich
                      %span.form-tooltip-toggle.tooltip-toggle{"data-placement" => "left", :rel => "tooltip", :title => "Hier können Sie eine ausführliche Beschreibung des Werkes einfügen."}
                        %i.icon-questionmark
                    .form-item
                      %textarea.block
                  .form-group.columned
                    %label.form-label
                      Bemerkung
                      %span.form-tooltip-toggle.tooltip-toggle{"data-placement" => "left", :rel => "tooltip", :title => "Bemerkungen zum Werk können individuell, projektbezogen oder vorläufig sein. "}
                        %i.icon-questionmark
                    .form-item
                      %textarea.block
                  .form-group.columned
                    %label.form-label
                      Internet Links
                      %small Eingabeformat: http://www.beispiel.ch [Datum des letzten Zugriffs]
                      %span.form-tooltip-toggle.tooltip-toggle{"data-placement" => "left", :rel => "tooltip", :title => "Gibt es auf einer Internetseite weitere Informationen zum Werk? Ist es etwa Bestandteil einer Internetanwendung? Oder besteht eine Projektwebsite? Bitte fügen Sie unbedingt das Datum des letzten Zugriffs hinzu!"}
                        %i.icon-questionmark
                    .form-item
                      %textarea.block
                  .form-group.columned
                    %label.form-label
                      Standort / Aufführungsort
                      %span.form-tooltip-toggle.tooltip-toggle{"data-placement" => "left", :rel => "tooltip", :title => "Standort des Werkes, z.B. eine Institution oder ein historischer Ort. In welchem Museum / welcher Sammlung befindet sich das Werk? Wo genau steht das abgebildete Gebäude?"}
                        %i.icon-questionmark
                    .form-item
                      %textarea.block
                      %a.button.small.form-item-extension-toggle
                        %i.icon-plus.dark
                        Weitere Angaben
                      .container.pam.container.bordered.rounded.form-item-extension
                        .form-group.rowed
                          %label.form-label Stadt
                          .form-item
                            %input.block{:type => "text"}/
                        .form-group.rowed
                          %label.form-label Kanton/Bundesland
                          .form-item
                            %input.block{:type => "text"}/
                        .form-group.rowed
                          %label.form-label Land
                          .form-item
                            %input.block{:type => "text"}/
                        .form-group.rowed
                          %label.form-label ISO-Ländercode
                          .form-item
                            %select.block
                              %option AD - Andora
                              %option AE - United Arab Emirates
                              %option AF - Afghanistan
                              %option ...
                  .form-group.columned
                    %label.form-label
                      Mitwirkende / weitere Personen
                      %small Eingabevorschlag: Assistenz Köstumprobe: Barbara Beispiel
                      %span.form-tooltip-toggle.tooltip-toggle{"data-placement" => "left", :rel => "tooltip", :title => "Personen, die zum Werk beigetragen haben, z.B. Bühnenbildner oder die Regieassistenz. Die entsprechende Funktion sollte ebenfalls genannt werden."}
                        %i.icon-questionmark
                    .form-item
                      %textarea.block
                  .form-group.columned
                    %label.form-label
                      Porträtierte Person/en
                      %span.form-tooltip-toggle.tooltip-toggle{"data-placement" => "left", :rel => "tooltip", :title => "Wer ist auf der Fotografie abgebildet? Welche Person thematisiert der Film?"}
                        %i.icon-questionmark
                    .form-item
                      %textarea.block
                  .form-group.columned
                    %label.form-label
                      Partner / beteiligte Institutionen
                      %span.form-tooltip-toggle.tooltip-toggle{"data-placement" => "left", :rel => "tooltip", :title => "Wurde mit einem Forschungspartner zusammengearbeitet? Ist eine Institution an der Entstehung beteiligt?"}
                        %i.icon-questionmark
                    .form-item
                      %textarea.block
                  .form-group.columned
                    %label.form-label
                      Auftrag durch
                      %span.form-tooltip-toggle.tooltip-toggle{"data-placement" => "left", :rel => "tooltip", :title => "Welche Person hat den Auftrag für das Werk gegeben? Welche Institution hat das Werk gefördert?"}
                        %i.icon-questionmark
                    .form-item
                      %textarea.block

          .tab-pane#medium.phl.ptl
            .container.table
              .app-body-sidebar.table-cell.container.table-side

                .ui-thumbnail-wrapper.media-entry.media-entry-edit-preview
                  .thumbnail-video.thumbnail
                    = image_tag "redesign/thumbnails/thumb-video.png"

              .app-body-content.table-cell.container.table-substance
                .form-head
                  %h2.title-l

                .form-body
                  .form-group.columned
                    %label.form-label
                      Medienersteller/in
                      %small Eingabeform: Nachname, Vorname
                      %span.form-tooltip-toggle.tooltip-toggle{"data-placement" => "left", :rel => "tooltip", :title => "Urheber/in des Mediums, z.B. eine Fotografin, ein Filmer, eine Zeichnerin. Diese Person unterscheidet sich von der Urheber/in des Werkes. - Nicht eingetragen werden Personen, welche lediglich die digitale Reproduktion des Werkes erstellt haben."}
                        %i.icon-questionmark
                    .form-item
                      %input.block{:type => "text"}
                      %a.button.small.form-item-extension-toggle
                        %i.icon-plus.dark
                        Weitere Angaben
                      %a.button.small.form-person-widget-toggle
                        %i.icon-privacy-private.dark
                      .container.pam.container.bordered.rounded.form-item-extension
                        .form-group.rowed
                          %label.form-label Stadt
                          .form-item
                            %input.block{:type => "text"}/
                        .form-group.rowed
                          %label.form-label Kanton/Bundesland
                          .form-item
                            %input.block{:type => "text"}/
                        .form-group.rowed
                          %label.form-label Land
                          .form-item
                            %input.block{:type => "text"}/
                        .form-group.rowed
                          %label.form-label ISO-Ländercode
                          .form-item
                            %select.block
                              %option AD - Andora
                              %option AE - United Arab Emirates
                              %option AF - Afghanistan
                              %option ...
                      .form-person-widget
                        %ul.tab-navigation
                          %li.tab-navigation-item.active
                            %a{"data-toggle" => "tab", :href => "#person1"} Person
                          %li.tab-navigation-item
                            %a{"data-toggle" => "tab", :href => "#gruppe1"} Gruppe
                        .tab-content.mbs
                          #person1.tab-pane.active.pam.container.bordered.rounded-right.rounded-bottom
                            .form-group.rowed
                              %label.form-label Nachname
                              .form-item
                                %input.block{:type => "text"}/
                            .form-group.rowed
                              %label.form-label Vorname
                              .form-item
                                %input.block{:type => "text"}/
                            .form-group.rowed
                              %label.form-label Pseudonym
                              .form-item
                                %input.block{:type => "text"}/
                            .form-group.rowed.pts
                              %button.button.block Personendaten einfügen
                          #gruppe1.tab-pane.pam.container.bordered.rounded-right.rounded-bottom
                            .form-group.rowed
                              %label.form-label Name
                              .form-item
                                %input.block{:type => "text"}/
                            .form-group.rowed.pts
                              %button.button.block Gruppendaten einfügen
                  .form-group.columned
                    %label.form-label
                      Weitere Personen Medienerstellung
                      %small Eingabevorschlag: Bildbearbeitung: Mirco Muster
                      %span.form-tooltip-toggle.tooltip-toggle{"data-placement" => "left", :rel => "tooltip", :title => "Personen, die zur Erstellung des Medienobjekts beigetragen haben: z.B. Assistenz, Stylist, Cutter, Bildbearbeitung. Die entsprechende Funktion sollte ebenfalls genannt werden."}
                        %i.icon-questionmark
                    .form-item
                      %textarea.block
                  .form-group.columned
                    %label.form-label
                      Erstellungsdatum
                      %small Wenn vorhanden, wird das Kamera-Datum angezeigt.
                      %span.form-tooltip-toggle.tooltip-toggle{"data-placement" => "left", :rel => "tooltip", :title => "Datum der Erstellung des Mediums. Wann wurde die Fotografie aufgenommen oder das Computerrendering erzeugt? - Das Erstellungsdatum des Mediums kann verschieden sein zur Datierung des Werkes."}
                        %i.icon-questionmark
                    .form-item
                  .form-group.columned
                    %label.form-label
                      Dimensionen
                      %small Eingabevorschläge: z.B. 60 x 80 cm, 5 x 18 x 17 m, 5:22 h, 32 min
                      %span.form-tooltip-toggle.tooltip-toggle{"data-placement" => "left", :rel => "tooltip", :title => "Wie groß ist das Kunstwerk? Wie lange dauert das Musikstück? Angaben zu Fläche, Raum und Zeit können hier eingetragen werden."}
                        %i.icon-questionmark
                    .form-item
                      %textarea.block
                  .form-group.columned
                    %label.form-label
                      Material/Format
                      %small Eingabevorschläge: z.B. Videostill, Öl auf Leinwand, PAL, Baryt-Abzug
                      %span.form-tooltip-toggle.tooltip-toggle{"data-placement" => "left", :rel => "tooltip", :title => "Auf welchem physikalischen Träger befindet sich das Medium? Auch digitale Formate können genannt werden."}
                        %i.icon-questionmark
                    .form-item
                      .multi-select
                        %ul.multi-select-holder
                          %li.multi-select-tag
                            Tusche und Airbrush auf Karton
                            %a.multi-select-tag-remove{:href => "#"}
                          %li.multi-select-tag
                            Rendering
                            %a.multi-select-tag-remove{:href => "#"}
                          %li.multi-select-input-holder
                            %input.multi-select-input{:type => "text"}
                            %a.multi-select-input-toggle{:href => "#"}

          .tab-pane#credits.phl.ptl
            .container.table
              .app-body-sidebar.table-cell.container.table-side

                .ui-thumbnail-wrapper.media-entry.media-entry-edit-preview
                  .thumbnail-video.thumbnail
                    = image_tag "redesign/thumbnails/thumb-video.png"

              .app-body-content.table-cell.container.table-substance

                .form-body
                  .form-group.columned
                    %label.form-label
                      Rechte
                      %small Name oder Institution: z.B. Barbara Beispiel, Archiv der Künste Zürich, unbekannt
                      %span.form-tooltip-toggle.tooltip-toggle{"data-placement" => "left", :rel => "tooltip", :title => "Besitzer/in der Nutzungs- und Verwertungsrechte. Diese können z.B. beim Autor/Urheber des Werkes oder bei einer Institution liegen. Bei Werken, die an der ZHdK in Lehre und Forschung entstanden sind, liegt ohne Sonderregelung das Copyright bei der ZHdK."}
                        %i.icon-questionmark
                    .form-item
                      %input.block{:type => "text"}
                      %a.button.small.form-item-extension-toggle
                        %i.icon-plus.dark
                        Weitere Angaben
                      .container.pam.container.bordered.rounded.form-item-extension
                        .form-group.rowed
                          %label.form-label Copyright Status
                          .form-item
                            %select.block
                              %option Unbekannt
                              %option Urheberrechtlich geschützt (standardisierte Lizenz)
                              %option Urheberrechtlich geschützt (individuelle Lizenz)
                              %option Public Domain / Gemeinfrei
                        .form-group.rowed
                          %label.form-label Stadt
                          .form-item
                            %input.block{:type => "text"}/
                        .form-group.rowed
                          %label.form-label Kanton/Bundesland
                          .form-item
                            %input.block{:type => "text"}/
                        .form-group.rowed
                          %label.form-label Land
                          .form-item
                            %input.block{:type => "text"}/
                  .form-group.columned
                    %label.form-label
                      Quelle
                      %small Eingabehilfe für Literaturnachweise: Nachname, Vorname: Titel, Ort Jahr
                      %span.form-tooltip-toggle.tooltip-toggle{"data-placement" => "left", :rel => "tooltip", :title => "Die Quelle, aus der das Medium stammt, z.B. eine URL, ein Buch, ein Radio- oder TV-Sender."}
                        %i.icon-questionmark
                    .form-item
                      %textarea.block
                  .form-group.columned
                    %label.form-label
                      Angeboten durch
                      %small Name oder Institution: z.B. ZHdK MIZ, Agentur für Medien Zürich, Archiv Prof. Mülle
                      %span.form-tooltip-toggle.tooltip-toggle{"data-placement" => "left", :rel => "tooltip", :title => "Wer stellt das Medienobjekt zur Verfügung? Z.B. Lehrmittel können durch eine Studienvertiefung oder Pressematerialien durch die Services bereitgestellt werden. Aber auch externe Anbieter dürfen hier genannt werden."}
                        %i.icon-questionmark
                    .form-item
                      %input.block{:type => "text"}/
                      %a.button.small.form-person-widget-toggle
                        %i.icon-privacy-private.dark
                      .form-person-widget
                        %ul.tab-navigation
                          %li.tab-navigation-item.active
                            %a{"data-toggle" => "tab", :href => "#person1"} Person
                          %li.tab-navigation-item
                            %a{"data-toggle" => "tab", :href => "#gruppe1"} Gruppe
                        .tab-content.mbs
                          #person1.tab-pane.active.pam.container.bordered.rounded-right.rounded-bottom
                            .form-group.rowed
                              %label.form-label Nachname
                              .form-item
                                %input.block{:type => "text"}/
                            .form-group.rowed
                              %label.form-label Vorname
                              .form-item
                                %input.block{:type => "text"}/
                            .form-group.rowed
                              %label.form-label Pseudonym
                              .form-item
                                %input.block{:type => "text"}/
                            .form-group.rowed.pts
                              %button.button.block Personendaten einfügen
                          #gruppe1.tab-pane.pam.container.bordered.rounded-right.rounded-bottom
                            .form-group.rowed
                              %label.form-label Name
                              .form-item
                                %input.block{:type => "text"}/
                            .form-group.rowed.pts
                              %button.button.block Gruppendaten einfügen
                  .form-group.columned
                    %label.form-label
                      Beschreibung durch (vor dem Hochladen ins Medienarchiv)
                      %small Eingabeform: Nachname, Vorname
                      %span.form-tooltip-toggle.tooltip-toggle{"data-placement" => "left", :rel => "tooltip", :title => "Autor/in der Metadaten. Wer hat die Verschlagwortung vorgenommen, bevor das File ins Medienarchiv geladen wurde?"}
                        %i.icon-questionmark
                    .form-item
                      %input.block{:type => "text"}/
                      %a.button.small.form-person-widget-toggle
                        %i.icon-privacy-private.dark
                      .form-person-widget
                        %ul.tab-navigation
                          %li.tab-navigation-item.active
                            %a{"data-toggle" => "tab", :href => "#person1"} Person
                          %li.tab-navigation-item
                            %a{"data-toggle" => "tab", :href => "#gruppe1"} Gruppe
                        .tab-content.mbs
                          #person1.tab-pane.active.pam.container.bordered.rounded-right.rounded-bottom
                            .form-group.rowed
                              %label.form-label Nachname
                              .form-item
                                %input.block{:type => "text"}/
                            .form-group.rowed
                              %label.form-label Vorname
                              .form-item
                                %input.block{:type => "text"}/
                            .form-group.rowed
                              %label.form-label Pseudonym
                              .form-item
                                %input.block{:type => "text"}/
                            .form-group.rowed.pts
                              %button.button.block Personendaten einfügen
                          #gruppe1.tab-pane.pam.container.bordered.rounded-right.rounded-bottom
                            .form-group.rowed
                              %label.form-label Name
                              .form-item
                                %input.block{:type => "text"}/
                            .form-group.rowed.pts
                              %button.button.block Gruppendaten einfügen

          .tab-pane#zhdk.phl.ptl
            .container.table
              .app-body-sidebar.table-cell.container.table-side

                .ui-thumbnail-wrapper.media-entry.media-entry-edit-preview
                  .thumbnail-video.thumbnail
                    = image_tag "redesign/thumbnails/thumb-video.png"

              .app-body-content.table-cell.container.table-substance

                .form-body
                  .form-group.columned
                    %label.form-label
                      Bereich ZHdK
                      %small Mehrfachauswahl möglich. Tippen Sie den Teil einer ZHdK-Abkürzung oder eines ZHdK-Bereichs in das Eingabefeld, um Vorschläge zu erhalten.
                      %span.form-tooltip-toggle.tooltip-toggle{"data-placement" => "left", :rel => "tooltip", :title => "Der Bereich an der ZHdK, in dem das Werk entstanden ist. Hier können Studienvertiefungen, Institute und Abteilungen genannt werden."}
                        %i.icon-questionmark
                    .form-item
                      .multi-select
                        %ul.multi-select-holder
                          %li.multi-select-tag
                            Tusche und Airbrush auf Karton
                            %a.multi-select-tag-remove{:href => "#"}
                          %li.multi-select-tag
                            Rendering
                            %a.multi-select-tag-remove{:href => "#"}
                          %li.multi-select-input-holder
                            %input.multi-select-input{:type => "text"}
                            %a.multi-select-input-toggle{:href => "#"}
                  .form-group.columned
                    %label.form-label
                      ZHdK-Projekttyp
                      %small Mehrfachauswahl möglich
                      %span.form-tooltip-toggle.tooltip-toggle{"data-placement" => "left", :rel => "tooltip", :title => "In welchem Zusammenhang steht das Werk zu Lehre und Forschung an der ZHdK?"}
                        %i.icon-questionmark
                    .form-item
                      .col1of3
                        %label.form-checkbox-label
                          %input{:type => "checkbox"}
                          Abschlussarbeit
                      .col1of3
                        %label.form-checkbox-label
                          %input{:type => "checkbox"}
                          Ausstellung
                      .col1of3
                        %label.form-checkbox-label
                          %input{:type => "checkbox"}
                          Dokumentation
                      .col1of3
                        %label.form-checkbox-label
                          %input{:type => "checkbox"}
                          Forschung
                      .col1of3
                        %label.form-checkbox-label
                          %input{:type => "checkbox"}
                          im Studienverlauf entstanden
                      .col1of3
                        %label.form-checkbox-label
                          %input{:type => "checkbox"}
                          Lehrmittel
                      .col1of3
                        %label.form-checkbox-label
                          %input{:type => "checkbox"}
                          Recherche
                  .form-group.columned
                    %label.form-label
                      Studienabschnitt
                      %small Mehrfachauswahl möglich
                      %span.form-tooltip-toggle.tooltip-toggle{"data-placement" => "left", :rel => "tooltip", :title => "In welchem Studienabschnitt wurde das Werk erstellt?"}
                        %i.icon-questionmark
                    .form-item
                      .col1of3
                        %label.form-checkbox-label
                          %input{:type => "checkbox"}
                          MAS (Master of Advanced Studies)
                      .col1of3
                        %label.form-checkbox-label
                          %input{:type => "checkbox"}
                          DAS (Diploma of Advanced Studies)
                      .col1of3
                        %label.form-checkbox-label
                          %input{:type => "checkbox"}
                          CAS (Certificate of Advanced Studies)
                      .col1of3
                        %label.form-checkbox-label
                          %input{:type => "checkbox"}
                          Doktoratsprogramm
                      .col1of3
                        %label.form-checkbox-label
                          %input{:type => "checkbox"}
                          sonstiges
                      .col1of3
                        %label.form-checkbox-label
                          %input{:type => "checkbox"}
                          Grundstudium Diplom
                      .col1of3
                        %label.form-checkbox-label
                          %input{:type => "checkbox"}
                          Hauptstudium Diplom
                      .col1of3
                        %label.form-checkbox-label
                          %input{:type => "checkbox"}
                          Bachelor
                      .col1of3
                        %label.form-checkbox-label
                          %input{:type => "checkbox"}
                          Master
                      .col1of3
                        %label.form-checkbox-label
                          %input{:type => "checkbox"}
                          Vorbildung
                      .col1of3
                        %label.form-checkbox-label
                          %input{:type => "checkbox"}
                          Weiterbildung
                  .form-group.columned
                    %label.form-label
                      Projekttitel
                      %span.form-tooltip-toggle.tooltip-toggle{"data-placement" => "left", :rel => "tooltip", :title => "Ist das Werk im Kontext eines Projektes entstanden? Wie lautet der Titel dieses Projektes? Das kann eine Lehrveranstaltung, ein Forschungsprojekt oder eine persönliche Arbeit sein."}
                        %i.icon-questionmark
                    .form-item
                      %textarea.block
                  .form-group.columned
                    %label.form-label
                      Dozierende/Projektleitung
                      %span.form-tooltip-toggle.tooltip-toggle{"data-placement" => "left", :rel => "tooltip", :title => "Wer hat das Projekt geleitet? Hier können Dozierende, Mentor/innen oder Projektverantwortliche eingetragen werden."}
                        %i.icon-questionmark
                    .form-item
                      %textarea.block

          .tab-pane#lehrmittel-fotografie.phl.ptl
            .container.table
              .app-body-sidebar.table-cell.container.table-side

                .ui-thumbnail-wrapper.media-entry.media-entry-edit-preview
                  .thumbnail-video.thumbnail
                    = image_tag "redesign/thumbnails/thumb-video.png"

              .app-body-content.table-cell.container.table-substance

                .form-body
                  .form-group.columned
                    %label.form-label
                      Ansätze/Phänomene
                    .form-item
                      %input.block{:type => "text"}/
                  .form-group.columned
                    %label.form-label
                      Ausstellungen/Projekte
                    .form-item
                      %input.block{:type => "text"}/
                  .form-group.columned
                    %label.form-label
                      Genre
                    .form-item
                      %input.block{:type => "text"}/
                  .form-group.columned
                    %label.form-label
                      Stil- und Kunstrichtungen
                    .form-item
                      %input.block{:type => "text"}/
                  .form-group.columned
                    %label.form-label
                      Epoche
                    .form-item
                      %input.block{:type => "text"}/

          .tab-pane#rights.phl.ptl
            .app-body-content
              .form-body

                .rights-management.mbl
                  .rights-body.mbl
                    %h3.title-l.mbm.pbs.separated Aktuelle Zugriffsberechtigungen fur alle ausgewahlten Medientrage
                    %table.rights-group.bordered
                      %caption
                        Personen
                        %i.icon-privacy-private
                      %thead
                        %tr
                          %td.rights-user-title User
                          %td.rights-role-title Berechtigung
                          %td.rights-check-title Betrachten
                          %td.rights-check-title Download Original
                          %td.rights-check-title Editieren
                          %td.rights-check-title Berechtigung verwalten
                      %tbody
                        %tr
                          %td.rights-user Interactive Things
                          %td.rights-role
                            %select
                              %option Bevollmachtigte/r
                              %option Betrachter/in
                              %option Betrachter/in &amp; Original
                              %option Gesperrt
                              %option Redakteur/in
                          %td.rights-check
                            %input{:type => "checkbox"}/
                          %td.rights-check
                            %input{:type => "checkbox"}/
                          %td.rights-check
                            %input{:type => "checkbox"}/
                          %td.rights-check
                            %input{:type => "checkbox"}/
                        %tr
                          %td.rights-user Interactive Things 2
                          %td.rights-role
                            %select
                              %option Bevollmachtigte/r
                              %option Betrachter/in
                              %option Betrachter/in &amp; Original
                              %option Gesperrt
                              %option Redakteur/in
                          %td.rights-check
                            %input{:type => "checkbox"}/
                          %td.rights-check
                            %input{:type => "checkbox"}/
                          %td.rights-check
                            %input{:type => "checkbox"}/
                          %td.rights-check
                            %input{:type => "checkbox"}/
                    %a.button.small{:href => "#"}
                      %i.icon-plus
                      Person hinzufugen
                  .rights-body.mbl
                    %h3.title-l.mbm.pbs.separated Es konnen nur Personen ausgewahlt werden, die sich schon einmal im Medienarchiv eingeloggt haben.
                    %table.rights-group.bordered
                      %caption
                        Gruppen
                        %i.icon-privacy-group
                      %thead
                        %tr
                          %td.rights-user-title User
                          %td.rights-role-title Berechtigung
                          %td.rights-check-title Betrachten
                          %td.rights-check-title Download Original
                          %td.rights-check-title Editieren
                          %td.rights-check-title Berechtigung verwalten
                      %tbody
                        %tr
                          %td.rights-user Interactive Things
                          %td.rights-role
                            %select
                              %option Bevollmachtigte/r
                              %option Betrachter/in
                              %option Betrachter/in &amp; Original
                              %option Gesperrt
                              %option Redakteur/in
                          %td.rights-check
                            %input{:type => "checkbox"}/
                          %td.rights-check
                            %input{:type => "checkbox"}/
                          %td.rights-check
                            %input{:type => "checkbox"}/
                          %td.rights-check
                            %input{:type => "checkbox"}/
                        %tr
                          %td.rights-user Interactive Things 2
                          %td.rights-role
                            %select
                              %option Bevollmachtigte/r
                              %option Betrachter/in
                              %option Betrachter/in &amp; Original
                              %option Gesperrt
                              %option Redakteur/in
                          %td.rights-check
                            %input{:type => "checkbox"}/
                          %td.rights-check
                            %input{:type => "checkbox"}/
                          %td.rights-check
                            %input{:type => "checkbox"}/
                          %td.rights-check
                            %input{:type => "checkbox"}/
                    %a.button.small{:href => "#"}
                      %i.icon-plus
                      Gruppe hinzufugen
                  .rights-body
                    %table.rights-group.bordered
                      %caption
                        Öffentlichkeit
                        %i.icon-privacy-public
                      %tbody
                        %tr
                          %td.rights-user Öffentlichkeit
                          %td.rights-role
                            %select
                              %option Bevollmachtigte/r
                              %option Betrachter/in
                              %option Betrachter/in &amp; Original
                              %option Gesperrt
                              %option Redakteur/in
                          %td.rights-check
                            %input{:type => "checkbox"}/
                          %td.rights-check
                            %input{:type => "checkbox"}/
                          %td.rights-check
                            %input{:type => "checkbox"}/
                          %td.rights-check
                            %input{:type => "checkbox"}/

          .actions-bar.phl.pbl
            %a.link
              Abbrechen
            %button.primary-button.large
              Speichern

  // Footer

  .app-footer
    %footer.ui-footer.container.inverted
      %ul.ui-footer-menu
        %li
          %a{:href => "#"} Informationen zum Projekt
        %li
          %a{:href => "#"} Impressum
        %li
          %a{:href => "#"} Kontakt
        %li
          %a{:href => "#"} Blog
        %li
          %a{:href => "#"} Hilfe
        %li
          %a{:href => "#"} Nutzungsbestimmungen
        %li
          %a{:href => "#"} Freie Software
        %li
          %a{:href => "#"} Archivierungsrichtlinien ZHdK
      %p.ui-footer-copy
        = image_tag "redesign/inserts/image-logo-madek.png", :alt => "MADEK", :class => "ui-footer-logo"
        &copy; 2009-2011 Z&uuml;rcher Hochschule der K&uuml;nste
