.app.view-media-entry

  = render "application/header"

  .app-body

    .app-body-title
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl= @media_entry.title
        
        = render :partial => "media_entries/actions"

    .app-body-ui-container

      = render :partial => "media_entries/tabs"

      .ui-container.rounded-right.rounded-bottom.bordered.tab-content

        .bright.ui-container.pal.rounded-bottom

          %h2.title-l.separated.mbl
            = "Dieser Eintrag ist in"
            = pluralize @parents.count, "Set", "Sets"
            = "enthalten"

          = render :partial => "media_resources/wrapper",
                   :locals => {:media_resources => @parents,
                               :with_actions => true}

  .app-footer-push
= render "application/footer"