= link_to edit_admin_vocabulary_path(vocabulary), class: "btn btn-info #{size}" do
  %i.glyphicon.glyphicon-edit
  Edit
= link_to admin_vocabulary_path(vocabulary),
          method: :delete,
          data: { confirm: 'The vocabulary will be deleted. Do you want to proceed?' },
          class: "btn btn-danger #{size}" do
  %i.glyphicon.glyphicon-trash
  Delete
= link_to admin_vocabulary_vocabulary_user_permissions_path(vocabulary),
          class: "btn btn-warning #{size}" do
  %i.glyphicon.glyphicon-cog
  User Permissions
= link_to admin_vocabulary_vocabulary_group_permissions_path(vocabulary),
          class: "btn btn-warning #{size}" do
  %i.glyphicon.glyphicon-cog
  Group Permissions
= link_to admin_vocabulary_vocabulary_api_client_permissions_path(vocabulary),
          class: "btn btn-warning #{size}" do
  %i.glyphicon.glyphicon-cog
  API Client Permissions
