%tr
  %td= vocabulary
  %td= vocabulary.label
  %td= vocabulary.description
  %td.active
    .btn-group.btn-group-vertical
      = link_to admin_vocabulary_path(vocabulary), class: 'btn btn-default btn-sm' do
        %i.glyphicon.glyphicon-eye-open
        Details
      = render partial: 'action_buttons', locals: { vocabulary: vocabulary, size: 'btn-sm' }
      = link_to "MetaKeys: #{vocabulary.meta_keys_count}",
          admin_meta_keys_path(vocabulary_id: vocabulary.id),
          class: 'btn btn-default btn-sm'
      = link_to "Keyword: #{vocabulary.keywords.count}", admin_vocabulary_keywords_path(vocabulary),
          class: 'btn btn-default btn-sm'
