.page-header
  %h1 Vocabulary: #{@vocabulary}

.row
  .col-xs-12
    .panel.panel-default
      .panel-body
        .btn-group
          = render partial: 'action_buttons', locals: { vocabulary: @vocabulary, size: nil }
          = link_to "Vocables: #{@vocabulary.vocables.count}", admin_vocabulary_vocables_path(@vocabulary),
            class: 'btn btn-default'

.row
  .col-xs-12
    %table.table.table-striped
      %thead
      %tbody
        - @vocabulary.attributes.each do |attr|
          %tr
            %td
              %strong= attr.first.humanize
            %td= attr.last

.page-header
  %h2 Meta Keys

.row
  .col-xs-12
    %table.table.table-striped
      %thead
        %tr
          %th ID
          %th Meta datum object type
          %th
      %tbody
        - @meta_keys.each do |meta_key|
          %tr
            %td= link_to meta_key.id, admin_meta_key_path(meta_key)
            %td= meta_key.meta_datum_object_type
            %td.active.col-xs-1
              - if meta_key.can_have_vocables?
                = link_to admin_vocabulary_vocables_path(@vocabulary, search_term: meta_key.id),
                  class: 'btn btn-default' do
                  %i.glyphicon.glyphicon-eye-open
                  Show vocables (#{meta_key.vocables_count})

    = paginate @meta_keys
