:ruby
  element = {
    name: 'Tag cloud', todo: true,
    cssSelector: '.ui-tag-cloud',
    cssFile: '_ui-tag-cloud.scss',
    section: '7.3',
    mods: {
      nil => 'Default',
      'small' => 'Small variation',
      'large' => 'Large variation',
      'ellipsed' => 'Variation with a fixed width and ellipsis effect applied',
      'compact' => 'Variation with a counters being hidden via CSS even if they’re in the HTML output'
    },
    # example tag_count
    locals_tag_count: {
      list: [
        { text: 'Kunst', count: 12, href: '#' },
        { text: 'Fotografie', count: 34, href: '#' },
        { text: 'Design', count: 56, href: '#' },
        { text: 'Fotografie', count: 78, href: '#' },
        { text: 'Art', count: 90, href: '#' }
      ]
    },
    # example tag_nocount
    locals_tag_nocount: {
      list: [
        { text: 'Freizeit', href: '#' },
        { text: 'Mode', href: '#' },
        { text: 'Outdoor', href: '#' },
        { text: 'Sport', href: '#' },
        { text: 'Natur', href: '#' }
      ]
    },
    # example people
    locals_people: {
      list: [
        { text: 'Name, Surname', href: '#' },
        { text: 'Name, Surname', href: '#' },
        { text: 'Name, Surname', href: '#' },
        { text: 'Name, Surname', href: '#' },
        { text: 'Name, Surname', href: '#' }
      ]
    },
    # example groups
    locals_groups: {
      list: [
        { text: 'Group 1', href: '#' },
        { text: 'Group 2', href: '#' },
        { text: 'Group 3', href: '#' },
        { text: 'Group 4', href: '#' },
        { text: 'Group 5', href: '#' }
      ]
    },
    # example terms
    locals_terms: {
      list: [
        { text: 'Term 1', href: '#' },
        { text: 'Term 2', href: '#' },
        { text: 'Term 3', href: '#' },
        { text: 'Term 4', href: '#' },
        { text: 'Term 5', href: '#' }
      ]
    },
    # example long_names_for_elipsed_mod
    locals_long_label_names: {
      list: [
        {
          text: 'A rather long tag name to test ellipsed tag clouds',
          title: 'Title of a long tag', count: 12, href: '#'
        },
        {
          text: 'A rather long tag name to test ellipsed tag clouds',
          title: 'Title of a long tag', count: 34, href: '#'
        },
        {
          text: 'A rather long tag name to test ellipsed tag clouds',
          title: 'Title of a long tag', count: 56, href: '#'
        },
        {
          text: 'A rather long tag name to test ellipsed tag clouds',
          title: 'Title of a long tag', count: 78, href: '#'
        },
        {
          text: 'A rather long tag name to test ellipsed tag clouds',
          title: 'Title of a long tag', count: 90, href: '#'
        }
      ]
    },
    # example groups_for_compact_mod
    locals_group_names: {
      list: [
        { text: 'Group Name', count: 12, href: '#' },
        { text: 'Group Name', count: 34, href: '#' },
        { text: 'Group Name', count: 56, href: '#' },
        { text: 'Group Name', count: 78, href: '#' },
        { text: 'Group Name', count: 90, href: '#' }
      ]
    }
  }

-# NOTE: here the examples have different forms, so we list them separately

= partial('element', element) do

  = partial('example') do
    = component('tag-cloud.label', element[:locals_tag_count])

  = partial('example', { mod: 'small'}) do
    = component('tag-cloud.label', element[:locals_tag_count].merge(mods: 'small'))

  = partial('example', { mod: 'large'}) do
    = component('tag-cloud.label', element[:locals_tag_count].merge(mods: 'large'))

  = partial('example') do
    = component('tag-cloud.label', element[:locals_tag_nocount])

  = partial('example') do
    = component('tag-cloud.person', element[:locals_people])

  = partial('example') do
    = component('tag-cloud.group', element[:locals_groups])

  = partial('example') do
    = component('tag-cloud', element[:locals_terms])

  = partial('example', { mod: 'ellipsed'}) do
    - locals = element[:locals_long_label_names].merge(mods: 'ellipsed')
    = component('tag-cloud.label', locals)

  = partial('example', { mod: 'compact'}) do
    - locals = element[:locals_group_names].merge(mods: 'compact')
    = component('tag-cloud.group', locals)
