:ruby
  element = {
    name: 'Default thumbnail style, independent from visualization mode',
    cssSelector: '.ui-thumbnail',
    cssFile: '_ui-thumb.scss',
    section: '7.19'
  }

= partial('element', element) do
  = partial('example') do
    .ui-resource-thumbnail
      .ui-thumbnail.media-entry.video
        .ui-thumbnail-privacy{:title => "This media is private"}
          %i.icon-privacy-private
        %a.ui-thumbnail-image-wrapper
          .ui-thumbnail-image-holder
            .ui-thumbnail-table-image-holder
              .ui-thumbnail-cell-image-holder
                .ui-thumbnail-inner-image-holder
                  %img.ui-thumbnail-image{:alt => "Media-entry-4", :src => asset_path('styleguide/media-entry-4.jpeg')}/
        .ui-thumbnail-meta
          %h3.ui-thumbnail-meta-title Name that can easily go onto 2 lines
          %h4.ui-thumbnail-meta-subtitle Author that can easily go onto 2 lines as well
        .ui-thumbnail-actions
          %ul.left.by-left
            %li.ui-thumbnail-action
              %a.ui-thumbnail-action-checkbox.active{"data-clipboard-toggle" => "", :title => "Zur Zwischenablage hinzufügen/entfernen"}
                %i.icon-checkbox
            %li.ui-thumbnail-action
              %a.active.ui-thumbnail-action-favorite{"data-favor-toggle" => "", :title => "Zur Favoriten hinzufügen/entfernen"}
                %i.icon-star-empty
          %ul.right.by-right
            %li.ui-thumbnail-action
              %a.ui-thumbnail-action-browse{:href => "#", :title => "Stöbern"}
                %i.icon-eye
            %li.ui-thumbnail-action
              %a.ui-thumbnail-action-edit{:href => "#", :title => "Metadaten editieren"}
                %i.icon-pen
            %li.ui-thumbnail-action
              %a.ui-thumbnail-action-delete{"data-delete-action" => "", :title => "Löschen"}
                %i.icon-trash
        .ui-thumbnail-dropdown
          .dropdown.ui-dropdown
            %a.dropdown-toggle.button.block.ui-drop-toggle{"data-toggle" => "dropdown", :href => "#"} Aktionen
            %ul.dropdown-menu.ui-drop-menu{"aria-labelledby" => "dLabel", :role => "menu"}
              %li.ui-drop-item
                %a{:href => "#"} Item 1
              %li.ui-drop-item
                %a{:href => "#"} Item 2
              %li.separator
              %li.ui-drop-item
                %a{:href => "#"} Item 3

  = partial('example') do
    .ui-thumbnail.filter-set
      .ui-thumbnail-level-up-items
        %span.ui-thumbnail-level-notes Keine übergeordneten Sets
      .ui-thumbnail-privacy{:title => "This media is shared with a group"}
        %i.icon-privacy-group
      .ui-thumbnail-filterset-flag{:title => "This is a Filterset"}
        %i.icon-filter
      %a.ui-thumbnail-image-wrapper
        .ui-thumbnail-image-holder
          .ui-thumbnail-table-image-holder
            .ui-thumbnail-cell-image-holder
              .ui-thumbnail-inner-image-holder
                %img.ui-thumbnail-image{:alt => "Media-entry-6", :src => "/assets/thumbnails/set.png"}/
      .ui-thumbnail-meta
        %h3.ui-thumbnail-meta-title Name that can easily go onto 2 lines
        %h4.ui-thumbnail-meta-subtitle Author that can easily go onto 2 lines as well
      .ui-thumbnail-actions
        %ul.left.by-left
          %li.ui-thumbnail-action
            %a.ui-thumbnail-action-checkbox.active{"data-clipboard-toggle" => "", :title => "Zur Zwischenablage hinzufügen/entfernen"}
              %i.icon-checkbox
          %li.ui-thumbnail-action
            %a.active.ui-thumbnail-action-favorite{"data-favor-toggle" => "", :title => "Zur Favoriten hinzufügen/entfernen"}
              %i.icon-star-empty
        %ul.right.by-right
          %li.ui-thumbnail-action
            %a.ui-thumbnail-action-browse{:href => "#", :title => "Stöbern"}
              %i.icon-eye
          %li.ui-thumbnail-action
            %a.ui-thumbnail-action-edit{:href => "#", :title => "Metadaten editieren"}
              %i.icon-pen
          %li.ui-thumbnail-action
            %a.ui-thumbnail-action-delete{"data-delete-action" => "", :title => "Löschen"}
              %i.icon-trash
      .ui-thumbnail-dropdown
        .dropdown.ui-dropdown
          %a.dropdown-toggle.button.block.ui-drop-toggle{"data-toggle" => "dropdown", :href => "#"} Aktionen
          %ul.dropdown-menu.ui-drop-menu{"aria-labelledby" => "dLabel", :role => "menu"}
            %li.ui-drop-item
              %a{:href => "#"} Item 1
            %li.ui-drop-item
              %a{:href => "#"} Item 2
            %li.separator
            %li.ui-drop-item
              %a{:href => "#"} Item 3
      .ui-thumbnail-level-down-items
        %h3.ui-thumbnail-level-notes Set enthalt
        %ul.ui-thumbnail-level-items
          %li.ui-thumbnail-level-item.odd
            %a.ui-level-image-wrapper{:href => "#", :title => "Set name"}
              .ui-thumbnail-level-image-holder
                %img.ui-thumbnail-level-image{:alt => "Media-entry-6", :src => asset_path('styleguide/media-entry-6.jpeg')}/
          %li.ui-thumbnail-level-item.even
            %a.ui-level-image-wrapper{:href => "#", :title => "Set name"}
              .ui-thumbnail-level-image-holder
                %img.ui-thumbnail-level-image{:alt => "Media-entry-6", :src => asset_path('styleguide/media-entry-7.jpeg')}/
        %span.ui-thumbnail-level-notes 5 Inhalte
  
  = partial('example') do
    .ui-thumbnail.media-set
      .ui-thumbnail-level-up-items
        %span.ui-thumbnail-level-notes Keine übergeordneten Sets
      .ui-thumbnail-privacy{:title => "This media is shared with a group"}
        %i.icon-privacy-group
      %a.ui-thumbnail-image-wrapper
        .ui-thumbnail-image-holder
          .ui-thumbnail-table-image-holder
            .ui-thumbnail-cell-image-holder
              .ui-thumbnail-inner-image-holder
                %img.ui-thumbnail-image{:alt => "Document.png", :src => "/assets/thumbnails/document.png.png"}/
      .ui-thumbnail-meta
        %h3.ui-thumbnail-meta-title Name that can easily go onto 2 lines
        %h4.ui-thumbnail-meta-subtitle Author that can easily go onto 2 lines as well
      .ui-thumbnail-actions
        %ul.left.by-left
          %li.ui-thumbnail-action
            %a.ui-thumbnail-action-checkbox.active{"data-clipboard-toggle" => "", :title => "Zur Zwischenablage hinzufügen/entfernen"}
              %i.icon-checkbox
          %li.ui-thumbnail-action
            %a.active.ui-thumbnail-action-favorite{"data-favor-toggle" => "", :title => "Zur Favoriten hinzufügen/entfernen"}
              %i.icon-star-empty
        %ul.right.by-right
          %li.ui-thumbnail-action
            %a.ui-thumbnail-action-browse{:href => "#", :title => "Stöbern"}
              %i.icon-eye
          %li.ui-thumbnail-action
            %a.ui-thumbnail-action-edit{:href => "#", :title => "Metadaten editieren"}
              %i.icon-pen
          %li.ui-thumbnail-action
            %a.ui-thumbnail-action-delete{"data-delete-action" => "", :title => "Löschen"}
              %i.icon-trash
      .ui-thumbnail-dropdown
        .dropdown.ui-dropdown
          %a.dropdown-toggle.button.block.ui-drop-toggle{"data-toggle" => "dropdown", :href => "#"} Aktionen
          %ul.dropdown-menu.ui-drop-menu{"aria-labelledby" => "dLabel", :role => "menu"}
            %li.ui-drop-item
              %a{:href => "#"} Item 1
            %li.ui-drop-item
              %a{:href => "#"} Item 2
            %li.separator
            %li.ui-drop-item
              %a{:href => "#"} Item 3
      .ui-thumbnail-level-down-items
        %h3.ui-thumbnail-level-notes Set enthalt
        %ul.ui-thumbnail-level-items
          %li.ui-thumbnail-level-item.odd
            %a.ui-level-image-wrapper{:href => "#", :title => "Set name"}
              .ui-thumbnail-level-image-holder
                %img.ui-thumbnail-level-image{:alt => "Media-entry-6", :src => asset_path('styleguide/media-entry-7.jpeg')}/
          %li.ui-thumbnail-level-item.even
            %a.ui-level-image-wrapper{:href => "#", :title => "Set name"}
              .ui-thumbnail-level-image-holder
                %img.ui-thumbnail-level-image{:alt => "Media-entry-6", :src => asset_path('styleguide/media-entry-7.jpeg')}/
        %span.ui-thumbnail-level-notes 5 Inhalte

  = partial('example') do
    .ui-resource-thumbnail
      .ui-thumbnail.media-entry.video
        .ui-thumbnail-privacy{:title => "This media is public"}
          %i.icon-privacy-open
        %a.ui-thumbnail-image-wrapper
          .ui-thumbnail-image-holder
            .ui-thumbnail-table-image-holder
              .ui-thumbnail-cell-image-holder
                .ui-thumbnail-inner-image-holder
                  %img.ui-thumbnail-image{:alt => "Document.pdf", :src => "/assets/thumbnails/document.pdf.png"}/
        .ui-thumbnail-meta
          %h3.ui-thumbnail-meta-title Name that can easily go onto 2 lines
          %h4.ui-thumbnail-meta-subtitle Author that can easily go onto 2 lines as well
        .ui-thumbnail-actions
          %ul.left.by-left
            %li.ui-thumbnail-action
              %a.ui-thumbnail-action-checkbox Select
            %li.ui-thumbnail-action
              %a.ui-thumbnail-action-favorite Favorite
          %ul.right.by-right
            %li.ui-thumbnail-action
              %a.ui-thumbnail-action-browse{:href => "#", :title => "Stöbern"}
                %i.icon-eye
            %li.ui-thumbnail-action
              %a.ui-thumbnail-action-edit Edit
            %li.ui-thumbnail-action
              %a.ui-thumbnail-action-delete Delete
        .ui-thumbnail-dropdown
          .dropdown.ui-dropdown
            %a.dropdown-toggle.button.block.ui-drop-toggle{"data-toggle" => "dropdown", :href => "#"} Aktionen
            %ul.dropdown-menu.ui-drop-menu{"aria-labelledby" => "dLabel", :role => "menu"}
              %li.ui-drop-item
                %a{:href => "#"} Item 1
              %li.ui-drop-item
                %a{:href => "#"} Item 2
              %li.separator
              %li.ui-drop-item
                %a{:href => "#"} Item 3