:ruby
  element = {
    name: 'Tiles', todo: true,
    cssSelector: '.ui-tile',
    cssFile: '???',
    section: '7.20',
    mods: {
      nil => 'Default',
      'ui-tile--set' => 'Variant for Sets',
      'ui-tile--small' => 'Small',
      'ui-tile--large' => 'Large'
    }
  }

= render_partial('element', element) do
  = render_partial('example') do

    .ui-tile.ui-tile--set
      .ui-tile__head
        %ul.ui-tile__actions.left.by-left
          %li.ui-tile__action
            %a.ui-tile__action-link{"data-clipboard-toggle" => "", :title => "Zur Zwischenablage hinzufügen/entfernen"}
              = component('icon.checkbox')
          %li.ui-tile__action
            %a.ui-tile__action-link{"data-favor-toggle" => "", :title => "Zu Favoriten hinzufügen"}
              = component('icon.star-empty')
        %ul.ui-tile__actions.right.by-right
          %li.ui-tile__action
            %a.ui-tile__action-link{:title => "Stöbern"}
              = component('icon.eye')
          %li.ui-tile__action
            %a.ui-tile__action-link{:title => "Metadaten editieren"}
              = component('icon.pen')
          %li.ui-tile__action
            %a.ui-tile__action-link{"data-delete-action" => "", :title => "Löschen"}
              = component('icon.trash')
      .ui-tile__body
        %a.ui-tile__thumbnail{:href => "http://example.com"}
          %img.ui-tile__image{:alt => "Media-entry-1", :src => asset_path('styleguide/media-entry-2.jpg')}/
      .ui-tile__foot
        %h3.ui-tile__title Name that can easily go onto 2 lines
        %h4.ui-tile__meta Author that can easily go onto 2 lines as asily go onto 2 lines fadoiu sdaifu siadofisdaofu oisaduf osais as well
        %span.ui-tile__flags
          = component('icon.privacy-private', mods: 'ui-tile__flag.ui-tile__flag--privac', title: 'This entry is Private')
          = component('icon.filter', mods: 'ui-tile__flag.ui-tile__flag--typ', title: 'This entry is a Set')

  = render_partial('example') do
    .ui-tile.ui-tile--small.ui-tile--set
      .ui-tile__head
        %ul.ui-tile__actions.left.by-left
          %li.ui-tile__action
            %a.ui-tile__action-link{"data-clipboard-toggle" => "", :title => "Zur Zwischenablage hinzufügen/entfernen"}
              = component('icon.checkbox')
          %li.ui-tile__action
            %a.ui-tile__action-link{"data-favor-toggle" => "", :title => "Zu Favoriten hinzufügen"}
              = component('icon.star-empty')
        %ul.ui-tile__actions.right.by-right
          %li.ui-tile__action
            %a.ui-tile__action-link{:title => "Stöbern"}
              = component('icon.eye')
          %li.ui-tile__action
            %a.ui-tile__action-link{:title => "Metadaten editieren"}
              = component('icon.pen')
          %li.ui-tile__action
            %a.ui-tile__action-link{"data-delete-action" => "", :title => "Löschen"}
              = component('icon.trash')
      .ui-tile__body
        %a.ui-tile__thumbnail{:href => "http://example.com"}
          %img.ui-tile__image{:alt => "Document.png", :src => "/assets/thumbnails/document.png.png"}/
      .ui-tile__foot
        %h3.ui-tile__title Name that can easily go onto 2 lines
        %h4.ui-tile__meta Author that can easily go onto 2 lines as asily go onto 2 lines fadoiu sdaifu siadofisdaofu oisaduf osais as well
        %span.ui-tile__flags
          = component('icon.privacy-private', mods: 'ui-tile__flag.ui-tile__flag--privac', title: 'This entry is Private')
          = component('icon.filter', mods: 'ui-tile__flag.ui-tile__flag--typ', title: 'This entry is a Set')

  = render_partial('example') do
    .ui-tile.ui-tile--large.ui-tile--set
      .ui-tile__head
        %ul.ui-tile__actions.left.by-left
          %li.ui-tile__action
            %a.ui-tile__action-link{"data-clipboard-toggle" => "", :title => "Zur Zwischenablage hinzufügen/entfernen"}
              = component('icon.checkbox')
          %li.ui-tile__action
            %a.ui-tile__action-link{"data-favor-toggle" => "", :title => "Zu Favoriten hinzufügen"}
              = component('icon.star-empty')
        %ul.ui-tile__actions.right.by-right
          %li.ui-tile__action
            %a.ui-tile__action-link{:title => "Stöbern"}
              = component('icon.eye')
          %li.ui-tile__action
            %a.ui-tile__action-link{:title => "Metadaten editieren"}
              = component('icon.pen')
          %li.ui-tile__action
            %a.ui-tile__action-link{"data-delete-action" => "", :title => "Löschen"}
              = component('icon.trash')
      .ui-tile__body
        %a.ui-tile__thumbnail{:href => "http://example.com"}
          %img.ui-tile__image{:alt => "Media-entry-1", :src => asset_path('styleguide/media-entry-2.jpg')}/
      .ui-tile__foot
        %h3.ui-tile__title Name that can easily go onto 2 lines
        %h4.ui-tile__meta Author that can easily go onto 2 lines as asily go onto 2 lines fadoiu sdaifu siadofisdaofu oisaduf osais as well
        %span.ui-tile__flags
          = component('icon.privacy-private', mods: 'ui-tile__flag.ui-tile__flag--privac', title: 'This entry is Private')
          = component('icon.filter', mods: 'ui-tile__flag.ui-tile__flag--typ', title: 'This entry is a Set')
