%tr
  %td= io_interface.id
  %td= io_interface.description
  %td.active.col-xs-4
    .btn-group
      = link_to admin_io_interface_path(io_interface), class: 'btn btn-default btn-sm' do
        %span.glyphicon.glyphicon-eye-open
      = link_to admin_io_interface_path(io_interface), method: :delete,
          data: { confirm: 'The IO interface will be deleted. Do you want to proceed?' },
          class: "btn btn-danger btn-sm" do
        %i.glyphicon.glyphicon-trash
        Delete
      = link_to admin_io_mappings_path(io_interface_id: io_interface.id), class: 'btn btn-default btn-sm' do
        IO Mappings
