- remote ||= false
= form_for @definition, :url => url, :remote => remote do |f|
	%table
		%tr
			%th
				MetaKey
			- keys = MetaKey.order(:label)
			- keys -= (@context.meta_keys - [@definition.meta_key])
			%td{:colspan => 2}
				= f.hidden_field :meta_context_id
				= f.select :meta_key_id, keys.collect {|k| [ k.label, k.id ] }, { :include_blank => true }

		- unless @context.is_user_interface?
			%tr
				%th= f.label :key_map
				%td{:colspan => 2}
					= f.text_field :key_map
			%tr
				%th= f.label :key_map_type
				%td{:colspan => 2}
					= f.text_field :key_map_type
		%tr
			%th
				Field
			%td{:colspan => 2}
				- [:is_required, :length_min, :length_max].each do |k|
					= "#{k}: #{@definition.try(k)}"
					%br
		%tr
			%td
			- LANGUAGES.each do |lang|
				%th= lang.to_s
		%tr
			%th
				Label
			- LANGUAGES.each do |lang|
				%td
					- value = (@definition.try(:label) ? @definition.label.to_s(lang) : nil)
					= text_field_tag "meta_key_definition[label][#{lang}]", value
		%tr
			%th
				Description
			- LANGUAGES.each do |lang|
				%td
					- value = (@definition.try(:description) ? @definition.description.to_s(lang) : nil)
					= text_area_tag "meta_key_definition[description][#{lang}]", value
		%tr
			%th
				Hint
			- LANGUAGES.each do |lang|
				%td
					- value = (@definition.try(:hint) ? @definition.hint.to_s(lang) : nil)
					= text_field_tag "meta_key_definition[hint][#{lang}]", value
		%tr
			%td{:colspan => 3}
				= f.submit submit
