%tr{:id => "definition_#{definition.id}"}
  %td.handler
    %span.ui-icon.ui-icon-arrowthick-2-n-s
  %td
    = definition.meta_key.to_s
    %br
    %i
      = definition.key_map.to_s
      %br
      = definition.key_map_type.to_s
  %td
    = definition.label.to_s
  %td
    = definition.description.to_s
  %td
    = definition.hint.to_s
  %td.with_actions
    = link_to _("Edit"), edit_admin_context_definition_path(definition.meta_context, definition), :class => "buttons", :remote => true, :"data-type" => "html"
    %br
    = link_to _("Delete"), admin_context_definition_path(definition.meta_context, definition), :class => "buttons", :method => :delete, :confirm => _("Sind Sie sicher?")
