%table
  %tbody
    %tr
      %td{:colspan => 4}
        = "Name: #{@context.name}"
        %br
        = "Group: #{@context.meta_context_group.try(:name)}"
        %br
        = "Label: #{@context.label}"
        %br
        != "Description: #{simple_format(@context.description.to_s)}"
        %br
        = "#{_("For user interface")}: #{@context.is_user_interface?}"
      %td{:colspan => 2, :style => "text-align: right; white-space: nowrap;"}
        = link_to _("Edit"), edit_admin_context_path(@context), :class => "buttons", :remote => true, :"data-type" => "html"
        %br
        = link_to _("Delete"), admin_context_path(@context), :class => "buttons", :"data-method" => "delete", :"data-confirm" => "Are you sure?"
        %br
        = link_to _("Add Key"), new_admin_context_definition_path(@context), :class => "buttons", :remote => true, :"data-type" => "html"

%table
  %thead
    %tr
      %th
      %th MetaKey
      %th Label
      %th Description
      %th Hint
      %th
  %tbody.sortable
    = render :partial => "show", :collection => @context.meta_key_definitions, :as => :definition
  
:javascript
  $(document).ready(function(){
    $("tbody.sortable").sortable({
      handle: 'td.handler',
      axis: 'y',
      update: function(event, ui){
        $.ajax({
          url: "#{reorder_admin_context_definitions_path(@context)}",
          type: 'PUT',
          data: $(event.target).sortable('serialize'),
          success: function(feedback){ $('#data').html(feedback); }
        });
      }
    }); //temp//.disableSelection();
  });
