:ruby
  element = {
    name: 'Elevator Pitch', todo: true,
    cssFile: '_ui-home-claim.scss',
    cssSelector: '.ui-home-claim',
    section: '8.11',
    locals: {
      claim: {
        title: 'Bilder, Videos, Audio-Dateien und Dokumente',
        text: '**Diese Plattform dient dem gemeinschaftlichen Arbeiten mit Medien und dem Teilen von Inhalten.**'
      },
      login: nil # see below
    }
  }


-# TODO: elements
- external_login = combo('form') do
  = combo('form-group', mods: 'rowed') do
    %p.mbm
      Alle Funktionen nutzen und auf
      %br/
      mehr Inhalte zugreifen.
    %a#internal-login-link.primary-button.block.large{:href => "###login"}
      Anmelden

- internal_login = combo('form', props: { action: 'db/login', method:'post'}) do
  = combo('form-group', mods: 'rowed.compact') do
    %input.block.large{:autofocus => "false", :name => "login", :placeholder => "Benutzername", :type => "text"}/
  = combo('form-group', mods: 'rowed.compact') do
    %input.block.large{:name => "password", :placeholder => "Passwort", :type => "password"}/
  = combo('form-group', mods: 'rowed.compact') do
    %button.primary-button.block.large{:type => "submit"}
      Anmelden

:ruby
  element[:locals][:login] = combo('tabbed-sections', {
    mods: 'pitch-login',
    interactive: true,
    list: {
      external_login: {
        active: true,
        nav: {
          align: 'left',
          text: 'ZHdK-Login'
        },
        content: external_login,
      },
      internal_login: {
        nav: {
          align: 'right',
          text: 'Externe'
        },
        content: internal_login,
        }
      }
    })

= render_partial('element', element) do |example|
  = render_partial('example') do

    = combo('home-claim', example[:locals])
