- meta_data.each do |meta_datum|
  .col1of3.mbl
    .ui-metadata-box.prl
      .h3.title-m.separated.light.mbm= meta_datum.meta_key.all_context_labels
      %ul.ui-tag-cloud.small
        - meta_datum.value.each do |value|
          %li.ui-tag-cloud-item
            %a.ui-tag-button.meta-term{:href => "/media_resources?meta_data[#{meta_datum.meta_key.label}][ids][]=#{value.id}",
                                            :"data-meta-datum-name" => meta_datum.meta_key.label,
                                            :"data-meta-key-id" => value.id,
                                            :title => "#{value}"}
              = value