%tr.group{id: "#{group.name[0] + group.id}"}
  %td
    %span.limit250{title: group.name} #{group.name}
  %td
    %span.limit250{title: group.institutional_group_name} #{group.institutional_group_name}
  %td
    %span #{group.type}

  %td.users-count
    #{group.users_count}

  %td.search-rank= group.respond_to?(:search_rank) ? group.search_rank : ''

  %td.no-wrap
    %ul.list-inline
      %li 
        = link_to app_admin_group_path(group), class: "btn btn-xs details" do
          %i.fa.fa-eye-open
          Details
      %li
        = link_to show_media_sets_app_admin_group_path(group), class: "btn btn-warning btn-xs" do
          %i.icon-vis-graph
            = "Media sets:"
            %span.sets-count
              = "#{MediaResource.accessible_by_group(group, :view).where(:type => "MediaSet").count}"
      %li
        = link_to show_media_entries_app_admin_group_path(group), class: "btn btn-warning btn-xs" do
          %i.icon-vis-graph
            = "Media entries:"
            %span.entries-count
              = "#{MediaResource.accessible_by_group(group, :view).where(:type => "MediaEntry").count}"
      %li
        = link_to edit_app_admin_group_path(group), class: "btn btn-warning btn-xs edit" do
          %i.icon-pen
          Edit
      %li
        = link_to app_admin_group_path(group), method: :delete, data: { confirm: 'Are you really want to delete this group?' }, class: 'btn btn-danger btn-xs' do
          %i.icon-trash
          Delete
