%h1.text-center 
  %i.icon-privacy-group
  Groups


.well.pull-right
  = form_tag app_admin_groups_path, method: 'GET', class: 'form-inline'  do

    .form-group
      = text_field :filter, :search_terms, class: "search-query, form-control", 
          placeholder: 'Search term',  value: params.try(:[],:filter).try(:[],:search_terms)

    .form-group
      %label Sort (and search) by:
      %select.form-control{name: :sort_by}
        = options_for_select [["Name", :name],
          ["Text search ranking",:text_rank],
          ["Trigram search ranking", :trgm_rank],
          ], @sort_by

    .form-group
      %label Type of
      %select.form-control{name: :type}
        = options_for_select [["All", :all], ["Group", :group], ["MetaDepartment", :meta_department]], @type

    .form-group
      = button_tag type: 'submit', class: 'btn btn-sm' do
        %i.icon-filter
        Apply



%ul.list-inline

  %li
    = link_to new_app_admin_group_path, class: 'btn btn-success' do
      %i.fa.fa-plus
      New group

.row


  .col-md-12
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th Ldap name
          %th Type
          %th.no-wrap # Users
          %th Search rank
          %th
      %tbody
        =render partial: 'group', collection: @groups


= paginate @groups, theme: 'app_admin'


