%h1.text-center 
  %i.fa.fa-user
  Groups


%ul.list-inline

  %li
    = link_to new_app_admin_group_path, class: 'btn btn-success' do
      %i.fa.fa-plus
      New group

.row

  %div.col-md-3

    %h3 
      %i.fa.fa-filter
      Filters

    = form_tag app_admin_groups_path, method: 'GET' do

      %label 
        = text_field nil, :fuzzy_search, class: "search-query", value: params[:fuzzy_search]
      .form-group
        %label Type of
        %select.form-control{name: :type}
          = options_for_select [["All", :all], ["Group", :group], ["MetaDepartment", :meta_department]], @type

      = button_tag type: 'submit', class: 'btn btn-sm' do
        Filter

  .col-md-9
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th Ldap name
          %th Type
          %th.no-wrap # Users
          %th
      %tbody
        =render partial: 'group', collection: @groups


= paginate @groups, theme: 'app_admin'


