%h1
  %i.fa.fa-user 
  #{@group}

%ul.list-inline
  %li
    =link_to form_add_user_app_admin_group_path(@group), class: 'btn btn-success' do
      %i.fa.fa-plus-circle
      Add user

  %li
    =link_to edit_app_admin_group_path(@group), class: "btn btn-warning" do
      %i.fa.fa-pencil
      Edit

  %li
    =link_to app_admin_group_path(@group), method: :delete, class: "btn btn-danger", confirm: "Are you really want to delete this group?" do
      %i.fa.fa-trash-o
      Delete

%table.table.table-striped
  %thead
  %tbody
  - @group.attributes.each do |name,value|
    %tr
      %td= name.capitalize.split("_").join(" ")
      - case name
      - when nil
      - else
        %td= value



%h2.text-center
  Users

.row
  %div.col-md-3

    %h3 
      %i.fa.fa-filter
      Filters

    = form_tag app_admin_group_path(@group), method: 'GET' do

      %label 
        = text_field nil, :fuzzy_search, class: "search-query", value: params[:fuzzy_search] 

      = button_tag type: 'submit', class: 'btn btn-sm' do
        Filter

  .col-md-9


    %table.table.table-striped.group-users
      %thead
        %tr
          %th Login
          %th E-mail
          %th Id
      %tbody
        = render partial: 'app_admin/groups/user', collection: @users 

    = paginate @users, theme: 'app_admin'


