<%= wiki_page_style %>
<%= javascript_include_tag "wiki" -%>


<% if current_user.groups.is_member?("Admin") %>
  <div class="wiki_meta">
        <%= wiki_page_actions %>
	<strong>Title:</strong> <%=h @page.title %>
	<strong>Info:</strong> <%= wiki_page_info %>
  </div>
<% end %>
  
<div class="wiki_content">
  <%=wiki_content @page.content %>
</div>
