= form_for [:admin, @meta_key], as: :meta_key, html: { class: 'form-horizontal', role: 'form' } do |f|
  .form-group
    .col-xs-3
      = f.label :id, 'ID', class: 'control-label'
    .col-xs-6
      = f.text_field :id, class: 'form-control', disabled: @meta_key.persisted?
  .form-group
    .col-xs-3
      = f.label :vocabulary_id
    .col-xs-6
      = f.select :vocabulary_id,
          options_from_collection_for_select(Vocabulary.sorted, :id, :id, f.object.vocabulary_id),
          {}, class: 'form-control'
  .form-group
    .col-xs-3
      = f.label :meta_datum_object_type
    .col-xs-6
      = f.select :meta_datum_object_type,
          options_for_select(['', MetaKey.object_types].flatten, f.object.meta_datum_object_type),
          {}, class: 'form-control'
  - if @meta_key.persisted? && @meta_key.can_have_keywords?
    .form-group
      .col-xs-3
        = f.label :keywords_alphabetical_order
      .col-xs-6
        = f.select :keywords_alphabetical_order, [['Yes', true], ['No', false]], {}, class: 'form-control'
  .form-group
    .col-xs-3
      = f.label :label, 'Label', class: 'control-label'
    .col-xs-6
      = f.text_field :label, class: 'form-control'
  .form-group
    .col-xs-3
      = f.label :description, 'Description', class: 'control-label'
    .col-xs-6
      = f.text_area :description, class: 'form-control', rows: 4
  .form-group
    .col-xs-3
      = f.label :hint, 'Hint', class: 'control-label'
    .col-xs-6
      = f.text_area :hint, class: 'form-control', rows: 4
  .form-group
    .col-xs-offset-3.col-sm-4
      .checkbox
        %label
          = f.check_box :is_extensible
          Extensible?
  - %w(media_entries collections filter_sets).each do |resource_type|
    .form-group
      .col-xs-offset-3.col-sm-4
        .checkbox
          %label
            = f.check_box "is_enabled_for_#{resource_type}"
            Enabled for #{resource_type.humanize(capitalize: false)}?
  .form-group
    .col-xs-offset-3.col-xs-3
      = button_tag type: :submit, class: 'btn btn-success' do
        %span.glyphicon.glyphicon-ok
        Save
      = link_to 'Go back', admin_meta_keys_path, class: 'btn btn-link'
