- used_term_ids = @meta_key.used_term_ids
= form_for [:admin, @meta_key] do |f|
  = hidden_field_tag :term_positions
  %table
    %tr
      %th= f.label :label
      %td= f.text_field :label
    %tr
      %th= f.label :meta_datum_object_type
      %td
        - if f.object.meta_datum_object_type.nil? or f.object.meta_data.empty?
          = f.select :meta_datum_object_type, MetaKey.object_types.collect {|o| [o, o]}, { :include_blank => true }
        - else
          = f.object.meta_datum_object_type
    - if f.object.meta_datum_object_type == "MetaDatumMetaTerms"
      %tr
        %th
          Terms
        %td
          %ul.sortable
            - f.object.meta_terms.build
            = f.fields_for :meta_terms do |term_f|
              %li{:style => "padding-bottom: 1em;", :id => (term_f.object.new_record? ? nil : "position_#{term_f.object.id}")}
                - unless term_f.object.new_record?
                  = term_f.hidden_field :id # NOTE placeholder for the hidden id used by fields_for
                  %div.ui-icon.ui-icon-arrowthick-2-n-s.handler
                Term id:
                %b= term_f.object.id
                - if used_term_ids.include?(term_f.object.id)
                  Used, merge to:
                  = text_field_tag "reassign_term_id[#{term_f.object.id}]", nil, :style => "width: 3em"
                - elsif not term_f.object.new_record?
                  = term_f.check_box '_destroy'
                  = term_f.label '_destroy', _("Delete")
                - LANGUAGES.each do |lang|
                  %br
                  = lang
                  \:
                  - if term_f.object.new_record?
                    = term_f.text_field lang
                  - else
                    = term_f.object.send(lang)
      %tr
        %th
        %td
          = f.check_box :is_extensible_list
          = f.label :is_extensible_list
    %tr
      %td
      %td= f.submit

:javascript
  $(document).ready(function(){
    $("ul.sortable").sortable({
      axis: 'y'
    });

    $('form.edit_meta_key').submit(function(){
      $('#term_positions').val($("ul.sortable").sortable("serialize"));
    });     
  });
