.page-header
  %h1
    %i.icon-media-entry
    Meta Keys (#{@meta_keys.total_count})

.row
  .col-xs-12
    .panel.panel-default
      .panel-heading
        .panel-title Filters
      .panel-body
        = form_tag admin_meta_keys_path, method: :get, class: 'form-inline' do
          .form-group
            = text_field_tag :search_term, params[:search_term], size: 34,
              class: 'form-control', placeholder: 'ID or label'
          .form-group
            = label_tag :vocabulary_id, 'Vocabulary', class: 'form-label'
            = select_tag :vocabulary_id,
                options_for_select(['', Vocabulary.ids_for_filter].flatten, params[:vocabulary_id]),
                class: 'form-control'
          .form-group
            = label_tag :type, 'Type', class: 'form-label'
            = select_tag :type,
                options_for_select(['', MetaKey.object_types].flatten, params[:type]),
                class: 'form-control'

          = submit_tag 'Apply', class: 'btn btn-primary'
          = link_to 'Reset', admin_meta_keys_path, class: 'btn btn-default'
    .btn-group
      = link_to new_admin_meta_key_path, class: 'btn btn-default' do
        %i.glyphicon.glyphicon-plus
        Create Meta Key

.row
  .col-xs-12
    %table.table.table-striped
      %thead
        %tr
          %th ID
          %th Label
          %th Vocabulary
          %th Meta Datum Object Type
          %th
      %tbody
        = render @meta_keys

= paginate @meta_keys
