.app.view-import.view-import-meta-data

  = render "application/header"

  .app-body

    .app-body-title
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl Medien importieren

    .app-body-ui-container
      .ui-container.bordered.bright.rounded

        = render :partial => "import/stepline", :locals => {:step => 3}

        .media-import.step4.pal

          %h3.title-l
            Metadaten hinzufügen:
            %span.right
              %label
                %input#display-only-invalid-resources{:type => "checkbox", :checked => params[:show_invalid_resources], :autocomplete => :off}
                  Nur Inhalte mit unvollständigen Pflichtfeldern anzeigen

          #ui-resources-preview.ui-container.clearfix.mvl.bordered.midtone.rounded.upload-preview{:class => params[:show_invalid_resources] ? "ui-invalid-resources-only" : ""}
            = @media_entry_incompletes_partial.html_safe
          
          #ui-edit-meta-data-preload
            .pth
              .ui-preloader

          #ui-edit-meta-data.hidden

            .ui-selected-entry-control
              .ui-selected-entry-control-container
                %a.ui-prev-entry.button.disabled
                  .ui-entry-control-label Vorheriger Eintrag
                  .ui-entry-control-title 
                  .ui-entry-control-arrow
                %a.ui-current-entry.button
                  .ui-entry-control-label Aktueller Eintrag
                  .ui-entry-control-title
                %a.ui-next-entry.button.disabled
                  .ui-entry-control-label Nächster Eintrag
                  .ui-entry-control-title
                  .ui-entry-control-arrow

            .ui-container

              %form

                .form-body

                  - @context.meta_key_definitions.each do |definition|

                    - unless definition.meta_key.is_not_writable?

                      = render :partial => "media_resources/edit/field",
                               :locals => {:definition => definition}
                  
                .form-footer
                  .ui-actions
                    = render :partial => "import/cancel"
                    %a#continue-import.primary-button.large{:href => organize_import_path}
                      Weiter&hellip;

  .app-footer-push
= render :partial => "application/footer", :locals => {:clipboard => false}

:coffeescript

  jQuery -> new App.ImportController.MetaData
    metaKeyDefinition: #{json_for(@context, {meta_keys: true})}
    collectionId: #{@media_entry_incompletes_collection_id.to_json}