.app.view-import

  = render "application/header"

  .app-body

    .app-body-title
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl Medien importieren

    .app-body-ui-container
      .ui-container.bordered.bright.rounded

        = render :partial => "import/stepline", :locals => {:step => 1}

        .media-import.step4.pal

          %h3.title-l
            Metadaten hinzufügen:
            %span.right
              %label.weak{:href => "#"}
                %input{:disabled => "disabled", :type => "checkbox"}
                  Nur Inhalte mit unvollständigen Pflichtfeldern anzeigen 

          .ui-container.clearfix.mvl.bordered.midtone.rounded.upload-preview
            
          .ui-selected-entry-control
            .ui-selected-entry-control-container
              %a.ui-prev-entry.button.disabled
                .ui-entry-control-label Vorheriger Inhalt
                .ui-entry-control-title 
                .ui-entry-control-arrow
              %a.ui-current-entry.button
                .ui-entry-control-label Aktueller Inhalt
                .ui-entry-control-title
              %a.ui-next-entry.button.disabled
                .ui-entry-control-label Nächster Inhalt
                .ui-entry-control-title
                .ui-entry-control-arrow

          .ui-container

            %form

              .form-body

                - @context.meta_key_definitions.each do |definition|

                  - unless definition.meta_key.is_not_writable?

                    = render :partial => "media_resources/edit/field", 
                             :locals => {:definition => definition}
                
              .form-footer
                .ui-actions
                  = render :partial => "import/cancel"
                  %a.primary-button.large
                    Weiter&hellip;

  .app-footer-push
= render "application/footer"