.app.view-import.view-import-organize

  = render "application/header"

  .app-body

    .app-body-title
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl Medien importieren

    .app-body-ui-container
      .ui-container.bordered.bright.rounded

        = render :partial => "import/stepline", :locals => {:step => 4}

        .media-import.step4.pal

          %h3.title-l
            Die neuen Inhalte in Sets verwalten (optional):

          #ui-resources-preview.ui-container.clearfix.mvl.bordered.midtone.rounded.upload-overview
            = @media_entry_incompletes_partial.html_safe

          .ui-actions.mbm
            %a.button{:"data-organize-arcs" => "true", :"data-collection-id" => @media_entry_incompletes_collection_id}
              %i.icon-move
              Einträge zum einem Set hinzufügen

          .ui-actions
            %form{:action => complete_import_path, :method => :post}
              = token_tag nil
              %button.primary-button.large{:type => :submit}
                Import abschliessen

  .app-footer-push
= render :partial => "application/footer", :locals => {:clipboard => false}