.app.view-import

  = render "application/header"

  .app-body

    .app-body-title
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl Medien importieren

    .app-body-ui-container
      .ui-container.bordered.bright.rounded

        = render :partial => "import/stepline", :locals => {:step => 2}

        .media-import.step2.pal

          %form#ui-rights-management-import{:"data-manageable" => "true", 
                                            :"data-collection-id" => @media_entry_incompletes_collection_id,
                                            :"data-redirect-url" => meta_data_import_path}

            %h3.title-l Zugriff und Sichtbarkeit festlegen:

            .ui-container.clearfix.mvl.bordered.midtone.rounded.upload-preview
              = @media_entry_incompletes_partial.html_safe

            .ui-rights-management
              .pth
                .ui-preloader

            .ptl
              .form-footer
                .ui-actions
                  = render :partial => "import/cancel"
                  %button.primary-button.large.disabled{:type => :submit}
                    Berechtigungen speichern und weiter&hellip;

  .app-footer-push
= render "application/footer"

:coffeescript

  jQuery ->
    new App.PermissionsController
      inline: $("#ui-rights-management-import")