= javascript_include_tag "upload"

.app.view-import

  = render "application/header"

  .app-body

    .app-body-title
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl Medien importieren

    .app-body-ui-container
      .ui-container.bordered.bright.rounded

        = render :partial => "import/stepline", :locals => {:step => 1}

        .media-import.step1.pal.bordered-bottom.ui-container

          %h3.title-l.limited-width-m Bilder, Videos, Audio-Dateien oder Dokumente  bereitstellen:

          .ui-container.clearfix.mvl.bordered.midtone.rounded.media-import-content

            #upload-ui-container
              #call2action
                = "Sie habe noch keine Medien ausgewählt."
                %br
                %small= "(Drag & Drop)"
              #uploader

          .ui-actions
            = render :partial => "import/cancel"
            %a#import-start.primary-button.large{:href => permissions_import_path, :class => @media_entry_incompletes.count.zero? ? "disabled" : ""}
              Weiter&hellip;

        .row.ui-container.midtone.pvm.phl.rounded-bottom
          .col1of2
            %h3.title-m.prm
              %strong
                Hinweise
            %p.prm.ptx
              Bilder (TIFF, JPEG, PNG) sowie Audio- und Videofiles in den gängigsten Formaten werden direkt verarbeitet und dargestellt.
            %p.prm.ptx
              Bitte importieren Sie jeweils maximal 200 Dateien auf einmal. 
          .col1of2
            %h3.title-m.plm
              %strong
                Akzeptierte Dateigrösse
            %p.plm.ptx
              Dateien mit einer Grösse von über 1.4 GB müssen über eine FTP-Dropbox in das Medienarchiv geladen werden.
            %p.plm.ptx
              %strong
                %a.open_dropbox_dialog{:href => "javascript:void(0)", :style => "cursor:pointer"} So laden Sie Dateien über die FTP-Dropbox ins Medienarchiv.

  .app-footer-push
= render :partial => "application/footer", :locals => {:clipboard => false}

:coffeescript

  jQuery -> new App.ImportController.Upload
    dropboxData: 
      dropbox_exists: #{@user_dropbox_exists.to_json}
      dropbox_info: #{@dropbox_info.to_json}
    dropboxFiles: #{@dropbox_files.to_json}
    dropboxSyncIntervalTimer: 2000
    maxFileSize: "1400mb"
    mediaEntryIncompletes: #{ json_for(@media_entry_incompletes, {:filename => true, :size => true}) }
    multipartParams:
      '#{request_forgery_protection_token}': '#{form_authenticity_token}'
      '#{request.session_options[:key]}': '#{request.session_options[:id]}'
    nextStepUrl: "#{permissions_import_path}"