= javascript_include_tag "plupload/i18n/de.js"

.app.view-import

  = render "application/header"

  .app-body

    .app-body-title
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl Medien Importieren

    .app-body-ui-container
      .ui-container.bordered.bright.rounded

        = render :partial => "import/stepline", :locals => {:step => 1}

        .media-import.step1.pal.bordered-bottom.ui-container

          %h3.title-l Fotos, Videos und Audiofiles bereitstellen:

          .ui-container.clearfix.mvl.bordered.midtone.rounded.media-import-content

            #upload-ui-container
              #call2action
                = "Sie habe noch keine Medien ausgewählt."
                %br
                %small= "(Drag & Drop)"
              #uploader

          .ui-actions
            = render :partial => "import/cancel"
            %a.primary-button.large.disabled Weiter&hellip;

        .row.ui-container.midtone.pvm.phl.rounded-bottom
          .col1of2
            %h3.title-s.prm
              Akzeptierte Dateiformate
            %p.small-print.prm
              Bilder (TIFF, JPEG, PNG) sowie Audio- und Videofiles in den gängigsten Formaten werden direkt verarbeitet und dargestellt. Weitere Dateitypen (PSDs, Webarchive) können ebenfalls hochgeladen werden, sind vorerst jedoch nur als ZIP-Datei verfügbar. PDFs sind bis zu einer Grösse von ca. 20 MB innerhalb des Medienarchivs lesbar.
          .col1of2
            %h3.title-s.plm
              Akzeptierte Dateigrösse
            %p.small-print.plm
              Dateien mit einer Grösse von über 1.4 GB müssen über eine FTP-Dropbox in das Medienarchiv geladen werden.
              %a.open_dropbox_dialog{:href => "javascript:void(0)", :style => "cursor:pointer"} So laden Sie Dateien über die FTP-Dropbox ins Medienarchiv.

  .app-footer-push
= render "application/footer"

:coffeescript

  jQuery -> new App.ImportController.Upload
    dropboxExists: #{@dropbox_exists.to_json}
    dropboxFiles: #{@dropbox_files_json}
    dropboxInfo: #{@dropbox_info.to_json}
    dropboxSyncIntervalTimer: 2000
    maxFileSize: "1400mb"
    mediaEntryIncompletes: #{ json_for(@media_entry_incompletes, {:filename => true, :size => true}) }