:ruby
  text ||= nil
  title ||= nil
  count ||= nil

  button =
    unless text.is_a?(String) || block_content.present?
      throw 'ui: invalid data!'
    end

  icon_type =
    case
    when classes.delete('tag-button-label')  then 'tag'
    when classes.delete('tag-button-person') then 'user'
    when classes.delete('tag-button-group')  then 'group'
    else false
    end

    icon_size = if classes.include?('large') then nil
      else
        '-mini'
      end

  html_tag_type = 'span'

  props = {
    class: ['ui-tag-button'].push(classes),
    title: title
  }

  if link
    html_tag_type = 'a'
    props = props.merge(link)
  else
    props[:class].push('disabled')
  end

- haml_tag(html_tag_type, props) do
  - if icon_type
    = component("icon.#{icon_type}#{icon_size}", 'ui-tag-icon')

  = text
  = block_content

  - if count.present?
    %span.ui-tag-counter
      = count
