:ruby
  throw 'ui: list is not Array!' unless list && list.is_a?(Array)

  tag_list = list.map do |item|
    case # Allow String or Hash with String
    when item.is_a?(String) then { text: item }
    when item.is_a?(Hash) && item[:text] && item[:text].is_a?(String)
      item
    else throw 'ui: invalid data!'
    end
  end

  return if tag_list.blank?

  icon_type =
    case
    when classes.delete('tag-cloud-label') then 'tag'
    when classes.delete('tag-cloud-person') then 'user'
    when classes.delete('tag-cloud-group') then 'group'
    else false
    end

  # TODO: find out or decide what is correct
  icon_size = '-mini'
  # icon_size =
  #   case
  #   when classes.include?('large') then nil
  #   else '-mini'


%ul.ui-tag-cloud{class: classes}
  - tag_list.each do |item|
    %li.ui-tag-cloud-item
      :ruby
        next unless item

        html_tag_type = 'a'
        props = {
          class: ['ui-tag-button'],
          href: item[:href],
          title: item[:title]
        }
        if item[:href].nil?
          html_tag_type = 'span'
          props[:class].push('disabled')
        end

      - haml_tag(html_tag_type, props) do

        - if icon_type
          = component("icon.#{icon_type}#{icon_size}", 'ui-tag-icon')

        = item[:text]

        - if item[:count]
          %span.ui-tag-counter
            = item[:count]
