%tr.usage-term{id: usage_term.id}
  %td
    %span #{usage_term.id}
  %td
    %span #{usage_term.title}
  %td
    %span #{usage_term.version}
  %td
    %span #{usage_term.intro}

  %td.no-wrap
    %ul.list-inline
      %li 
        = link_to app_admin_usage_term_path(usage_term), class: "btn btn-xs details" do
          %i.fa.fa-eye-open
          Details
      %li
        = link_to edit_app_admin_usage_term_path(usage_term), class: "btn btn-warning btn-xs edit" do
          %i.icon-pen
          Edit
      %li
        = link_to app_admin_usage_term_path(usage_term), method: "DELETE" ,class: "btn btn-warning btn-xs destroy" do
          %i.icon-trash
          Delete

