:ruby
  t_key_for_title = "error_#{@get.status_code}_title"
  t_key_for_message = "error_#{@get.status_code}_message"
  title = if I18n.exists?(t_key_for_title)
            t(t_key_for_title)
          else
            "Error #{@get.status_code} — #{@get.message}"
          end

- content_for(:title_head) do
  = title

- content_for(:app_body) do
  .app-body.pan.man
    #app-client-error.modal.ui-modal.crucial.wide
      .ui-modal-head
        %h3.title-l
          = title

      .ui-modal-body.by-center
        .row
          - if (@get.status_code == 401) or (@get.status_code == 405)
            .ui-container{style: 'max-width: 440px;margin:0 auto;'}
              = react('App.LoginMenu',
                  get: @get,
                  loginProviders: @app_layout_data.login_providers)

          - else
            .bang.col1of6
              = component('icon.bang')

            .error-message.col4of6{data: { hashviz_target: 'errvis' }}
              - if I18n.exists?(t_key_for_message)
                %p.paragraph-l
                  = t(t_key_for_message)
              - else
                %p.paragraph-l
                  = @get.details.first
                %p.title-xs-alt
                  = @get.details.second
                %p.title-xs-alt.hidden
                  - @get.details.drop(2).flatten.uniq.each do |line|
                    = line
                    %br/


            .col1of6
              .errvis.ui-container.rounded{ data: { hashviz_container: 'errvis' } }
                %span.no-js= '?'

      .ui-modal-footer
        .ui-actions
          .title-xs= Time.now.getutc.to_s
