:ruby
  title = t("error_#{@get.status_code}_title")
  message = case @get.status_code
            when 500 then error_500_message
            else t("error_#{@get.status_code}_message")
            end

- content_for(:title_head) do
  = title

- content_for(:body) do
  %body
    #app-server-error.modal.ui-modal.crucial.wide
      .ui-modal-head
        %h3.title-l
          = title

      .ui-modal-body.by-center
        .row
          .bang.col1of6
            = component('icon.bang')

          .error-message.col4of6{data: { hashviz_target: 'errvis' }}
            %p.paragraph-m
              = message
            %br
            %hr
            %br
            %p.paragraph-l
              = @get.details.first
            %p.title-xs-alt
              = @get.details.second
            %p.title-xs-alt
              - @get.details.drop(2).flatten.uniq.each do |line|
                = line
                %br/

          .col1of6
            .errvis.ui-container.rounded{ data: { hashviz_container: 'errvis' } }
              %span.no-js= '?'

      .ui-modal-footer
        .ui-actions
          .title-xs= Time.now.getutc.to_s if @get.is_a?(Presenter)
          .span.hidden= '  (╯°□°）╯︵ ┻━┻'

    .modal-backdrop.fade.in
