:ruby
  status_code = @get.try(:status_code).presence || 500
  message = @get.try(:message).presence || 'Internal Server Error'

  title = "Error #{status_code} — #{message}"

- content_for(:title_head) do
  = title

- content_for(:body) do
  %body
    #app-server-error.modal.ui-modal.crucial.wide
      .ui-modal-head
        %h3.title-l
          = title

      .ui-modal-body.by-center
        .row
          .bang.col1of6
            = component('icon.bang')

          .error-message.col4of6{data: { hashviz_target: 'errvis' }}
            %p.paragraph-l
              = @get.details.first
            %p.title-xs-alt
              = @get.details.second
            %p.title-xs-alt
              - @get.details.drop(2).flatten.uniq.each do |line|
                = line
                %br/

          .col1of6
            .errvis.ui-container.rounded{ data: { hashviz_container: 'errvis' } }
              %span.no-js= '?'

      .ui-modal-footer
        .ui-actions
          .title-xs= Time.now.getutc.to_s if @get.is_a?(Presenter)
          .span.hidden= '  (╯°□°）╯︵ ┻━┻'

    .modal-backdrop.fade.in
