.app.view-meta-context{:"data-id" => @context.id}

  = render "application/header"

  .app-body
    .app-body-title
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl
            %i.icon-tags
            = @context

    .app-body-ui-container

      = render :partial => "contexts/tabs"

      .ui-container.tab-content.bordered.rounded-right.rounded-bottom
        = yield :content

  .app-footer-push
= render :partial => "application/footer"
