= prevent_leaving_page

.container_12
  %section#content_body.clearfix
    #detail-main.grid_2
      #detail-image{:style => "padding: 5px 0 0 0;"}=  thumb_for(@snapshot, :small)
      = resource_sizes(@snapshot)
      #detail-action-bar
        %ul
          %li
            = link_to _("XML exportieren"), snapshot_path(@snapshot, :format => :tms)
          %li
            = link_to _("ZIP exportieren"), export_snapshots_path(:snapshot_ids => [@snapshot])
          %li
            = link_to _("Kopie löschen"), @snapshot, :method => :delete, :confirm => _("Sind Sie sicher?")
  
    .grid_9
      %h3= _("Kopie für MIZ-Archiv editieren")
      %br
      = form_for @snapshot, :as => :resource, :url => [:update_multiple, @snapshot, :meta_data], :html => {:method => :put} do |resource|
        - content_for :buttons do
          %div{:class => "save_buttons"}
            = link_to _("Abbrechen"), snapshots_path, :class => "buttons"
            = resource.submit _("Speichern")
        #detail_specification.tabs
          - meta_contexts = [MetaContext.tms]
          %ul
            - meta_contexts.each do |meta_context|
              %li= link_to meta_context, "##{meta_context.name}" 
          - meta_contexts.each do |meta_context|
            = render :partial => "/meta_data/edit_multiple_without_form", :locals => {:context => meta_context, :resource => resource }
        = yield :buttons
