= form_for @set, :url => featured_admin_media_sets_path, :html => {:method => :post} do |f|
	%ul
		- MediaSet.all.each do |set|
			- # TODO next if set is private ??
			%li
				= check_box_tag "children[]", set.id, @set.child_sets.include?(set)
				= " #{set} [#{display_permission(set, :string)}] #{set.user}"

	= f.submit _("Submit")
