= form_tag special_admin_media_sets_path do
  %table
    %thead
      %tr
        - [_("ID"), _("Set"), _("Entries/Sets"), _("Splashscreen"), _("Featured"), _("Catalog")].collect do |s|
          %th= s

    %tbody
      - @media_sets.each do |set|
        %tr
          %td= set.id
          %td= "#{set.title_and_count} (#{set.user})"
          %td= "%d / %d" % [set.child_media_resources.media_entries.count, set.child_media_resources.media_sets.count]
          %td= radio_button_tag "splashscreen_slideshow_set_id", set.id, (AppSettings.splashscreen_slideshow_set_id == set.id)
          %td= radio_button_tag "featured_set_id", set.id, (AppSettings.featured_set_id == set.id)
          %td= radio_button_tag "catalog_set_id", set.id, (AppSettings.catalog_set_id == set.id)

  = submit_tag _("Submit")

