- unless resource_ids.empty?
  .filter_box
    %h3.filter_category.filter_header.clearfix
      / %span.ui-icon.ui-icon-triangle-1-e
      = link_to "Suchergebnisse filtern", "#", :class => "filter_category_link"
    .filter_content{:style => "display: block;"}
      / #3105# %form{:action => request.fullpath.gsub( /\?.*/, "" ), :method => :get, :"data-remote" => "true", :"data-type" => :json, :"data-item_ids" => resource_ids.to_json}
      %form{:action => filter_resources_path, :method => :post, :"data-remote" => "true", :"data-type" => :json, :"data-item_ids" => resource_ids.to_json}
        = hidden_field_tag "filter[type]", type
        = hidden_field_tag "filter[ids]", resource_ids.join(',')
        #filter-query.basic
          %div
            - if type == "MediaEntry"
              = hidden_field_tag "query", params[:query]
              %h3.filter_category.clearfix
                = link_to "Medientyp und Format", "#", :class => "filter_category_link"
                %span.ui-icon.ui-icon-triangle-1-e
                =#tmp# link_to "(zurücksetzen)", "#", :class => "reset_filter"
              .filter_content{:style => "display: none;"}
                %h5.filter_subcategory.filter_category.clearfix
                  %span.input_wrapper
                    = check_box_tag "#{type}[media_type][]", "Image"
                    Bild
                  / = link_to "Details", "#", :class => "filter_category_link"
                  / %span.ui-icon.ui-icon-triangle-1-e
                .filter_content
                  %ul
                    %li
                      = label_tag "#{type}[orientation][0]", "Querformat"
                      = check_box_tag "#{type}[orientation]", '0'
                    %li
                      = label_tag "#{type}[orientation][1]", "Hochformat"
                      = check_box_tag "#{type}[orientation]", '1'
                  %ul
                    %li
                      = label_tag "#{type}[width][value]", "Breite:"
                      = select_tag "#{type}[width][operator]", options_for_select({'ist genau' => 'is', 'grösser als' => 'gt', 'kleiner als' => 'lt'}, :selected => nil), :include_blank => true
                      = text_field_tag "#{type}[width][value]", nil, :size => 5
                      %span
                        Pixel
                      / TODO #slider-range
                    %li
                      = label_tag "#{type}[height][value]", "Höhe:"
                      = select_tag "#{type}[height][operator]", options_for_select({'ist genau' => 'is', 'grösser als' => 'gt', 'kleiner als' => 'lt'}, :selected => nil), :include_blank => true
                      = text_field_tag "#{type}[height][value]", nil, :size => 5
                      %span
                        Pixel
  
            = display_meta_data_checkboxes(resource_ids, type)
          .filter_footer
            = submit_tag _("Filter anwenden (%d)") % resource_ids.count, :title => "Filtern", :id => 'filter-submit', :name => nil
