.page_title_left
  .icon_set
  =_("Meine Sets")
.page_navigation
  = link_to _("Alle meine Sets"), resources_path(:user_id => current_user, :type => "media_sets"), :class => (!params[:top_level] ? "active" : nil)
  = " | "
  = link_to _("Alle meine obersten Sets"), resources_path(:user_id => current_user, :type => "media_sets", :top_level => true), :class => (params[:top_level] ? "active" : nil) 
.clear

= button_tag(:id => "new_button", :class => "new_set", :style => "float: left;") do
  = _("Neues Set erstellen")
.clear

#page_head_newset.new_set
  #set_meta
    #set_info
      %div.item_box_set
        %div.thumb_box_set
    %small
    - context = MetaContext.media_set
    - media_set = current_user.media_sets.build
    = form_for [current_user, media_set] do |f|
      = f.fields_for :meta_data, media_set.meta_data.get("title") do |meta_datum|
        - definition = meta_datum.object.meta_key.meta_key_definitions.for_context(context)
        = field_tag(meta_datum, context)
        .hint= definition.label
        = f.submit _("Erstellen")

- if @resources[:entries].any?
  #results
- else 
  %br
  %p.no_sets
    = _("Keine Sets vorhanden")
  
:javascript
  
  $(function(){
    $("#page_head_newset.new_set").css("display", "inline-block").hide();
    $("#page_head_newset.new_set input[type=text]").attr("autocomplete", "off");
  
    $("#new_button.new_set").live("click",function(){
      if($("#results")) {
        $("#results > .page > .item_box:first").before($("#page_head_newset.new_set"));
        $("#page_head_newset.new_set").fadeIn("slow");
        $(".no_sets").hide();
        $("#page_head_newset.new_set input[type=text]").val("").focus();
      }
    });
    
    $("#page_head_newset.new_set input[type=text]").live("keydown", function() {
      $(this).next(".hint").hide();
    });
  });
