-# OPTIMIZE merge content_body_result css to content_body
%section{:id => params[:query].blank? ? "content_body" : "content_body_result"}

  - if request.fullpath =~ /favorites/
    = render :partial => "favorites"
    
  - elsif request.fullpath =~ /resources/ and params[:query].blank?
    -if params[:type].blank? || params[:type] == "media_entries"
      = render :partial => "my_entries"    
    -elsif params[:type] == "sets"
      = render :partial => "my_sets"  
    -elsif params[:type] == "projects"
      = render :partial => "my_projects" 

  - elsif !params[:query].blank?
    = render :partial => "search"  
       
  = render :partial => "media_entries/batch_bar"

:javascript
  $(document).ready(function () {
    setupBatch(#{@resources.to_json});

    if(!#{params[:query].blank?}){
      var filter_area = $("#content_body_result .filter_area");
      $.ajax({
        url: "#{filter_resources_path}",
        type: 'GET',
        dataType: 'html',
        data: {query: "#{params[:query]}"},
        beforeSend: function(){
          filter_area.html("Loading...");
        },
        complete: function(response){
          filter_area.html(response.responseText);
        }
      });
    }

  });
