-# OPTIMIZE merge content_body_result css to content_body
%section{:id => params[:query].blank? ? "content_body" : "content_body_result"}

  - my_user = (@user and @user == current_user)

  - if request.fullpath =~ /favorites/
    = render :partial => "favorites"
  - elsif !params[:query].blank?
    = render :partial => "search"  
  - else #elsif request.fullpath =~ /resources/ and params[:query].blank?
    -if params[:type] == "media_sets"
      - if my_user
        = render :partial => "my_sets"
      - elsif @user
        = render :partial => "user_sets"
      - else
        = render :partial => "all_sets"
    -else
      - if my_user
        = render :partial => "my_entries"
      - elsif @user    
        = render :partial => "user_entries"
      - else
        = render :partial => "all_entries"    
       
  = render :partial => "media_entries/batch_bar"

:javascript
  $(document).ready(function () {
    setupBatch(#{@resources.to_json});

    if(!#{params[:query].blank?}){
      var filter_area = $("#content_body_result .filter_area");
      $.ajax({
        url: "#{filter_resources_path}",
        type: 'GET',
        dataType: 'html',
        data: {query: "#{params[:query]}"},
        beforeSend: function(){
          filter_area.html("Loading...");
        },
        complete: function(response){
          filter_area.html(response.responseText);
        }
      });
    }

  });
