-# OPTIMIZE merge content_body_result css to content_body
%section{:id => params[:query].blank? ? "content_body" : "content_body_result"}

  - my_user = (@user and @user == current_user)

  - if !params[:query].blank?
    = render :partial => "search"  
  - else #elsif request.fullpath =~ /resources/ and params[:query].blank?
    -if params[:type] == "media_sets"
      - if my_user
        = render :partial => "my_sets"
      - elsif @user
        = render :partial => "user_sets"
      - else
        = render :partial => "all_sets"
    -else
      - title_str, no_media_str, icon_class = if request.fullpath =~ /favorites/
        - [_("Meine Favoriten"), _("Keine Medien vorhanden"), "icon_favorite"]
      - elsif my_user
        - [_("Meine Medieneinträge"), _("Keine Medieneinträge vorhanden"), "icon_me"]
      - elsif @user
        - [_("Alle Medieneinträge"), _("Keine Medieneinträge vorhanden"), "icon_me"]
      - else
        - [_("Alle Medien"), _("Keine Medien vorhanden"), "icon_me"]

      .page_title_left
        %div{:class => icon_class}
        = title_str
      .page_navigation
        = link_to _("nur Medieneinträge"), url_for(params.merge(:type => "media_entries")), :class => (params[:type] == "media_entries" ? "active" : nil)
        = " | "
        = link_to _("nur Sets"), url_for(params.merge(:type => "media_sets")), :class => (params[:type] == "media_sets" ? "active" : nil)
      .clear
      - if @resources[:entries].any?
        #results
      - else 
        = no_media_str

       
  = render :partial => "media_entries/batch_bar"

:javascript
  $(document).ready(function () {
    setupBatch(#{@resources.to_json});

    if(!#{params[:query].blank?}){
      var filter_area = $("#content_body_result .filter_area");
      $.ajax({
        url: "#{filter_resources_path}",
        type: 'GET',
        dataType: 'html',
        data: {query: "#{params[:query]}"},
        beforeSend: function(){
          filter_area.html("Loading...");
        },
        complete: function(response){
          filter_area.html(response.responseText);
        }
      });
    }

  });
