-# OPTIMIZE merge content_body_result css to content_body
%section{:id => params[:query].blank? ? "content_body" : "content_body_result"}

  - if request.fullpath =~ /favorites/
    .page_title_left
      %img{:src => "/assets/icons/icon_favorites.png"}
      =_("Meine Favoriten")
    .clear
    
  - unless params[:query].blank?
    .page_title_left
      =_("Suchergebnisse")
      #term
        = "für “#{params[:query]}”"
    .clear 
    / #3105#
    - unless @_media_entry_ids.blank?
      .filter_area
        = render :partial => 'search/filter_form', :locals => {:resource_ids => @_media_entry_ids, :type => "MediaEntry" }
       
  = render :partial => "media_entries/batch_bar"
  #results

:javascript
  $(document).ready(function () {
    setupBatch(#{@resources.to_json});

    /////////////////////////////////// dry start
    // #3105#
    $('.filter_box h3.filter_category a.filter_category_link').click(function() {
      var icon = $(this).siblings('span.ui-icon');
      var to_toggle = $(this).parent().next('.filter_content');

      to_toggle.toggle();
      if (to_toggle.is(":visible")) {
        icon.removeClass('ui-icon-triangle-1-e').addClass('ui-icon-triangle-1-s');
      } else {
        icon.removeClass('ui-icon-triangle-1-s').addClass('ui-icon-triangle-1-e');
      };
      return false;
    });

    var checkboxes = $(".filter_content input[data-item_ids]:checkbox");
    checkboxes.change(function(){
      var parent_form = $(this).closest("form");
      var sibling_checkboxes = parent_form.find("input[data-item_ids]:checkbox");
      var intersected_ids = parent_form.data('item_ids');
      sibling_checkboxes.filter(":checked").each(function(i, elem){
        var a = $(elem).data('item_ids');
        intersected_ids = (i ? intersected_ids.intersect(a) : a );
      });
      sibling_checkboxes.each(function(){
        var that = $(this);
        var a = that.data('item_ids');
        if(intersected_ids) a = intersected_ids.intersect(a);
        that.next(".total_ids").html(a.length);
        if(a.length){
          that.closest("li").removeClass("disabled");
          that.removeAttr("disabled");
        }else{
          that.closest("li").addClass("disabled");
          that.attr("disabled", "disabled");
        }
      });
      var submit_value = "Filter anwenden";
      if(intersected_ids) submit_value += " ("+intersected_ids.length+")";
      parent_form.find(".filter_footer #filter-submit").val(submit_value);
      parent_form.find("input#filter_ids").val(intersected_ids.join(','));
    });

    $(".filter_content form").live('ajax:complete.rails', function(xhr, response){ // TODO ajax:success ??
      var json = JSON.parse(response.responseText);
      var container = $("#results");
      container.empty();
      display_results(json, container)      
    });
    /////////////////////////////////// dry end

  });
