.app

  = render "application/header"

  .app-body
    .app-body-title
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl Adress-Übertragung bestätigen
          
    .app-body-ui-container
    
      .ui-container.bright.bordered.rounded.pal
      
        .row
          .ui-info-box
          
            %p.ui-actions.prm
          
              Die gewählte Adresse 
              %strong= "\"#{@custom_url.id}\""
              ist gegenwärtig mit dem Inhalt
              = link_to "#{@custom_url.media_resource.title} (#{@custom_url.media_resource.id.truncate(12)})", media_resource_path(@custom_url.media_resource)
              verknüpft. <br>

              - if url_transfer_authorized? @media_resource, @custom_url

                Sie können nun diese Adresse auf den Inhalt 
                = link_to "#{@media_resource.title} (#{@media_resource.id.truncate(12)})", media_resource_path(@media_resource)
                übertragen.

            - if url_transfer_authorized? @media_resource, @custom_url

              = form_tag transfer_url_media_resource_path(@media_resource,url: @custom_url.id), method: 'POST' do

                .form-footer
                  .ui-actions

                    = link_to new_custom_url_path(@media_resource,url_id: params[:url], warning: "Die Adresse wurde nicht übertragen!"), class: "button-link weak large"  do
                      Abbrechen

                    = button_tag "Adresse übertragen", type: 'submit' , class: "button primary-button large"

            - else

              Sie haben nicht die notwendigen Berechtigungen um die Adresse zu übertragen.

              .form-footer
                .ui-actions

                  = link_to new_custom_url_path(@media_resource,url: params[:url]), class: "button-link weak large"  do
                    Abbrechen

  .app-footer-push 
        
  = render :partial => "application/footer", :locals => {:clipboard => false}


