.app

  = render "application/header"

  .app-body
    .app-body-title
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl
            = "Neue Adresse für \"#{@media_resource.title}\""
    
      .ui-container.bright.bordered.rounded.pal
      
        .row
          .col1of2
            .ui-info-box
            
              %h2.title-l.ui-info-box-title Anforderungen
              %p.ui-info-box-intro.prm
                Eine Adresse darf nur genau einmal im System vorkommen. <br>
                Sie beginnt immer mit einem Kleinbuchstaben, gefolgt von (mindestens einem) weiteren Zeichen 
                aus Kleinbuchstaben, Nummern, Bindestrichen ("<code>-</code>") und Grundstrichen ("<code>_</code>") in beliebiger Reihenfolge.

          .col1of2
            .ui-info-box
              
              %h2.title-l.ui-info-box-title Übertragen
              %p.ui-info-box-intro.prm
                Eine bereits bestehende Adresse kann auf diesen Inhalt übertragen werden, indem er hier eingeben wird. <br>
                Dazu müssen Sie für beide Inhalte über die Zugriffsberechtigung "Verwalten" verfügen!                

        %hr.separator.light.mvs
      
        = form_tag custom_urls_path(@media_resource), id: 'ui-custom-urls', method: 'POST' do

          .form-body
            .ui-form-group.rowed.minimal
              %fieldset
                %label{for: "url", class: "form-label title-m mbs"}
                  Gewünschte Adresse:

                .form-item
                  =text_field_tag :url, params[:url], class: "col1of1", placeholder: "meine-neue-adresse"

          .form-footer
            .ui-actions

              = link_to custom_urls_path(@media_resource), class: "button-link weak large"  do
                Abbrechen


              = button_tag "Anlegen / übertragen", type: 'submit' , class: "button large primary-button"

  .app-footer-push

= render :partial => "application/footer", :locals => {:clipboard => false}