%tr.collection{id: collection.id}
  %th= collection.title
  %td
    = link_to admin_user_path(collection.responsible_user) do
      = collection.responsible_user.person

  %td.active.col-xs-4
    .btn-group
      = link_to admin_collection_path(collection), class: 'btn btn-default btn-sm' do
        %i.glyphicon.glyphicon-eye-open
      = render partial: 'action_buttons', locals: { collection: collection, size: 'btn-sm' }
