<!DOCTYPE html>

<html lang="de-CH">

<head>
	<meta charset="UTF-8">
	<title>Medienarchiv der Künste</title>
	
	<%= stylesheet_link_tag "reset", "960", "smv-style", "nivo-slider",  :media => "all" %>
	<%= theme_stylesheet_link_tag "master" %>
	
</head>

<body>
	<header>
		<div class='container_12 clearfix'>
			<div class='grid_12'>
			<!--<div id="beta">In Entwicklung Version 0.3</div>-->
			<nav class='clearfix'>
				<a href="/" class="logo_left ir">Medienarchiv der Künste</a>
			</nav>
				<a href="http://www.zhdk.ch" class="logo_right ir">ZHdK</a>
			</div>
					<div id="beta"><p>In Entwicklung<br /> Version <%= "#{RELEASE_VERSION}" %></p></div>
		</div>
	</header>
	
	<div id="wrapper">
	
	<div id="container" class="container_12">
		<div id="content" class="grid_8 alpha">
			
			<!-- Teaser -->
			
			<div id="slider-wrapper">
				<div id="slider" class="nivoSlider">
<img src="/images/goran-galic-568-215.png" alt="" title="#htmlcaption1" />
<img src="/images/christoph-brunner-performance.png" alt="" title="#htmlcaption2" />
<img src="/images/karen-kaegi.png" alt="" title="#htmlcaption3" />
				</div>
			<div id="htmlcaption1" class="nivo-html-caption">
                <strong>Ma Bice Boije - Goran Galic</strong><br />Diplomarbeit 2005, Vertiefung Fotografie
            </div>
			<div id="htmlcaption2" class="nivo-html-caption">
                <strong>Performance von Christoph Brunner in einem McGhillie-Kostüm von Knowbotic Research in der Palaver-Installation von Eran Schaerf und Florian Dombois</strong><br />Performance 2010, Vertiefungsrichtung Mediale Künste
            </div>
			<div id="htmlcaption3" class="nivo-html-caption">
                <strong>Blick aus der Siedlung - Karen Kägi</strong><br />Masterprojekt 2010
            </div>

			</div>
			
			<!-- Short About & Statistics -->
			
			<div>
				<div id="about" class="grid_4 alpha">
					<h1>Medienarchiv der Künste</h1>
					<p class="tagline">Plattform für mediales Arbeiten an der Zürcher Hochschule der Künste</p>
					<p class="short_about">Bilder, Fotos, Videos und Audio-Dateien: Das Medienarchiv ist ein Werkzeug zum gemeinschaftlichen Arbeiten mit Medien und zum Teilen von Inhalten.</p>
				</div> <!-- #about -->
				<div id="stats" class="grid_4 omega">
					<div id="inner-stats">
					<div class="statbox">
						<div id="media-stat">Media</div>
						<p><span><%= MediaEntry.count %></span><br />Medien</p>
					</div>
					<div class="statbox">
						<div id="user-stat">Users</div>
						<p><span style="font-weight: bold; font-size: 1.5em;text-shadow: -1px -1px 2px #fff;"><%= User.count %></span><br />Nutzer/innen</p>
					</div>
					<div class="statbox">
						<div style="width: 81px; height: 81px; background: #fff url(../../images/icon-tags.png) 50% 50% no-repeat;border-radius: 5px; margin-bottom: 1em; border: 2px solid #929292">&nbsp;</div>
						<p><span style="font-weight: bold; font-size: 1.5em;text-shadow: -1px -1px 2px #fff;"><%= Keyword.count(:meta_term_id) %></span><br />Schlagworte</p>
					</div>
					</div>
				</div> <!-- #stats -->
			</div>
			
			<div id="funcs" class="stopfloating">
				<div class="grid_2 alpha">
					<div class="madekfuncs"><img src="/images/archiving-02.png" alt="" /></div>
					<h3>Werke archivieren</h3>
					<p>Das Medienarchiv unterstützt die ersten Schritte der Archivierung an der ZHdK.</p>
				</div>
				<div class="grid_2">
					<div class="madekfuncs"><img src="/images/sharing-02.png" alt="" /></div>
					<h3>Medien teilen</h3>
					<p>Es ermöglicht Künstler/innen und Gestalter/innen ihre Medien zu teilen.</p>
				</div>
				<div class="grid_2">
					<div class="madekfuncs"><img src="/images/learning-02.png" alt="" /></div>
					<h3>Wissen entwickeln</h3>
					<p>Expert/innen können über das Medienarchiv ihr Wissen für andere sichtbar machen.</p>
				</div>
				<div class="grid_2 omega">
					<div class="madekfuncs"><img src="/images/exploring-02.png" alt="" /></div>
					<h3>Inhalte erkunden</h3>
					<p>Im wachsenden Medienpool kann man stöbern und sich inspirieren lassen.</p>
				</div>
			</div>
			
		</div> <!-- #content -->
	
		<div id="sidebar" class="grid_4 omega">
			
			<!-- Login -->
			<div id="login" class="sidebar-box">
				<p>Gleich einsteigen oder <a href="http://demo.medienarchiv.zhdk.ch/">Demo testen</a>?</p>
				<p><%= link_to _("Einstieg ins Medienarchiv"), login_path, :class => "actionbutton" %></p>
				<p class="disclaimer">Bis Ende 2011 ist das Medienarchiv nur für ZHdK-Angehörige zugänglich.</p>
			</div> <!-- #login -->
			
			<!-- News -->
			<div id="news" class="sidebar-box">
				<h4>Aktuelles</h4>
				<p class="sidebar-box-claim">Rund um die Entwicklung</p>
				<div class="newsitem">
					<p><span>April 2011</span><br />Die nächsten Schritte der Entwicklung richten sich auf das Suchen, Filtern und Browsen im Medienarchiv.</p>
				</div>
				<div class="newsitem">
					<p><span>01.04.2011</span><br />Neues Interface-Design für das Medienarchiv fertiggestellt!</p>
				</div>
				<div class="newsitem">
					<p><span>12.03.2011</span><br />Batch-Edit realisiert! Es können nun mehrere Medieneinträge gleichzeitig editiert werden.</p>
				</div>
			</div> <!-- #news -->
			
			<!-- Users -->
			<div id="users" class="sidebar-box">
				<h4>Pilotanwendungen</h4>
				<p class="sidebar-box-claim">Lehre & Forschung</p>
				<div class="pilotitem">
					<div class="portrait"><img src="/images/oliver-emch-portrait.png" alt="Oliver Emch" /></div>
					<p><span>Oliver Emch</span> nutzt das Medienarchiv für den Forschungsschwerpunkt Landschaftsvisualisierung.</p>
				</div>
				<div class="pilotitem stopfloating">
					<div class="portrait"><img src="/images/vertiefung-fotografie-portrait.png" alt="Vertiefung Fotografie" /></div>
					<p><span>Vertiefung Fotografie</span> überträgt Ihre Diathek ins Medienarchiv: Lehrmittel zur Geschichte der Fotografie.</p>
				</div>
				<div class="pilotitem stopfloating">
					<div class="portrait"><img src="/images/birk-weiberg-portrait.png" alt="Birk Weiberg" /></div>
					<p><span>Birk Weiberg</span> dokumentiert die Projekte der Vertiefung Mediale Künste im Medienarchiv.</p>
				</div>			
			</div> <!-- #news -->
		</div>
	</div> <!-- #container -->
	
	</wrapper>

	<div id="footer" class="stopfloating">
		<div id="innerfooter" class="container_12">
			<div class="grid_3 alpha">
				<h4>Projekt</h4>
				<ul>
					<li><a href="http://www.zhdk.ch/?madek">Informationen</a></li>
				</ul>
			</div>
			<div class="grid_3">
				<h4>Verwendung</h4>
				<ul>
					<li><%= link_to "Nutzungsbestimmungen", usage_terms_users_path %></li>
				</ul>
			</div>
			<div class="grid_3">
				<h4>Entwicklung</h4>
				<ul>
					<li><a href="http://www.zhdk.ch/index.php?id=12974">Freie Software</a></li>
				</ul>
			</div>
			<div class="grid_3">
				<h4>Kontakt</h4>
				<ul>
					<li><a href="http://www.zhdk.ch/index.php?id=12970">Team</a></li>
				</ul>
			</div>
			
			<div id="copyright" class="grid_12">
				<p>2009-2011 <a href="http://www.zhdk.ch">Zürcher Hochschule der Künste</a><br /><%= render :partial => '/layouts/deploy_info' %></p>
			</div>
			
		</div>
	</div>
	
<!--
	<script type="text/javascript" src="/javascript/jquery-1.4.3.min.js"></script>
	<script type="text/javascript" src="/javascript/jquery.nivo.slider.pack.js"></script>
-->
	<%= javascript_include_tag :defaults, "jquery", "jquery.nivo.slider.pack.js" %>
	
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider({
			pauseTime:15000,
			captionOpacity: 0.7,
			effect: 'fade',
			directionNav:false,
			controlNav: false,
		});
    });
    </script>
</body>
</html>
