:ruby
  element = {
    name: 'Privacy Icons',
    cssFile: '_icons.scss',
    cssSelector: '.icon-privacy-{name}',
    description: 'By default, icons inherit font colour from their parent. A few modifier classes are provided to alter icon\'s colour when needed.',
    section: '6.2',
    mods: {
      nil => 'Default',
      'bright' => 'White variation',
      'mid' => 'Grey variation',
      'branded' => 'Branded variation'
    }
  }

= partial('element', element) do
  - element[:mods].each do |name, description|
    = partial('example', { mod: name}) do

      = component('icon.privacy-open', name)
      = component('icon.privacy-private', name)
      = component('icon.privacy-private-alt', name)
      = component('icon.privacy-group', name)
      = component('icon.privacy-group-alt', name)
