:ruby
  element = {
    name: 'Visualization Mode Icons',
    cssFile: '_icons.scss',
    cssSelector: '.icon-vis-{name}',
    description: 'By default, icons inherit font colour from their parent. A few modifier classes are provided to alter icon\'s colour when needed.',
    section: '6.3',
    mods: {
      nil => 'Default',
      'bright' => 'White variation',
      'mid' => 'Grey variation',
      'branded' => 'Branded variation'
    }
  }

= render_partial('element', element) do
  - element[:mods].each do |name, description|
    = render_partial('example', { mod: name}) do

      = component('icon.vis-list', name)
      = component('icon.vis-graph', name)
      = component('icon.vis-miniature', name)
      = component('icon.vis-grid', name)
      = component('icon.vis-pins', name)
