:ruby
  element = {
    name: 'Special Icons',
    cssFile: '_icons.scss',
    cssSelector: '.icon-{name}',
    section: '6.5',
    mods: {
      nil => 'Default',
      'hover' => 'Hover variation',
      'disabled' => 'Disabled variation',
      'active' => 'Pressed variation'
    }
  }

= partial('element', element) do
  - element[:mods].each do |name, description|
    = partial('example', { mod: name}) do

      = component('icon.checkbox', name)
      = component('icon.checkbox-bright', name)
      = component('icon.star-empty', name)
