<h1>Listing permission_presets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Download</th>
    <th>View</th>
    <th>Edit</th>
    <th>Manage</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @permission_presets.each do |permission_preset| %>
  <tr>
    <td><%= permission_preset.name %></td>
    <td><%= permission_preset.download %></td>
    <td><%= permission_preset.view %></td>
    <td><%= permission_preset.edit %></td>
    <td><%= permission_preset.manage %></td>
    <td><%= link_to 'Show', permission_preset %></td>
    <td><%= link_to 'Edit', edit_admin_permission_preset_path(permission_preset) %></td>
    <td><%= link_to 'Destroy', permission_preset, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Permission preset', new_admin_permission_preset_path %>
