<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @permission_preset.name %>
</p>

<p>
  <b>Download:</b>
  <%= @permission_preset.download %>
</p>

<p>
  <b>View:</b>
  <%= @permission_preset.view %>
</p>

<p>
  <b>Edit:</b>
  <%= @permission_preset.edit %>
</p>

<p>
  <b>Manage:</b>
  <%= @permission_preset.manage %>
</p>


<%= link_to 'Edit', edit_permission_preset_path(@permission_preset) %> |
<%= link_to 'Back', permission_presets_path %>
