%tr
  %td= meta_context.name
  %td= meta_context.meta_context_group
  %td= meta_context.position
  %td= meta_context.label
  %td= meta_context.description
  %td= meta_context.is_user_interface ? "Yes" : "No"
  %td.no-wrap
    = link_to edit_app_admin_meta_context_path(meta_context), class: "btn btn-warning btn-xs" do
      %i.icon-pen
      Edit
    = link_to app_admin_meta_context_path(meta_context), class: "btn btn-danger btn-xs", method: :delete, data: {confirm: "Are you sure you want to delete this meta context?"} do
      %i.icon-trash
      Delete
