- content_for :head do
  = javascript_include_tag "/mozilla-pdf/src/core.js"
  = javascript_include_tag "/mozilla-pdf/src/util.js"
  = javascript_include_tag "/mozilla-pdf/src/api.js"
  = javascript_include_tag "/mozilla-pdf/src/metadata.js"
  = javascript_include_tag "/mozilla-pdf/src/canvas.js"
  = javascript_include_tag "/mozilla-pdf/src/obj.js"
  = javascript_include_tag "/mozilla-pdf/src/function.js"
  = javascript_include_tag "/mozilla-pdf/src/charsets.js"
  = javascript_include_tag "/mozilla-pdf/src/cidmaps.js"
  = javascript_include_tag "/mozilla-pdf/src/colorspace.js"
  = javascript_include_tag "/mozilla-pdf/src/crypto.js"
  = javascript_include_tag "/mozilla-pdf/src/evaluator.js"
  = javascript_include_tag "/mozilla-pdf/src/fonts.js"
  = javascript_include_tag "/mozilla-pdf/src/glyphlist.js"
  = javascript_include_tag "/mozilla-pdf/src/image.js"
  = javascript_include_tag "/mozilla-pdf/src/metrics.js"
  = javascript_include_tag "/mozilla-pdf/src/parser.js"
  = javascript_include_tag "/mozilla-pdf/src/pattern.js"
  = javascript_include_tag "/mozilla-pdf/src/stream.js"
  = javascript_include_tag "/mozilla-pdf/src/worker.js"
  = javascript_include_tag "/mozilla-pdf/external/jpgjs/jpg.js"
  = javascript_include_tag "/mozilla-pdf/src/jpx.js"
  = javascript_include_tag "/mozilla-pdf/src/jbig2.js"
  = javascript_include_tag "/mozilla-pdf/src/bidi.js"

.ui-document-preview-container
  
  %canvas#ui-document-preview.ui-media-overview-preview-item

  .ui-document-preview-controls
    %a.ui-document-preview-link{:href => document_media_entry_path(:file => "/media_files/#{@media_entry.media_file.id}?access_hash=#{@media_entry.media_file.access_hash}"), 
                                        :target => "_blank", :title => "In neuem Fenster öffnen"}
    .ui-document-preview-prev.hidden{:title => "Vorherige Seite"}
      .ui-prev-arrow-prev
    .ui-document-preview-next.hidden{:title => "Nächste Seite"}
      .ui-prev-arrow-next
    %a.ui-document-preview-open{:href => document_media_entry_path(:file => "/media_files/#{@media_entry.media_file.id}?access_hash=#{@media_entry.media_file.access_hash}"), 
                                :target => "_blank", :title => "In neuem Fenster öffnen"}
      %i.ui-prev-arrow-open.icon-magnifier.bright

:coffeescript

  jQuery ->
    new App.PdfPreviewController
      worker_path: #{asset_path("pdf.js").to_json}
      document_path: "/media_files/#{@media_entry.media_file.id}?access_hash=#{@media_entry.media_file.access_hash}"