%h1.text-center
  %i.fa.fa-film
  ZencoderJobs
  

.row

  %div.col-md-3

    %h3 
      %i.icon-filter
      Filters

    = form_tag app_admin_zencoder_jobs_path, method: 'GET' do

      %label 
        = text_field nil, :fuzzy_search, class: "search-query", value: params[:fuzzy_search] 

      = button_tag type: 'submit', class: 'btn btn-sm' do
        Filter

  .col-md-9

    = render partial: 'zencoder_jobs_table'
 
= paginate @zencoder_jobs, theme: 'app_admin'
