.meta-keys
  = form_for [:app_admin, @meta_key], html: {class: "form-horizontal", role: "form"} do |f|

    = hidden_field_tag :meta_terms_positions

    .form-group
      %label.control-label.col-sm-2 Label
      .col-sm-4
        = f.text_field :id, class: 'form-control', disabled: f.object.persisted?

    - unless @meta_key.persisted?
      .form-group
        %label.control-label.col-sm-2 Meta datum object type
        .col-sm-4
          = f.select :meta_datum_object_type, MetaKey.object_types, 
              {include_blank: false}, {class: "form-control"}

    - if @meta_key.meta_datum_object_type == 'MetaDatumMetaTerms'
      .form-group
        %label.control-label.col-sm-2 Terms
        .col-sm-6
          = f.select :meta_terms_alphabetical_order, [["alphabetical order", true], 
              ["thematic order", false]], {}, class: "form-control"
          %ul#sortable.list-unstyled.meta-terms
            = f.fields_for :meta_terms do |ff|
              - if ff.object.new_record?
                %li.new-term
                  %h2 Add Meta Term
                  = ff.label :term, "Term"
                  = ff.text_field :term
              - else
                %li{id: "#{ff.object.id}", data: { term: ff.object.term }}
                  = label_tag :id, "ID"
                  = text_field_tag :id, ff.object.id, disabled: true
                  %br
                  = ff.label :term, "Term"
                  = ff.text_field :term
                  %br
                  - if f.object.used_term_ids.include?(ff.object.id)
                    = label_tag "reassign_term_id[#{ff.object.id}]", "Used, merge to:"
                    = text_field_tag "reassign_term_id[#{ff.object.id}]", nil, size: 31
                    %br
                  - if ff.object.persisted? && 
                    = ff.check_box :_destroy
                    = ff.label :_destroy, 'Delete'

      .form-group
        .col-sm-offset-2.col-sm-4
          .checkbox
            %label
              = f.check_box :is_extensible_list
              Extensible list?

    .form-group
      .col-sm-offset-2.col-sm-4
        = button_tag "Submit", type: 'submit', class: "btn btn-success"
        - if @meta_key.persisted?
          = link_to "Cancel", app_admin_meta_keys_path

:javascript
  $(document).ready(function(){
    function getPositions() {
      var positions = [];
      $('#sortable li').each(function() {
        if(this.id) {
          positions.push(this.id);
        }
      });
      $('#meta_terms_positions').val( positions.join(',') );
    }

    $("#sortable").sortable({
      axis: 'y',
      items: '> li:not(.new-term)',
      cursor: 'move',
      placeholder: 'placeholder',
      forcePlaceholderSize: true,
      update: function(event, ui) {
        getPositions();
        $('#meta_key_meta_terms_alphabetical_order').val('false');
      }
    });
  });
