%tr
  %td= meta_key.label
  %td= meta_key.meta_datum_object_type
  %td= meta_key.media_entries.count
  %td.limit250
    - if meta_key.meta_datum_object_type == 'MetaDatumMetaTerms'
      %ul
        - meta_key.meta_terms.each do |meta_term|
          %li= meta_term
  %td.limit250
    %ul
      - meta_key.contexts.each do |context|
        %li= context.label
  %td= meta_key.used? ? "Used" : "Not used"
  %td.no-wrap
    = link_to edit_app_admin_meta_key_path(meta_key), class: "btn btn-warning btn-xs" do
      %i.icon-pen
      Edit

    - unless meta_key.used?
      = link_to app_admin_meta_key_path(meta_key), class: "btn btn-danger btn-xs", method: :delete, data: {confirm: "Are you sure you want to delete this meta key?"} do
        %i.icon-trash
        Delete
