.ui-container.bright.rounded-right.rounded-bottom.pal.context-parents
  - if title
    %h2.ui-resources-header.title-l.separated.mbl
      = title
      %span.ui-counter= _("(#{media_resources.count})")
      - link = @is_set ? relations_media_set_path(@self) : relations_media_entry_path(@self)
      %a.strong{:href => link} 
        = _("Alle Zusammenhänge anzeigen")

  .ui-resources-holder.pal
    = render :partial => "media_resources/list",
             :locals => {:media_resources => media_resources,
                           :with_actions => true}