%tr
  %td= key.label
  %td
    = key.meta_datum_object_type
    -  if key.is_extensible_list?
      %br
      = _("extensible list")
  %td= key.is_dynamic
  %td
    - if key.meta_terms
      %ul
        - key.meta_terms.each do |term|
          %li= term.to_s
  %td.with_actions
    = link_to _("Edit"), edit_admin_key_path(key), :class => "buttons", :remote => true, :"data-type" => "html"
    %br
    = link_to _("Delete"), admin_key_path(key), :class => "buttons", :method => :delete, :confirm => _("Sind Sie sicher?") if key.meta_key_definitions.empty?
