.container_12.clearfix
  .grid_3.logo_left.ir
    = link_to "Medienarchiv der Künste", root_path
    
  .grid_7
    = render :partial => '/layouts/search' unless @disable_search
    %nav
      %button.main_nav
        = link_to _(""), new_upload_path
   
  .grid_2.logo_right.ir
    ¨= link_to "ZHdK", "http://www.zhdk.ch"
    
- if logged_in?
  %li
    %button.outside
      = link_to _("Feedback"), feedback_path

#ajaxLoading
  = theme_image_tag "icons/spinner.gif"
