<div class="container_12 clearfix">
	<div class="grid_4">
		<h1><%= link_to "Medienarchiv der Künste", root_path %></h1>
	</div>
	<div class="grid_5">
	<%= render :partial => '/layouts/search' unless @disable_search %>
	</div>
	<div class="grid_3">
		<h2><%= link_to "ZHdK", "http://www.zhdk.ch" %></h2>
	</div>
</div>

<div class="container_12 clearfix">
	<div class="grid_12">
	<%= render :partial => '/layouts/menu' %>
	<p class="notice">Das Interface des Medienarchivs wird zur Zeit aktualisiert. Ab April 2011 werden alle Seiten ein neues Interface Design haben.</p>
	</div>
</div>
	
<%= content_tag :div, :id => "ajaxLoading" do %>
    <%= image_tag("spinner.gif") %> <%= _("Loading") %>...
<% end %>
