#search
  #quick-search
    = form_tag media_entries_path, :method => :get do
      #search-query.basic
        %div
          = text_field_tag 'query', params[:query], :id => 'query', :onfocus => "this.value='';"
          = submit_tag _("Suchen"), :title => "Suchen", :id => 'search-submit', :class => "ir"
    = link_to _(@set), media_set_media_sets_path(@set), :title => "Inhalte erkunden", :class => "main_nav_browse ir" if (@set = Media::FeaturedSet.first) and !@set.children.empty?
    = link_to _("Hochladen"), new_upload_path, :title => "Medien importieren", :class => "main_nav_upload ir"
    = render :partial => '/layouts/menu'
