#search
  #quick-search
    = form_tag media_entries_path, :method => :get do
      #search-query.basic
        %div
          = text_field_tag 'query', params[:query], :id => 'query', :onfocus => "this.value='';"
          / fix this empty word
          = submit_tag _(""), :id => 'search-submit'
    = link_to _(@set), media_set_media_sets_path(@set), :class => "main_nav_browse ir" if (@set = Media::FeaturedSet.first) and !@set.children.empty?
    = link_to _("Hochladen"), new_upload_path, :class => "main_nav_upload ir"
    = render :partial => '/layouts/menu'

:javascript
  function submit_search(filter){
  	query = (filter ? $('#query').val() + " " + filter : $('#query').val() );
	
  	$.ajax({
  		url: "<%= media_entries_path(:format => :js) %>",
  		data:{	query:query //temp//, //TODO only available if _search partial is present!!
  				//temp// user_id:$('#user_id').val(),
  				//temp// media_set_id:$('#media_set_id').val(),
  				//temp// order:$('#order_by').val(),
  				//temp// per_page:$('#per_page').val()
  		},
  	    success: function(response){
  	      //temp// $("#results").replaceWith(response);
  	      $("#content").html(response);
  	    }
  	});
  	return false;
  } 