<!DOCTYPE html>
	
<html lang="de-CH">

<head>
	<meta charset="utf-8" />
	<title><%= @title || "Medienarchiv - Zürcher Hochschule der Künste" %></title>
	
	<%= csrf_meta_tag %>
	
	<%= yield :head %>
	<%= stylesheet_link_tag "960", "reset", "fg.menu", "jquery/themes/custom-theme/jquery-ui.css" %>
	<%= javascript_include_tag :defaults, "jquery/plugins/jquery.editinplace", "jquery/plugins/jquery.flickrmenu" %>
	<%= theme_javascript_include_tag "madek11", "jquery.tmpl" %>
	<%= theme_stylesheet_link_tag "master_new" %>
</head>


<body id="basic-layout" class="home">
	
	<header>
		<%= render :partial => '/layouts/header' %>
	</header>
	<%= flash_helper %>
	<%= yield %>
	
	<footer class="container_12 clearfix">
		<%= render :partial => '/layouts/footer' %>
	</footer>
	
</body>

</html>