- if user
  = link_to admin_user_path(person.user), class: "btn btn-default #{size}" do
    %span.glyphicon.glyphicon-user
    = person.user.login
= link_to edit_admin_person_path(person), class: "btn btn-info #{size}" do
  %span.glyphicon.glyphicon-edit
  Edit
= link_to admin_person_path(person), method: :delete, data: { confirm: 'The person will be deleted. Do you want to proceed?' },
    class: "btn btn-danger #{size}" do
  %span.glyphicon.glyphicon-trash
  Delete
