%h1
  Transfer #{@keyword_term.used_times} resources from <em>#{@keyword_term}</em>

%p Transfer all resources associated with this keyword term to an other keyword term.

= form_tag transfer_resources_app_admin_keyword_path(@keyword_term), method: :post, class: "form-horizontal", role: "form" do

  .form-group
    %label.control-label.col-sm-3 Id of the receiving keyword term:
    .col-sm-4
      = text_field nil, :id_receiver, id: "id_receiver", class: "form-control"
      = hidden_field_tag :sort_by, params[:sort_by]

  .form-group
    .col-sm-offset-3.col-sm-4
      = button_tag type: 'submit', class: 'btn btn-warning' do
        Transfer

