.app.view-katalog

  = render "application/header"
  
  .app-body

    .app-body-title
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl 
            Erkunden /
            = "#{@catalog_set.title} /"
            = @category_set.title

        .ui-body-title-actions= render :partial => "login_action"

    .app-body-ui-container
      .bordered.ui-container.midtone.rounded.table

        = render :partial => "application/sidebar/explore", 
               :locals => {:catalog_set => @catalog_set,
                           :catalog_set_categories => @catalog_set_categories,
                           :featured_set => @featured_set,
                           :latest_media_entries => @latest_media_entries,
                           :sections => @category_sections,
                           :top_keywords => @top_keywords}

        .app-body-content.table-cell.table-substance.ui-container
          - if @category_set and not @category_sections.empty?
            = render :partial => "media_resources/wrapper", 
                     :locals => {:media_resources => @category_sections, 
                                 :title => @category_set.description,
                                 :catalog_set => @catalog_set,
                                 :category_set => @category_set,
                                 :as_sections => true}

  .app-footer-push
= render "application/footer"