= form_for [:admin, @group], as: :group, html: { class: 'form-horizontal', role: 'form' } do |f| 
  .form-group
    .col-sm-1
      = f.label :name, 'Name', class: 'control-label'
    .col-sm-4
      = f.text_field :name, class: 'form-control'
  .form-group
    .col-sm-offset-1.col-sm-2
      = button_tag 'Submit', type: 'submit', class: "btn btn-success"

  = link_to 'Go back', @group.persisted? ? admin_group_path(@group) : admin_groups_path, class: 'btn btn-default'
