.page-header
  %h1
    %i.icon-group
    Groups (#{@groups.total_count})

.row
  .col-xs-12
    .panel.panel-default
      .panel-heading
        .panel-title Filters
      .panel-body
        = form_tag admin_groups_path, method: 'GET', class: 'form-inline'  do 
          .form-group
            = text_field_tag :search_terms, params[:search_terms],
              class: 'form-control', placeholder: 'Search term'

          .form-group
            = label_tag :sort_by, 'Sort (and search) by:'
            = select_tag :sort_by, options_for_select([['Name', :name],
              ['Text search ranking', :text_rank],
              ['Trigram search ranking', :trgm_rank]],
            params[:sort_by]), {class: 'form-control'}
      
          .form-group
            = label_tag :type, 'Type of'
            = select_tag :type, options_for_select([['All', ''],
              ['Group', :group],
              ['InstitutionalGroup', :institutional_group]],
            params[:type]), {class: 'form-control'}
      
          .form-group
            = button_tag type: 'submit', class: 'btn btn-sm' do
              %i.icon-filter
              Apply
    = link_to new_admin_group_path, class: 'btn btn-default' do
      %i.glyphicon.glyphicon-plus
      New group
.row
  .col-xs-12
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th Ldap name
          %th Type
          %th Search rank
          %th
      %tbody
        = render partial: 'group', collection: @groups

= paginate @groups
