= form_for [:admin, @user], as: :user, html: { class: 'form-horizontal', role: 'form' } do |f|

  %fieldset
    .form-group
      %label.control-label.col-xs-2 Login
      .col-xs-4
        = f.text_field :login, class: 'form-control'

    .form-group
      %label.control-label.col-xs-2 E-mail
      .col-xs-4
        = f.text_field :email, type: 'email', class: 'form-control'

    .form-group
      %label.control-label.col-xs-2 Person ID
      .col-xs-4
        = f.text_field :person_id, class: 'form-control'

    .form-group
      %label.control-label.col-xs-2 Password
      .col-xs-4
        = f.text_field :password, class: 'form-control'

    .form-group
      %label.control-label.col-xs-2 Notes
      .col-xs-4
        = f.text_area :notes, class: 'form-control'

    .form-group
      .col-xs-offset-2.col-xs-4
        = button_tag type: 'submit', class: 'btn btn-success' do
          %span.glyphicon.glyphicon-ok
          Save
        = link_to 'Go back', @user.persisted? ? admin_user_path(@user) : admin_users_path, class: 'btn btn-link'
