%tr
  - [user.login, user.email, user.name, user.media_entries.count, user.notes].each do |s|
    %td= s
  %td
    - unless (g = user.groups.where(:type => "Group")).blank?
      %h4 Groups
      = g.join(', ')
    - unless (g = user.groups.where(:type => "MetaDepartment")).blank?
      %h4 Departments
      = g.join(', ')

  %td.with_actions
    = link_to _("Edit"), edit_admin_user_path(user), :class => "buttons", :remote => true, :"data-type" => "html"
    = link_to _("Switch to"), switch_to_admin_user_path(user), :class => "buttons"
