%tr{ class: ('success' if user.admin?) }
  %td= user.login
  %td= user.email
  %td
    = link_to admin_person_path(user.person) do
      = "#{user.person.first_name} #{user.person.last_name}"
  %td= user.media_entries.count
  %td{ class: (user.admin? ? 'success' : 'danger') }
    = user.admin? ? 'Yes' : 'No'
  %td.active
    .btn-group
      - if session[:vocabulary_id].present?
        = link_to path_to_vocabulary_permission_form(user), class: 'btn btn-success btn-sm' do
          Grant Vocabulary Permission
        = link_to admin_users_path(reset_vocabulary_params: true),
                  class: 'btn btn-default btn-sm' do
          Cancel
      - else
        = link_to admin_user_path(user),
          class: 'btn btn-default btn-sm', title: 'Details' do
          %i.glyphicon.glyphicon-eye-open
        = render partial: 'action_buttons', locals: { user: user, size: 'btn-sm', editable: false, deletable: false }
