%tr{ class: ('success' if user.admin?) }
  %td= user.login
  %td= user.email
  %td= "#{user.person.first_name} #{user.person.last_name}"
  %td= user.media_entries.count
  %td{ class: (user.admin? ? 'success' : 'danger') }
    = user.admin? ? 'Yes' : 'No'
  %td.active
    = link_to '<i class="glyphicon glyphicon-eye-open"></i>'.html_safe, admin_user_path(user),
      class: 'btn btn-default btn-sm', title: 'Details'
    = render partial: 'action_buttons', locals: { user: user, size: 'btn-sm', editable: false, deletable: false }
