.page-header
  %h1 Create user with person

= form_for [:admin, @user], url: admin_users_path, as: :user,
    html: { class: 'form-horizontal', role: 'form' } do |f|

  %fieldset
    = f.fields_for :person do |person|
      .form-group
        %label.control-label.col-sm-2 First name
        .col-sm-4
          = person.text_field :first_name, class: 'form-control'

      .form-group
        %label.control-label.col-sm-2 Last name
        .col-sm-4
          = person.text_field :last_name, class: 'form-control'
  %hr

  %fieldset
    .form-group
      %label.control-label.col-sm-2 Login
      .col-sm-4
        = f.text_field :login, class: 'form-control'

    .form-group
      %label.control-label.col-sm-2 E-mail
      .col-sm-4
        = f.text_field :email, type: 'email', class: 'form-control'

    .form-group
      %label.control-label.col-sm-2 Password
      .col-sm-4
        = f.text_field :password, class: 'form-control'

    .form-group
      %label.control-label.col-sm-2 Notes
      .col-sm-4
        = f.text_area :notes, class: 'form-control'

    .form-group
      .col-sm-offset-2.col-sm-4
        = button_tag type: 'submit', class: 'btn btn-success' do
          %span.glyphicon.glyphicon-ok
          Save
        = link_to 'Go back', admin_users_path, class: 'btn btn-link'
