.page-header
  %h1
    %i.glyphicon.glyphicon-user
    #{@user.person} (#{@user.login})

.panel.panel-default
  .panel-body
    .btn-group
      = render partial: 'action_buttons', locals: { user: @user, size: nil, editable: true, deletable: true }

%table.table.table-striped
  %tr
    %td
      %strong Admin?
    %td{ class: (@user.admin? ? 'success' : 'danger') }
      = @user.admin? ? 'Yes' : 'No'
  - @user.attributes.each do |attr|
    %tr
      %td
        %strong #{attr.first.humanize}
      %td= attr.last
