.container_12.clearfix
	%section#page_head.clearfix
		- unless @media_set
			.grid_3
				#set_info
					%div.item_box_set
						%div.thumb_box_set
		
			.grid_9
				#set_meta
					%small
						&nbsp;
					%h3
						= _("Neues Set erstellen")
					- context = MetaContext.media_set
					- media_set = current_user.media_sets.build # (:type => "Media::Set")
					= form_for [current_user, media_set] do |f|
						%table.label
							= f.fields_for :meta_data, media_set.meta_data.get("title") do |meta_datum|
								- definition = meta_datum.object.meta_key.meta_key_definitions.for_context(context)
								%tr
									%td
										%h4
											= "#{definition.meta_field.label}:"
									%td{:style => "float: left;"}
										= field_tag(meta_datum, context)
									%td{:style => "float: left;"}
										= f.submit _("Erstellen")

.container_12.clearfix    								
	%section#content_body3.clearfix
		%div.page_title_left
			- if @my_media_sets
				%a{:id => "meine", :name => "meine", :href => "#"}
				%img{:src => "/themes/madek11/images/icons/icon_set.png"}
				= @index_title
		.pagination
			%a{:href => "#weitere"}
				&darr; Weitere Sets
		.clear
		%hr
		%br
		%br
		= render :partial => "media_set", :collection => @my_media_sets
		
.container_12.clearfix
	%section#content_body2.clearfix
		%div.page_title_left
			%a{:id => "weitere", :name => "weitere", :href => "#"}
			%img{:src => "/themes/madek11/images/icons/icon_set.png"}
			Weitere Sets
		.pagination		
			%a{:href => "#meine"}
				&uarr; Meine Sets
		.clear
		%hr
		%br
		%br	
		= render :partial => "media_set", :collection => @media_sets
		else
		%h3{:style => "margin-bottom: 2em;"}= @index_title
		- if @media_sets.any?
			= render :partial => "media_set", :collection => @media_sets
		- else 
			= _("Keine Sets vorhanden")