%section#content_head
  .container_12.clearfix
    #page_head
      .grid_3
        #set_info
          %div.item_box_set
            %div.item_permission_set
              = display_permission_icon(@media_set)
            %div.thumb_box_set
              / TODO: move this into a helper
              = tag :img, :src => @media_set.thumb_base64(:small_125)
      .grid_6
        #set_meta
          - context = MetaContext.media_set
          = display_meta_data_for_context(@media_set, context)
      .grid_3
        #set_actions
          - if @can_edit
            = display_edit_icon(@media_set, current_user)
            = display_delete_icon(@media_set, current_user)

%section#content_body
  %div.page_title_left
    %img{:src => "/themes/madek11/images/icons/icon_set.png"}
    =_("Set-Inhalt")
    %span= "#{@media_set.media_entries.size} von #{@media_entries.total_entries} Medieneinträge sichtbar"
  #pagination_container
  .clear
  %hr
  .task_bar
    %ul
      %li
        %h4 Ausgewählte Medieneinträge bearbeiten:
      %li#number_selected
        Keine Medieneinträge ausgewählt
      .clear
      - unless @editable_in_set.blank?
        %li#batch-edit-button.action_btn
          = button_to _("Metadaten editieren"), edit_multiple_media_entries_path, :method => :post, :id => "batch-edit"
      - unless @managable_in_set.blank?
        %li#batch_permissions.action_btn
          = button_to _("Zugriffsberechtigungen editieren"), edit_multiple_permissions_media_entries_path, :method => :post, :id => "batch-permissions"
      - if @can_edit
        %li#batch-remove-button.action_btn
          = button_to _("Aus Set entfernen"), remove_multiple_media_set_media_entries_path(@media_set), :method => :delete, :id => "batch-remove"
      %li#batch-add-to-set.action_btn
        = form_tag add_member_media_set_url(@media_set) do
          = select_tag "media_set_id", options_for_select([["Set auswählen…", ""]] + @editable_sets.collect {|set| [set.meta_data.get_value_for("title"), set.id]})
          = submit_tag "Hinzufügen", :id => "batch-add-to-set"
    #selected_items
    :plain    
      <script type="text/x-jquery-tmpl" id="mini_thumbnails">
            <div class="${css_class}" id="me_${id}">
              <img id="${id}_close" src="/themes/madek11/images/icons/button_remove_action.png" style="display:none;" class="thumb_remove"/>
              <a href="/media_entries/${id}">
                <img src="${thumb_base64}">
              </a>
            </div>
      </script>

  %div#results
    = render :partial => "/media_entries/index"

:javascript
  $(document).ready(function () {
    $("div.pagination").appendTo("#pagination_container");
  
    var data = #{@info_to_json};
    var media_set_id = #{@media_set.id};
    var key = "media_sets/"+ media_set_id +"/media_entry_ids";

    checkSelected(media_set_id);
    listSelected(media_set_id, data);
    displayCount(key);
     
    // make thumbnails removable from the selected items bar
    $('#selected_items .thumb_mini').live("hover", function() {
        $(this).children('img.thumb_remove').toggle();
     });
  
    $('img.thumb_remove').live("click", function() {
      $(this).parents('.thumb_mini').remove();
      var id = $(this).attr("id").replace('_close', '');
      removeFromSelected(key, id);
    });
  
    $('.pagination a').live('ajax:success', function(xhr, response){
  		checkSelected(media_set_id);
  		$('.actions').hide();
  	});

	
  	// hover functions for batch action buttons - highlight selected entries for which action is possible 
  	$("input#batch-edit").hover(
      function () {
        $('#selected_items .edit').css("background","#FEFFD7");
      }, 
      function () {
        $('#selected_items .edit').css("background","white");
      }
    );
  
    $("input#batch-remove").hover(
      function () {
        $('#selected_items .edit_set').css("background","#FEFFD7");
      }, 
      function () {
        $('#selected_items .edit_set').css("background","white");
      }
    );
    
    $("input#batch-permissions").hover(
      function () {
        $('#selected_items .manage').css("background","#FEFFD7");
      }, 
      function () {
        $('#selected_items .manage').css("background","white");
      }
    );
    
    $("input#batch-add-to-set").hover(
      function () {
        $('#selected_items .thumb_mini').css("background","#FEFFD7");
      }, 
      function () {
        $('#selected_items .thumb_mini').css("background","white");
      }
    );
    
      
    $(":checkbox").live("click", function(){
      var is_checked = $(this).is(":checked");
      var curr_value = $(this).val();
      var media_entry_ids = JSON.parse(sessionStorage.getItem(key));
    
      if(media_entry_ids == null) media_entry_ids = new Array();
    
      if(is_checked){
        media_entry_ids.push(curr_value);
        $(this).parents('.item_box').addClass('selected');
      } else {
        var i = media_entry_ids.indexOf(curr_value);
        if(i > -1) media_entry_ids.splice(i, 1);
        $(this).parents('.item_box').removeClass('selected');
      }

      $.each(data, function(i, me) {
        if ((me.id == curr_value) && is_checked) {
          // insert into selected bar
          $('#selected_items').append($("#mini_thumbnails").tmpl(me));
        } else if (me.id == curr_value) {
          // remove from selected bar
          $('#selected_items #me_' + me.id).remove();
        }
      });
    
      sessionStorage.setItem(key, JSON.stringify(media_entry_ids.getUnique()));
      displayCount(key);
    });

    $("#batch-edit-button form").submit(function() {
      //var media_entry_ids = JSON.parse(sessionStorage.getItem(key));
      var editable_ids = new Array();
      $("#selected_items .edit").each(function(i, elem){
        editable_ids.push($(this).attr("id").slice(3));
      });
      $(this).append("<input type='hidden' name='media_entry_ids' value='"+editable_ids+"'>");
    });
    
     $("#batch_permissions form").submit(function() {
      var managable_ids = new Array();
      $("#selected_items .manage").each(function(i, elem){
        managable_ids.push($(this).attr("id").slice(3));
      });
      $(this).append("<input type='hidden' name='media_entry_ids' value='"+managable_ids+"'>");
    });
  
    $("#batch-remove-button form").submit(function() {
      //var media_entry_ids = JSON.parse(sessionStorage.getItem(key));
      var editable_ids = new Array();
      $("#selected_items .edit_set").each(function(i, elem){
        editable_ids.push($(this).attr("id").slice(3));
      });
      $(this).append("<input type='hidden' name='media_entry_ids' value='"+editable_ids+"'>");
      sessionStorage.removeItem(key); //maybe we just want to remove the items slated for removal (rather than the entire key)
    });
  
     $("#batch-add-to-set form").submit(function() {
       var media_entry_ids = JSON.parse(sessionStorage.getItem(key));
       $(this).append("<input type='hidden' name='media_entry_ids' value='"+media_entry_ids+"'>");
     });
    
  });
