%section#content_head
  .container_12.clearfix
    #page_head
      .grid_3
        #set_info
          %div.item_box_set
            %div.item_permission_set
              = display_permission_icon(@media_set)
            %div.thumb_box_set
              = thumb_for(@media_set, :small_125)
      .grid_6
        #set_meta
          - context = MetaContext.media_set
          = display_meta_data_for_context(@media_set, context)
      .grid_3
        #set_actions
          - if @can_edit_set
            = display_edit_icon(@media_set, current_user)
            = display_delete_icon(@media_set, current_user)

%section#content_body
  %div.page_title_left
    %img{:src => "/themes/madek11/images/icons/icon_set.png"}
    =_("Set-Inhalt")
    %span= "#{@media_set.media_entries.size} von #{@media_entries.total_entries} Medieneinträge sichtbar"
  .clear
  %hr
  = render :partial => "/media_entries/index"

= theme_javascript_include_tag "batch_actions"

:javascript
  $(document).ready(function () {
    display_results(#{@json});    
    setupBatch(#{@media_set.id}, #{@media_set.media_entry_ids.to_json});
  });
  