.app.view-dashboard

  = render "application/header"

  .app-body
    .app-body-title
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl Mein Archiv
        .ui-body-title-actions
          %a.button{:"data-create-set" => true}
            %i.icon-new-set
            Set erstellen
          %a.primary-button{:href => import_path}
            %i.icon-upload.bright
            Medien Importieren

    .app-body-ui-container
      .bordered.ui-container.midtone.rounded.table

        = render "application/sidebar/my_archive"

        .app-body-content.table-cell.table-substance.ui-container

          - unless @latest_user_resources.blank?
            = render :partial => "media_resources/wrapper",
                     :locals => {:media_resources => @latest_user_resources,
                                 :title => "Meine Inhalte",
                                 :link => media_resources_path(:user_id => current_user),
                                 :with_actions => true}
            %hr.separator

          - unless @latest_user_imports.blank?
            = render :partial => "media_resources/wrapper", 
                     :locals => {:media_resources => @latest_user_imports, 
                                 :title => "Meine letzen Importe", 
                                 :link => media_resources_path(:user_id => current_user, :sort => :created_at, :type => :media_entries),
                                 :with_actions => true}
            %hr.separator

          - unless @user_favorite_resources.blank?
            = render :partial => "media_resources/wrapper",
                     :locals => {:media_resources => @user_favorite_resources,
                                 :title => "Meine Favoriten",
                                 :link => media_resources_path(:favorites => true),
                                 :item_layout => "miniature",
                                 :with_actions => true}
            %hr.separator

          - unless @user_keywords.blank?
            = render :partial => "keywords/wrapper",
                     :locals => {:keywords => @user_keywords,
                                 :title => "Meine Schlagworte",
                                 :link => keywords_user_path(current_user)}
            %hr.separator

          - unless @user_entrusted_resources.blank?
            = render :partial => "media_resources/wrapper",
                     :locals => {:media_resources => @user_entrusted_resources,
                                 :title => "Mir anvertaute Inhalte",
                                 :link => media_resources_path(:permissions => {:scope => {:ids => [:entrusted]}}),
                                 :item_layout => "miniature",
                                 :with_actions => true}
            %hr.separator

          - unless @user_groups.blank?
            = render :partial => "groups/wrapper", 
                     :locals => {:groups => @user_groups, 
                                 :title => "Meine Arbeitsgruppen"}

  .app-footer-push
= render "application/footer"