.container_12.clearfix              
  %section#content_body
    %h3
      .name.editinplace
        = @group.name
      = form_for @group, :"data-remote" => true, :html => {:id => "editinplace"} do |f|
        = f.text_field :name 
        = f.submit _("speichen"), :class => "saveButton"
        = link_to _("abbrechen"), "", :class => "cancelButton"
      %span.do_edit= link_to _("Gruppenname editieren"), ""
    %ul#members
      = render :partial => "user", :collection => @group.users
    
    %br
    %b Person hinzufügen:
    %input#new_user
      %p.hint
        Es können nur Personen ausgewählt werden, die sich schon einmal im Medienarchiv eingeloggt haben.
    
    :javascript
      $(function() {
        $("form#editinplace").hide();
        var edit_link = $("h3 span.do_edit a");
      
        $("h3 span.do_edit a").live("click", function(event){
           $("form#editinplace").show();
           $("h3 .name.editinplace").hide();
           $(this).hide();
           event.preventDefault();
        });
        
        $('.cancelButton').click(function(event){
           name_display =  $("h3 .name.editinplace"); 
           name_display.show();
           $("form#editinplace").hide().find("input#group_name").val(name_display.html);
           $("h3 span.do_edit a").show();
           event.preventDefault();
        });
        
        $('form#editinplace .saveButton').bind('ajax:success', function(data){
           $("form#editinplace").hide();
           $("h3 .name.editinplace").show().html(data);
           $("h3 span.do_edit a").show();
        });
    
        $("input#new_user").autocomplete({
          source: "/users",
          minLength: 3,
          select: function( event, ui ) {
        		$.ajax({
        			url: '#{membership_group_path(@group)}',
        			data: {user_id: ui.item.id},
        			type: "post",
        			success: function(response){
                $("input#new_user").val("");
                $(response).appendTo('ul#members').effect('highlight');
        			}
        		});
          }
        });
        $("ul#members a[data-method='delete']").live('ajax:success', function(){
          $(this).closest("li").fadeOut();
        });
      });
    
    %br
    %br
    %br
    = link_to _("Zurück zu meinen Gruppen"), groups_path
    %br