:ruby
  meta_datum_input_examples = YAML.load(File.read(Rails.root.join(
    'spec/_support/presenter_examples/meta_datum_input_examples.yaml'))
  ).deep_symbolize_keys[:examples]

  element = {
    name: 'Deco.InputMetaDatum',
    cssSelector: 'component',
    cssFile: 'decorators/InputMetaDatum.jsx',
    section: '12.3',
    examples: meta_datum_input_examples
  }


= render_partial('element', element) do |element|

  -# TOC
  :css
    ul.styleguide_toc li { list-style-position: outside }

  %ul.styleguide_toc
    - element[:examples].each do |example|
      %li
        %a{href: '#' + example[:name] + '_example'}= example[:name]
        - (example[:description] || '').split("\n").each do |line|
          %br
          = line

  %hr.ui-separator

  - element[:examples].each do |example|
    - props = example[:props].merge(name: example[:name], id: example[:name])
    %a{id: example[:name] + '_example'}

    = render_partial('example') do
      .row
        .col2of3
          %div.prl
            %pre.paragraph-l= example[:description]
            %br
            = react('Deco.InputMetaDatum', props) if example[:props]
            %br
        .col1of3
          %div.prm
            %pre=example.as_json.to_yaml
    %br
