%section#content_body
  #detail-main
    %h2.section_title Meine Medieneinträge
    #results
      - @media_entries = @my_media_entries
      - unless @media_entries.empty?
        = render :partial => '/media_entries/media_entry_thumb', :collection => @media_entries, :as => :media_entry
        - if @media_entries.total_entries >= params[:per_page]
          .buttons
            = link_to "Weitere…", user_media_entries_path(current_user)
      - else
        = _("Sie haben noch keine Medien hochgeladen.")
        
    %h2.section_title Medieneinträge anderer
    #results_others
      - @media_entries = @accessible_media_entries
      - unless @media_entries.empty?
        = render :partial => '/media_entries/media_entry_thumb', :collection => @media_entries, :as => :media_entry
        - if @media_entries.total_entries >= params[:per_page]
          .buttons
            = link_to "Weitere…", media_entries_path(:not_by_current_user => true)
      - else
        = _("Es gibt keine weiteren Medieneinträge.")
