// TODO helper, dry => media_entries/_index.html.haml
%script{:type => "text/x-jquery-tmpl", :id => "media_entry_index_without_checkbox"}
  %div.item_box{:id => "thumb_${id}"}
    %div.item_permission
      {{if is_public}}
      = theme_image_tag("icons/button_status_private.png")
      {{else is_private}}
      = theme_image_tag("icons/icon_button_perm.png")
      {{/if}}
    %a{:href => "/media_entries/${id}"}
      %div.thumb_box
        %img{:src => "${thumb_base64}"}
    %p.item_title
      ${title.substring(0,29)}
    %p.item_author
      ${author.substring(0,18)}
    .actions
      .action_left
        %span.favorite_link{:id => "fav_${id}", :title => "Favorit"}
          %a{:href => "/media_entries/${id}/toggle_favorites", :"data-remote" => true, :"data-type" => "html", :"data-method" => :post}
            {{if is_favorite}}
            = theme_image_tag("icons/button_favorit_on.png")
            {{else}}
            = theme_image_tag("icons/button_favorit_off.png")
            {{/if}}
      .action_right
        {{if is_editable}}
        %a{:href => "/media_entries/${id}/edit", :title => "Editieren"}
          = theme_image_tag("icons/button_edit_active.png")
        {{else}}
        = theme_image_tag("icons/button_edit_inactive.png")
        {{/if}}
        {{if is_manageable}}
        %a{:href => "/media_entries/${id}", :title => "Löschen", :"data-method" => :delete, :"data-confirm" => "Sind Sie sicher?"}
          = theme_image_tag("icons/button_delete_active.png")
        {{else}}
        = theme_image_tag("icons/button_delete_inactive.png")
        {{/if}}

//////////////////////////////////////////////////////

%section#content_body
  %div.page_title_left
    =_("Meine Medieneinträge")
  .clear
  #results
    - unless @my_media_entries_paginated_ids.empty?
      - if @my_media_entries_paginated_ids.total_pages > 1
        .buttons
          = link_to "Alle meine Medieneinträge", user_media_entries_path(current_user)
    - else
      = _("Sie haben noch keine Medien hochgeladen.")

%section#content_body2      
  %div.page_title_left
    =_("Medieneinträge anderer")
  .clear
  #results_others
    - unless @accessible_media_entries_paginated_ids.empty?
      - if @accessible_media_entries_paginated_ids.total_pages > 1
        .buttons
          = link_to "Weitere Medieneinträge", media_entries_path(:not_by_current_user => true)
    - else
      = _("Es gibt keine weiteren Medieneinträge.")

:javascript
  // TODO dry => batch_actions.js
  $(document).ready(function () {
  	function display_entries(entries, container){
  	  $(container).prepend($("#media_entry_index_without_checkbox").tmpl(entries));
  	}
  	display_entries(#{@my_media_entries_json}.entries, "#results");
  	display_entries(#{@accessible_media_entries_json}.entries, "#results_others");
  });

