:ruby
  clipboard = clipboard.nil? ? true : clipboard

.app-footer
  %footer.ui-footer.ui-container.inverted
    %ul.ui-footer-menu
      - @app_settings.footer_links.map{|k,v| {text: k, href: v}}.each do |footer_link|
        = render 'footer_link', footer_link: footer_link

      -# TODO: link to contrast_mode for guest users
      -# - if current_user.is_guest?
      -#   %li
      -#     =link_to contrast_mode_user_path(current_user,contrast_mode: !current_user.contrast_mode), method: 'PUT' do
      -#       = current_user.contrast_mode ? _("Disable High Contrast Mode") : _("Enable High Contrast Mode")
    
    %p.ui-footer-copy
      = link_to "http://madek.zhdk.ch" do
        %i.icon-madek.ui-footer-logo
      Z&uuml;rcher Hochschule der K&uuml;nste and contributors

    %p.ui-footer-version
      Semver
      %a.weak{href: "https://github.com/zhdk/madek/releases/", style: "font-family: monospace"}
        = render 'semantic_version'
      Aufgespielter Commit 
      %a.weak{href: "https://github.com/zhdk/madek/commit/#{CurrentCommit.get}", style: "font-family: monospace"}
        #{CurrentCommit.get.to_s[0..5]} 
      vom 
      -# rescue was added because there seems a bug with the git gem and ruby 2.x
      = l CurrentCommit.get.committer_date, format: :short rescue "Unknown"

- if clipboard
  = render "application/clipboard" unless current_user.is_guest?
