:ruby
  clipboard = clipboard.nil? ? true : clipboard

.app-footer
  %footer.ui-footer.ui-container.inverted
    %ul.ui-footer-menu
      - @app_settings.footer_links.map{|k,v| {text: k, href: v}}.each do |footer_link|
        = render 'footer_link', footer_link: footer_link

    %p.ui-footer-copy
      = link_to "http://madek.zhdk.ch" do
        %i.icon-madek.ui-footer-logo
      Z&uuml;rcher Hochschule der K&uuml;nste and contributors

    %p.ui-footer-version
      Aufgespielter Commit 
      %a.weak{href: "https://github.com/zhdk/madek/commit/#{CurrentCommit.get}", style: "font-family: monospace"}
        #{CurrentCommit.get.to_s[0..5]} 
      vom 
      -#  TODO remove rescue; it was added because there seems a bug with the git gem and ruby 2.1.0
      = l CurrentCommit.get.committer_date, format: :short rescue "Unknown"

- if clipboard
  = render "application/clipboard" unless current_user.is_guest?
