- internal_login = combo('form',props: { id: 'login_form',
                                         action: sign_in_path,
                                         method: :post }) do

  = combo('form-group', mods: 'rowed.compact') do
    = text_field_tag(:login, nil, { placeholder: 'login', class: 'block large' })

  = combo('form-group', mods: 'rowed.compact') do
    = text_field_tag(:password, nil, { placeholder: 'password', type: 'password',
                                       class: 'block large' })

  = combo('form-group', mods: 'rowed.compact.by-left') do
    = check_box_tag(:remember_me, 'remember me', true)
    = label(:remember, :me, 'remember me')

  = combo('form-group', mods: 'rowed.compact') do
    = component('button.primary', mods: ['large', 'block'],
        type: 'submit') do
      = "Anmelden"

- unless settings.zhdk_integration # show simple auth form:
  .pitch-login
    .tab-content.ui-container
      = internal_login

- else # … or show zhdk auth; make tabbed section:
  - zhdk_login_form = combo('form') do
    = combo('form-group', mods: 'rowed') do
      %p.mbm
        Alle Funktionen nutzen und auf
        %br/
        mehr Inhalte zugreifen.
      = component('button.primary', mods: ['large', 'block'], href: '/login') do
        = "Anmelden"

  :ruby
    login_box = combo('tabbed-sections', {
      mods: 'pitch-login',
      style: 'min-height: 200px',
      interactive: true,
      list: {
        external_login: {
          active: true,
          nav: { text: 'ZHdK-Login', align: 'left' },
          content: zhdk_login_form,
        },
        internal_login: {
          nav: { text: 'Externe', align: 'right' },
          content: internal_login,
          }
        }
      })

  .ui-container{style: 'min-height:220px'}
    = login_box
