:ruby
  active_a = AppSettings.authentication_systems

#login.sidebar-box

  - if active_a.include?(:zhdk_agw)
    #zhdk_agw
      %p
        Gleich einsteigen oder
        %a{:href => "http://demo.medienarchiv.zhdk.ch/login"}
          Demo testen
      %p
        = link_to _("Anmelden"), login_path, :class => "actionbutton button yellow"
      %p.disclaimer
        Bis Ende 2012 ist das Medienarchiv nur für ZHdK-Angehörige zugänglich.

  - if active_a.include?(:local_database)
    #local_database
      %p
        = form_tag '/db/login', :method => :post do
          %table
            %tr
              %td Login
              %td= text_field_tag :login
            %tr
              %td Password
              %td= password_field_tag :password
            %tr
              %td
              %td= submit_tag 'Log in', :class => "actionbutton button yellow"

  - active_a.each do |alternative_a|
    %a{:href => "#", :"data-ref" => "#{alternative_a}"}
      = alternative_a

:coffeescript
  switch_authentication_system = (name)->
    $("#login > #"+name).show()
    $("#login > a").show()
    $("#login > a[data-ref='"+name+"']").hide()
  
  jQuery ->
    switch_authentication_system("#{active_a.first}")
    $("#login > a").bind "click", (e)-> 
      e.preventDefault()
      $("#login > div").hide()
      switch_authentication_system($(this).data("ref"))
