.ui-container.pal
  = form_tag 'session/sign_in', id: 'login_form' do
    = label_tag :login
    = text_field_tag :login

    = label_tag :password
    = password_field_tag :password

    = submit_tag 'submit'

  %br
  = component('button.primary', href: '/login') do
    = "ZHdK-Login"
