- unless (definition.input_type === 'text_area') || (definition.length_max && definition.length_max > 255)
  %input.block{:id => "resource[meta_data_attributes][#{@i}][value]", :type => "text", :value => meta_datum.nil? ? nil : meta_datum.value, :name => "resource[meta_data_attributes][#{@i}][value]", :maxlength => definition.length_max}
- else
  %textarea.block{:id => "resource[meta_data_attributes][#{@i}][value]", :name => "resource[meta_data_attributes][#{@i}][value]"}><
    = preserve meta_datum.value if meta_datum