.multi-select
  
  %ul.multi-select-holder

    - meta_datum.value.each do |value|

      %li.multi-select-tag
        %input{:name => "resource[meta_data_attributes][#{@i}][value][]", :type => "hidden", :value => value.meta_term_id, :autocomplete => "off"}
        = value
        %a.multi-select-tag-remove
          .icon-remove

    %li.multi-select-input-holder.mbs
      %input.multi-select-input{:type => "text"}
        %a.multi-select-input-toggle

    %a.button.small.form-widget-toggle
      %i.icon-tag.dark

    .form-tags-widget.form-widget.hidden

      %ul.ui-tabs
        %li.ui-tabs-item.active.mll.pls
          %a{"data-toggle" => "tab", :href => "#tags_mine_#{@i}"} Meine Schlagworte
        %li.ui-tabs-item
          %a{"data-toggle" => "tab", :href => "#tags_top_#{@i}"} Beliebtesten
        %li.ui-tabs-item
          %a{"data-toggle" => "tab", :href => "#tags_latest_#{@i}"} Neusten
      .tab-content.mbs

        .tags-mine.tab-pane.active.pam.ui-container.bordered.rounded-right.rounded-bottom{:id => "tags_mine_#{@i}"}
          %ul.ui-tag-cloud.small
            .title-xs.by-center Lade Schlagworte
            .ui-preloader.small
           
        .tags-top.tab-pane.pam.ui-container.bordered.rounded-right.rounded-bottom{:id => "tags_top_#{@i}"}
          %ul.ui-tag-cloud.small
            .title-xs.by-center Lade Schlagworte
            .ui-preloader.small

        .tags-latest.tab-pane.pam.ui-container.bordered.rounded-right.rounded-bottom{:id => "tags_latest_#{@i}"}
          %ul.ui-tag-cloud.small
            .title-xs.by-center Lade Schlagworte
            .ui-preloader.small
