.multi-select

  %ul.multi-select-holder

    - if meta_datum
      - meta_datum.value.each do |value|

        %li.multi-select-tag.meta-term{:"data-id" => value.id, :"data-string" => value.to_s}
          %input{:name => "resource[meta_data_attributes][#{@i}][value][]", :type => "hidden", :value => value.id}
          = value
          %a.multi-select-tag-remove
            .icon-close

    %li.multi-select-input-holder.mbs
      %input.multi-select-input.form-autocomplete-person{:id => "resource[meta_data_attributes][#{@i}][value]", :type => "text"}
        %a.multi-select-input-toggle
          %i.icon-arrow-down

    %a.button.small.form-widget-toggle
      %i.icon-privacy-private.small

    .form-person-widget.form-widget.hidden

      %ul.ui-tabs
        %li.ui-tabs-item.active.mll.pls
          %a{"data-toggle" => "tab", :href => "#person#{@i}"}
            = _("Person")
        %li.ui-tabs-item
          %a{"data-toggle" => "tab", :href => "#group#{@i}"}
            = _("Group")
      .tab-content.mbs

        .tab-pane.active.pam.ui-container.bordered.rounded-right.rounded-bottom{:id => "person#{@i}"}
          .ui-form-group.rowed.pbx.ptx
            %label.form-label
              = _("Last name")
            .form-item
              %input.block{:type => "text", :name => "last_name"}
          .ui-form-group.rowed.pbx.ptx
            %label.form-label
              = _("First name")
            .form-item
              %input.block{:type => "text", :name => "first_name"}
          .ui-form-group.rowed.pbx.ptx
            %label.form-label
              = _("Pseudonym")
            .form-item
              %input.block{:type => "text", :name => "pseudonym"}
          .ui-form-group.rowed.ptm.limited-width-s
            %button.add-person.button.block
              = _("Add person")

        .tab-pane.pam.ui-container.bordered.rounded-right.rounded-bottom{:id => "group#{@i}"}
          .ui-form-group.rowed.pbx.ptx
            %label.form-label
              = _("Name")
            .form-item
              %input.block{:type => "hidden", :name => "is_group", :value => 1}
              %input.block{:type => "text", :name => "first_name"}
          .ui-form-group.rowed.ptm.limited-width-s
            %button.add-group.button.block
              = _("Add group")
