:ruby
  @is_guest= current_user.is_guest?
  @is_owner= @media_entry.user == current_user
  @is_admin= current_user.is_admin?
  @can_manage= current_user.authorized?(:manage, @media_entry)
  @can_delete= current_user.authorized?(:delete, @media_entry)


.ui-body-title-actions

  - unless @is_guest
    = render "media_resources/actions/clipboard_toggle"
    = render "media_resources/actions/favor_toggle", media_resource: @media_entry
    %span.action-separator

  = render "media_resources/actions/browse"

  - if @can_edit
    = render "media_resources/actions/edit", media_resource: @media_entry
  - unless @is_guest
    = render "media_resources/actions/organize"

  .dropdown.ui-dropdown.stick-right
    %a#resource-action-button.button.dropdown-toggle.ui-drop-toggle{"data-toggle" => "dropdown", href: "#"}
      = _("Further actions")
      %i.icon-arrow-down.stand-alone

    %ul.dropdown-menu.ui-drop-menu{"aria-labelledby" => "dLabel", role: "menu"}

      - unless @is_guest
        = render "media_resources/actions/permissions", media_resource: @media_entry
        %li.separator

      %li.ui-drop-item
        %a#ui-export-button
          %i.icon-dload.mid
          = _("Export")

      - if @is_owner
        = render "media_resources/actions/visualize_my_component_with", media_resource: @media_entry

      = render "media_resources/actions/urls", media_resource: @media_entry

      - if @can_delete
        %li.separator
          = render :partial => "media_resources/actions/delete"

      - if @is_admin
        %li.separator
        %li.ui-drop-item
          %a{:href => app_admin_media_entry_path(@media_entry)}
            %i.icon-admin.mid
            = _("MediaEntry in the Admin Interface")
