.task_bar.clearfix
  %ul
    %li
      %h4
        .icon
        = _("Auswahl treffen und bearbeiten")
    %li#number_selected
      Keine Medieneinträge ausgewählt
    .clear
    %li#batch-select-all
      = button_to _("Alle auswählen"), "", :title=>_("Alle angezeigten Medieneinträge auswählen")
    %li#batch-deselect-all
      = button_to _("Alle abwählen"), "", :title=>_("Alle ausgewählten Medieneinträge abwählen")
    %li.seperator
    %li#batch-edit.action_btn
      = button_to _("Metadaten editieren"), edit_multiple_media_entries_path, :method => :post
    %li#batch-permissions.action_btn
      = button_to _("Zugriffsberechtigungen editieren"), edit_multiple_permissions_media_entries_path, :method => :post
    %li.seperator.edit
    %li#batch-add-to-set.action_btn
      = button_to _("Zu Set hinzufügen/entfernen"), "", :title=>_("Zu Set hinzufügen/entfernen"), 
        :class => "has-set-widget",
        :"data-selected_ids" => "",
        :"data-detach_selected" => "true",
        :"data-user" => "#{current_user.to_json(:only => {}, :methods => :name)}",
        :"data-after_submit" => "window.location.reload();",
        :"data-index" => "#{{"path" => "/media_sets", "method" => "GET", "data" => {"accessible_action" => "edit", "with" => {"media_set" => {"creator" => 1, "created_at" => 1, "title" => 1}}}}.to_json}",
        :"data-linked_index" => "#{{"path" => "/media_sets", "method" => "GET", "data" => {"accessible_action" => "edit", "child_ids" => ":selected_ids", "with" => {"media_set" => {"media_entries" => 1, "child_sets" => 1}}}}.to_json}",
        :"data-create" => "#{{"path" => "/media_sets", "method" => "POST", "data" => {"media_sets" => ":created_items"}, "created_item" => {"meta_data_attributes" => {0 => {"meta_key_id" => "3", "value" => ":title"}}}}.to_json}",
        :"data-link" => "#{{"path" => "/resources/parents", "method" => "POST", "data" => {"parent_media_set_ids" => ":parent_media_set_ids", "media_resource_ids" => ":media_resource_ids"}}.to_json}",
        :"data-unlink" => "#{{"path" => "/resources/parents", "method" => "DELETE", "data" => {"parent_media_set_ids" => ":parent_media_set_ids", "media_resource_ids" => ":media_resource_ids"}}.to_json}"
    .clear
  #selected_items.clearfix

= render :partial => "resources/templates"
