.task_bar.clearfix
  %ul
    %li
      %h4
        .icon
        = _("Auswahl treffen und bearbeiten")
    %li#number_selected
      Keine Medieneinträge ausgewählt
    .clear
    %li#batch-select-all
      = button_to _("Alle auswählen"), "", :title=>_("Alle angezeigten Medieneinträge auswählen")
    %li#batch-deselect-all
      = button_to _("Alle abwählen"), "", :title=>_("Alle ausgewählten Medieneinträge abwählen")
    %li.seperator
    %li#batch-edit.action_btn
      = button_to _("Metadaten editieren"), edit_multiple_media_entries_path, :method => :post
    %li#batch-permissions.action_btn
      = button_to _("Zugriffsberechtigungen lesen/bearbeiten"), "javascript:void(0)",
        :class => "open_permission_lightbox batch", 
        :"data-media_resource_ids" => "[]",
        :"data-current_user" => "#{current_user.to_json(:only=>:id, :include => :groups)}",
        :"data-media_resources" => "[]" 
      
    %li.seperator.edit
    %li#batch-add-to-set.action_btn
      -# FIXME: The request for the linked index (scoped index trough selected elements) is causing an errors when there are mor then ca. 50 ids (ERROR: "The Requested URI is to large") 
      = media_sets_widget(nil, _("Zu Set hinzufügen/entfernen"), nil, {with: {media_set: {media_entries: 1, child_sets: 1}}})
    .clear
  #selected_items.clearfix

= render :partial => "media_resources/templates"
