.task_bar.clearfix
  %ul
    %li
      %h4
        .icon
        = _("Auswahl treffen und bearbeiten")
    %li#number_selected
      Keine Medieneinträge ausgewählt
    .clear
    %li#batch-select-all
      = button_to _("Alle auswählen"), "", :title=>_("Alle angezeigten Medieneinträge auswählen")
    %li#batch-deselect-all
      = button_to _("Alle abwählen"), "", :title=>_("Alle ausgewählten Medieneinträge abwählen")
    %li.seperator
    %li#batch-edit.action_btn
      = button_to _("Metadaten editieren"), edit_multiple_media_entries_path, :method => :post
    %li#batch-permissions.action_btn
      = button_to _("Zugriffsberechtigungen editieren"), edit_multiple_permissions_media_entries_path, :method => :post
    %li.seperator.edit
    %li#batch-add-to-set.action_btn
      = button_to _("Zu Set hinzufügen/entfernen"), "", :class => "has-set-widget"
    .clear
  #selected_items.clearfix

= render :partial => "resources/templates"
