.modal.hide#ui-export-dialog.fade.ui-modal.wide{:role => "dialog", :tabindex => "-1"}
  
  .ui-modal-head
    %a.ui-modal-close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button", :title => "Close", :class => "weak"}
    %h3.title-l Inhalt exportieren
  .ui-modal-body.ui-export-container

    - if @x_large_file_available

      - unless @original_file.content_type.match(/^video.*/)

        = render :partial => "media_entries/export/without_meta_data"

        .separator

        = render :partial => "media_entries/export/with_latest_meta_data"

        .separator

        = render :partial => "media_entries/export/compressed_seperated_meta_data"

        .separator

    - if @original_file_available

      = render :partial => "media_entries/export/original_meta_data"

      .separator

    = render :partial => "media_entries/export/tms"

  .ui-modal-footer
    .ui-actions
      %a.link.weak{"aria-hidden" => "true", "data-dismiss" => "modal"} Abbrechen
