/
  :plain
    - my_user = (@user and @user == current_user)
    - if !params[:query].blank?
      = render :partial => "search"  
    - else
      -if params[:type] == "media_sets"
        - if my_user
          = render :partial => "my_sets"
        - elsif @user
          = render :partial => "user_sets"
        - else
          = render :partial => "all_sets"
      -else
        - title_str, no_media_str, icon_class = if params[:favorites] == "true"
          - [_("Meine Favoriten"), _("Keine Medien vorhanden"), "icon_favorite"]
        - elsif my_user
          - [_("Meine Medieneinträge"), _("Keine Medieneinträge vorhanden"), "icon_me"]
        - elsif @user
          - [_("Alle Medieneinträge"), _("Keine Medieneinträge vorhanden"), "icon_me"]
        - else
          - [_("Alle Medien"), _("Keine Medien vorhanden"), "icon_me"]
  
        .page_title_left
          %div{:class => icon_class}
          = title_str
        .page_navigation
          = link_to _("nur Medieneinträge"), url_for(params.merge(:type => "media_entries")), :class => (params[:type] == "media_entries" ? "active" : nil)
          = " | "
          = link_to _("nur Sets"), url_for(params.merge(:type => "media_sets")), :class => (params[:type] == "media_sets" ? "active" : nil)
        .clear
        - if @resources[:entries].any?
          #results
        - else 
          = no_media_str

= render :partial => "media_entries/batch_bar"

.page_navigation
  = link_to _("Alle"), url_for(params.merge(:type => nil)), :class => (params[:type] == nil ? "active" : nil)
  = " | "
  = link_to _("Medieneinträge"), url_for(params.merge(:type => "media_entries")), :class => (params[:type] == "media_entries" ? "active" : nil)
  = " | "
  = link_to _("Sets"), url_for(params.merge(:type => "media_sets")), :class => (params[:type] == "media_sets" ? "active" : nil)
.page_navigation
  = link_to _("Meine"), url_for(params.merge(:user_id => current_user, :not_by_current_user => nil, :public => nil)), :class => (params[:user_id] == "#{current_user.id}" ? "active" : nil)
  = " | "
  = link_to _("Mir anvertraute"), url_for(params.merge(:user_id => nil, :not_by_current_user => true, :public => false)), :class => (params[:not_by_current_user] == "true" and params[:public] == "false" ? "active" : nil)
  = " | "
  = link_to _("Öffentliche"), url_for(params.merge(:user_id => nil, :not_by_current_user => true, :public => true)), :class => (params[:not_by_current_user] == "true" and params[:public] == "true" ? "active" : nil)
  = " | "
  = link_to _("Jegliche Berechtigungen"), url_for(params.merge(:user_id => nil, :not_by_current_user => nil, :public => nil)), :class => (params[:user_id].nil? and params[:not_by_current_user].nil? and params[:public].nil? ? "active" : nil)
.page_navigation
  = link_to _("Erstelldatum"), url_for(params.merge(:sort => :created_at)), :class => (params[:sort] == "created_at" ? "active" : nil)
  = " | "
  = link_to _("Änderungsdatum"), url_for(params.merge(:sort => :updated_at)), :class => (params[:sort] == "updated_at" ? "active" : nil)
  = " | "
  = link_to _("Zufällig"), url_for(params.merge(:sort => :random)), :class => (params[:sort] == "random" ? "active" : nil)
  = " | "
%hr

#results
  Loading...
  
:javascript
  $(document).ready(function () {
    $('.task_bar').hide();
    var url = "#{resources_path(params.select {|k,v| not [:id, :action, :controller].include?(k.to_sym) })}";
    $.ajax({
      url: url,
      data: {format: 'json'},
      success: function(data){
        $("#results").html("");
        data.url = url;
        setupBatch(data);
      }
    });
  });
