%section#content_head
  .container_12.clearfix
    #page_head
      #detail-main.grid_12

        .action_menu
          = _("Aktionen")
          .icon.arrow.up_and_down
          .action_menu_list.right
            %ul
              - if current_user and current_user.authorized?(:edit, media_entry)
                %li
                  = link_to edit_media_resource_path(media_entry), :title => "Metadaten editieren" do
                    .edit.icon
                    = _("Editieren")
              %li
                %span.favorite_link{:id => "fav_#{media_entry.id}", :title => "Als Favorit merken"}
                  = link_to toggle_favorites_media_resource_path(media_entry), :remote => true, :"data-type" => "html", :method => :post do
                    - s = (current_user.favorite_ids.include?(media_entry.id) ? "on" : "off")
                    %div{:class => "icon button_favorit_#{s}" }
                    = "Favorisieren"
              - if media_entry.meta_data.for_meta_terms.exists?
                %li
                  = link_to browse_media_entry_path(media_entry), :title => "Nach vergleichbaren Medieneinträgen erkunden" do
                    .browse.icon
                    = _("Erkunden")
              %li
                = link_to "",
                :title => "Zugriffsberechtigungen lesen/bearbeiten",
                :class => "open_permission_lightbox", 
                :"data-media_resource_ids" => "[#{@media_entry.id}]",
                :"data-redirect_url" => "#{root_path}",
                :"data-current_user" => "#{current_user.to_json(:only=>:id, :include => :groups)}" do
                  .permissions.icon
                  = "Zugriffsberechtigungen"
              %li
                = media_sets_widget(@media_entry, "<div class='edit_arcs icon'></div> <span class='text'>Zu Set hinzufügen/entfernen</span>", nil, {}, "link")
              %li
                = link_to "#", :panel => "download", :title => "Auf meinen Computer herunterladen" do
                  .export.icon
                  = _("Exportieren")
              - if current_user and current_user.authorized?(:manage, media_entry)
                %li
                  %a{:href => "/media_resources/#{media_entry.id}", :title => "Unwiederbringlich entfernen", :onclick => "$(this).bind('ajax:success', function(){window.location = '/'});", :"data-method" => "delete", :"data-remote" => true, :class => "delete_me", :"data-type" => 'json', :"data-confirm" => "Sind Sie sicher dass Sie diesen Inhalt löschen möchten?"}
                    .trash.icon
                    %span.text= "Löschen"
              %li
                %a.open_create_set_dialog{:title => "Neues Set erstellen"}
                  .create_set.icon
                  %span.text= "Neues Set"

              %li
                %a.open_graph{:title => "Beziehung von Inhalten als Graph visualisieren", :href => "/visualization/component_with/#{@media_entry.id}", :target => "_blank"}
                  .graph.icon
                  %span.text= "Graph berechnen"

        .head-tabs
          %h2.title.grid_8
            %br
            =# render :partial => "meta_data/show", :locals => { :meta_datum => media_entry.meta_data.get("title"), :resource => media_entry, :context => nil }
            = media_entry.meta_data.get_value_for("title")
          .core.clearfix
            .detail-image.grid_9.alpha.omega
              = thumb_for(media_entry, :large).html_safe
            #detail-sidebar.grid_3.omega
              #detail-excerpt.sidebar-box
                - context = MetaContext.core
                - media_entry.meta_data_for_context(context).collect do |meta_datum|
                  - definition = meta_datum.meta_key.meta_key_definitions.for_context(context)
                  %h4
                    = definition.label.to_s
                  = render :partial => "meta_data/show", :locals => { :meta_datum => meta_datum, :resource => media_entry, :context => context }
              = render :partial => "media_entries/browsing"

        #detail-set-bar
          - sets = media_entry.media_sets.select {|media_set| current_user.authorized?(:view, media_set) }
          - unless sets.empty?
            = media_sets_list(sets, true)

        #download-panel.actionbar-panel{:style => "display: none"}
          .actionbar-inner-panel
            = render :partial => "download", :object => media_entry, :as => :media_entry
        .clear

%section#meta_data
  = meta_data(media_entry)
  .clear

:javascript
  $(document).ready(function () {
    MetaDataToggler.setup();
    // OPTIMIZE
    $('a#delete_me').bind('confirm:complete', function(){
      var media_resources_json = get_media_resources_json();
      var i = is_Selected(media_resources_json, $(this).data("id"));
      if (i > -1) {
        media_resources_json.splice(i, 1);
        set_media_resources_json(media_resources_json);
      };
    })
  });

  var MetaDataToggler = new MetaDataToggler();
  function MetaDataToggler() {
    this.setup = function () {
      $(".meta_context_group > h5").bind("click",function(){
        var _this = $(this); 
        _this.closest(".meta_context_group").toggleClass("open");
        if(_this.data("link")){
          $.ajax({
            url: _this.data("link"),
            data: {format: 'js'},
            dataType: 'html',
            success: function(data){
              var new_div = $("<div class='meta_group'></div>");
              new_div.append(data);
              _this.after(new_div);
            }
          });
          _this.removeAttr("data-link").removeData("link");
        }
      });
    }
  }
