%section.content_body_browse
  .fixcolumn_left
    #detail-excerpt.sidebar-box
      .browse_reference
        %h5
          Gewähltes Beispiel
        .thumb_box
          = link_to @media_entry do
            %img.img_reference{:src => @media_entry.media_file.thumb_base64(:small_125)}
        .clear
        - context = MetaContext.core
        - @media_entry.meta_data_for_context(context).collect do |meta_datum|
          - definition = meta_datum.meta_key.meta_key_definitions.for_context(context)
          %h4{:style => "margin-top: 10px;"}= definition.label.to_s
          = render :partial => "meta_data/show", :locals => { :meta_datum => meta_datum, :resource => @media_entry, :context => context }
      
  .dyncolumn_right.clearfix
    .page_title_left
      = image_tag "icons/icon_explore.png"
      Erkunden
      %h5
        Vergleichbare Medieneinträge
    .clear
    - nothing_found = true 
    - @media_entry.meta_data.for_meta_terms.each do |meta_datum|
      %ul.browse
        - meta_datum.value.each do |meta_term|
          :ruby
            media_entries = MediaEntry.filter(current_user, {:meta_data => {meta_datum.meta_key.label.to_sym => {:ids => [meta_term.id]}}}).
                              where("media_resources.id != ?", @media_entry.id).
                              paginate(:per_page => 20, :page => 1)
            c = media_entries.total_entries
            next if c.zero?
            nothing_found = false
            media_entries_data = json_for(media_entries, {:image => {:as => "base64"},
                                                          :flags => true,
                                                          :meta_data => {:meta_key_names => ["title", "author"]}})
          %li.browse_show
            %a.toggler{:href => media_resources_path(:meta_data => {meta_datum.meta_key.label.to_sym => {:ids => [meta_term.id]}}), :target => :blank}
              .browse_key
                %h5
                  = meta_datum.meta_key.all_context_labels
                  \:
                  %span
                    = "%s (%d)" % [meta_term, c]
              .clear
            .browse_thumbs{:"data-media_entries" => media_entries_data}

          %clear
      %clear
    - if nothing_found
      = _("Es gibt keine vergleichbaren Medieneinträge im Medienarchiv.")

#positionable{:style => "position: absolute; display: none;"}

= render :partial => "media_entries/batch_bar"
    
:javascript
  $(document).ready(function () {
    setupBatch();    

    $(".browse_thumbs").each(function(){
      $(this).html($.tmpl("tmpl/media_resource/thumb_box_mini", $(this).data('media_entries')));
    });

    var delayed;
    $(".thumb_mini").mouseenter(function() {
      var _this = $(this);
      clearTimeout(delayed);
      delayed = setTimeout(function(){
        $('#positionable').html($.tmpl("tmpl/media_resource/thumb_browse", _this.tmplItem().data));
        var final_offset = $("#positionable")
          .show()
          .position({
              my: "center center",
              at: "center center",
              of: _this,
              collision: 'fit'
            })
         .offset();
         
        $("#positionable").hide()
         .css("width", _this.width())
         .css("height", _this.height())
         .show()
         .position({
              my: "center center",
              at: "center center",
              of: _this,
              collision: 'fit'
            })
         .hide();
        
        $("#positionable").show().animate({
          top: final_offset.top,
          left: final_offset.left,
          width: $("#positionable").children().width(),
          height: $("#positionable").children().height()
        }, 100);

      }, 400);
    }).mouseleave(function(){
      clearTimeout(delayed);
    });;
    
    $("#positionable").mouseenter(function(){
      clearTimeout(delayed);
    }).mouseleave(function(){
      var _this = $(this);
      delayed = setTimeout(function(){
        _this.fadeOut();
      }, 0);
    });


  });
