%section#content_body_browse
  %div.fixcolumn_left
    %div.page_title_left
      %img{:src => "/assets/icons/icon_explore.png"}
      Erkunden
    .clear
    
    /
      %div.browse_recent
        %p
          Zurück zu:
        %div.thumb_mini
          %a{:href => "#"}
            %img{:src => "http://lorempixum.com/100/100/transport/1", :alt => "tn"}
        %div.thumb_mini
          %a{:href => "#"}
            %img{:src => "http://lorempixum.com/100/100/transport/2", :alt => "tn"}
        %div.thumb_mini
          %a{:href => "#"}
            %img{:src => "http://lorempixum.com/100/100/transport/3", :alt => "tn"}  
      .clear
    
    %div#detail-excerpt.sidebar-box
      %div.browse_reference
        %h5
          Referenz-Medieneintrag
        %div.thumb_box
          = link_to @media_entry do
            = image_tag @media_entry.media_file.thumb_base64(:small_125), :class => "img_reference"
        .clear
        - context = MetaContext.core
        - @media_entry.meta_data_for_context(context).collect do |meta_datum|
          - definition = meta_datum.meta_key.meta_key_definitions.for_context(context)
          %h4{:style => "margin-top: 10px;"}= definition.meta_field.label.to_s
          = render :partial => "meta_data/show", :locals => { :meta_datum => meta_datum, :resource => @media_entry, :context => context }
      
  %div.dyncolumn_right.clearfix
    - @media_entry.meta_data.for_meta_terms.each do |meta_datum|
      %ul.browse
        - meta_datum.deserialized_value.each do |meta_term|
          :ruby
            media_entry_ids = meta_term.meta_data(meta_datum.meta_key).select{|md| md.resource_type == "MediaEntry"}.collect(&:resource_id)
            media_entry_ids.delete(@media_entry.id)
            media_entries = MediaEntry.find(media_entry_ids & @viewable_ids)
            c = media_entries.count
            next if c.zero?
          %li
            %a.toggler{:href => "#"}
              %div.browse_key
                %div.toggler-arrow
                %h5
                  = meta_datum.meta_key
                  \:
                  %span
                    = meta_term
                    = "(#{c})"
              .clear
            %div.browse_thumbs
              - media_entries.each do |me|
                %div.thumb_mini
                  = link_to browse_media_entry_path(me) do
                    = image_tag me.media_file.thumb_base64(:small_125)
              %div.browse_thumbs_more
                +
          %clear
      %clear
    
:javascript
  $(document).ready(function () {
    $("ul.browse a.toggler").click(function(event) {
      var that = $(this);
      var next_div = that.next(); 
      that.parent().toggleClass("browse_show");
      next_div.toggleClass("browse_show");
      that.find(".toggler-arrow").toggleClass("toggler-arrow-on");
      next_div.find(".browse_thumbs_more").toggle();
      return false;
    });
  });