.app.view-media-entry

  = render "application/header"

  .app-body

    .app-body-title
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl= @media_entry.title
        
        = render :partial => "media_entries/actions"

    .app-body-ui-container

      = render :partial => "media_entries/tabs"

      .ui-container.rounded-right.rounded-bottom.bordered.tab-content

        .bright.ui-container.pal.rounded-bottom

          = render :partial => "media_entries/meta_contexts", :locals => {:meta_contexts => @meta_contexts}

  .app-footer-push
= render :partial => "application/footer"