<%= prevent_leaving_page %>

<div class="container_12 clearfix">

	<section id="content_body" class="clearfix">
		
		<div id="detail-main" class="grid_2">
			
			<div id="detail-image" style="padding: 5px 0 5px 0;">
				<%= link_to thumb_for(@media_entry, :small), @media_entry %>
			</div>
	
			<%= resource_sizes(@media_entry) %>
	
			<%= content_tag :div do
				a = "".html_safe
				a += content_tag :div, :class => "notice_tms" do
					date = @media_entry.snapshots.first.created_at.to_formatted_s(:date)
					time = @media_entry.snapshots.first.created_at.to_formatted_s(:time)
					"Eine Kopie dieses Medieneintrages wurde am #{date} um #{time} Uhr für das MIZ-Archiv erstellt."
				end unless @media_entry.snapshots.empty?
	
				a += content_tag :div, :style => "margin-top: 100px;", :class => "notice_tms" do
					_("Diese Kopie wird gegenwärtig durch das MIZ-Archiv bearbeitet.")
				end unless @media_entry.snapshotable?
				a
			end %>
		
		</div>
			
		<div id="detail-sidebar"  class="grid_9">
	
			<%= content_tag :h3 do
				_("Metadaten für MIZ-Archiv editieren")
			end %>
			<br />
	
			<%= form_for @media_entry, :as => :resource,
						:url => [:update_multiple, @media_entry, :meta_data],
						:html => {:method => :put} do |resource|
	
				meta_contexts = [MetaContext.tms]
				a = content_tag :div, :class => "tabs", :id => "detail_specification" do
					b = content_tag :ul do
						meta_contexts.collect do |meta_context|
							content_tag :li do
								link_to meta_context, "##{meta_context.name}" 
							end 
						end.join.html_safe
					end
					meta_contexts.each do |meta_context|
						b += render :partial => "meta_data/edit_multiple_without_form", :locals => {:context => meta_context, :resource => resource }
					end
					b
				end	
	
				a += content_tag :div, :class => "save_buttons" do
					    b = link_to _("Abbrechen"), @media_entry, :class => "buttons"
						b += resource.submit _("Speichern")
					 end
			end %>
	
		</div>
	
	</section>

</div>