.app.view-media-entry-edit

  = render "application/header"

  .app-body

    .app-body-title
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl Metadata editieren

    .app-body-ui-container

      .bordered.ui-container.midtone.rounded.mbm

        = render :partial => "media_resources/selection",
                 :locals => {:media_resources => @media_entries}

      %form#edit-media-resource{:action => update_multiple_media_entries_path(:collection_id => params[:collection_id]), :method => :post, :autocomplete => :off}

        = token_tag nil

        = render :partial => "media_resources/edit/tabs"

        .bordered.ui-container.tab-content.bright.rounded-bottom.rounded-right

          .phl.ptl
            .ui-container.table

              .app-body-content.table-cell.ui-container.table-substance.ui-container
                .prl
                  = render :partial => "media_resources/edit/contexts"

              .app-body-sidebar.table-cell.ui-container.table-side
                .ui-container.bordered.rounded
                  = render :partial => "media_entries/edit_multiple/legend"

          .ui-actions.phl.pbl.mtl
            %a.link.weak{:href => root_path}
              Abbrechen
            %button.primary-button.large
              Speichern

  .app-footer-push
= render "application/footer"

:coffeescript

  jQuery -> 
    new App.MediaResourcesController.Edit

