<% is_expert = current_user.groups.is_member?("Expert") %>

<%= prevent_leaving_page %>

<div id="content-body" class="container_12 clearfix">
	
	<div id="detail-main" class="grid_2">
		
		<div id="detail-image" style="padding: 3.25em 0 1.5em 0;">
			<%= link_to thumb_for(@media_entry, :small), @media_entry %>
		</div>

		<%= content_tag :div, :id => "detail-action-bar" do
			content_tag :ul do
				content_tag :li do
					link_to _("Metadaten für MIZ-Archiv editieren"), edit_tms_media_entry_path(@media_entry), :style => "line-height: 1.1em; float: none; padding: 0.5em; font-size: 0.9em;"
				end
			end
		end if is_expert and @media_entry.snapshotable? %>

	</div>
	
	<div id="detail-sidebar"  class="grid_10">

		<%= content_tag :h3 do
			_("Metadaten editieren")
		end %>
		<br />
		
		<%=  content_tag :style do
           begin
           <<-HERECODE
             .madek_multiselect_container ul.holder li {
               white-space: normal;
             }
             .ui-autocomplete { 
                 width: 10px;
             }
           HERECODE
           end.html_safe
    end %>

		<%= form_for @media_entry, :as => :resource,
					:url => [:update_multiple, @media_entry, :meta_data],
					:html => {:method => :put} do |resource|

			content_for :buttons do
				content_tag :div, :style => "text-align: right; padding: 10pt; background: #DDDDDD;" do
					b = link_to _("Abbrechen"), @media_entry, :class => "buttons"
					b += resource.submit _("Speichern")
				end
			end

			a = yield :buttons

			meta_contexts = MetaContext.defaults + @media_entry.individual_contexts
			a += content_tag :div, :class => "tabs", :id => "detail_specification" do
				b = content_tag :ul do
					meta_contexts.collect do |meta_context|
						content_tag :li do
							link_to meta_context, "##{meta_context.name}" 
						end
					end.join.html_safe
				end
				meta_contexts.each do |meta_context|
					b += render :partial => "/meta_data/edit_multiple_without_form", :locals => {:context => meta_context, :resource => resource }
				end
				b
			end	

			a += yield :buttons
		end %>

	</div>

</div>
<%= javascript_include_tag "jquery/plugins/jquery.tmpl" %>