.app-body-ui-container
  = component('page-header',
      icon: component('icon.upload'),
      text: t(:media_entry_media_import_header),
      actions: nil)

  -# TODO: better prog. enhance/reactify this view

  -# complete box (under the title):
  .ui-container.tab-content.bordered.rounded-right.rounded-bottom.mbh

    -# top part of the box:
    .ui-container.bright.pal{class: 'rounded-bottom'}

      %h3.title-l= t(:media_entry_media_import_title)

      .js-only
        = react('Views.My.Uploader', get: @get)

      .no-js
        = form_for :media_entry, url: media_entries_path do |f|
          .ui-container.clearfix.mvl.bordered.midtone.rounded.media-import-content

          = combo('form-group', mods: 'columned.by-center',
            label: { text: 'Set'}) do
            = f.text_field :collection_id, value: params[:collection_id]

          = combo('form-group', mods: 'rowed.by-center',
            label: { text: t(:media_entry_media_import_inside_nojs)}) do
            = f.file_field :media_file

          .ui-actions
            %a.link.weak{href: my_dashboard_path}
              = t(:media_entry_back_btn)
            = component('button.primary', type: :submit) do
              = t(:media_entry_upload_btn)

    -# bottom part of the box:
    .row.ui-container.midtone.pvm.phl.rounded-bottom
      %h3.title-m.prm
        %strong= t(:media_entry_media_import_notes_title)
      %p.prm.ptx
        = t(:media_entry_media_import_notes_msg)
