.app-body-ui-container
  = component('page-header',
      icon: component('icon.upload'),
      text: 'Medien importieren ',
      actions: nil)

  -# complete box (under the title):
  .ui-container.tab-content.bordered.rounded-right.rounded-bottom.mbh

    -# top part of the box:
    .ui-container.bright.pal{class: 'rounded-bottom'}

      = form_for :media_entry, url: media_entries_path do |f|

        .ui-container.clearfix.mvl.bordered.midtone.rounded.media-import-content
          = combo('form-group', mods: 'rowed.by-center', label: { text: 'File'}) do
            = f.file_field :media_file

          = combo('form-group', mods: 'columned.by-center',
            label: { text: 'Set'}) do
            = f.text_field :collection_id, value: params[:collection_id]

        .ui-actions
          %a.link.weak{href: my_dashboard_path}
            = "Back"
          = component('button.primary', type: :submit) do
            = "Upload"

    -# bottom part of the box:
    .row.ui-container.midtone.pvm.phl.rounded-bottom
      .row
        .col1of2
          %h3.title-m.prm
            %strong= "Hinweise"
          %p.prm.ptx
            = "TODO"
