.app-body-ui-container
  = component('page-header',
      icon: component('icon.upload'),
      text: t(:media_entry_media_import_header),
      actions: nil)

  -# TODO: better prog. enhance/reactify this view

  -# complete box (under the title):
  .ui-container.tab-content.bordered.rounded-right.rounded-bottom.mbh

    -# top part of the box:
    .ui-container.bright.pal{class: 'rounded-bottom'}

      %h3.title-l= t(:media_entry_media_import_title)

      - if @get.workflow
        .notice{style: 'padding: 20px; border: 1px solid #ffeeba; background-color: #fff3cd; color: #856404; border-radius: 3px; margin-top: 20px'}
          = t(:workflow_uploader_notice_pre)
          &rarr; #{link_to @get.workflow.name, @get.workflow.actions.dig(:edit, :url), class: 'strong'}
          = t(:workflow_uploader_notice_post)
 
      .js-only
        = react('Views.My.Uploader', get: @get)

      .no-js
        = form_for :media_entry, url: media_entries_path do |f|
          .ui-container.clearfix.mvl.bordered.midtone.rounded.media-import-content
          - if @get.copy_md_from
            = hidden_field_tag 'copy_md_from[id]', @get.copy_md_from.uuid

          = combo('form-group', mods: 'columned.by-center',
            label: { text: 'Set'}) do
            = f.text_field :collection_id, value: params[:collection_id]

          = combo('form-group', mods: 'rowed.by-center',
            label: { text: t(:media_entry_media_import_inside_nojs)}) do
            = f.file_field :media_file

          .ui-actions
            %a.link.weak{href: my_dashboard_path}
              = t(:media_entry_back_btn)
            = component('button.primary', type: :submit) do
              = t(:media_entry_upload_btn)

    -# bottom part of the box:
    .row.ui-container.midtone.pvm.phl.rounded-bottom
      %h3.title-m.prm
        %strong= t(:media_entry_media_import_notes_title)
      %p.prm.ptx
        = t(:media_entry_media_import_notes_msg)
