- content_for(:overview) do
  %h3.title-l.separated.mbm
    = "Relations"
  - unless @get.relations.any?
    = "No relations found."
  - else
    %h4.title-m.mbm= "Parents"
    = deco('polybox', media_resources: @get.relations.parent_media_resources)
    %h4.title-m.mbm= "Siblings"
    = deco('polybox', media_resources: @get.relations.sibling_media_resources)

= render template: 'media_entries/_show/_base'
