:ruby
  tag_mods = ['small','ellipsed']

  entry_show = {}

  action_menu = [] # TODO: edit actions etc

- unless @get.published?
  - content_for(:app_alerts) do
    = component('alert', level: 'warning', text: 'Entry is not published yet!')
  = render('unpublished_header')

:ruby
  entry_show[:header] = \
    component('page-header',
      icon: component('icon.media-entry'),
      text: @get.title,
      actions: action_menu
    )

  entry_show[:overview] = deco('resource_show_overview',
    mods: 'ui-media-overview',
    # TODO: element?
    preview_large: component('picture', mods: ['media-set'],
                text: @get.title,
                href: @get.image_url),
    content: combo('metadata-box',
                mods: 'ui-summary-table.ui-set-summary.compact',
                # TODO: build this list in a presenter?
                # @get.metadata => [ [key, value], [key, value] ]
                list: [['Title', @get.title, 'title-l'],
                       ['Description', @get.description],
                       ['Copyright Notice', @get.copyright_notice],
                       ['Date', @get.portrayed_object_date],
                       @get.keywords.any? ? ['Keywords', combo('tag-cloud.label',
                          mods: tag_mods,
                          list: @get.keywords)] : nil
                      ]))

- entry_show[:more_info] = capture_haml do
  -# TMP: always show this sections! (till we have js, thus tabs)
  .ui-container.midtone.rounded-bottom.pal.well

    -# Demo: Render all the available Vocabularies as rows
    - if (@get.meta_data.vocabularies_with_meta_data).any?
      = deco('meta_data_by_vocabulary', meta_data: @get.meta_data)

    .ui-separator.mbl

    %h3.title-l.separated.mbm
      = "Relations"
    - unless @get.relations.any?
      = "No relations found."
    - else
      %h4.title-m.mbm= "Parents"
      = deco('polybox', media_resources: @get.relations.parent_media_resources)
      %h4.title-m.mbm= "Siblings"
      = deco('polybox', media_resources: @get.relations.sibling_media_resources)

    .ui-separator.mbl

    %h3.title-l.separated.mbm
      = "More Data"
    :ruby
      more_meta_data_list = [
        ['responsible', deco('person-tag-list',
                          person: @get.more_data.responsible,
                          mods: tag_mods)],
        ['importer', deco('person-tag-list',
                      person: @get.more_data.importer,
                      mods: tag_mods)],
        ['import_date', @get.more_data.import_date],
        ['activity_log',
         combo('ordered-list', mods: 'inline',
                list: Hash[@get.more_data.activity_log].map do |time, person|
                  "#{person.name} / #{time}"
                end)]
      ]
    = combo('metadata-box', mods: 'ui-summary-table', list: more_meta_data_list)

    .ui-separator.mbl

    %h3.title-l.separated.mbm
      = "File Information"
    = combo('metadata-box',
        mods: 'ui-summary-table', list: @get.more_data.file_information)


= deco('resource_show', entry_show)
