- preview_content = capture_haml do
  = render :partial => "media_entries/preview"
- preview_content = nil if preview_content == "\n" # thanks obam^H^H^H^H haml

- content_for :content do
  .ui-container.bright.pal.rounded-top-right

    .ui-media-overview
      %dl.ui-media-overview-metadata.ui-metadata-box
        = render :partial => "meta_data/meta_datum", :collection => @media_entry.meta_data.for_context(::Context.find("core")), :locals => {:context => ::Context.find("core")}
      - if preview_content
        .ui-media-overview-preview
          = preview_content

  .midtone.ui-container.pal.rounded-bottom.well

    = render :partial => "media_entries/contexts", :locals => {:skip_empty_values => true, :contexts => @main_context_group.contexts}

= render "media_entries/layout"
