- tag_mods = ['small','ellipsed']
- content_for(:overview) do
  .col1of3
    .ui-container.prl
      %h3.title-l.separated.mbm
        = t(:usage_data_responsibility_title)
      :ruby
        more_meta_data_list = [
          [t(:usage_data_responsible), deco('person-tag-list',
                            person: @get.more_data.responsible,
                            mods: tag_mods)],
          [t(:usage_data_import_by), deco('person-tag-list',
                        person: @get.more_data.importer,
                        mods: tag_mods)],
          [t(:usage_data_import_at), @get.more_data.import_date]
        ]
      = combo('metadata-box', mods: 'ui-summary-table', list: more_meta_data_list)

    - if current_user
      .ui-container.prl
        %h3.title-l.separated.mvm.mtl
          = t(:usage_data_last_changes_title)
        :ruby
          last_changes_list = @get.edit_sessions.map do |edit_session|
            [
              edit_session.change_date,
              deco('person-tag-list',
                person: edit_session.user,
                mods: tag_mods)
            ]
          end
        - if last_changes_list.any?
          = combo('metadata-box', mods: 'ui-summary-table', list: last_changes_list)
        - else
          = t(:usage_data_last_changes_empty)



  .col2of3
    %h3.title-l.separated.mbm
      = t(:media_entry_file_information_title)
    = combo('metadata-box',
        mods: 'ui-summary-table', list: @get.more_data.file_information)


= render template: 'media_entries/_show/_base'
