- subject = permission.first
%tr
  %td
    = subject
  - [:view, :edit, :hi_res].each do |key|
    %td{:style => (permission.last[key] == :mixed ? "background: url(/themes/madek11/images/stripe_1.png);" : nil)}
      = hidden_field_tag "subject[#{subject.class.base_class.name}][#{subject_id}][#{key}]", false
      = check_box_tag "subject[#{subject.class.base_class.name}][#{subject_id}][#{key}]", true, (permission.last[key] == true)
  %td
    = link_to _("Löschen"), "#", :class => "delete", :msg => _("Sind Sie sicher?") if subject != current_user
