- content_for(:page_header) do
  = component('page-header',
              icon: component('icon', 'icon-privacy-group'), text: @get.name)

- content_for(:page_content) do
  :ruby
    overview = deco('resource_show_overview',
                content: combo('metadata-box',
                            mods: 'ui-summary-table.ui-set-summary.compact',
                            list: [[t(:group_meta_data_name), @get.name],
                                   [t(:group_meta_data_institutional_group_name),
                                    @get.institutional_group_name]
                                  ]
                          )
    )

  -# TODO: components…

  -# complete box (under the title):
  .ui-container.tab-content.bordered-top.rounded-right.rounded-bottom

    -# top part of the box:
    .ui-container.bright.pal.rounded-top-right.rounded-bottom

      = overview

    -# bottom part of the box:
    .ui-container.rounded-bottom
      -# TODO: props.title = t(:group_toolbar_header_entrusted_resources)
      - if @get.entrusted_media_resources.media_entries.any?
        = react('Deco.MediaResourcesBox',
          get: @get.entrusted_media_resources.media_entries,
          interactive: true,
          fallback: true,
          initial: { show_filter: true },
          mods: { bordered: false })
      - if @get.entrusted_media_resources.collections.any?
        = react('Deco.MediaResourcesBox',
          get: @get.entrusted_media_resources.collections,
          interactive: true,
          fallback: true,
          mods: { bordered: false })
      - if @get.entrusted_media_resources.filter_sets.any?
        = react('Deco.MediaResourcesBox',
          get: @get.entrusted_media_resources.filter_sets,
          interactive: true,
          fallback: true,
          mods: [{ bordered: false }, 'rounded-bottom'])
