%div.item_box{:id => "thumb_#{media_entry.id}"}
  %div.item_permission
    = display_permission_icon(media_entry)
  %div.thumb_box
    = link_to thumb_for(media_entry, :small_125), media_entry_path(media_entry)
  - title = media_entry.meta_data.get_value_for("title")
  - author = media_entry.meta_data.get_value_for("author")
  - unless title.blank?
    %p.item_title
      = truncate(title, :length => 36)
  - unless author.blank?
    %p.item_author
      = truncate(author, :length => 18)
  .actions
    .action_left
      - if @editable_ids
        = check_box_tag 'media_entry_ids[]', media_entry.id, nil, :class => "editable" # if @editable_ids.include?(media_entry.id)
      %span.favorite_link{:id => "fav_#{media_entry.id}"}
        = render :partial => "/media_entries/favorite_link", :locals => {:media_entry => media_entry}
    .action_right
      = display_edit_icon(media_entry, current_user)
      = display_delete_icon(media_entry, current_user)
