%section#content_head
  .container_12.clearfix
    #page_head_edit
      %h2.section_title Zugriffsberechtigungen ändern
      .task_bar.clearfix
        %ul
          %li
            %h4= "#{@media_entries.size} Medieneinträge ausgewählt"
        #selected_items_edit
          #list_as_thumbnails
            hello from thumbnails
            
:plain    
  <script type="text/x-jquery-tmpl" id="thumbnail_view">
      <div class="thumb_box">
        <a href="/media_entries/${id}">
          <img src="${thumb_base64_small}">
        </a>
        <!-- <p>
          <span class="item_title">${title}</span>
          <span class="item_author">${author}</span>
        </p> -->
      </div>
  </script>


%section#content_body
  .page_title_left 
    Aktuelle Zugriffsberechtigungen 
    %span Für alle ausgewählten Medieneinträge
  .clear
  
  - form_tag update_multiple_permissions_media_entries_path, :method => :put do
    = hidden_field_tag :media_entry_ids, @media_entries.map(&:id).join(',')
    
    %table.permissions
      %tbody
        %tr
          %th
            Nachname, Vorname:
          %th{:colspan => 2}
            Berechtigungen:
          %th
        %tr
          %td
            %strong Einzelpersonen
          %td
            Sehen
          %td
            Editieren
          %td
            Volle Auflösung
      %tbody#user_permissions
        ///
        - @combined_permissions["User"].each_pair do |subject_id, permission| # actually permission is an array [user, {}]
          %tr
            %td
              = permission.first # permission.subject
            - [:view, :edit, :hi_res].each do |key|
              %td{:style => (permission.last[key] == :mixed ? "background: url(/themes/madek11/images/stripe_1.png);" : nil)}
                = hidden_field_tag "subject[User][#{subject_id}][#{key}]", false
                = check_box_tag "subject[User][#{subject_id}][#{key}]", true, (permission.last[key] == true)
            %td
              =# link_to _("Löschen"), url_for([@resource, permission]), :remote => true, :method => :delete, :confirm => _("Sind Sie sicher?") if permission.subject and permission.subject != current_user
        ///
      %tbody
        %tr.adder
          %td
            Benutzer/in hinzufügen:
          %td{:colspan => 4}
            %input#new_user
        %tr
          %td{:colspan => 5}
            %p{:style => "font-size: 0.9em; line-height: 2em;"}
              Es können nur Benutzer/innen ausgewählt werden, die sich schon einmal im Medienarchiv eingeloggt haben.  
      %tbody
        %tr
          %td
            %strong Gruppen
          %td
            Sehen
          %td
            Editieren
          %td
            Volle Auflösung
      %tbody#group_permissions
        ///
        - @combined_permissions["Group"].each_pair do |subject_id, permission| # actually permission is an array [user, {}]
          %tr
            %td
              = permission.first # permission.subject
            - [:view, :edit, :hi_res].each do |key|
              %td{:style => (permission.last[key] == :mixed ? "background: url(/themes/madek11/images/stripe_1.png);" : nil)}
                = hidden_field_tag "subject[Group][#{subject_id}][#{key}]", false
                = check_box_tag "subject[Group][#{subject_id}][#{key}]", true, (permission.last[key] == true)
            %td
              =# link_to _("Löschen"), url_for([@resource, permission]), :remote => true, :method => :delete, :confirm => _("Sind Sie sicher?") if permission.subject and permission.subject != current_user
        ///
      %tbody
        %tr.adder
          %td
            Gruppe hinzufügen:
          %td{:colspan => 4}
            %input#new_group
      %tbody
        %tr
          %td
            %strong Allgemein
          %td
            Sehen
          %td
            Editieren
          %td
            Volle Auflösung
      %tbody#anyone_permissions
        ///
        %tr
          %td
            = _("Öffentlich")
          - [:view, :edit, :hi_res].each do |key|
            %td{:style => (@combined_permissions[nil][key] == :mixed ? "background: url(/themes/madek11/images/stripe_1.png);" : nil)}
              = hidden_field_tag "subject[nil][#{key}]", false
              = check_box_tag "subject[nil][#{key}]", true, (@combined_permissions[nil][key] == true)
          %td
            =# link_to _("Löschen"), url_for([@resource, permission]), :remote => true, :method => :delete, :confirm => _("Sind Sie sicher?") if permission.subject and permission.subject != current_user
        ///
        
    = submit_tag _("Speichern")
    
:javascript
  $(function() {
    var data = #{@info_to_json};
    $("#list_as_thumbnails").html($("#thumbnail_view").tmpl(data));
    
  
    function create_permission(data, type){
  		$.ajax({
  			url: '/permissions/add_batch_permission',
  			data: data,
  			type: "post",
  			success: function(response){
          $("input#new_"+type).val("");
          $(response).appendTo('tbody#'+type+'_permissions').effect('highlight');
  			}
  		});
    }

    $("input#new_user").autocomplete({
      source: "/users",
      minLength: 3,
      select: function(event, ui) {
        create_permission({user_id: ui.item.id}, 'user');
      }
    });

    $("input#new_group").autocomplete({
      source: "/groups",
      minLength: 3,
      select: function(event, ui) {
        create_permission({group_id: ui.item.id}, 'group');
      }
    });
  });

    