%h3= 'My media entries'
%div= link_to 'show all', media_entries_path(latest: true)
%div= @get.my_content[:media_entries].to_json

%h3= 'My collections'
%div= link_to 'show all', collections_path(latest: true)
= @get.my_content[:collections].to_json

%h3= 'My filter sets'
%div= link_to 'show all', filter_sets_path(latest: true)
= @get.my_content[:filter_sets].to_json

%h3= 'Latest imports'
%div= link_to 'show all', media_entries_path(imported: true)
= @get.latest_imports.to_json

%h3= 'Favorite media entries'
%div= link_to 'show all', media_entries_path(favorite: true)
= @get.favorites[:media_entries].to_json

%h3= 'Favorite collections'
%div= link_to 'show all', collections_path(favorite: true)
= @get.favorites[:collections].to_json

%h3= 'Favorite filter sets'
%div= link_to 'show all', filter_sets_path(favorite: true)
= @get.favorites[:filter_sets].to_json

%h3= 'Entrusted media entries'
%div= link_to 'show all', media_entries_path(entrusted: true)
= @get.entrusted[:media_entries].to_json

%h3= 'Entrusted collections'
%div= link_to 'show all', collections_path(entrusted: true)
= @get.entrusted[:collections].to_json

%h3= 'Entrusted filter sets'
%div= link_to 'show all', filter_sets_path(entrusted: true)
= @get.entrusted[:filter_sets].to_json

%h3= 'Groups'
= @get.groups.to_json
