.app.view-dashboard

  = render "application/header"

  .app-body
    .app-body-title
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl Mein Archiv
        .ui-body-title-actions
          %a.button{:"data-create-set" => true}
            %i.icon-new-set
            Set erstellen
          %a.primary-button{:href => import_path}
            %i.icon-upload.bright
            Medien importieren

    .app-body-ui-container
      .bordered.ui-container.midtone.rounded.table

        = render "application/sidebar/my_archive"

        .app-body-content.table-cell.table-substance.ui-container

          - unless @latest_user_resources.blank?
            = render :partial => "media_resources/wrapper",
                     :locals => {:media_resources => @latest_user_resources,
                                 :title => "Inhalte, für die ich verantwortlich bin",
                                 :link => my_media_resources_path,
                                 :with_actions => true,
                                 :id => "latest_user_resources_block"}
            %hr.separator

          - unless @latest_user_imports.blank?
            = render :partial => "media_resources/wrapper", 
                     :locals => {:media_resources => @latest_user_imports, 
                                 :title => "Meine letzten Importe", 
                                 :link => my_latest_imports_path,
                                 :item_layout => "miniature",
                                 :with_actions => true,
                                 :id => "latest_user_imports_block" }
            %hr.separator

          - unless @user_favorite_resources.blank?
            = render :partial => "media_resources/wrapper",
                     :locals => {:media_resources => @user_favorite_resources,
                                 :title => "Meine Favoriten",
                                 :link => my_favorites_path,
                                 :with_actions => true,
                                 :id => "user_favorite_resources_block" }
            %hr.separator

          - unless @user_keywords.blank?
            = render :partial => "keywords/wrapper",
                     :locals => {:keywords => @user_keywords,
                                 :title => "Meine Schlagworte",
                                 :link => my_keywords_path,
                                 :id => "user_keywords_block" }
            %hr.separator

          - unless @user_entrusted_resources.blank?
            = render :partial => "media_resources/wrapper",
                     :locals => {:media_resources => @user_entrusted_resources,
                                 :title => "Mir anvertraute Inhalte",
                                 :link => my_entrusted_media_resources_path,
                                 :item_layout => "miniature",
                                 :with_actions => true,
                                 :id => "user_entrusted_resources_block" }
            %hr.separator

          - unless @user_groups.blank?
            = render :partial => "groups/wrapper", 
                     :locals => {:groups => @user_groups, 
                                 :title => "Meine Arbeitsgruppen",
                                 :link => my_groups_path,
                                 :id => "my_groups_block"}

          - if @user_groups.blank? and @user_entrusted_resources.blank? and @user_keywords.blank? and @user_favorite_resources.blank? and @latest_user_imports.blank? and @latest_user_resources.blank?
            .row.mts
              .pvh.mth.mbl
                .title-l.by-center 
                  Herzlich Willkommen
                  .title-s.by-center
                    Werke archivieren, Medien teilen, Wissen entwickeln, Inhalte erkunden
                    .mtm
                      %a.button{:href => explore_path} 
                        %i.icon-eye
                        Inhalte erkunden
                      %a.primary-button{:href => import_path} 
                        %i.icon-upload.bright
                        Medien importieren

  .app-footer-push
= render :partial => "application/footer"
