-# template for the main dashboard (#index-ish)
- content_for(:title_head) do
  = t(:dashboard_title_head)

- content_for(:page_header) do
  - if @feature_toggle_debug_dashboard
    = 'TODO: fix DashboardHeader'
  - else
    = react('Views.DashboardHeader', { get: @get.dashboard_header })


-# - content_for(:page_sidebar) do
-#   = render partial: 'sidebar'
-#
- content_for(:page_content) do
  - dashboard_content = capture_haml do
    -# each section: build a title and render the partial
    - @sections.each do |section_id, section|
      -# empty section *are* skipped on the dashboard index
      - next if section[:is_empty?]
      %div{id: section_id}
        = combo('resources-header', title: section[:title],
                  link: { text: t(:resources_header_show_all),
                          href: my_dashboard_section_path(section[:id])})
        - if section[:partial].present?
          = render partial: "my/section_#{section[:partial]}",
                   locals: { get: @get, section: section, show_pagination_nav: false }

  .ui-container.pal
    - if dashboard_content
      = dashboard_content
    - else
      = t(:dashboard_welcome_msg)
