-# template for the main dashboard (#index-ish)
- content_for(:title_head) do
  = "Dashboard - Madek"

- content_for(:page_header) do
  = component('page-header',
              icon: component('icon.home'),
              text: 'My Archive',
              actions: [component('button.primary',
                                  link: new_media_entry_path,
                                  text: 'Create media entry')])

- content_for(:page_sidebar) do
  = render partial: 'sidebar'

- content_for(:page_content) do
  - dashboard_content = capture_haml do
    -# each section: build a title and render the partial
    - @sections.each do |section_id, section|
      = combo('resources-header', title: section[:title],
                link: { text: 'show all',
                        href: my_dashboard_section_path(section[:id])})
      = render partial: "my/section_#{section[:partial]}",
               locals: { get: @get, section: section, show_pagination_nav: false }
  - if dashboard_content
    = dashboard_content
  - else
    = "Welcome to Madek!"
