.ui-container.bright.rounded.bordered.pam

  .ui-container
  
    = deco('polybox', title: 'My content',
                      link: { text: 'show all',
                              href: media_entries_path(latest: true)},
                      media_resources: @get.my_content)

    = deco('polybox', title: 'My latest imports',
                    link: { text: 'show all',
                            href: media_entries_path(imported: true)},
                      media_resources: @get.latest_imports)


    = deco('polybox', title: 'My favorites',
                    link: { text: 'show all',
                            href: media_entries_path(favorite: true)},
                      media_resources: @get.favorites)

    = deco('polybox', title: 'My entrusted content',
                    link: { text: 'show all',
                            href: media_entries_path(entrusted: true)},
                      media_resources: @get.entrusted)


    = combo('resources-header', title: 'Groups')
    -# TODO: GroupIndexPresenter…
    = component('tag-cloud.group', mods: 'compact',
        list: @get.groups.map {|get| { text: get.name,
                                       href: "/groups/#{get.uuid}" } })
