.ui-container.bright.rounded.bordered.mam.pam

  .ui-container
    .title-m Under construction!
    Look at:
    %ul
      %li
        %a{href: '/collections/9b8e0320-6723-412b-9a39-0344db3a9726'}
          Collection#Show

  .separator.mvs

  .ui-container

    -# TODO: how to handle the 3 headings/links inside a polybox???
      it sounds like a tabbed section…

    -# old:
      %h3= 'My media entries'
      %div= link_to 'show all', media_entries_path(latest: true)

      %h3= 'My collections'
      %div= link_to 'show all', collections_path(latest: true)

      %h3= 'My filter sets'
      %div= link_to 'show all', filter_sets_path(latest: true)

    = deco('polybox', title: 'My content',
                      link: { text: 'show all',
                              href: media_entries_path(latest: true)},
                      poly_resources: @get.my_content)

    = deco('polybox', title: 'My latest imports',
                    link: { text: 'show all',
                            href: media_entries_path(imported: true)},
                      poly_resources: { media_entries: @get.latest_imports })


    = deco('polybox', title: 'My favorites',
                    link: { text: 'show all',
                            href: media_entries_path(favorite: true)},
                      poly_resources: @get.favorites)

    = deco('polybox', title: 'My entrusted content',
                    link: { text: 'show all',
                            href: media_entries_path(entrusted: true)},
                      poly_resources: @get.entrusted)


    = combo('resources-header', title: 'Groups')
    -# TODO: group list decorator
    = component('tag-cloud.group', mods: 'compact',
        list: @get.groups.map {|g| { text: g[:name] } })
