.app.view-my-entrusted-media-resources

  = render "application/header"

  .app-body
    .app-body-title
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl 
            Anvertraute Inhalte

        .ui-body-title-actions

          %a.button{:"data-create-set" => true}
            %i.icon-new-set
            Set erstellen

          .dropdown.ui-dropdown.stick-right
            %a.primary-button.dropdown-toggle.ui-drop-toggle{"data-toggle" => "dropdown"}
              Weitere Aktionen
              %i.icon-arrow-down.bright.stand-alone
            %ul.dropdown-menu.ui-drop-menu{"aria-labelledby" => "dLabel", :role => "menu"}
              %li.ui-drop-item
                %a{:href => import_path}
                  %i.icon-upload.mid
                  Medien importieren

    .app-body-ui-container
      .bordered.ui-container.midtone.rounded.table

        = render :partial => "application/sidebar/my_archive"

        #ui-resources-list-container.app-body-content.table-cell.table-substance.ui-container

          = render :partial => "media_resources/list/toolbar", 
                   :locals => {:subtitle => "#{@user_entrusted_resources_count} Inhalte"}

          = render :partial => "media_resources/list/filterbar"

          .ui-resources-holder

            .ui-container.table.auto

              = render :partial => "media_resources/list/filter"

              .ui-container.table-cell.table-substance
                
                %ul#ui-resources-list.ui-resources{:class => ui_resources_class}

                  .pvh.mth
                    .ui-preloader

  .app-footer-push
= render "application/footer"

:coffeescript
  
  jQuery -> new App.MediaResourcesController.Index
    baseFilter: #{{:permissions => {:scope => {:ids => ["entrusted"]}}}.to_json}
    startFilterParams: #{MediaResource.get_filter_params(params).to_json}
