.app.view-groups-index

  = render "application/header"

  .app-body
    .app-body-title
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl Meine Arbeitsgruppen

        .ui-body-title-actions
          %a.primary-button#create-workgroup
            %i.icon-new-group
            Neue Arbeitsgruppe

    .app-body-ui-container
      .bordered.ui-container.midtone.rounded.table

        = render :partial => "application/sidebar/my_archive"

        .app-body-content.table-cell.table-substance.ui-container

          - unless @workgroups.blank?
            = render :partial => "groups/wrapper", 
                       :locals => {:groups => @workgroups, 
                                   :title => "Arbeitsgruppen",
                                   :as => :table,
                                   :actions => true,
                                   :resources => true,
                                   :id => "my_workgroups"}
            %hr.separator

          - unless @systemgroups.blank?
            = render :partial => "groups/wrapper", 
                       :locals => {:groups => @systemgroups, 
                                   :title => "Systemgruppen",
                                   :as => :table,
                                   :resources => true,
                                   :id => "my_systemgroups"}
            %hr.separator

          - unless @departmentgroups.blank?
            = render :partial => "groups/wrapper", 
                       :locals => {:groups => @departmentgroups, 
                                   :title => "Abteilungsgruppen",
                                   :as => :table,
                                   :resources => true,
                                   :id => "my_departmentgroups"}
            %hr.separator

  .app-footer-push
= render :partial => "application/footer"

:coffeescript
  jQuery -> new App.GroupsController.Index
    el: $(".app.view-groups-index")