.app.view-explore-keywords

  = render "application/header"

  .app-body
    .app-body-title
      .ui-body-title
        .ui-body-title-label
          %h1.title-xl Erkunden / Häufige Schlagworte
            

        .ui-body-title-actions= render :partial => "login_action"

    .app-body-ui-container
      .bordered.ui-container.midtone.rounded.table

        = render :partial => "application/sidebar/explore"

        .app-body-content.table-cell.table-substance.ui-container

          = render :partial => "keywords/wrapper",
                   :locals => {:keywords => @keywords,
                               :title => "Häufige Schlagworte"}

  .app-footer-push
= render "application/footer"