!!!
-# NOTE: class 'has-js' is set dynamically with — suprise! — JavaScript.
%html{lang: 'de-CH'}
  %head
    %meta{charset: 'utf-8'}

    - if content_for?(:title_head)
      = content_for(:title_head)
    - else
      -# TODO: raise this
      - Rails.logger.warn('View did not give content_for(:title_head)!')
      %title= 'Madek'

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = content_for(:style_head)

    -# js lib/dependencies
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    -# TODO: favicon(s)
    -# %link{href: '/favicon.ico', rel: 'shortcut icon', type: 'image/x-icon'}

    = csrf_meta_tag

    -# optional extra tags for head:
    = content_for(:head)

  = content_for(:body)
  -# init ujs (inlined since it is short and should not cause extra request).
    Sets a class on the root so the styles are correct:
  :javascript
    document.getElementsByTagName('html')[0].classList.add('has-js')

  -# - now all the per-template scripts, which
      MUST be self-contained and not depending on load order:
  = content_for(:scripts) if content_for?(:scripts)

  -# Implicit *yield*, don't put one here or it double-renders!
  -# Also, when in doubt use `content_for(:body)` in views.
