.container_12.clearfix
  .grid_12
    %nav
      -# TODO restructure css, this is only a quick solution
      .logo{:style => AppSettings.title.try(:size).to_i > 33 ? "left: #{33 - AppSettings.title.size}em" : nil}
        = link_to AppSettings.title, root_path, :class => AppSettings.title.blank? ? "logo_left ir" : nil
      = render :partial => "layouts/search" unless @disable_search
      #nav_links
        = link_to "#", media_sets_path(:media_set_id => AppSettings.featured_set_id), :title => _("Inhalte erkunden"), :class => "main_nav_browse ir" if AppSettings.featured_set_id
        = link_to "#", upload_path, :title => _("Medien importieren"), :class => "main_nav_upload ir"
        = render :partial => "layouts/menu"
        = link_to "#", "/wiki", :title => _("Hilfe Wiki anzeigen"), :class => "main_nav_help ir" #TODO: add wiki path here
      = link_to "ZHdK", "http://www.zhdk.ch", :class => "logo_right ir"

    
- if logged_in?
  = link_to _("Feedback"), feedback_path, :class => "outside"

#ajaxLoading
  = image_tag "icons/spinner.gif"
