.container_12.clearfix
  .grid_12
    %nav.clearfix
      = link_to "Medienarchiv der Künste", root_path, :class => "logo_left ir"
    = render :partial => '/layouts/search' unless @disable_search
    = link_to "ZHdK", "http://www.zhdk.ch", :class => "logo_right ir"

    
- if logged_in?
  = link_to _("Feedback"), feedback_path, :class => "outside"

#ajaxLoading
  = image_tag "icons/spinner.gif"
  
.sticker
  Das Interface des Medienarchivs wird zur Zeit aktualisiert. Ab April haben alle Seiten ein neues Interface Design.
