.container_12.clearfix
  .grid_12
    %nav
      = link_to "Medienarchiv der Künste", root_path, :class => "logo_left ir"
      = render :partial => "layouts/search" unless @disable_search
      #nav_links
        = link_to _(@set), media_set_media_sets_path(@set), :title => "Inhalte erkunden", :class => "main_nav_browse ir" if (@set = MediaSet.featured_set) and !@set.child_sets.empty?
        = link_to _("Hochladen"), upload_path, :title => "Medien importieren", :class => "main_nav_upload ir"
        = render :partial => "layouts/menu"
        = link_to _("Hilfe"), "/wiki", :title => _("Hilfe Wiki anzeigen"), :class => "main_nav_help ir" #TODO: add wiki path here
      = link_to "ZHdK", "http://www.zhdk.ch", :class => "logo_right ir"

    
- if logged_in?
  = link_to _("Feedback"), feedback_path, :class => "outside"

#ajaxLoading
  = image_tag "icons/spinner.gif"
