!!!
%html

  %head
    %title= 'MAdeK Admin'
    = stylesheet_link_tag 'admin'
    = javascript_include_tag 'admin'
    = csrf_meta_tag

  %body
    .container
      .navbar.navbar-default
        .container-fluid
          .navbar-header
            %button.navbar-toggle.collapsed{type: 'button',
                                            data: { toggle: 'collapse',
                                              target: '#main-navbar-collapse' }}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            .navbar-brand
              Madek Admin
          #main-navbar-collapse.navbar-collapse.collapse
            %ul.nav.navbar-nav.navbar-right
              = navbar_item 'Dashboard', admin_root_path
              = navbar_item 'Sets', admin_collections_path
              = navbar_item 'Users', admin_users_path
              = navbar_item 'Groups', admin_groups_path
              %li
              %li.dropdown
                %a.dropdown-toggle{href: '#', data: { toggle: 'dropdown' }}
                  %i.glyphicon.glyphicon-user
                  User
                  %b.caret
                %ul.dropdown-menu
                  %li
                    = link_to my_dashboard_path do
                      %i.glyphicon.glyphicon-file
                      Home/My
      #messages
        - if success_message= flash[:success]
          .alert.alert-success
            %button.close{type:"button", 'data-dismiss'=>'alert'} &#215
            = success_message
        - if notice_message= flash[:notice]
          .alert.alert-info
            %button.close{type:"button", 'data-dismiss'=>"alert"} &#215
            = notice_message
        - if error_message= flash[:error]
          .alert.alert-danger
            %button.close{type:"button", 'data-dismiss'=>"alert"} &#215
            = error_message
      = yield
