!!!
%html

  %head
    %title= 'Madek Admin'
    = stylesheet_link_tag 'admin'
    = javascript_include_tag 'application'
    = javascript_include_tag 'admin'
    = csrf_meta_tag

  %body
    .container
      .navbar.navbar-default
        .container-fluid
          .navbar-header
            .navbar-brand
              Madek Admin
          %ul.nav.navbar-nav.navbar-right
            = navbar_item 'Dashboard', admin_root_path
            = navbar_item 'Settings', admin_app_settings_path
            = navbar_item 'Sets', admin_collections_path
            = navbar_item 'Filter Sets', admin_filter_sets_path
            = navbar_item 'Users', admin_users_path
            = navbar_item 'Groups', admin_groups_path
            = navbar_item 'Media Entries', admin_media_entries_path
            = navbar_item 'Vocabularies', admin_vocabularies_path
            %li.dropdown
              %a.dropdown-toggle{href: '#', data: { toggle: 'dropdown' }}
                Meta
                %b.caret
              %ul.dropdown-menu
                = navbar_item 'Meta Datums', admin_meta_datums_path
                = navbar_item 'Meta Keys', admin_meta_keys_path
            %li.dropdown
              %a.dropdown-toggle{href: '#', data: { toggle: 'dropdown' }}
                %i.glyphicon.glyphicon-user
                User
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to my_dashboard_path do
                    %i.glyphicon.glyphicon-file
                    Home/My
      #messages
        = alerts do |message_type, message, alert_type|
          .alert.alert-dismissible{ class: "alert-#{alert_type}" }
            = button_tag '&times;'.html_safe, class: 'close', data: { dismiss: 'alert' }
            %strong #{message_type.capitalize}!
            = message
      = yield
