:ruby
  top_notice = content_for(:top_notice)
  overview = content_for(:overview)
  more_info = content_for(:more_info)

  throw 'ui: invalid data' unless overview

  top_box_mods = ['rounded-top-right']
  top_box_mods << 'rounded-bottom' unless more_info


.app-body-ui-container

  - if top_notice.present?
    = top_notice

  = react('Views.MediaEntryHeaderWithModal', { get: @get })

  = react('Views.MediaEntryTabs', { get: @get })

  -# complete box (under the title):
  .ui-container.tab-content.bordered.rounded-right.rounded-bottom.mbh

    -# top part of the box:
    .ui-container.bright.pal{class: top_box_mods}

      = overview

    -# optional bottom part of the box:
    - if more_info
      .ui-container.rounded-bottom
        = more_info
