:ruby
  footer = {
    copy: {
      logo: {
        href: 'http://madek.zhdk.ch',
        content: component('icon.madek', 'ui-footer-logo')
      },
      text: settings.brand_text
    },
    version_name: MADEK_VERSION[:version_name],
    menu: settings.sitemap
  }


- content_for(:body) do

  - if content_for?(:modal)
    = content_for(:modal)

  #app.app{data: { view: request[:controller], action: request[:action] }}

    = render('application/app_header')

    - if not content_for?(:modal)
      = render('application/app_alerts')

    .app-body
      - if content_for?(:app_body)
        = content_for(:app_body)
      - elsif block_given?
        = yield

    .app-footer-push
  = combo('footer', footer)

= render template: 'layouts/_base'
