!!!
%html{:lang => "de-CH"}

  %head
    %meta{:charset => 'utf-8'}
    // TODO INTERNATIONALIZE
    %title= @app_settings.title || "Medienarchiv"
    -# hack!
    - if current_user.try(:contrast_mode)
      = stylesheet_link_tag "application-contrasted", :media => "all"
    - else
      = stylesheet_link_tag "application", :media => "all"
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
    -# The application_controller makes sure that I18n.locale is set to something valid, so we
    -# can safely use it here.
    = javascript_include_tag "i18n/locale/#{I18n.locale.to_s.dasherize}"
    = javascript_include_tag "application"
    = javascript_include_tag "test" if Rails.env.test?
    = render :partial => "application/javascript"
    = csrf_meta_tag
    = yield :head

  %body{data: {uberadmin: session[:act_as_uberadmin]}}
    = yield
