:ruby
  footer = {
    copy: {
      logo: {
        href: 'http://madek.zhdk.ch',
        content: component('icon.madek', 'ui-footer-logo')
      },
      text: 'Zürcher Hochschule der Künste and contributors'
    },
    version: Settings.release.to_json
  }

- content_for(:body) do
  %body

    #app.app{data: { view: request[:controller], action: request[:action] }}

      = render('application/app_header')

      = render('application/app_alerts')

      = yield

      .app-footer-push
  = combo('footer', footer)

= render template: 'layouts/_base'
