:ruby
  footer = {
    copy: {
      logo: {
        href: 'http://madek.zhdk.ch',
        content: component('icon.madek', 'ui-footer-logo')
      },
      text: localize(settings.brand_texts)
    },
    version_name: MADEK_VERSION[:version_name],
    menu: settings.sitemap,
    available_locales: AppSetting.available_locales
  }

  modal =
    if action_name == 'ask_delete' && (controller_name == 'media_entries' || controller_name == 'collections')
      react('Views.MediaResource.AskDelete', { get: @get })
    elsif action_name == 'edit_cover' && controller_name == 'collections'
      react('Views.Collection.ResourceSelection', { get: @get, type: 'radio' })
    elsif action_name == 'edit_highlights'  && controller_name == 'collections'
      react('Views.Collection.ResourceSelection', { get: @get, type: 'checkbox' })
    elsif action_name == 'export' && controller_name == 'media_entries'
      react('Views.MediaEntry.Export', { get: @get })
    elsif action_name == 'select_collection' && (controller_name == 'media_entries' || controller_name == 'collections')
      react('Views.SelectCollectionModal', { get: @get.collection_selection })
    end

- content_for(:body) do

  = modal

  #app.app{data: { view: request[:controller], action: request[:action] }}

    = render('application/app_header')

    - if not modal
      = render('application/app_alerts')

    .app-body
      - if content_for?(:app_body)
        = content_for(:app_body)
      - elsif block_given?
        = yield

    .app-footer-push
  = combo('footer', footer)

= render template: 'layouts/_base'
