:ruby
  footer = {
    copy: {
      logo: {
        href: 'http://madek.zhdk.ch',
        content: component('icon.madek', 'ui-footer-logo')
      },
      text: 'Zürcher Hochschule der Künste and contributors'
    },
    version: deco('semver', prefix: 'v', semver: MADEK_SEMVER)
  }

- content_for(:body) do
  %body

    #app.app{data: { view: request[:controller], action: request[:action] }}

      = render('application/app_header')

      = render('application/app_alerts')

      .app-body
        - if content_for?(:app_body)
          = content_for(:app_body)
        - elsif block_given?
          = yield

      .app-footer-push
  = combo('footer', footer)

= render template: 'layouts/_base'
