
- version = if MADEK_VERSION

  - if MADEK_VERSION[:type] == 'archive'
    - release_info = MADEK_VERSION[:release_info]
    - deploy_info = MADEK_VERSION[:deploy_info]
    - if release_info and deploy_info
      - capture_haml do
        %span.version{title: deploy_info[:time]}
          = MADEK_VERSION[:semver]
        - if release_info[:name]
          %a{href: '/release'}
            = release_info[:name]

  - elsif MADEK_VERSION[:type] == 'git'
    - capture_haml do
      %span.version
        = 'git'
      %a{href: MADEK_VERSION[:git_url]}
        = MADEK_VERSION[:git_hash]



:ruby
  footer = {
    copy: {
      logo: {
        href: 'http://madek.zhdk.ch',
        content: component('icon.madek', 'ui-footer-logo')
      },
      text: settings.brand_text
    },
    version: version,
    menu: settings.sitemap
  }


- content_for(:body) do

  - if content_for?(:modal)
    = content_for(:modal)

  #app.app{data: { view: request[:controller], action: request[:action] }}

    = render('application/app_header')

    - if not content_for?(:modal)
      = render('application/app_alerts')

    .app-body
      - if content_for?(:app_body)
        = content_for(:app_body)
      - elsif block_given?
        = yield

    .app-footer-push
  = combo('footer', footer)

= render template: 'layouts/_base'
