!!!
%html

  %head

    %title madek
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body

    = form_tag "session/sign_out" do
      = submit_tag "logout", style: "float: right;"

    = yield
