-# NOTE: work in progress - this is ported to react
-# last steps: alert, modals

:ruby
  app = @app_layout_data
  config = app[:config]

  headerProps = app[:header]
    .merge(
      brand: {
        name: config[:site_title],
        logo: config[:brand_logo_url],
        provider: config[:brand_text],
        href: config[:root_path]
      },
      userMenu: app[:user_menu],
      loginLink: app[:login_link],
      authToken: app[:auth_token]
    )

  footerProps = {
    menu: app[:sitemap],
    provider: config[:brand_text],
    version: app[:version]
  }

- content_for(:body) do

  - if content_for?(:modal)
    = content_for(:modal)

  #app.app{data: { view: request[:controller], action: request[:action] }}

    = react('App.AppHeader', headerProps)

    - if not content_for?(:modal)
      = render('application/app_alerts')

    .app-body
      - if content_for?(:app_body)
        = content_for(:app_body)
      - elsif block_given?
        = yield

    .app-footer-push

  = react('App.AppFooter', footerProps)

= render template: 'layouts/_base'
