!!! 5
%html{:lang => "de-CH"}

  %head
    %meta{:charset => 'utf-8'}
    %title
      = @title || "Medienarchiv - Zürcher Hochschule der Künste"
    = stylesheet_link_tag "960", "reset", "fg.menu", "jquery/themes/custom-theme/jquery-ui-1.8.12.custom.css", "master"
    = javascript_include_tag :defaults,
                             "jquery/plugins/jquery.flickrmenu",
                             "jquery/plugins/jquery.tmpl", 
                             "jquery/plugins/jquery.elastic", 
                             "jquery/plugins/jquery.placeholder", 
                             "madek11"
    = csrf_meta_tag
    = yield :head

  %body#basic-layout.home
    %header= render :partial => '/layouts/header'
    = flash_helper
    = yield
    %footer.container_12.clearfix
      = render :partial => '/layouts/footer'
