!!! 5
%html{:lang => "de-CH"}

  %head
    %meta{:charset => 'utf-8'}
    %title
      = @title || AppSettings.title || "Medienarchiv - Zürcher Hochschule der Künste"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = javascript_include_tag "i18n/jquery.ui.datepicker-de-CH.js" # TODO i18n
    = javascript_tag ""
    = javascript_tag '$.fx.off = true;' if Rails.env.test?
    = javascript_tag "window.current_user = new App.User(#{json_for(current_user, {:groups => true})})"
    = csrf_meta_tag
    = yield :head

  %body#basic-layout.home
    %header= render :partial => "layouts/header"
    = flash_helper
    = content_for?(:content) ? yield(:content) : yield
    %footer.container_12.clearfix
      = render :partial => "layouts/footer"
    / Piwik tracking bug
    - if File.exists?(File.join(Rails.root, "config","piwik.html"))
      = File.read(File.join(Rails.root, "config","piwik.html")).html_safe