!!!
%html{:lang => "de-CH"}

  %head
    %meta{:charset => 'utf-8'}
    %title= AppSettings.title || "Medienarchiv"
    = stylesheet_link_tag "redesign"
    = favicon_link_tag "favicon.ico"
    = javascript_include_tag "redesign"
    = csrf_meta_tag
    = yield :head

  %body
    = render :partial => "application/flash", :locals => {:flash => flash} unless flash.empty?
    = yield
