:ruby
  #TODO: re-combine with layouts/application
  git_hash = '' #CurrentCommit.get.to_s[0..5] # FIXME: restore this helper
  full_layout = content_for? :toc
  content = capture {yield} if block_given?

!!!
%html{:lang => "de-CH"}
  %head
    %meta{:charset => 'utf-8'}
    // TODO INTERNATIONALIZE
    %title= "Styleguide"
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "styleguide", :media => "all"
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
    -# The application_controller makes sure that I18n.locale is set to something valid, so we
    -# can safely use it here.
    
    // TMP disabled
    -# = javascript_include_tag "i18n/locale/#{I18n.locale.to_s.dasherize}"
    -# = javascript_include_tag "application"
    
    = csrf_meta_tag
    = yield :head

  %body.pbl
    .wrapper
      - if full_layout
        %h1.sg-page-title.man
          %a{href: styleguide_path}= 'Madek UI Elements'
          %strong(style='width:6em;font-size: 0.5em;line-height: 2;')
            %a.weak{href: styleguide_path}
              = git_hash

        .bordered.ui-container.midtone.rounded.table.mbl

          .app-body-sidebar.table-cell.bright.ui-container.bordered-right.rounded-left.table-side
            
            .ui-container.rounded-left.phm.pvl
              = content_for :toc if content_for? :toc

          .app-body-content.table-cell.table-substance.ui-container.pvl.pll.prm
            = content

      - else #plain
        = content

  = content_for(:scripts) if content_for?(:scripts)