- content_for :content do
  #upload.container_12.clearfix
    %section#content_body.clearfix
  
      #content-header.clearfix
        #detail-title.page_title_left
          Medien importieren
      
      #uploader-subnavigation.clearfix{:style => "margin-bottom: 3em;"}
        %ol#upload_steps.clearfix
          %li.step_1.container_12.grid_3{:class => (current_page?(:controller => :upload, :action => :show) ? "active" : nil)}
            %p
              1. Medien 체bertragen
              %br
              %span
                Fotos, Videos und Audiofiles bereitstellen
          %li.step_2.container_12.grid_3{:class => (current_page?(:controller => :upload, :action => :permissions) ? "active" : nil)}
            %p
              2. Berechtigungen setzen
              %br
              %span
                Zugriff und Sichtbarkeit festlegen
          %li.step_3.container_12.grid_3{:class => (current_page?(:controller => :upload, :action => :edit) ? "active" : nil)}
            %p
              3. Metadaten erg채nzen
              %br
              %span
                Titel, Beschreibung und Rechte hinzuf체gen
          %li.step_4.container_12.grid_3{:class => (current_page?(:controller => :upload, :action => :set_media_sets) ? "active" : nil)}
            %p
              4. Medien zusammenstellen
              %br
              %span
                Fotos, Videos und Audiofiles in Sets verwalten (optional)
      
      %span#step_arrow
      
      #upload_navigation
        
        .right
          - if current_page?(:controller => :upload, :action => :show)
            = link_to _("weiter..."), "javascript:void(0)", :"data-link_when_enabled" => permissions_upload_path, :class => "upload_buttons next disabled"
            = link_to _("Medien 체bertragen..."), "javascript:void(0)", :class => "upload_buttons plupload_start plupload_disabled"
          - elsif current_page?(:controller => :upload, :action => :permissions)
            = link_to _("Berechtigungen speichern und weiter..."), "javascript:void(0)", :onclick => "$('#upload form').submit();", :class => "upload_buttons next disabled", :id => "save_permissions"
          - elsif current_page?(:controller => :upload, :action => :edit)
            = link_to _("weiter..."), "javascript:void(0)", :onclick => "$('#upload form').submit();", :class => "upload_buttons next disabled", :id => "finish_meta_data"
          - elsif current_page?(:controller => :upload, :action => :set_media_sets)
            = link_to _("Import abschliessen"), complete_upload_path, :id => "cancel_import", :method => :put, :class => "upload_buttons next",:id => "complete_import"
          = link_to "Abbrechen", upload_path, :title=> "Import Abbrechen", :id => "cancel_import", :method => :delete, :confirm => "Wollen Sie den Import wirklich abbrechen?"
            
      = yield

= render :template => 'layouts/main'

:coffeescript
  jQuery ->
    $("#step_arrow").appendTo("#upload_steps li.active").show()