!!! 5
%html#visualization{:lang => "de-CH"}

  %head
    %meta{:charset => 'utf-8'}
    %title
      = @title || AppSettings.title || "Medienarchiv - Zürcher Hochschule der Künste"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = javascript_include_tag "i18n/jquery.ui.datepicker-de-CH.js" # TODO i18n
    = javascript_tag ""
    = javascript_tag '$.fx.off = true;' if Rails.env.test?
    = javascript_tag "window.current_user = #{json_for(current_user, {:groups => true})}"
    = csrf_meta_tag
    = yield :head

  %body
    = content_for?(:content) ? yield(:content) : yield