!!! 5
%html#visualization{:lang => "de-CH"}

  %head
    %meta{:charset => 'utf-8'}
    %title
      - if AppSettings.title
        - if @title
          = "#{AppSettings.title} - #{@title}"
        - else
          = "#{AppSettings.title}"
      - else
        - if @title
          = "Medienarchiv - #{@title}"
        - else
          = "Medienarchiv"
    = stylesheet_link_tag "visualization"
    = javascript_include_tag "visualization"
    = javascript_include_tag "test" unless Rails.env.production?
    = javascript_tag ""
    = javascript_tag '$.fx.off = true;' if Rails.env.test?
    = render :partial => "application/javascript"
    = csrf_meta_tag
    = yield :head

  %body
    = yield
